<%
    page = "about"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="directions">
    <div class="directions__section">
        <div class="map" id="map"></div>
        <div class="directions__address">
            <div class="directions__addr-wrap nth-1">
                <dl class="directions__addr-list">
                    <dt class="directions__addr-tit">주소</dt>
                    <dd class="directions__addr-txt">서울특별시 성북구 화랑로 14길 5 KIST 한국과학기술연구원</dd>
                </dl>
            </div>
            <div class="directions__addr-wrap nth-2">
                <dl class="directions__addr-list directions__addr-list_half">
                    <dt class="directions__addr-tit">우편번호</dt>
                    <dd class="directions__addr-txt">02792</dd>
                </dl>
                <dl class="directions__addr-list directions__addr-list_half">
                    <dt class="directions__addr-tit">전화번호</dt>
                    <dd class="directions__addr-txt">02-958-5114</dd>
                </dl>
            </div>
        </div>
        <div class="directions-table__bottom">
            <span class="directions-table__info directions-table__info-v2"><i></i>방문시에 신분증 지참</span>
        </div>
    </div>
    <div class="directions__section">
        <div class="directions-table">
            <div class="directions-table__top">
                <h2 class="directions-table__tit">대중교통 이용시</h2>
                <span class="directions-table__info"><i></i>KIST 북문 및 정문에서 카풀(자가용 함께타기 이용가능)</span>
            </div>
            <div class="directions-table__content">
                <div class="directions-table__row">
                    <div class="directions-table__item nth-1">
                        <span class="directions-table__item-tit">지하철</span>
                        <div class="directions-table__item-txt">
                            <ol class="sequence">
                                <li class="sequence__item">6호선 상월곡역(한국과학기술연구원역)</li>
                                <li class="sequence__item">4번출구</li>
                                <li class="sequence__item">한국과학기술연구원(도보 5분 소요)</li>
                            </ol>
                            <ol class="sequence">
                                <li class="sequence__item">현대코아 정류장</li>
                                <li class="sequence__item">간선버스 201번 승차</li>
                                <li class="sequence__item">세종대왕기념관 앞 하차</li>
                            </ol>
                        </div>
                    </div>
                    <div class="directions-table__item nth-2">
                        <span class="directions-table__item-tit">버스</span>
                        <div class="directions-table__item-txt">
                            <!--<ol class="sequence">
                                <li class="sequence__item">현대코아 정류장</li>
                                <li class="sequence__item">간선버스 201번 승차</li>
                                <li class="sequence__item">세종대왕기념관 앞 하차</li>
                                <li class="sequence__item">한국과학기술연구원(도보 5분 소요)</li>
                            </ol>-->
                            <p class="directions-table__item-txt directions-table__item-txt--font-bold">- 북문쪽</p>
                            <p class="directions-table__item-txt">한국과학기술연구원입구 (08-135) 간선 120, 간선 173, 지선 1111, 지선 1226</p>
                            <p class="directions-table__item-txt">상월곡역 (08-136) 간선 120, 간선 173, 지선 1111</p>
                            <p class="directions-table__item-txt directions-table__item-txt--font-bold directions-table__item-txt--is-next">- 정문쪽</p>
                            <p class="directions-table__item-txt">국방연구원 (06-276, 277) 간선 273 지선 1226</p>
                            <p class="directions-table__item-txt">세종대왕기념관 (06-279) 간선 201 지선 1226</p>
                        </div>
                    </div>
                </div>
                <div class="directions-table__row">
                    <div class="directions-table__item nth-3">
                        <span class="directions-table__item-tit">북문 접근시</span>
                        <p class="directions-table__item-txt">카카오네비 : "한국과학기술연구원, 한국과학기술연구원 북문, 성북장애인복지관" 도착지 설정</p>
                        <p class="directions-table__item-txt">네이버네비 : "한국과학기술연구원" 도착지 설정</p>
                        <p class="directions-table__item-txt">Tmap : "한국과학기술연구원, 성북장애인복지관" 도착지 설정</p>
                    </div>
                    <div class="directions-table__item nth-4">
                        <span class="directions-table__item-tit">중문 접근시</span>
                        <p class="directions-table__item-txt">카카오네비 : "세종대왕기념관, 세종대왕기념관교차로" 도착지 설정</p>
                        <p class="directions-table__item-txt">네이버네비 : "세종대왕기념관, 세종대왕기념관사거리" 도착지 설정</p>
                        <p class="directions-table__item-txt">Tmap : "세종대왕기념관, 세종대왕기념관교차로" 도착지 설정</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="directions-table">
            <div class="directions-table__top">
                <h2 class="directions-table__tit">셔틀버스 이용시</h2>
                <span class="directions-table__info"><i></i>KIST 방문 외부 고객 이용 가능</span>
            </div>
            <table class="bus-table">
                <colgroup>
                    <col class="bus-table__th1" width="19.75%">
                    <col class="bus-table__th2" width="17.75%">
                    <col class="bus-table__th3" width="17.75%">
                    <col class="bus-table__th4" width="auto">
                </colgroup>
                <thead>
                <tr>
                    <th class="bus-table__th">구분</th>
                    <th class="bus-table__th" colspan="2">출발시간</th>
                    <th class="bus-table__th">행선지</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="bus-table__td" rowspan="4">출근버스</td>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">08:15</span></td>
                    <td class="bus-table__td" rowspan="4">
                        <ol class="sequence">
                            <li class="sequence__item">청량리</li>
                            <li class="sequence__item">KIST</li>
                        </ol>
                        <span class="bus-table__txt">청량리 세무서 맞은편 미주상가 앞에서 출발</span>
                    </td>
                </tr>
                <tr>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">08:25</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">08:35</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">08:45</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td" rowspan="4">순환버스</td>
                    <td class="bus-table__td bus-table__td_tit">KIST 출발</td>
                    <td class="bus-table__td bus-table__td_tit">청량리 출발</td>
                    <td class="bus-table__td" rowspan="4">
                        <ol class="sequence sequence--round">
                            <li class="sequence__item">KIST</li>
                            <li class="sequence__item">청량리</li>
                        </ol>
                        <span class="bus-table__txt">KIST L1 과 연못 사이 정류장</span>
                        <span class="bus-table__txt">청량리 도착/출발 지점은 청량리 세무서 맞은편 미주상가 앞</span>
                    </td>
                </tr>
                <tr>
                    <td class="bus-table__td"><span class="bus-table__time">11:00</span></td>
                    <td class="bus-table__td"><span class="bus-table__time">11:10</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td"><span class="bus-table__time">14:00</span></td>
                    <td class="bus-table__td"><span class="bus-table__time">14:10</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td"><span class="bus-table__time">16:00</span></td>
                    <td class="bus-table__td"><span class="bus-table__time">16:10</span></td>
                </tr>
                <tr>
                    <td class="bus-table__td" rowspan="2">퇴근버스</td>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">18:15,</span><span class="bus-table__time"> 18:20,</span><span class="bus-table__time"> 19:00,</span><span class="bus-table__time"> 19:30</span></td>
                    <td class="bus-table__td" rowspan="2">
                        <ol class="sequence">
                            <li class="sequence__item">KIST</li>
                            <li class="sequence__item">청량리</li>
                        </ol>
                        <span class="bus-table__txt">KIST L1 과 연못 사이 정류장</span>
                    </td>
                </tr>
                <tr>
                    <td class="bus-table__td" colspan="2"><span class="bus-table__time">20:00,</span><span class="bus-table__time"> 20:30,</span><span class="bus-table__time"> 21:00,</span><span class="bus-table__time"> 21:30,</span><span class="bus-table__time"> 22:00</span></td>
                </tr>
                </tbody>
            </table><!-- //bus-table -->
        </div>
    </div>
</div>