<%
    page = "about"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="about_02_01.html" class="tab-v1__link" data-title="가속기 분석"><span class="inline-block">가속기 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item is-active"><a href="about_02_02.html" class="tab-v1__link" data-title="화학 분석"><span class="inline-block">화학 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_03.html" class="tab-v1__link" data-title="구조&#47;표면 분석"><span class="inline-block">구조&#47;표면 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_04.html" class="tab-v1__link" data-title="전자현미경 분석"><span class="inline-block">전자현미경 </span><span class="inline-block">분석</span></a></li>
    </ul>
</div><!-- //tab-v1 -->
<!-- 화학분석팀 -->
<div class="tab-content is-active">
    <div class="about-header about-header_team about-header_team_nth2">
        <div class="about-header__txt-wrap">
            <span class="about-header__tit">CHEMISTRY LAB</span>
            <h2 class="about-header__tit-kr">화학분석팀</h2>
            <p class="about-header__desc-v2">한국과학기술연구원 화학분석팀은 분석법 개발 및 표준화와 장비 인프라 구축을 통한 공동연구프로젝트 수행으로  원내외 연구자의 연구지원으로 정확한 분석과 새로운 분석기술을 제공하며 탁월한 연구 성과 창출을 위해 최선을 다하고 있습니다</p>
        </div>
    </div>
    <div class="about-content">
        <h3 class="about-content__tit">주요연구 분야</h3>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">Inorganic Chemistry</span>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit">무기분석실험실은</span>
                        <p class="table-desc__txt">AAS, ICP-OES, ICP-MS, DMA, LA-ICP-MS, UV-Vis-NIR spectrometer 장비를 구축하고 있습니다.<br>반도체, 연료전지, 생체재료, 환경, 식품 등 다양한 분야의 시료에 존재하는 금속 의존성 데이터를 생산하여 원내〮외 분석지원 서비스를 제공하고 있습니다.</p>
                    </div>
                    <div class="table-desc">
                        <div class="img-sample img-sample_pd-0">
                            <ul class="img-sample__list">
                                <li class="img-sample__item">
                                    <p class="img-sample__tit">ICP-MS를 이용한 무기원소 FAPAS 정도 관리</p>
                                    <div class="img-sample__box">
                                <span class="img-sample__img-wrap">
                                  <img src="../../images/about/about_02-2_sample1-img1.jpg" alt="" class="img-sample__img"> </span>
                                    </div>
                                </li>
                                <li class="img-sample__item">
                                    <p class="img-sample__tit">ICP-OES에 의한 알루미늄 방출 스펙트럼</p>
                                    <div class="img-sample__box">
                                <span class="img-sample__img-wrap">
                                  <img src="../../images/about/about_02-2_sample2-img1.jpg" alt="" class="img-sample__img"> </span>
                                    </div>
                                </li>
                                <li class="img-sample__item img-sample__item_next img-sample__item_w100p">
                                    <p class="img-sample__tit">fsLA-ICP-MS를 이용한 칼슘과 규소 이미징</p>
                                    <div class="img-sample__box">
                                <span class="img-sample__img-wrap">
                                  <img src="../../images/about/about_02-2_sample3-img1.jpg" alt="" class="img-sample__img"> </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit">식품 – 쌀</span>
                        <p class="table-desc__txt">S-XRF와 fsLA-ICP-MS를 이용한 쌀알의 비소 분포도 비교 (JAAS 투고)</p>
                    </div>
                    <div class="img-sample">
                        <ul class="img-sample__list">
                            <li class="img-sample__item">
                                <p class="img-sample__tit">S-XRF</p>
                                <div class="img-sample__box img-sample__box_arrow">
                                    <span class="img-sample__img-wrap">
                                        <img src="../../images/about/about_02-2_sample4-img1-1.jpg" alt="" class="img-sample__img img-sample__img_box">
                                    </span>
                                    <span class="img-sample__img-wrap img-sample__img-wrap_next">
                                        <img src="../../images/about/about_02-2_sample4-img1-2.jpg" alt="" class="img-sample__img img-sample__img_box">
                                    </span>
                                </div>
                            </li>
                            <li class="img-sample__item">
                                <p class="img-sample__tit">fxLA-ICP-MS</p>
                                <div class="img-sample__box img-sample__box_arrow">
                                    <span class="img-sample__img-wrap">
                                        <img src="../../images/about/about_02-2_sample5-img1-1.jpg" alt="" class="img-sample__img img-sample__img_box">
                                    </span>
                                    <span class="img-sample__img-wrap img-sample__img-wrap_next">
                                        <img src="../../images/about/about_02-2_sample5-img1-2.jpg" alt="" class="img-sample__img img-sample__img_box">
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">Organic Chemistry</span>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit">유기분석실험실은</span>
                        <p class="table-desc__txt">1966년 한국과학기술연구원의 개원과 함께 GC-TOF MS, LC-QTOF MS, FT-IR, TG-DSC, EA 장비를 갖추고 원내외 연구자의 연구지원으로 정확한 분석과 새로운 분석기술 제공하며 과학기술 발전에 이바지하고 있습니다.<br>
                            식품, 천연물 시료 및 unknown 물질의 정성 및 정량 분석을 진행하며 분석법 개발 및 표준화와 장비 인프라 구축을 통한 공동연구프로젝트 수행으로 탁월한 연구 성과 창출을 위해 최선을 다하고 있습니다.<br>
                            또한, 유해물질에 관한 질량분석 기술 개발을 통해 활용연구자들에게 제공 함으로서 과학기술분야의 국가적 과제를 해결하는 기간연구시설로의 역할에 기여 하고자 합니다.<br>
                            매년 봄,가을 KIST-KOITA 통해 연구자 및 엔지니어들에게 분석장비 활용 교육을 진행하여 과학자들에게 신뢰와 사랑 받는 분석센터로 발전해 나 갈수 있도록 노력해나가겠습니다.<br>
                            여러분의 관심과 성원을 부탁 드립니다.</p>
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit table-desc__tit_v2">식품 중 유해물질 분석 (GC-MS 및 LC-MS)</span>
                        <div class="img-sample img-sample_next">
                            <ul class="img-sample__list">
                                <li class="img-sample__item">
                                    <p class="img-sample__tit">메틸수은(MeHg+) 분석</p>
                                    <div class="img-sample__box">
                                        <span class="img-sample__img-wrap">
                                            <img src="../../images/about/about_02-2_sample6-img1.jpg" alt="" class="img-sample__img">
                                        </span>
                                    </div>
                                </li>
                                <li class="img-sample__item">
                                    <p class="img-sample__tit">Phthalates 분석</p>
                                    <div class="img-sample__box">
                                        <span class="img-sample__img-wrap">
                                            <img src="../../images/about/about_02-2_sample7-img1.jpg" alt="" class="img-sample__img">
                                        </span>
                                    </div>
                                </li>
                                <li class="img-sample__item img-sample__item_next">
                                    <p class="img-sample__tit">Bisphenol A 분석</p>
                                    <div class="img-sample__box">
                                        <span class="img-sample__img-wrap">
                                            <img src="../../images/about/about_02-2_sample8-img1.jpg" alt="" class="img-sample__img">
                                        </span>
                                    </div>
                                </li>
                                <li class="img-sample__item img-sample__item_next">
                                    <p class="img-sample__tit">Heterocyclic Amines (HCAs) 분석</p>
                                    <div class="img-sample__box img-sample__box_type2">
                                        <span class="img-sample__img-wrap">
                                            <img src="../../images/about/about_02-2_sample9-img1.jpg" alt="" class="img-sample__img">
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">NMR</span>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit table-desc__tit_v2">Nucleic acid structure determination</span>
                        <div class="img-sample img-sample_next">
                            <div class="img-sample__box img-sample__box_type2">
                                <span class="img-sample__img-wrap" data-desc="CR4/5 domain of medaka telomerase RNA Nucleic Acids Res. 2014">
                                    <img src="../../images/about/about_02-2_sample10-img1.jpg" alt="" class="img-sample__img">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit table-desc__tit_v2">Protein – small molecule interaction</span>
                        <div class="img-sample img-sample_next">
                            <div class="img-sample__box img-sample__box_type2">
                                <span class="img-sample__img-wrap" data-desc="HSP70 – Apoptozole interaction, 2014 Submitted to JACS">
                                    <img src="../../images/about/about_02-2_sample11-img1.jpg" alt="" class="img-sample__img">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">LC&#47;IC 주요 분석 분야</span>
                </div>
                <div class="table-box__body table-box__body_table">
                    <div class="table-desc table-desc_half table-desc_m-w100p table-desc_m-bd-none">
                        <span class="table-desc__tit">Nucleic acid structure determination</span>
                        <ul class="table-desc__txt">
                            <li class="table-desc__item">1. 가습기중 살균제 분석; PHMG, PGH</li>
                            <li class="table-desc__item">2. 화장품중 자외선 차단제</li>
                            <li class="table-desc__item">3. 화장품중 살균제, 항균제, 방부제</li>
                            <li class="table-desc__item">4. RoHS 항목중 PFOS(Perfluorooctanesulfate), PFOA, PFOSA</li>
                            <li class="table-desc__item">5. 사료첨가제중 VA,VE,VD3,VK,VK2,VK3,VB1,VB2,VB6,VB12,Folic,Biotin</li>
                            <li class="table-desc__item">6. 식품중 수용성 vitamine, 지용성 vitamine</li>
                            <li class="table-desc__item">7. 폐수중 aldehyde류</li>
                            <li class="table-desc__item">8. 반도체 유기용제중 aldehyde류</li>
                            <li class="table-desc__item">9. 한약제중 Steroids</li>
                            <li class="table-desc__item">10. 화장품중 Steroids</li>
                            <li class="table-desc__item">11. 천연꿀제품중 sennosides</li>
                            <li class="table-desc__item">12. 수질중 pestcidess, 환경관련 물질</li>
                            <li class="table-desc__item">13. 유기산류 C1~C12 , succinic, citric, malic, fumaric acids</li>
                            <li class="table-desc__item">14. 식품중 산화방지제, PG, THBP, TBHQ</li>
                            <li class="table-desc__item">15. 참기름중 sterols, sesamine</li>
                            <li class="table-desc__item">16. Nuclec acid(헥산), nucleotides</li>
                            <li class="table-desc__item">17. Carbohydrates</li>
                            <li class="table-desc__item">18. 당류</li>
                            <li class="table-desc__item">19. 항생제류</li>
                        </ul>
                    </div>
                    <div class="table-desc table-desc_half table-desc_m-w100p">
                        <span class="table-desc__tit">IC</span>
                        <ul class="table-desc__txt">
                            <li class="table-desc__item">1. Nitrate, Phosphate and sulfate in hydrogen peroxide (H2O2)</li>
                            <li class="table-desc__item">2. Fluoride, chloride, nitrate and sulfate in drinking water</li>
                            <li class="table-desc__item">3. Fluoride, chloride, nitrate and sulfate in cooling water</li>
                            <li class="table-desc__item">4. Chloride, nitrate, phosphate and sulfate in waste water</li>
                            <li class="table-desc__item">5. Chloride, fluoride, bromide, nitrate, phosphate and sulfate in surface water</li>
                            <li class="table-desc__item">6. Fluoride in pharmaceutical products</li>
                            <li class="table-desc__item">7. Anions in a cola drink</li>
                            <li class="table-desc__item">8. Chloride, bromide and sulfate in sea water</li>
                            <li class="table-desc__item">9. Phosphate and sulfate in a cleaning solution</li>
                            <li class="table-desc__item">10. Chloride, bromide, phosphate and sulfate in an ashed baking additive</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
