<%
    page = "about"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item is-active"><a href="about_02_01.html" class="tab-v1__link" data-title="가속기 분석"><span class="inline-block">가속기 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_02.html" class="tab-v1__link" data-title="화학 분석"><span class="inline-block">화학 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_03.html" class="tab-v1__link" data-title="구조&#47;표면 분석"><span class="inline-block">구조&#47;표면 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_04.html" class="tab-v1__link" data-title="전자현미경 분석"><span class="inline-block">전자현미경 </span><span class="inline-block">분석</span></a></li>
    </ul>
</div><!-- //tab-v1 -->
<!-- 가속기분석팀 -->
<div class="tab-content is-active">
    <div class="about-header about-header_team">
        <div class="about-header__txt-wrap">
            <span class="about-header__tit">ACCELERATOR</span>
            <h2 class="about-header__tit-kr">가속기 분석팀</h2>
            <p class="about-header__desc-v2">가속기 질량분석기술(AMS)과 이온빔 이용 분석(IBA) 그리고 이온빔 물질개질(IBMM)과 관련한 이용기술을 개발하여 활용연구자들에게 제공 함으로서 과학기술분야의 국가적 과제를 해결하는 기간 연구 시설로의 역할을 하고자 합니다.</p>
        </div>
    </div>
    <div class="about-content">
        <h3 class="about-content__tit">주요연구 분야</h3>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">이온빔 가속기</span>
                </div>
                <div class="table-box__body">
                    <div class="table-list">
                        <div class="table-list__item nth-1">
                            <div class="table-list__inner">
                                <span class="table-list__tit">BT</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">Bio-medical AMS research</p>
                                    <p class="table-list__txt">AMS를 이용한 micro dosing/tracing</p>
                                    <p class="table-list__txt">독성학, 영양학</p>
                                    <p class="table-list__txt">세포내 극미량 이미지화</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item nth-2">
                            <div class="table-list__inner">
                                <span class="table-list__tit">NT</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">원소 극미량 비파괴 정량 분석</p>
                                    <p class="table-list__txt">Micro-machining</p>
                                    <p class="table-list__txt">Nuclear microprobe를 이용한 성분 mapping</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-list__item nth-3">
                            <div class="table-list__inner">
                                <span class="table-list__tit">ET</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">대기/수질 오염분석</p>
                                    <p class="table-list__txt">고기후 복원</p>
                                    <p class="table-list__txt">Anthropogenic isotope분석</p>
                                    <p class="table-list__txt">4가지 지질학</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item nth-4">
                            <div class="table-list__inner">
                                <span class="table-list__tit">IT</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">Photonic IC</p>
                                    <p class="table-list__txt">Smart cut</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-list__item nth-5">
                            <div class="table-list__inner">
                                <span class="table-list__tit">자연과학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">핵물리</p>
                                    <p class="table-list__txt">고체물리</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item nth-6">
                            <div class="table-list__inner">
                                <span class="table-list__tit">재료공학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">신물질 합금, 세라믹, 폴리머</p>
                                    <p class="table-list__txt">극미량 정량 분석</p>
                                    <p class="table-list__txt">Ion implantation/irradation</p>
                                    <p class="table-list__txt">Ion beam material modification</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-list__item nth-7">
                            <div class="table-list__inner">
                                <span class="table-list__tit">전통과학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">탄소연대측정</p>
                                    <p class="table-list__txt">유물의 비파괴 성분 분석</p>
                                    <p class="table-list__txt">고고학/고미술</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item nth-8">
                            <div class="table-list__inner">
                                <span class="table-list__tit">반도체</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">불순물 주입(ion implantation)</p>
                                    <p class="table-list__txt">Bandgap engineering</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">가속기 질량 분석</span>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit">가속기질량분석법은</span>
                        <p class="table-desc__txt">가속기질량분석법은 원자를 한 개씩 측정하여 초극미량 분석이 가능한 분석법으로 탄소연대측정과 같은 고고학 분야, 극미량의 방사성 동위원소를 추적자로 사용한 생-의학 분야, 고기후의 연구 또는 지형의 변화연구와 같은 지구과학, 그리고 지하수 오염원의 추적, 핵물질의 감시 등과 같은 환경과학 분야에 활용된다</p>
                    </div>
                    <div class="table-list">
                        <div class="table-list__item table-list__item_2 nth-1">
                            <div class="table-list__inner">
                                <span class="table-list__tit">고고학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">방사성 탄소연대측정(14C)</p>
                                    <p class="table-list__txt">시료 전처리</p>
                                    <p class="table-list__txt">Low Level Background</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item table-list__item_2 nth-2">
                            <div class="table-list__inner">
                                <span class="table-list__tit">생·의학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">약-동력학(14C,26Al,36CI, 41Ca),신약개발</p>
                                    <p class="table-list__txt">두종류 이상의 동위원소를 사용한 연구</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-list">
                        <div class="table-list__item table-list__item_2 nth-3">
                            <div class="table-list__inner">
                                <span class="table-list__tit">지구과학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">고 기후 복원</p>
                                    <p class="table-list__txt">암석의 노출연대 측정(20Be, 14C)</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-list__item table-list__item_2 nth-4">
                            <div class="table-list__inner">
                                <span class="table-list__tit">환경과학</span>
                                <div class="table-list__wrap">
                                    <p class="table-list__txt">지하수 오염원 추적, 핵물질 감시(36CI, 129I)</p>
                                    <p class="table-list__txt">대기 오염원 추적(14C)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">이온빔 분석</span>
                </div>
                <div class="table-box__body">
                    <div class="table-img center">
                        <img src="../../images/about/about_02-1_sample1-img1.jpg" alt="Ion Beam Analysis">
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit">Rutherford Backscattering Spectrometry (RBS)</span>
                        <p class="table-desc__txt">수 MeV에너지의 헬륨원자핵을 임의의 표적물질에 입사하여 산란입자의 에너지를 분광함으로서 표적물질의 원소의 종류와 조성비율 그리고 적층구조를 정량한다. 주로 반도체, display, 이차전지 등 박막소재의 R&D와 제작공정의 Q/A, Q/C에 유용하게 사용된다.<br>Single-ended 혹은 tandem형 정전형가속기를 사용하여 1~3 MeV의 He 이온을 입사하며, 실리콘검출기로 에너지를 분광기로 사용한다</p>
                        <div class="analysis-sample">
                            <ul class="analysis-sample__list">
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample2-img1.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample2-img2.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample2-img3.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample2-img4.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit">Elastic Recoil Detection (ERD)</span>
                        <p class="table-desc__txt">RBS분석법이 박막의 절대정량에 장점이 많은 방법이나 원리적인 한계가 있다. 질량분해능이 저하되며, 에너지중첩, 가벼운 표적원소의 작은 반응단면적 그리고 원리적인 수소분석의 불가능성 등이다. 이러한 RBS의 약점을 극복할 수 있는 방법이 탄성 되튐(Elastic recoil)법이다.그러나 단순한 실리콘에너지 검출기를 사용하는 후방산란방법과 달리 탄성되튐법은 개별 시스템에 적합한 분광기의 제작이 기술의 요체이다. 본 실험실에서는 2013년 수소분석을 위하여 range foil을 사용하는 전통적인 ERD분광시스템을 완성하여 2014년부터 제공하고 있으며, 현재 비행시간-에너지 분광기(TOF-E spectrometer)를 제작하여 시험 중에 있다. TOF-E 분광기가 완성되면 수소를 포함한 경원소의 정량에 사용될 것이며 향후 gas ionization detector(GIC)를 개발하여 중원소의 검출을 시도할 예정이다.</p>
                        <div class="analysis-sample">
                            <ul class="analysis-sample__list">
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample3-img1.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample3-img2.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample3-img3.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit">Particle Induced X-ray Emission (PIXE)</span>
                        <p class="table-desc__txt">이온빔 조사 시 발생하는 특성 X-선을 계측함으로서 표적물질의 조성을 분석한다. 전자빔을 이용하는 전자현미경의 EDS 분석법에 비해 상대적으로 제동복사에 의한 background가 매우 작아 EDS 분석 대비 PIXE 검출분해능이 100 배정도 우수하다. 본 연구실은 유효지름 4mm, 두께 5 mm인 Si(Li)검출기를 사용한 x-선 검출시스템을 구성하였다. 현재, 후방산란과 동시에 발생하는 x-선을 계측하여 RBS의 불량한 질량 분해능을 보완하는 기능을 수행하고 있다.</p>
                        <div class="analysis-sample">
                            <ul class="analysis-sample__list">
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample4-img1.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                                <li class="analysis-sample__item">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample4-img2.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-desc">
                        <span class="table-desc__tit">Medium Energy Ion Scattering (MEIS)</span>
                        <p class="table-desc__txt">반도체검출기를 사용하는 RBS와 ERD의 경우 에너지 분해능이 10 keV 이상으로 깊이분해능으로 환산해보면 수십 nm정도가 된다. 그러나 박막장의 초기 상태나 표면/계면의 초기성장을 관찰하려면 깊이분해능이 monolayer정도에 접근하는 분광기술이 필요하다. 이러한 목적으로 stopping power가 최대치인 100 keV proton이온이나 400 keV 알파입자를 입사하고 toroidal electrostatic energy analyzer(ESA)로 산란입자의 에너지를 분광하는 이온산란분석법이다.</p>
                        <div class="analysis-sample">
                            <ul class="analysis-sample__list">
                                <li class="analysis-sample__item analysis-sample__item_w50p analysis-sample__item_h350 analysis-sample__item_m-w100p">
                                   <span class="analysis-sample__img-wrap">
                                       <img src="../../images/about/about_02-1_sample5-img1.jpg" alt="" class="analysis-sample__img">
                                   </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>