<%
    page = "about"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="about_02_01.html" class="tab-v1__link" data-title="가속기 분석"><span class="inline-block">가속기 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_02.html" class="tab-v1__link" data-title="화학 분석"><span class="inline-block">화학 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item is-active"><a href="about_02_03.html" class="tab-v1__link" data-title="구조&#47;표면 분석"><span class="inline-block">구조&#47;표면 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_04.html" class="tab-v1__link" data-title="전자현미경 분석"><span class="inline-block">전자현미경 </span><span class="inline-block">분석</span></a></li>
    </ul>
</div><!-- //tab-v1 -->
<!-- 구조/표면 분석팀 -->
<div class="tab-content is-active">
    <div class="about-header about-header_team about-header_team_nth3">
        <div class="about-header__txt-wrap">
            <span class="about-header__tit">STRUCTURE&SURFACE ANALYSIS</span>
            <h2 class="about-header__tit-kr">구조/표면 분석팀</h2>
            <p class="about-header__desc-v2">표면의 물리 화학은 첨단 재료 과학과 기술 분야에서 가장 도전적이고 흥미 진진한 분야 중 하나입니다. 구조 및 표면 분석 팀은 원소 이미징, 구조 분석, 성분 분석을 다루는 고급 복합 재료 특성화 기술개발에 중점을 둡니다.</p>
        </div>
    </div>
    <div class="about-content">
        <h3 class="about-content__tit">주요연구 분야</h3>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">Research fields of the SSA team</span>
                </div>
                <div class="table-box__body">
                    <div class="table-list table-list__ssa">
                        <div class="table-list__item nth-1">
                            <div class="table-list__inner">
                                <span class="table-list__tit">1</span>
                                <p class="table-list__txt2">Quantitative analysis of elements</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-2">
                            <div class="table-list__inner">
                                <span class="table-list__tit">2</span>
                                <p class="table-list__txt2">Electronic structure of materials</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-3">
                            <div class="table-list__inner">
                                <span class="table-list__tit">3</span>
                                <p class="table-list__txt2">Fine tand molecular orientation of polymer</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-4">
                            <div class="table-list__inner">
                                <span class="table-list__tit">4</span>
                                <p class="table-list__txt2">Structural morphological analysis from micron to submicron</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="exellency-box">
                <div class="exellency-box__tit" data-title="Exellency"></div>
                <div class="exellency-box__wrap">
                    <div class="exellency-box__line exellency-box__line_nth1">
                        <div class="exellency-box__item-circle">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Surface quantitate)">AES, SIMS</span>
                            </div>
                        </div>
                        <div class="exellency-box__bridge exellency-box__bridge_al-right">
                            <span class="exellency-box__bridge-txt">Quantitative<br>Depth distriboution</span>
                        </div>
                        <div class="exellency-box__item-square">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Quantitative)">MEIS, PIXE</span>
                            </div>
                        </div>
                        <p class="exellency-box__explan">Chemical bonding state Depth distribution</p>
                    </div>
                    <div class="exellency-box__line exellency-box__line_nth2">
                        <div class="exellency-box__item-circle">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Electronic Structure)">XPS</span>
                            </div>
                        </div>
                        <div class="exellency-box__bridge">
                            <span class="exellency-box__bridge-txt">Chemical shift Chemical<br>bonding state Valence band Dos</span>
                        </div>
                        <div class="exellency-box__item-square">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Electronic Structure)">NEXAFS, PES</span>
                            </div>
                        </div>
                        <p class="exellency-box__explan">Chemical bonding state<br>Unoccupied structure</p>
                    </div>
                    <div class="exellency-box__line exellency-box__line_nth3">
                        <div class="exellency-box__item-circle">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Atomic structure)">XRD, SAXS</span>
                            </div>
                        </div>
                        <div class="exellency-box__bridge">
                            <span class="exellency-box__bridge-txt">Chemical phase<br>Crystal structure</span>
                        </div>
                        <div class="exellency-box__item-square">
                            <div class="exellency-box__item-inner">
                                <span class="exellency-box__item-tit" data-tit="(Atiomic structure)">XPS, EXAFS</span>
                            </div>
                        </div>
                        <p class="exellency-box__explan">Chemical bonding state Fine strucure</p>
                    </div>
                </div>
            </div>
            <div class="table-img center">
                <img src="../../images/about/about-02-3_sample1-img1.jpg" alt="" class="img-sample__img">
            </div>
        </div>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">Supporting structure and surface analysis techniques</span>
                </div>
                <div class="table-box__body">
                    <div class="table-list table-list__structure">
                        <div class="table-list__item nth-1">
                            <div class="table-list__inner">
                                <span class="table-list__tit2">Elemental<br>analysis</span>
                                <p class="table-list__txt3">XRF, XPS, AES, TOF-SIMS, D-SIMS</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-2">
                            <div class="table-list__inner">
                                <span class="table-list__tit2">Depth<br>profiles</span>
                                <p class="table-list__txt3">XPS, AES, TOF-SIMS, D-SIMS</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-3">
                            <div class="table-list__inner">
                                <span class="table-list__tit2">2D, 3D<br>Imaging analysis</span>
                                <p class="table-list__txt3">AFM, AES, TOF-SIMS, D-SIMS</p>
                            </div>
                        </div>
                        <div class="table-list__item nth-4">
                            <div class="table-list__inner">
                                <span class="table-list__tit2">Structural<br>analysis</span>
                                <p class="table-list__txt3">XRD, USANS, NEXAFS, EXAFS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-content__section">
            <div class="tab-v3" data-tab="true" id="tab">
                <ul class="tab-v3__list">
                    <li class="tab-v3__item is-active"><a href="#tab1" class="tab-v3__link" data-title="구조분석"><span class="inline-block">구조분석</span></a></li>
                    <li class="tab-v3__item"><a href="#tab2" class="tab-v3__link" data-title="표면분석"><span class="inline-block">표면분석</span></a></li>
                </ul>
            </div><!-- //tab-v1 -->
            <div class="tab-content is-active" id="tab1">
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Structure Analysis</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">The physics and chemistry of surfaces are among the most challenging and exciting areas of advanced materials science and technology. Structure Analysis focuses on the development of advanced composite materials.</p>
                                <span class="table-desc__tit table-desc__tit_next">Seeing and measuring the atomic-scale surface structure of nature.</span>
                            </div>
                            <div class="table-desc">
                                <span class="table-desc__tit">연구분야</span>
                                <p class="table-list__txt">XRD/PXRD를 이용한 다결정질 재료의 구조, 조성, 물성에 관한 연구</p>
                                <p class="table-list__txt">HRXRD를 이용한 에피층 박막재료 구조특성 연구</p>
                                <p class="table-list__txt">SAXS를 이용한 나노입자, 고분자의 전자 밀도차에 따른 크기, 모양, 분포 등의 연구</p>
                                <p class="table-list__txt">XRF를 이용한 재료의 비파괴적인 원소 및 화학 분석</p>
                                <p class="table-list__txt">XRR를 이용한 박막의 밀도, 거칠기, 두께 비파괴 분석</p>
                                <p class="table-list__txt">NEXAFS를 이용한 엑스선을 흡수하는 원자의 화학적 특성과, 그 원소 주위 한곳 구조에 (local structure) 관한 연구</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Quantitative and Structure Analysis by X-ray Scattering</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">A family of non-destructive analytical techniques (XRD, In-situ XRD, HR-XRD, XRR, SAXS, XRF) which reveal information about the crystal structure, chemical composition, and physical properties of materials and thin films.</p>
                                <div class="analysis-sample">
                                    <ul class="analysis-sample__list">
                                        <li class="analysis-sample__item analysis-sample__item_next-desc">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-1_sample2-img1.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                            <span class="analysis-sample__desc">in-situ XRD(SmO)</span>
                                        </li>
                                        <li class="analysis-sample__item analysis-sample__item_next-desc">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-1_sample2-img2.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                            <span class="analysis-sample__desc">RSM analysis GaAs/GaAs(110)</span>
                                        </li>
                                        <li class="analysis-sample__item analysis-sample__item_next-desc">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-1_sample2-img3.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                            <span class="analysis-sample__desc">X-Ray Reflectivity Mo/Si sub</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Structural Analysis of Molecule Materials by Neutron Scattering</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">HR-SANs (High Resolution Small Angle Neutron Scattering) measure large size structures: size, shape, cluster-aggregate, interface, and fractals of soft and hard matter in liquid, membrane, and solid samples.</p>
                                <div class="analysis-sample">
                                    <ul class="analysis-sample__list">
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-1_sample3-img1.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-1_sample3-img2.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content__section">
                  <div class="table-box">
                    <div class="table-box__head">
                      <span class="table-box__tit">Fine Structure Analysis by Synchrotron</span>
                    </div>
                    <div class="table-box__body">
                      <div class="table-desc">
                        <p class="table-desc__txt">The molecular surface composition and microscopic morphology for the diblock copolymers are obtained by TOF-SIMS and AFM, TOF-SIMS depth profiles of alternative patterns with the lamellar spacing structure.</p><br>
                        <p class="table-list__txt">EXAFS(Extended X-ray absorption fine structure) analysis the localized fine structure change during the chemical reaction.</p>
                        <p class="table-list__txt">XANS(X-ray absorption near-edge structure) is sensitive to charge transfer, orbital occupancy, and symmetry.</p>
                        <div class="analysis-sample">
                          <ul class="analysis-sample__list">
                            <li class="analysis-sample__item">
                                             <span class="analysis-sample__img-wrap">
                                                 <img src="../../images/about/about-02-3-2_sample3-img1.jpg" alt="" class="analysis-sample__img">
                                             </span>
                            </li>
                            <li class="analysis-sample__item">
                                             <span class="analysis-sample__img-wrap">
                                                 <img src="../../images/about/about-02-3-2_sample3-img2.jpg" alt="" class="analysis-sample__img">
                                             </span>
                            </li>
                          </ul>
                          <span class="analysis-sample__desc analysis-sample__desc_center analysis-sample__desc_w50p analysis-sample__desc_m-w100p">Nano Letters 2014, 14, 416-422</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="about-content__section">
                  <div class="table-box">
                    <div class="table-box__head">
                      <span class="table-box__tit">Molecular Orientation Analysis by X-ray Absorption</span>
                    </div>
                    <div class="table-box__body">
                      <div class="table-desc">
                        <p class="table-list__txt">NEXAFS(Near-edge X-ray absorption fine structure) is element-specific and bond-sensitive technique, gives informations such as chemical environment of atom, oxide state, site symmetry, density of state(DOS) in final state.</p>
                        <p class="table-list__txt">The orientation of molecular backbone in the films.</p>
                        <div class="analysis-sample">
                          <ul class="analysis-sample__list">
                            <li class="analysis-sample__item">
                                             <span class="analysis-sample__img-wrap">
                                                 <img src="../../images/about/about-02-3-2_sample4-img1.jpg" alt="" class="analysis-sample__img">
                                             </span>
                            </li>
                            <li class="analysis-sample__item">
                                             <span class="analysis-sample__img-wrap">
                                                 <img src="../../images/about/about-02-3-2_sample4-img2.jpg" alt="" class="analysis-sample__img">
                                             </span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="tab-content" id="tab2">
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Surface Analysis</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">The physics and chemistry of surfaces are among the most challenging and exciting areas of advanced materials science and technology. Surface Analysis focuses on the development of advanced materials characterization techniques covering elemental imaging, electronic structure and chemical analysis, compositional analysis.</p>
                                <span class="table-desc__tit table-desc__tit_next">Seeing and measuring the atomic-scale surface structure of nature.</span>
                            </div>
                            <div class="table-desc">
                                <span class="table-desc__tit">Research missions of the SSA team are</span>
                                <p class="table-list__txt">Establishing the research infra meeting the national demand</p>
                                <p class="table-list__txt">Educating the professionals and experts in practical surface analysis</p>
                                <p class="table-list__txt">Developing various advanced techniques and instruments for surface analysis</p>
                                <p class="table-list__txt">Customizing in-situ analytical tools for individuals actively working in the advanced materials research.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Quantitative Analysis by Surface Analytical Techniques</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">Compositional analyses of thin films can be performed by depth profiling in AES, XPS, TOF-SIMS, and D-SIMS, Depth-resolved elemental and MCs+ cluster analysis of thin films provide the average atomic concentrations and information of elemental gradient distribution.</p>
                                <div class="analysis-sample">
                                    <ul class="analysis-sample__list">
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample1-img1.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample1-img2.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample1-img3.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample1-img4.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                    </ul>
                                    <span class="analysis-sample__desc analysis-sample__desc_center">Applied Physics A(2014)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-content__section">
                    <div class="table-box">
                        <div class="table-box__head">
                            <span class="table-box__tit">Depth Profiling and Imaging Analysis of Block Copolymers</span>
                        </div>
                        <div class="table-box__body">
                            <div class="table-desc">
                                <p class="table-desc__txt">The molecular surface composition and microscopic morphology for the diblock copolymers are obtained by TOF-SIMS and AFM, TOF-SIMS depth profiles of alternative patterns with the lamellar spacing structure.</p>
                                <div class="analysis-sample">
                                    <ul class="analysis-sample__list">
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap analysis-sample__img-wrap_bg-black">
                                               <img src="../../images/about/about-02-3-2_sample2-img1.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample2-img2.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                        <li class="analysis-sample__item">
                                           <span class="analysis-sample__img-wrap">
                                               <img src="../../images/about/about-02-3-2_sample2-img3.jpg" alt="" class="analysis-sample__img">
                                           </span>
                                        </li>
                                    </ul>
                                    <span class="analysis-sample__desc analysis-sample__desc_center analysis-sample__desc_w75p analysis-sample__desc_m-w100p">Surf. Interface Anal. (2013) 45, 498-502</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
