<%
    page = "about"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="about_02_01.html" class="tab-v1__link" data-title="가속기 분석"><span class="inline-block">가속기 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_02.html" class="tab-v1__link" data-title="화학 분석"><span class="inline-block">화학 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item"><a href="about_02_03.html" class="tab-v1__link" data-title="구조&#47;표면 분석"><span class="inline-block">구조&#47;표면 </span><span class="inline-block">분석</span></a></li>
        <li class="tab-v1__item is-active"><a href="about_02_04.html" class="tab-v1__link" data-title="전자현미경 분석"><span class="inline-block">전자현미경 </span><span class="inline-block">분석</span></a></li>
    </ul>
</div><!-- //tab-v1 -->
<!-- 구조/표면 분석팀 -->
<div class="tab-content is-active">
    <div class="about-header about-header_team about-header_team_nth4">
        <div class="about-header__txt-wrap">
            <span class="about-header__tit">ELECTRON MICROSCOPE</span>
            <h2 class="about-header__tit-kr">전자현미경 분석팀</h2>
            <p class="about-header__desc-v2">전자 현미경 팀은 미세 구조, 나노 구조 및 원자 구조를 시각화하여 다양한 재료의 과학을 탐구하기 위해 TEM, SEM, FIB 및 3D 원자 분석을 위해 고급 분석 기술을 개발하는 것이 목표입니다. 나노 재료 과학과 생명 공학 분야의 연구원들의 요구를 충족시키기 위해 첨단 기술 지원과 지침을 제공합니다.</p>
        </div>
    </div>
    <div class="about-content">
        <h3 class="about-content__tit">주요연구 분야</h3>
        <div class="about-content__section">
            <div class="table-box">
                <div class="table-box__head">
                    <span class="table-box__tit">Seeing is believing invisible nano world you can see it with us</span>
                </div>
                <div class="table-box__body">
                    <div class="table-desc">
                        <span class="table-desc__tit">The mission of the Electron Microscopy (EM) team at AAC, KIST is</span>
                        <p class="table-desc__txt">to develop advanced analysis techniques of TEM, SEM, FIBand 3D atom probe to explore the science of diverse materials by visualizing the micro, nano-to atomic structure. To meet researchers' demands in the field of nanomaterial science and bioscience, we provide advanced technical Supportand guideline With</p><br><br>
                        <p class="table-list__txt">State-of-the-art electron microscopy facilities</p>
                        <p class="table-list__txt">Extensive experience in materials analysis and evaluation</p>
                        <p class="table-list__txt">in-depth discussion and consultation</p>
                        <p class="table-list__txt">Systematic user training program and open access to the facilities for the trained users</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
