<%
    page = "about"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1" data-tab="true">
    <ul class="tab-v1__list">
        <li class="tab-v1__item is-active"><a href="#a" class="tab-v1__link" data-title="가속기 분석팀"><span class="inline-block">가속기 </span><span class="inline-block">분석팀</span></a></li>
        <li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="화학 분석팀"><span class="inline-block">화학 </span><span class="inline-block">분석팀</span></a></li>
        <li class="tab-v1__item"><a href="#tab3" class="tab-v1__link" data-title="구조&#47;표면 분석팀"><span class="inline-block">구조&#47;표면 </span><span class="inline-block">분석팀</span></a></li>
        <li class="tab-v1__item"><a href="#tab4" class="tab-v1__link" data-title="전자현미경 분석팀"><span class="inline-block">전자현미경 </span><span class="inline-block">분석팀</span></a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="board-filter-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">Board Filter</legend>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input" checked><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">전체</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">연구원</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">포닥 연구원</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">학생</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">기타</span></label>
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->
<ul class="board-list-v2">
    <li class="board-list-v2__row only-pc">
        <div class="board-list-v2__th">직급</div>
        <div class="board-list-v2__th">이름</div>
        <div class="board-list-v2__th">전화번호</div>
        <div class="board-list-v2__th w-580">주요연구분야</div>
        <div class="board-list-v2__th"></div>
    </li>
    <% for (var i=0; i<10; i++) { %>
    <li class="board-list-v2__row board-list-v2__m-block">
        <div class="board-list-v2__td board-list-v2__m-th">책임연구원</div>
        <div class="board-list-v2__td board-list-v2__m-th">홍길동 <a href="mailto:" class="icon-mail"><i class="icon"></i></a></div>
        <div class="board-list-v2__td board-list-v2__m-th">02.958.5000</div>
        <div class="board-list-v2__td board-list-v2__td_align-left board-list-v2__td_wrap board-list-v2__m-td">중성자 산란 측정 장치 개발, 시료환경장치 개발, Hard matter, soft matter, 분리막, 기공 구조,  방사선 (중성자/양성자) 응용분야 개발, USANS, SANS, SAXS</div>
        <div class="board-list-v2__td board-list-v2__td_align-right board-list-v2__m-td"><a href="about_03_view.html" class="btn-v1 btn-v1_red btn-v1_m-full"><span>연구성과보기</span></a></div>
    </li>
    <% } %>
</ul><!-- //board-filter-v1 -->
<% include ../_inc/_pagination1 %>
