<%
    page = "about"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="about-header">
    <div class="about-header__txt-wrap">
        <span class="about-header__tit">AAC GREETING</span>
        <p class="about-header__desc">한국과학기술연구원 특성분석센터 홈페이지 방문을 진심으로 환영합니다</p>
    </div>
</div>
<div class="about-greetings">
    <div class="about-greetings__item">
        <p class="para-v1">21세기는 국가 과학기술분야에 새로운 도전과 기회를 주고 있으며, 이러한 과학 기술분야의 경쟁력 제고에 분석기술이 담당하는 요소의 중요성은 날로 증대되고 있습니다.<br><br>
            특성분석센터는 1966년 한국과학기술연구원의 개원과 함께 설립된 이래 지난 50여 년간 원내외의 과학자 및 엔지니어가 연구를 수행하는 과정에서 필수적인 분석 및 새로운 기술을 제고함으로써 국가과학기술 발전에 이바지해 왔다고 자부하고 있습니다.</p>
    </div>
    <div class="about-greetings__item">
        <p class="para-v1">특성분석센터는 앞으로 첨단 과학 및 기술분야의 분석, 연구지원, 분석법 개발 및 최첨단 연구 장비 인프라 구축을 통한 공동연구 등을 수행함으로써 탁월한 연구 성과 창출을 위해 최선을 다하겠습니다.<br><br>
            또한 국내외 과학자들에게 분석 장비 활용 및 장비의 개방 등 열린 센터를 지향함으로써 국내외의 과학자들로부터 신뢰와 사랑을 받는 센터로 발전해 나갈 수 있도록 혁신해 나가겠습니다.</p>
    </div>
</div>
<div class="about-footer">
    <p class="summary-v1">여러분의 많은 관심과 성원을 부탁 드립니다.</p>
    <span class="about-footer__desc">한국과학기술연구원 특성분석센터<br>센터장 <strong>안재평</strong></span>
</div>