<%
    page = "about"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<table class="table-row-v1" summary="">
    <colgroup>
        <col class="table-row-v1__col">
        <col>
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">성명</th>
        <td class="table-row-v1__td">홍길동</td>
        <th class="table-row-v1__th">직급</th>
        <td class="table-row-v1__td">책임연구원</td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">전화번호</th>
        <td class="table-row-v1__td">02.124.5412</td>
        <th class="table-row-v1__th">이메일</th>
        <td class="table-row-v1__td"><a href="mailto:" class="icon-mail"><i class="icon"></i>메일 보내기</a></td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">연구분야</th>
        <td class="table-row-v1__td" colspan="3">분석화학 : TOF-SIMS; D-SIMS; Auger</td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->

<div class="board-filter-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">Board Filter</legend>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input" checked><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">특허</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">국내논문(학술발표)</span></label>
            <label class="radio-set-v2"><input type="radio" name="filter" class="radio-set-v2__input"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">해외논문</span></label>
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->
<div class="board-scroll">
    <div class="board-scroll__fade only-mo"></div>
    <div class="board-scroll__x">
        <table class="board-list-v1">
            <colgroup>
                <col width="7%">
                <col width="auto">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="15%">
            </colgroup>
            <thead>
            <tr>
                <th class="board-list-v1__th" scope="col">번호</th>
                <th class="board-list-v1__th" scope="col">연구내용</th>
                <th class="board-list-v1__th" scope="col">주연구자</th>
                <th class="board-list-v1__th" scope="col">공동연구자</th>
                <th class="board-list-v1__th" scope="col">출원국</th>
                <th class="board-list-v1__th" scope="col">출원번호</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i<10; i++) { %>
            <tr>
                <td class="board-list-v1__td"><%= i+1 %></td>
                <td class="board-list-v1__td board-list-v1__td_align-left board-list-v1__td_wrap">중성자 산란 측정 장치 개발, 시료환경장치 개발, Hard matter, soft matter, 분리막, 기공 구조,  방사선 (중성자/양성자) 응용분야 개발, USANS, SANS, SAXS</td>
                <td class="board-list-v1__td">홍길동</td>
                <td class="board-list-v1__td">홍길동</td>
                <td class="board-list-v1__td">한국</td>
                <td class="board-list-v1__td">2010-00-00000</td>
            </tr>
            <% } %>
            </tbody>
        </table><!-- board-list-v1 -->
    </div>
    <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
</div>
<% include ../_inc/_pagination1 %>