<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <title>KIST 한국과학기술연구원 특성분석센터</title>

    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/popup.css">
    <link rel="stylesheet" href="../../../css/machine.css">
    <meta name="description" content="KIST 한국과학기술연구원 특성분석센터">
</head>
<body>
<div id="organ-form" class="modal organ">
    <div class="popup__header popup__header_fixed">
        <a class="popup__close" onclick="self.close();">닫기</a>
        <h1 class="popup__title">장비예약 현황</h1>
    </div>
    <div class="popup__content">
        <div class="popup__inner">
            <div id="calendar" class="calendar">

        </div>
            <div class="calendar-summary">
                <span class="calendar-summary__item calendar-summary__item-reserve">예약가능</span>
                <span class="calendar-summary__item calendar-summary__item-reserve-full">예약불가</span>
            </div>
            <div class="calendar-detail">
                <div class="calendar-detail__box">
                    <div class="calendar-detail__item">
                        <h4 class="calendar-detail__tit calendar-detail__m-tit calendar-detail__m-hide">장비명</h4>
                        <p class="calendar-detail__name" id="machineName" data-title="장비명">DIGISTAR P1000: ASTAR & Topspin X선 회절기</p>
                    </div>
                    <div class="calendar-detail__item">
                        <h4 class="calendar-detail__tit calendar-detail__m-tit calendar-detail__m-hide">예약날짜</h4>
                        <p class="calendar-detail__date" id="currentDate" data-title="예약날짜"></p>
                    </div>
                    <div class="calendar-detail__item">
                        <h4 class="calendar-detail__tit calendar-detail__m-tit" data-info="원하는 시간대를 선택해 주세요.">예약시간<span class="calendar-detail__tit-info calendar-detail__m-tit-info calendar-detail__m-hide">원하는 시간대를 선택해 주세요.</span></h4>
                        <div class="calendar-detail__time-wrap">
                            <div class="calendar-detail__select">
                                <select name="" id="">
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </div>
                            <div class="calendar-detail__select">
                                <select name="" id="">
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="calendar-detail__item">
                        <h4 class="calendar-detail__tit" data-title="예약완료" id="reserveFull">예약현황</h4>
                        <ul class="calendar-detail__list" id="reserveState">
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">09:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">09:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">10:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">10:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">11:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">11:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">13:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">13:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">14:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">14:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">15:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">15:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">16:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">16:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">17:00</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                            <li class="calendar-detail__list-item">
                                <span class="calendar-detail__list-time"><em class="start">17:30</em></span>
                                <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                            </li>
                        </ul>
                    </div>
                    <div class="calendar-detail__item">
                        <p class="txt-warn"><i class="txt-warn__icon"></i>운영 및 예약 시간 안내</p>
                        <p class="desc">오전 09:00 ~ 12:00 오후 13:00 ~ 18:00 예약자가 있는 시간대는 예약불가입니다.</p>
                    </div>
                </div>
                <div class="btn-wrap"><button type="button" class="btn-v3 btn-v3_red" title="예약시간확정"><span>예약시간확정</span></button></div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="../../../css/libs/calendar/fullcalendar.css">
<script src="../../../js/libs/jquery-1.11.3.min.js"></script>
<script src="../../../js/libs/calendar/moment.min.js"></script>
<script src="../../../js/libs/calendar/fullcalendar.min.js"></script>
<script src="../../../js/libs/calendar/locale-all.js"></script>
<script type="text/javascript">
    //달력
    $(document).ready(function(){
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            locale: 'en',
            height: 'auto',
            header: {
                left: 'today',
                center: 'prev title next',
                right: ''
            },
            titleFormat:'YYYY.MM',
            editable: false,
            navLinks: false, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            timezone:false,
//            timeFormat: 'H:mm',
            displayEventEnd: true,
            allDayDefault: true,

            events: [
                {
                    machine: 'DIGISTAR P1000: ASTAR & Topspin',
                    start: '2018-01-26',
                    reserve: '예약불가',
                    childern: [
                        {
                            start: '09:00',
                            end: '09:30',
                            reserve: '예약가능'
                        },
                        {
                            start: '09:30',
                            end: '10:00',
                            reserve: '예약가능'
                        },
                        {
                            start: '10:00',
                            end: '10:30',
                            reserve: '예약가능'
                        }
                        // ...
                        ,
                        {
                            start: '17:30',
                            end: '18:00',
                            reserve: '예약불가'
                        }
                    ]
                },
                {
                    machine: 'DIGISTAR P1000: ASTAR & Topspin',
                    start: '2018-01-29',
                    reserve: '예약가능',
                    childern: [
                        {
                            start: '09:00',
                            end: '09:30',
                            reserve: '예약가능'
                        },
                        {
                            start: '09:30',
                            end: '10:00',
                            reserve: '예약가능'
                        },
                        {
                            start: '10:00',
                            end: '10:30',
                            reserve: '예약가능'
                        }
                        // ...
                        ,
                        {
                            start: '17:30',
                            end: '18:00',
                            reserve: '예약불가'
                        }
                    ]
                }
            ],
            eventRender: function(event, element) {
                var start = moment(event.start).format('YYYY.MM.DD');
                var today = moment().format("YYYY.MM.DD");
                if(start < today){
                    element.addClass('fc-disabled');
                }
                var reserve = event.reserve;
                // var reserveCnt = 0;
                var reserveTagEl = '';
                if(reserve){
                    // reserveCnt = reserve.length;
                    if(reserve=='예약불가'){
                        reserveTagEl = '<div class="reserve-tag reserve-tag_full"><span>'+reserve+'</span></div>'
                    } else {
                        reserveTagEl = '<div class="reserve-tag"><span>'+reserve+'</span></div>'
                    }
                }
                element.append(reserveTagEl);
                $('#currentDate').text(today);        // 예약날짜
            },
            eventAfterAllRender: function(event, view){
            },
            eventClick: function(calEvent, jsEvent, view) {
                var startDate=moment(calEvent.start).format('YYYY.MM.DD');
                var today = moment().format("YYYY.MM.DD");
                if(startDate < today)
                {
                    console.log('지난예약');
                }
                else
                {
                    $('#reserveFull').attr('data-title', '');
//                    $('#machineName').text(calEvent.machine); // 장비명
                    $('#currentDate').text(startDate);        // 예약날짜
                    // 예약현황
//                    var $reserveList = $('#reserveState');
//                    $reserveList.empty();
//                    if(calEvent.childern){
//                        var reserveItem = '';
//                        calEvent.childern.forEach(function(item,idx){
//                            reserveItem = '<li class="calendar-detail__list-item">';
//                            reserveItem += '<span class="calendar-detail__list-time"><em class="start">'+item.start+'</em> ~ <em class="end">'+item.end+'</em></span>';
//                            reserveItem += ' <span class="calendar-detail__list-reserve"><em class="reserve-full">['+item.reserve+']</em></span>';
//                            reserveItem += '</li>';
//                            $reserveList.append(reserveItem);
//                        });
//                    }
                    if(calEvent.title){
                        $('#reserveFull').attr('data-title', calEvent.title);
                    }
                    // 예약현황 end
                }
            }
        });
    });
</script>
</body>