<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <title>KIST 한국과학기술연구원 특성분석센터</title>

    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/popup.css">
    <link rel="stylesheet" href="../../../css/member.css">
    <meta name="description" content="KIST 한국과학기술연구원 특성분석센터">
</head>
<body>
<div id="organ-form" class="modal organ">
    <div class="popup__header popup__header_fixed">
        <a class="popup__close" onclick="self.close();">닫기</a>
        <h1 class="popup__title">기관검색</h1>
    </div>
    <div class="popup__content">
        <div class="table-col-v4-header">
            <h3 class="table-col-v4-header__tit">사업자등록번호 또는 기관명 검색</h3>
        </div>
        <table class="table-row-v1">
            <colgroup>
                <col style="width:300px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v1__th">사업자등록번호 or 기관명 조회</th>
                <td class="table-row-v1__td">
                    <div class="input-set-v1">
                        <div class="input-set-v1__item input-set-v1__item--w-30p input-set-v1__item_m-block input-set-v1__item_m-mb5">
                            <div class="select-set-v1 select-set-v1_w295 select-set-v1_pr110 select-set-v1_m-full">
                                <select name="" id="search-type" class="select-set-v1__select" title="사업자등록번호 또는 기관명 선택">
                                    <option value="사업자등록번호">사업자등록번호</option>
                                    <option value="기관명">기관명</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-set-v1__item input-set-v1__item_m-block input-set-v1__item_m-mb5">
                            <input type="text" name="" id="search-query" class="input-v1" placeholder="사업자등록번호을(를) 입력해주세요" title="사업자등록번호">
                        </div>
                        <div class="input-set-v1__item input-set-v1__item_m-fl-right">
                            <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>검색</span></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">검색결과<span class="table-col-v4-header__info table-col-v4-header__info--m-full">기관명을 선택해 기관정보와 소속정보를 확인해 주세요.</span><span class="table-col-v4-header__info table-col-v4-header__info--m-full table-col-v4-header__info--highlight">등록된 기관이 없을 경우 기관추가를 해주세요</span></h3>
        </div>
        <div class="board-scroll">
            <div class="board-scroll__fade only-mo"></div>
            <div class="board-scroll__x">
                <table class="table-col-v4 organ-list-table">
                    <colgroup>
                        <col class="organ-list-table__col1">
                        <col class="organ-list-table__col2">
                        <col class="organ-list-table__col3">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="table-col-v4__th">기관명(법인명)</th>
                        <th class="table-col-v4__th">사업자등록번호</th>
                        <th class="table-col-v4__th">대표자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<5; i++){ %>
                    <tr>
                        <td class="table-col-v4__td"><a href="find-organ_2.html" class="table-col-v4__link">한국과학기술연구원</a></td>
                        <td class="table-col-v4__td">123-125646-1212</td>
                        <td class="table-col-v4__td">홍길동</td>
                    </tr>
                    <% } %>
                    </tbody>
                </table><!-- //table-col-v4 -->
            </div>
            <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
        </div>
        <div class="btn-wrap center">
            <a href="find-organ_기관추가.html" class="btn-v4 btn-v4_w85"><span>기관추가</span></a>
        </div>

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">기관 정보</h3>
        </div>
        <table class="table-row-v2 organ-table">
            <colgroup>
                <col class="organ-table__col-1">
                <col class="organ-table__col-2">
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v2__th">기관분류<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="기관분류(필수)" value="중소기업" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">기관명(법인명)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="기관명(법인명)(필수)" value="한국과학기술연구원" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록번호<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="tel-set-v1">
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="123" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="45" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="17890" disabled></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">대표자<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="대표자(필수)" value="홍길동" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자주소<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="사업자주소(필수)" value="서울시 성북구 화랑로 14길 5" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">업태</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="업태(선택)" value="농업, 임업 및 어업" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">종목</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="종목(선택)" value="곡물및기타작물재배" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록증</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <!-- 검색 상세결과 후 사업자등록증 보기 노출 -->
                        <span><a href="#" class="btn-v4 btn-v4_h30"><span>보기</span></a></span>
                        <!-- 검색 상세결과 전 사업자등록증 보기 숨김 -->
                        <span class="hidden"> - </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!--<div class="table-col-v4-header table-col-v4-header_next table-col-v4-header_btn-wrap table-col-v4-header_btn-wrap">
            <h3 class="table-col-v4-header__tit">소속추가</h3>
            <a href="#" class="btn-v4 btn-v4_w85"><span>소속추가</span></a>
        </div>

        <table class="table-row-v1 company-table">
            <colgroup>
                <col class="company-table__th">
                <col class="company-table__td">
                <col class="company-table__th">
                <col class="company-table__td">
            </colgroup>
            <tbody>
            <tr class="company-table__row">
                <th class="table-row-v1__th">소속(팀or실험실)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v1__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v1" title="소속(필수)" disabled>
                    </div>
                </td>
                <th class="table-row-v1__th">책임자(담당교수)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v1__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v1" title="책임자(필수)" disabled>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>-->
    </div>
    <div class="popup__footer">
        <a href="#" class="btn-v4 btn-v4_w85 btn-v4_red"><span>확인</span></a>
        <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>취소</span></a>
    </div>
</div>
<script type="text/javascript" src="../../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#search-type').change(function() {

      $('#search-query').prop('placeholder',$(this).val()+'을(를) 입력해주세요');
    });
  })
</script>
</body>