<%
    page = "mypage"
    sub = 4
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v1">
    <div class="board-top-v1__aligner board-top-v1__aligner_left">
        <p class="board-top-v1__item">총 <span class="board-top-v1__cnt">16</span>건</p>
    </div>
    <div class="board-top-v1__aligner board-top-v1__aligner_right">
        <a href="mypage_04_list.html" class="btn-v3 btn-v3_icon"><span>돌아가기</span><i class="btn-v3__arr-v1 btn-v3__arr-v1_gray"></i></a>
    </div>
</div>
<ul class="board-request-history">
    <li class="board-request-history__list board-request-history_m-hide">
        <div class="board-request-history__row">
            <div class="board-request-history__th board-request-history__th-nth1">접수번호</div>
            <div class="board-request-history__th board-request-history__th-nth2">시료명</div>
            <div class="board-request-history__th board-request-history__th-nth3">분석담당</div>
            <div class="board-request-history__th board-request-history__th-nth4">의뢰일</div>
            <div class="board-request-history__th board-request-history__th-nth5">완료일</div>
            <div class="board-request-history__th board-request-history__th-nth6">분석료</div>
            <div class="board-request-history__th board-request-history__th-nth7">진행상태</div>
            <div class="board-request-history__th board-request-history__th-nth8">결제상태</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-request-history__list" data-collapsed="true">
        <div class="board-request-history__row" data-type="분석완료">
            <div class="board-request-history__td board-request-history__td_m-tit board-request-history__td_break-all" data-title="접수번호 :">171250082171250082171250082</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="시료명 :">
                <a href="mypage_04_view.html" class="board-request-history__link board-request-history__link_full">PIO-BZ PIO-BZ PIO-BZ PIO-BZ</a>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석담당 :">김재열</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="의뢰일 :">2017.12.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="완료일 :">2017.11.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석료 :">1,760,000</div>
            <div class="board-request-history__td board-request-history_m-hide">분석완료</div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <span class="board-request-history_m-hide">완료</span>
                <div class="board-request-history__btn-wrap">
                    <span class="board-request-history__btn-item">
                        <a href="mypage_04_view.html" class="board-request-history__btn board-request-history_m-block"><span>상세보기</span></a>
                    </span>
                    <span class="board-request-history__btn-item">
                        <a href="#" class="board-request-history__btn" data-type="disabled"><span>결제하기</span></a>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <% } %>
</ul><!-- board-request-history -->
<% include ../_inc/_pagination1 %>
<script type="text/javascript" src="../../js/transition.height.js"></script>
<script type="text/javascript">
    $(window).on('load', function () {
        toggleAnimation('.board-request-history__row', 40);
        $(window).on('resize', function () {
            var isMobile = $('body').attr('data-mobile') === 'true';
            if(!isMobile){
                $('li[data-collapsed]').each(function () {
                    $(this).css('height','').attr('data-collapsed', true);
                });
            }
        })
        $('.board-request-history__list[data-collapsed]:eq(0)').find('.board-request-history__row').trigger('click');
    });
</script>