<%
    page = "mypage"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-search-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">게시판 검색</legend>
            <select name="" id="" class="board-search-v1__select">
                <option value="의뢰자" selected>의뢰자</option>
                <option value="의뢰기관">의뢰기관</option>
                <option value="장비담당자">장비담당자</option>
                <option value="접수번호">접수번호</option>
                <option value="진행상태">진행상태</option>
            </select>
            <i class="bar"></i>
            <input type="text" name=""  class="board-search-v1__input" title="검색어를 입력해주세요." placeholder=""><input type="image" src="../../images/icon/icon-search3-r.png" alt="검색" class="board-search-v1__submit">
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->

<div class="board-top-v1">
    <div class="board-top-v1__aligner board-top-v1__aligner_left">
        <p class="board-top-v1__item">총 <span class="board-top-v1__cnt">16</span>건</p>
    </div>
    <div class="board-top-v1__aligner board-top-v1__aligner_right">
        <a href="mypage_04_list_2.html" class="btn-v3 btn-v3_icon"><span>2016년 이전의뢰 보기</span><i class="btn-v3__arr-v1 btn-v3__arr-v1_gray"></i></a>
    </div>
</div>
<ul class="board-request-history">
    <li class="board-request-history__list board-request-history_m-hide">
        <div class="board-request-history__row">
            <div class="board-request-history__th board-request-history__th-nth1">접수번호</div>
            <div class="board-request-history__th board-request-history__th-nth2">QrCode</div>
            <div class="board-request-history__th board-request-history__th-nth3">분석장비</div>
            <div class="board-request-history__th board-request-history__th-nth4">시료명</div>
            <div class="board-request-history__th board-request-history__th-nth5">분석담당</div>
            <div class="board-request-history__th board-request-history__th-nth6">의뢰일</div>
            <div class="board-request-history__th board-request-history__th-nth7">완료일</div>
            <div class="board-request-history__th board-request-history__th-nth8">분석료</div>
            <div class="board-request-history__th board-request-history__th-nth9">진행상태</div>
            <div class="board-request-history__th board-request-history__th-nth10">결제상태</div>
            <div class="board-request-history__th board-request-history__th-nth11">다운로드</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <% if(i === 10){ %>
    <!-- 1. 진행상태-신청::결제하기 불가 -->
    <li class="board-request-history__list" data-collapsed="true">
        <div class="board-request-history__row" data-type="신청">
            <div class="board-request-history__td board-request-history__td_m-tit board-request-history__td_break-all" data-title="접수번호 :">171250082171250082171250082</div>
            <div class="board-request-history__td board-request-history_m-fl-right">
                <span class="board-request-history__qr-code"><img class="board-request-history__img" src="../../images/sample/QR_code.png" alt=""></span>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item board-request-history__td--break-word" data-title="분석장비 :">AES Nanoprobe (Auger Electron Spectroscopy)</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="시료명 :">
                <a href="mypage_04_view.html" class="board-request-history__link">PIO-BZ PIO-BZ PIO-BZ PIO-BZ</a>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석담당 :">김재열</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="의뢰일 :">2017.12.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="완료일 :"></div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석료 :"></div>
            <div class="board-request-history__td board-request-history_m-hide">신청</div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap">
                    <span class="board-request-history__btn-item">
                        <a href="mypage_04_view.html" class="board-request-history__btn board-request-history_m-block"><span>상세보기</span></a>
                    </span>
                    <span class="board-request-history__btn-item">
                        <a href="#" class="board-request-history__btn" data-type="disabled"><span>결제하기</span></a>
                    </span>
                </div>
            </div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap">
                    <span class="board-request-history__btn-item">
                        <a href="#" class="btn-round-v1 btn-round-v1_red"><span>분석내역서</span></a>
                    </span>
                    <span class="board-request-history__btn-item board-request-history__btn-item--next">
                        <a href="#" class="btn-round-v1 btn-round-v1_gray"><span>시험성적서</span></a>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <% } %>
    <% if(i === 9){ %>
    <!-- 2. 진행상태-입금의뢰::결제하기버튼 활성화 -->
    <li class="board-request-history__list" data-collapsed="true">
        <div class="board-request-history__row" data-type="입금의뢰">
            <div class="board-request-history__td board-request-history__td_m-tit board-request-history__td_break-all" data-title="접수번호 :">171250082</div>
            <div class="board-request-history__td board-request-history_m-fl-right">
                <span class="board-request-history__qr-code"><img class="board-request-history__img" src="../../images/sample/QR_code.png" alt=""></span>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item board-request-history__td--break-word" data-title="분석장비 :">AES Nanoprobe (Auger Electron Spectroscopy)</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="시료명 :">
                <a href="mypage_04_view.html" class="board-request-history__link">SEM시료</a>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석담당 :">김재열</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="의뢰일 :">2017.12.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="완료일 :"></div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석료 :">1,760,000</div>
            <div class="board-request-history__td board-request-history_m-hide">입금의뢰</div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap">
                    <span class="board-request-history__btn-item">
                        <a href="mypage_04_view.html" class="board-request-history__btn board-request-history_m-block"><span>상세보기</span></a>
                    </span>
                    <span class="board-request-history__btn-item">
                        <a href="#" class="board-request-history__btn"><span>결제하기</span></a>
                    </span>
                </div>
            </div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap hidden">
                    <span class="board-request-history__btn-item">
                        <a href="#" class="btn-round-v1 btn-round-v1_red"><span>분석내역서</span></a>
                    </span>
                    <span class="board-request-history__btn-item board-request-history__btn-item--next">
                        <a href="#" class="btn-round-v1 btn-round-v1_gray"><span>시험성적서</span></a>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <% } %>
    <% if(i === 8){ %>
    <!-- 3. 진행상태-입금완료::결제하기->결제완료 후 비활성화 -->
    <li class="board-request-history__list" data-collapsed="true">
        <div class="board-request-history__row" data-type="결제완료">
            <div class="board-request-history__td board-request-history__td_m-tit board-request-history__td_break-all" data-title="접수번호 :">171250082</div>
            <div class="board-request-history__td board-request-history_m-fl-right">
                <span class="board-request-history__qr-code"><img class="board-request-history__img" src="../../images/sample/QR_code.png" alt=""></span>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item board-request-history__td--break-word" data-title="분석장비 :">AES Nanoprobe (Auger Electron Spectroscopy)</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="시료명 :">
                <a href="mypage_04_view.html" class="board-request-history__link">Fe304</a>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석담당 :">김재열</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="의뢰일 :">2017.12.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="완료일 :"></div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석료 :">1,760,000</div>
            <div class="board-request-history__td board-request-history_m-hide">입금완료</div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <span class="board-request-history_m-hide">완료</span>
                <div class="board-request-history__btn-wrap board-request-history_m-block">
                    <span class="board-request-history__btn-item">
                        <a href="mypage_04_view.html" class="board-request-history__btn board-request-history_m-block"><span>상세보기</span></a>
                    </span>
                    <span class="board-request-history__btn-item">
                        <a href="#" class="board-request-history__btn" data-type="disabled"><span>결제완료</span></a>
                    </span>
                </div>
            </div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap hidden">
                    <span class="board-request-history__btn-item">
                        <a href="#" class="btn-round-v1 btn-round-v1_red"><span>분석내역서</span></a>
                    </span>
                    <span class="board-request-history__btn-item board-request-history__btn-item--next">
                        <a href="#" class="btn-round-v1 btn-round-v1_gray"><span>시험성적서</span></a>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <% } %>
    <% if(i === 7){ %>
    <!-- 3. 진행상태-완료::완료일 노출 -->
    <li class="board-request-history__list" data-collapsed="true">
        <div class="board-request-history__row" data-type="완료">
            <div class="board-request-history__td board-request-history__td_m-tit board-request-history__td_break-all" data-title="접수번호 :">171250082</div>
            <div class="board-request-history__td board-request-history_m-fl-right">
                <span class="board-request-history__qr-code"><img class="board-request-history__img" src="../../images/sample/QR_code.png" alt=""></span>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item board-request-history__td--break-word" data-title="분석장비 :">AES Nanoprobe (Auger Electron Spectroscopy)</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="시료명 :">
                <a href="mypage_04_view.html" class="board-request-history__link">Fe304</a>
            </div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석담당 :">김재열</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="의뢰일 :">2017.12.06</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="완료일 :">2017.12.17</div>
            <div class="board-request-history__td board-request-history__td_m-item" data-title="분석료 :">1,760,000</div>
            <div class="board-request-history__td board-request-history_m-hide">완료</div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <span class="board-request-history_m-hide">완료</span>
                <div class="board-request-history__btn-wrap board-request-history_m-block">
                    <span class="board-request-history__btn-item">
                        <a href="mypage_04_view.html" class="board-request-history__btn board-request-history_m-block"><span>상세보기</span></a>
                    </span>
                    <span class="board-request-history__btn-item">
                        <a href="#" class="board-request-history__btn" data-type="disabled"><span>결제완료</span></a>
                    </span>
                </div>
            </div>
            <div class="board-request-history__td board-request-history__td_m-btn-box">
                <div class="board-request-history__btn-wrap hidden">
                    <span class="board-request-history__btn-item">
                        <a href="#" class="btn-round-v1 btn-round-v1_red"><span>분석내역서</span></a>
                    </span>
                    <span class="board-request-history__btn-item board-request-history__btn-item--next">
                        <a href="#" class="btn-round-v1 btn-round-v1_gray"><span>시험성적서</span></a>
                    </span>
                </div>
            </div>
        </div>
    </li>
    <% } %>
    <% } %>
</ul><!-- board-request-history -->
<% include ../_inc/_pagination1 %>
<script type="text/javascript" src="../../js/transition.height.js"></script>
<script type="text/javascript">
    $(window).on('load', function () {
        toggleAnimation('.board-request-history__row', 40);
        $(window).on('resize', function () {
            var isMobile = $('body').attr('data-mobile') === 'true';
            if(!isMobile){
                $('li[data-collapsed]').each(function () {
                    $(this).css('height','').attr('data-collapsed', true);
                });
            } else {
              checkExpandHeight('.board-request-history__row');
            }
        })
        $('.board-request-history__list[data-collapsed]:eq(0)').find('.board-request-history__row').trigger('click');
    });

</script>