<%
    page = "mypage"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <% include ../_inc/_board_search %>
</div>
<ul class="board-notice board-history">
    <li class="board-notice__list board-notice_m-hide">
        <div class="board-notice__row">
            <div class="board-notice__th board-history__th-nth1">교육명</div>
            <div class="board-notice__th board-history__th-nth2">교육시간</div>
            <div class="board-notice__th board-history__th-nth3">접수기간</div>
            <div class="board-notice__th board-history__th-nth4">정원</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-notice__list <% if(i===10){ %>icon-new<% } %>">
        <div class="board-notice__row">
            <div class="board-notice__td board-notice__td_wrap board-notice__td_align-left">무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation</div>
            <div class="board-notice__td board-notice__date board-notice_m-block"><span class="inline-block">2017-12-13</span><span class="inline-block">14:00~18:00</span></div>
            <div class="board-notice__td board-notice_m-hide">2017.12.13 ~ 2017.12.17</div>
            <div class="board-notice__td board-notice_m-hide">30</div>
        </div>
    </li>
    <% } %>
</ul><!-- board-notice -->
<% include ../_inc/_pagination1 %>
