<%
    page = "mypage"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="receipt">
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">진행상태</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell"><strong class="font-medium color-blue">입금완료</strong></div>
            </td>
            <th class="table-row-v1__th">예약확정일</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell"><strong class="font-medium color-blue">2018-09-30 (10:00) ~ 2018-09-30 (12:00)</strong></div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">의뢰기관</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">엠에스몰드</div>
            </td>
            <th class="table-row-v1__th">대표자</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">이연중</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">주소</th>
            <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
                <div class="table-row-v1__m-cell">경기 군포시 당정동 0000 엠에스몰드</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">의뢰자</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">이연중</div>
            </td>
            <th class="table-row-v1__th">의뢰자 직위</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">대리</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">전화번호</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">02.000.0000</div>
            </td>
            <th class="table-row-v1__th">휴대폰번호</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">010.0000.0000</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일</th>
            <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
                <div class="table-row-v1__m-cell"><a href="mailto:mail@address.com" class="icon-mail icon-mail_arr-r1">mail@address.com<i class="icon"></i></a></div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">분석장비</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">AAS</div>
            </td>
            <th class="table-row-v1__th">분석담당</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">홍길동</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시료명</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">PIO-BZ</div>
            </td>
            <th class="table-row-v1__th">시료수</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">10</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시료양</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">-</div>
            </td>
            <th class="table-row-v1__th">분석결과단위</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">DEA</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">성적서 발급신청</th>
            <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
                <div class="table-row-v1__m-cell">KOLAS 공인성적서 ( 시험규격번호 : KS D 8544:2016 )<div class="receipt-table__info">※ 본 시험 성적서는 광고, 선전, 홍보 및 법적쟁송의 수단으로 상용할 수 없습니다.</div></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시험 요청사항</th>
            <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
                <div class="table-row-v1__m-cell">
                    <p class="para-v4">시험에 응시하기로 예정된 일시에 시험 일정 예약 또는 시작을 클릭하고 시험을 선택한 다음 지침을 따르세요. 온라인 시스템에서 점검을 시작하며 Greeter 체크인 프로세스에 5~10분이 소요될 수 있습니다. 신원 확인을 위해 사진을 포함하며 만료되지 않은 정부 발급 신분증을 제시해야 합니다. Greeter가 응시 장소를 웹캠으로 스캔하고 책상이나 선반, 벽에서 물건을 치우도록 안내할 수 있습니다.</p>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시험규격및 방법</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">공인시험기관</div>
            </td>
            <th class="table-row-v1__th">성적서 신청</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">
                    <dl class="receipt-cnt">
                        <dt class="receipt-cnt__dt">국문 :</dt>
                        <dd class="receipt-cnt__dd">2매</dd>
                        <dt class="receipt-cnt__dt">영문 :</dt>
                        <dd class="receipt-cnt__dd">2매</dd>
                        <dt class="receipt-cnt__dt">부문 :</dt>
                        <dd class="receipt-cnt__dd">2매</dd>
                    </dl>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시험 후 시료처리</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">폐기</div>
            </td>
            <th class="table-row-v1__th">보관기간</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">25일</div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">결제정보 및 전자 계산서 정보</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">가상계좌번호</th>
            <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
                <div class="table-row-v1__m-cell"><span class="color-blue">우리은행 123-34675-56789</span></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">입금일</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">2018-08-30</div>
            </td>
            <th class="table-row-v1__th">전자계산서 담당자</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">김승미</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">계산서발행일</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">2018-09-30</div>
            </td>
            <th class="table-row-v1__th">담당자 이메일</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">8150815@hanmail.net</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">카드승인일</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">2018-09-30</div>
            </td>
            <th class="table-row-v1__th">담당자 연락처</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">010-1234-1231</div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">사업자 등록증 정보</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">등록번호</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">123-123-45454</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">상호(법인명)</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">명진</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">대표자</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">길동</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">업태·종목</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">제조업</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">사업장주소</th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">서울시 노원구 124-14 하이빌딩 5층</div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="board-btn-wrap board-btn-wrap_next">
        <a href="#" class="btn-v3 btn-v3_w150 btn-v3_m-w105"><span>확인</span></a>
        <a href="#" class="btn-v3 btn-v3_w150 btn-v3_m-w70 btn-v3_gray"><span>인쇄</span></a>
    </div>
</div>