<%
    page = "mypage"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="edit-privacy">
    <div class="table-row-v1-header">
        <p class="para-v1 para-v1_fl-right"><span class="color-red">*</span> 필수입력항목</p>
        <h3 class="table-row-v1-header__tit">기본정보</h3>
    </div>
    <table class="table-row-v1 join-table" summary="">
        <colgroup>
            <col class="join-table__th">
            <col class="join-table__td">
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">아이디<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td table-row-v1__m-row">
                <div class="table-row-v1__m-cell">Abscde</div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">비밀번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="password" name="" class="input-v1 input-v1_w295" value="12341234" title="비밀번호(필수)">
                    <span class="form-info-v1">영문+숫자+특수문자 조합 8자이상</span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">비밀번호 확인<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="password" name="" class="input-v1 input-v1_w295" value="12341234" title="비밀번호 확인(필수)">
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이름<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="홍길동" title="이름(필수)">
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">구분<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="select-set-v1 select-set-v1_w295 select-set-v1_f14 select-set-v1_m-full">
                        <select name="" id="" class="select-set-v1__select" title="사업자 또는 개인(계산서 미발급)선택">
                            <option value="" selected>사업자</option>
                            <option value="">개인(계산서 미발급)</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 구분:개인 선택시 숨김영역 start -->
        <tr>
            <th class="table-row-v1__th">소속기관<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <span class="input-v1__btn-set input-v1__btn-set_w405">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="한국과학기술연구원" title="소속기관(필수)" disabled>
                    <!--<button type="button" class="btn-v4 btn-v4_w100 btn-v4_m-w77 input-v1__btn" id="organ" data-target="organ-form">검색</button>-->
                    <button type="button" class="btn-v4 btn-v4_w100 btn-v4_m-w77 input-v1__btn" onclick="windowOpen('popup/find-organ.html','1257','800');">검색</button>
                </span>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속기관 대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="안재평" title="소속기관 대표자(필수)" disabled><!--// 20180316-->
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속<br class="only-pc">(부서명or연구실명)<span class="required-v1">(필수)</span></th><!--// 20180316-->
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="특성분석센터" title="소속(부서명or연구실명)(필수)" disabled>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">책임자<br class="only-pc">(부서팀장or<br class="only-pc">연구실 교수명)<span class="required-v1">(필수)</span></th><!--// 20180316-->
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="안재평" title="책임자(필수)" disabled>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">직위<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="특성분석센터장" title="직위(필수)">
                </div>
            </td>
        </tr>
        <!-- 구분:개인 선택시 숨김영역 end -->
        <tr>
            <th class="table-row-v1__th">주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box form-box__addr">
                    <div class="form-box__item form-box__item_addr form-box__item_addr_v2">
                        <div class="input-v1__btn-set">
                            <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" value="136" title="우편번호1(필수)" disabled>
                                </div>
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" value="791" title="우편번호2(필수)" disabled>
                                </div>
                            </div>
                            <a href="#" class="btn-v4 input-v1__btn btn-v4_m-w77"><span>우편번호</span></a>
                        </div>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" value="서울특별시 종로구 000동 39-1" title="주소1(필수)" disabled>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" value="303호" title="주소2(필수)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">전화번호</th>
            <td class="table-row-v1__td">
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(선택)">
                                <option value="">선택</option>
                                <option value="02" selected>02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="033">033</option>
                                <option value="041">041</option>
                                <option value="042">042</option>
                                <option value="043">043</option>
                                <option value="051">051</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                                <option value="061">061</option>
                                <option value="062">062</option>
                                <option value="063">063</option>
                                <option value="064">064</option>
                                <option value="070">070</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" value="122" title="전화번호(선택)"></div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" value="1234" title="전화번호(선택)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">휴대폰<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="휴대폰번호(필수)">
                                <option value="">선택</option>
                                <option value="02" selected>010</option>
                                <option value="031">011</option>
                                <option value="032">016</option>
                                <option value="033">017</option>
                                <option value="041">018</option>
                                <option value="042">019</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" value="2344" title="휴대폰번호(필수)"></div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" value="1234" title="휴대폰번호(필수)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" value="email@emailaddress.com" title="이메일(필수)">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="board-btn-wrap board-btn-wrap_next">
        <a href="#" class="btn-v3 btn-v3_w210"><span>확인</span></a>
        <a href="#" class="btn-v5"><span>취소</span></a>
    </div>
</div>