<%
    page = "machine"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="machine__intro">
    <div class="machine__img-wrap"><img src="../../images/machine/img-machine.jpg" alt="DIGISTAR P1000: ASTAR & Topspin X선 회절기 이미지"></div>
    <div class="machine__info">
        <h3 class="machine__info-name"><strong>DIGISTAR P1000: ASTAR & Topspin</strong><br><span>X선 회절기</span></h3>
        <dl class="machine__info-list">
            <dt class="machine__info-model">Model</dt>
            <dd class="machine__info-txt">Dmax2500/PC</dd>
        </dl>
        <dl class="machine__info-list">
            <dt class="machine__info-loc">Location</dt>
            <dd class="machine__info-txt">L2334</dd>
        </dl>
        <dl class="machine__info-list">
            <dt class="machine__info-tel">Tel</dt>
            <dd class="machine__info-txt">02.123.4521</dd>
        </dl>

        <div class="machine__btn-wrap">
            <a href="" class="btn-v2 btn-v2_red"><span>분석의뢰</span></a>
            <a href="" class="btn-v2"><span>PDF 다운</span></a>
        </div>
    </div>
</div>
<div class="detail">
    <div class="tab-v2" data-tab="true">
        <ul class="tab-v2__list tab-v2__list_w380 tab-v2__list_m-list">
            <li class="tab-v2__item is-active"><a href="#tab1" class="tab-v2__link" data-title="상세정보">상세정보</a></li>
            <li class="tab-v2__item"><a href="#tab2" class="tab-v2__link" data-title="예약현황">예약현황</a></li>
        </ul>
    </div><!-- //tab-v2 -->

    <div class="tab-content is-active" id="tab1">
        <div class="detail__section">
            <p class="para-v2">Carbon, hydrogen, nitrogen, oxygen and sulfur are the basic elements of living nature. Their quantitative determination within the most versatile combine ation sand substances is the origin and essence of the CHONS analyzer. Through quantitative high temperature decomposition, solid or liquid substances are changed into gaseous combinations. The gas mixture is cleaned and separated into its components and through efficient detectors determined with a precisions and accuracy of up to 0.1% relative.</p>
        </div>
        <div class="detail__section detail__section-wrap">
            <div class="detail__item">
                <h3 class="tit-v1">Specifications</h3>
                <ul class="detail__item-list">
                    <li><p class="para-v2 para-v2_dot">Accelerating voltage : 0.2 ~ 30 kV</p></li>
                    <li><p class="para-v2 para-v2_dot">Image resolution : 1.0 nm</p></li>
                    <li><p class="para-v2 para-v2_dot">Magnification : 25 ~ 1,000,000 X</p></li>
                    <li><p class="para-v2 para-v2_dot">GSED (Gas Secondary Electron Detector)</p></li>
                    <li><p class="para-v2 para-v2_dot">TLD (Through the Lens Detector)</p></li>
                </ul>
            </div>
            <div class="detail__item">
                <h3 class="tit-v1">Applications</h3>
                <ul class="detail__item-list">
                    <li><p class="para-v2 para-v2_dot">STEM (Scanning Transmission Electron Microscopy) image</p></li>
                    <li><p class="para-v2 para-v2_dot">Low voltage image</p></li>
                </ul>
            </div>
        </div>
        <div class="detail__section">
            <div class="examples">
                <h3 class="tit-v1">Application examples</h3>
                <div class="examples__box">
                    <h4 class="tit-v2">Low voltage HR image</h4>
                    <ul class="examples__box-list">
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples1.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">10kV</span>
                        </li>
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples2.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">0.7kV</span>
                        </li>
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples3.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">0.5kV</span>
                        </li>
                    </ul>
                </div>
                <div class="examples__box">
                    <h4 class="tit-v2">STEM image</h4>
                    <ul class="examples__box-list">
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples4.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">STEM BF</span>
                        </li>
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples5.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">STEM DF</span>
                        </li>
                        <li class="examples__box-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples6.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt">STEM SE</span>
                        </li>
                    </ul>
                </div>
                <div class="examples__box examples__box_v2" data-txt="FIB sample of pearlescent pigment">
                    <h4 class="tit-v2">SE & STEM image</h4>
                    <ul class="examples__box-list examples__box_v2-list">
                        <li class="examples__box-item examples__box_v2-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples7.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt examples__box_v2-txt">SE</span>
                        </li>
                        <li class="examples__box-item examples__box_v2-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples8.jpg" alt="" class="examples__box-img"></span>
                            <span class="examples__box-txt examples__box_v2-txt">STEM</span>
                        </li>
                    </ul>
                </div>
                <div class="examples__box examples__box_v2" data-txt="Ni-Cr electrode layer">
                    <h4 class="tit-v2">High voltage HR image</h4>
                    <ul class="examples__box-list examples__box_v2-list">
                        <li class="examples__box-item examples__box_v2-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples9.jpg" alt="" class="examples__box-img"></span>
                        </li>
                        <li class="examples__box-item examples__box_v2-item">
                            <span class="examples__box-img-wrap"><img src="../../images/machine/app-examples10.jpg" alt="" class="examples__box-img"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content" id="tab2">
        <div id="calendar" class="calendar">

        </div>
        <div class="calendar-summary">
            <span class="calendar-summary__item calendar-summary__item-reserve">예약가능</span>
            <span class="calendar-summary__item calendar-summary__item-reserve-full">예약불가</span>
        </div>
        <div class="calendar-detail">
            <div class="calendar-detail__box">
                <div class="calendar-detail__item">
                    <h4 class="calendar-detail__tit calendar-detail__m-tit calendar-detail__m-hide">장비명</h4>
                    <p class="calendar-detail__name" id="machineName" data-title="장비명">DIGISTAR P1000: ASTAR & Topspin X선 회절기</p>
                </div>
                <div class="calendar-detail__item">
                    <h4 class="calendar-detail__tit calendar-detail__m-tit calendar-detail__m-hide">예약날짜</h4>
                    <p class="calendar-detail__date" id="currentDate" data-title="예약날짜"></p>
                </div>
                <div class="calendar-detail__item">
                    <h4 class="calendar-detail__tit calendar-detail__m-tit">예약시간<span class="calendar-detail__tit-info calendar-detail__m-tit-info">원하는 시간대를 선택해 주세요.</span></h4>
                    <div class="calendar-detail__time-wrap">
                        <div class="calendar-detail__select">
                            <select name="" id="">
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                            </select>
                        </div>
                        <div class="calendar-detail__select">
                            <select name="" id="">
                                <option value="09:00">09:00</option>
                                <option value="09:30">09:30</option>
                                <option value="10:00">10:00</option>
                                <option value="10:30">10:30</option>
                                <option value="11:00">11:00</option>
                                <option value="11:30">11:30</option>
                                <option value="12:00">12:00</option>
                                <option value="13:00">13:00</option>
                                <option value="13:30">13:30</option>
                                <option value="14:00">14:00</option>
                                <option value="14:30">14:30</option>
                                <option value="15:00">15:00</option>
                                <option value="15:30">15:30</option>
                                <option value="16:00">16:00</option>
                                <option value="16:30">16:30</option>
                                <option value="17:00">17:00</option>
                                <option value="17:30">17:30</option>
                                <option value="18:00">18:00</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="calendar-detail__item">
                    <h4 class="calendar-detail__tit" data-title="예약완료" id="reserveFull">예약현황</h4>
                    <ul class="calendar-detail__list" id="reserveState">
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">09:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">09:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">10:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">10:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">11:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">11:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">13:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">13:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">14:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">14:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve">예약가능</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">15:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">15:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">16:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">16:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">17:00</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                        <li class="calendar-detail__list-item">
                            <span class="calendar-detail__list-time"><em class="start">17:30</em></span>
                            <span class="calendar-detail__list-reserve"><em class="reserve-full">예약불가</em></span>
                        </li>
                    </ul>
                </div>
                <div class="calendar-detail__item">
                    <p class="txt-warn"><i class="txt-warn__icon"></i>운영 및 예약 시간 안내</p>
                    <p class="desc">오전 09:00 ~ 12:00 오후 13:00 ~ 18:00 예약자가 있는 시간대는 예약불가입니다.</p>
                </div>
            </div>
            <div class="btn-wrap"><button type="button" class="btn-v3 btn-v3_red" title="분석의뢰"><span>분석의뢰</span></button></div>
        </div>
    </div>
</div>
<div class="btn-wrap center">
    <a href="machine_01_list.html" class="btn-v3 btn-v3_w210" title="목록으로 가기"><span>목록</span></a>
</div>

<link rel="stylesheet" href="../../css/libs/calendar/fullcalendar.css">
<script src="../../js/libs/calendar/moment.min.js"></script>
<script src="../../js/libs/calendar/fullcalendar.min.js"></script>
<script src="../../js/libs/calendar/locale-all.js"></script>
<script type="text/javascript">
    //달력
    $(document).ready(function(){
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        var calendar = $('#calendar').fullCalendar({
            locale: 'en',
            height: 'auto',
            header: {
                left: 'today',
                center: 'prev title next',
                right: ''
            },
            titleFormat:'YYYY.MM',
            editable: false,
            navLinks: false, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            timezone:false,
//            timeFormat: 'H:mm',
            displayEventEnd: true,
            allDayDefault: true,

            events: [
                {
                    machine: 'DIGISTAR P1000: ASTAR & Topspin',
                    start: '2018-01-26',
                    reserve: '예약불가',
                    childern: [
                        {
                            start: '09:00',
                            end: '09:30',
                            reserve: '예약가능'
                        },
                        {
                            start: '09:30',
                            end: '10:00',
                            reserve: '예약가능'
                        },
                        {
                            start: '10:00',
                            end: '10:30',
                            reserve: '예약가능'
                        }
                        // ...
                        ,
                        {
                            start: '17:30',
                            end: '18:00',
                            reserve: '예약불가'
                        }
                    ]
                },
                {
                    machine: 'DIGISTAR P1000: ASTAR & Topspin',
                    start: '2018-01-29',
                    reserve: '예약가능',
                    childern: [
                        {
                            start: '09:00',
                            end: '09:30',
                            reserve: '예약가능'
                        },
                        {
                            start: '09:30',
                            end: '10:00',
                            reserve: '예약가능'
                        },
                        {
                            start: '10:00',
                            end: '10:30',
                            reserve: '예약가능'
                        }
                        // ...
                        ,
                        {
                            start: '17:30',
                            end: '18:00',
                            reserve: '예약불가'
                        }
                    ]
                }
            ],
            eventRender: function(event, element) {
                var start = moment(event.start).format('YYYY.MM.DD');
                var today = moment().format("YYYY.MM.DD");
                if(start < today){
                    element.addClass('fc-disabled');
                }
                var reserve = event.reserve;
                // var reserveCnt = 0;
                var reserveTagEl = '';
                if(reserve){
                    // reserveCnt = reserve.length;
                    if(reserve=='예약불가'){
                        reserveTagEl = '<div class="reserve-tag reserve-tag_full"><span>'+reserve+'</span></div>'
                    } else {
                        reserveTagEl = '<div class="reserve-tag"><span>'+reserve+'</span></div>'
                    }
                }
                element.append(reserveTagEl);
                $('#currentDate').text(today);        // 예약날짜
            },
            eventAfterAllRender: function(event, view){
            },
            eventClick: function(calEvent, jsEvent, view) {
                var startDate=moment(calEvent.start).format('YYYY.MM.DD');
                var today = moment().format("YYYY.MM.DD");
                if(startDate < today)
                {
                    console.log('지난예약');
                }
                else
                {
                    $('#reserveFull').attr('data-title', '');
//                    $('#machineName').text(calEvent.machine); // 장비명
                    $('#currentDate').text(startDate);        // 예약날짜
                    // 예약현황
//                    var $reserveList = $('#reserveState');
//                    $reserveList.empty();
//                    if(calEvent.childern){
//                        var reserveItem = '';
//                        calEvent.childern.forEach(function(item,idx){
//                            reserveItem = '<li class="calendar-detail__list-item">';
//                            reserveItem += '<span class="calendar-detail__list-time"><em class="start">'+item.start+'</em> ~ <em class="end">'+item.end+'</em></span>';
//                            reserveItem += ' <span class="calendar-detail__list-reserve"><em class="reserve-full">['+item.reserve+']</em></span>';
//                            reserveItem += '</li>';
//                            $reserveList.append(reserveItem);
//                        });
//                    }
                    if(calEvent.title){
                        $('#reserveFull').attr('data-title', calEvent.title);
                    }
                    // 예약현황 end
                }
            }
        });
    });
</script>