<%
    page = "machine"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-search-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">게시판 검색</legend>
            <select name="" id="" class="board-search-v1__select">
                <option value="분류명" selected>분류명</option>
                <option value="장비명">장비명</option>
            </select>
            <i class="bar"></i>
            <input type="text" name=""  class="board-search-v1__input" title="검색어를 입력해주세요." placeholder="찾으시는 특성분석센터 장비를 입력해주세요."><input type="image" src="../../images/icon/icon-search3-r.png" alt="검색" class="board-search-v1__submit">
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->

<div class="board-filter-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">Board Filter</legend>
            <label class="radio-set-v2"><input type="radio" name="filter-group" class="radio-set-v2__input" data-filter="filter-name" checked><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">분류순</span></label>
            <label class="radio-set-v2 radio-set-v2_next"><input type="radio" name="filter-group" class="radio-set-v2__input" data-filter="filter-name"><i class="radio-set-v2__ico"></i><span class="radio-set-v2__txt">장비명순</span></label>
            <label class="radio-set-v1"><input type="radio" name="filter-name" class="radio-set-v1__input" disabled><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">장비명(A-Z)</span></label>
            <label class="radio-set-v1"><input type="radio" name="filter-name" class="radio-set-v1__input" disabled><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">장비명(ㄱ-ㅎ)</span></label>
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->
<ul class="board-list-v3">
    <li class="board-list-v3__row only-pc">
        <div class="board-list-v3__th border-col__1 board-list-v3__m-hide">상위분류(명)</div>
        <div class="board-list-v3__th border-col__2">분류</div>
        <div class="board-list-v3__th border-col__3"></div>
        <div class="board-list-v3__th border-col__4">장비명</div>
        <div class="board-list-v3__th border-col__5 board-list-v3__m-hide">장소</div>
        <div class="board-list-v3__th border-col__6 board-list-v3__m-hide">연락처</div>
        <div class="board-list-v3__th border-col__7">상태</div>
        <div class="board-list-v3__th border-col__8">분석의뢰</div>
    </li>
    <% for (var i=0; i<10; i++) { %>
    <li class="board-list-v3__row board-list-v3__m-block">
        <div class="board-list-v3__td board-list-v3__m-hide"><a href="machine_01_view.html" class="board-list-v3__link">A분석실</a></div>
        <div class="board-list-v3__td board-list-v3__m-th board-list-v3__m-align-left"><a href="machine_01_view.html" class="board-list-v3__link">AAS,DMA,UV/VIS?NIR spectrometer</a></div>
        <div class="board-list-v3__td board-list-v3__m-td board-list-v3__m-left"><a href="machine_01_view.html" class="board-list-v3__link"><span class="board-list-v3__img"><img src="../../images/sample/sample-machine@86x60.gif.jpg" alt="" class="board-list-v3__m-block"></span></a></div>
        <div class="board-list-v3__td board-list-v3__td_align-left board-list-v3__td_wrap"><a href="machine_01_view.html" class="board-list-v3__link">Q-TOF LC/MS/MS (초고성능액체크로마토그래프-고분해능 질량분석기)</a></div>
        <div class="board-list-v3__td board-list-v3__m-hide"><a href="machine_01_view.html" class="board-list-v3__link">L2실</a></div>
        <div class="board-list-v3__td board-list-v3__m-hide"><a href="machine_01_view.html" class="board-list-v3__link">02-958-5959</a></div>
        <% if(i%2 > 0){ %>
        <div class="board-list-v3__td board-list-v3__m-td board-list-v3__m-left"><span class="type-v1"><em>수 리 중</em></span></div>
        <div class="board-list-v3__td board-list-v3__m-td board-list-v3__m-align-right"></div>
        <% } else { %>
        <div class="board-list-v3__td board-list-v3__m-td board-list-v3__m-left"><span class="type-v1 type-v1__red"><em>정상운행</em></span></div>
        <div class="board-list-v3__td board-list-v3__m-td board-list-v3__m-align-right"><a href="../work/work_02.html" class="btn-v1 btn-v1_line gray btn-v1_w110"><span>분석의뢰</span></a></div>
        <% } %>
    </li>
    <% } %>

</ul><!-- //board-magazine-v1 -->
<% include ../_inc/_pagination1 %>
<script src="../../js/filter.js"></script>