<%
	var data = jsonData
%><!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<title>KIST 특성분석센터</title>
<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery-ui.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="../../js/libs/nice-select/nice-select.js"></script>
<script type="text/javascript" src="../../js/common.js"></script>

<link rel="stylesheet" href="../../css/libs/jquery-ui.css">
<link rel="stylesheet" href="../../css/common.css">
<link rel="stylesheet" href="../../css/<%= page %>.css">
<meta name="description" content="KIST 특성분석센터">

</head>
<body class="<%= page %>">
<div class="skip">
	<a href="#content">본문 바로가기</a>
</div><!-- //skip -->
<div class="band-banner js-band-banner-body" style="background-color:#182136;">
	<div class="band-banner__inner">
		<div class="js-band-slider">
			<div>
				<div class="band-banner__item" style="background-image:url(../../images/sample/banner-1240x70-1.jpg);">
					<a href="" class="band-banner__link"><img src="../../images/sample/banner-640x120-1.png" alt="연구장비 공동활용 지원사업안내" class="only-mo"></a>
				</div>
				<div class="band-banner__btn only-pc">
					<form method="post" action="" name="">
						<span id="check">
							<label for="chkday"><input type="checkbox" value="checkbox" name="chkbox" id="chkday">1일간 열지 않음</label>
						</span>
					</form>
				</div>
			</div>
		</div>
		<span class="close js-band-banner-btn">팝업 닫기</span>
	</div>
</div>
<div class="wrapper">
    <% if (page != "etc") { %>
	<div class="wrapper__row">
		<% include ../_inc/_header %>
	</div>
    <% } %>
	<div class="wrapper__row type-full-height">
		<div class="content" id="content">
			<% if (page == "main") { %>
				<%- body  %>
			<% } else if(page == "etc") {%>
			<div class="content__header">
				<h1 class="content__tit"><%= title %></h1>
			</div>
			<div class="content__body">
                <%- body  %>
			</div>
            <% } else { %>
			<div class="page-visual">
				<% if(pageSlide > 1){ %><img src="../../images/common/img-resizer.png" alt="" class="page-visual__img-resizer only-pc"><% } %>
				<div class="page-visual__slider">
					<% for (var i=1; i<=pageSlide; i++) { %>
					<div class="page-visual__slide-item nth-<%= i %>"></div>
					<% } %>
				</div>
				<div class="page-visual__tit"><span class="page-visual__tit-sub" data-page="<%= data.pages[page].title.kor %>"></span><br><span class="page-visual__tit-common"><strong>Your Success Story</strong> with AAC</span></div>
			</div><!-- //page-visual -->
			<div class="content__header">
				<div class="location-nav">
					<div class="location-nav__item home">
						<a href="../main/main.html" class="location-nav__link">홈으로</a>
					</div>
					<div class="location-nav__item depth1">
						<a href="#this" class="location-nav__link"><%= data.pages[page].title.kor %></a>
						<ul class="location-nav__depth1-list">
                            <%
							for (var depth1 in data.pages) {
								var i = Object.keys(data.pages).indexOf(depth1);
                            %>
							<% if(data.pages[depth1].title.eng != "etc"){ %>
							<li class="location-nav__depth1-item nth-<%= i+1 %>"><a href="<%= data.pages[depth1].links %>" class="location-nav__depth1-link"><%= data.pages[depth1].title.kor %></a></li>
                            <% } %>
                            <% } %>
						</ul>
					</div>
					<div class="location-nav__item depth2">
						<a href="#this" class="location-nav__link"><%= title %></a>
                        <% if (data.pages[page].children) {%>
						<ul class="location-nav__depth2-list <%= depth1 %>">
                            <% data.pages[page].children.forEach(function(depth2,idx) { %>
							<li class="location-nav__depth2-item nth-<%= idx+1 %>"><a href="<%= depth2.links[0] %>" class="location-nav__depth2-link"><%= depth2.title %></a></li>
                            <% }) %>
						</ul>
                        <% } %>
					</div>
				</div>
				<h1 class="content__tit"><%= title %></h1>
			</div>
			<div class="content__body">
			<%- body  %>
			</div>
			<% } %>
		</div><!-- //content -->
	</div>
    <% if (page != "etc") { %>
	<div class="wrapper__row">
		<% include ../_inc/_footer %>
	</div>
	<% } %>
</div><!-- //wrapper -->
</body>
</html>
