<%
    page = "member"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1 find-tab" data-tab="true">
    <ul class="tab-v1__list tab-v1__list_w380 tab-v1__list_m-list">
        <li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="아이디 찾기">아이디 찾기</a></li>
        <li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="비밀번호 찾기">비밀번호 찾기</a></li>
    </ul>
</div><!-- //tab-v1 -->
<div class="form-member">
    <div class="form-member__half-wrap">
        <div class="tab-content is-active" id="tab1">
            <form action="" class="form-member__form">
                <fieldset>
                    <legend>한국과학기술연구원 특성분석센터 아이디</legend>
                    <h2 class="form-member__tit">아이디 찾기</h2>
                    <div class="form-box">
                        <input type="text" class="form-member__input" id="id-name" placeholder="이름 입력" title="이름 입력란" />
                        <input type="password" class="form-member__input" id="id-email" placeholder="이메일 입력" title="이메일 입력란" />
                    </div>
                    <button type="button" class="form-member__btn-signin form-member__btn-signin_bottom"><span>아이디 찾기</span></button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="form-member__half-wrap">
        <div class="tab-content" id="tab2">
            <form action="" class="form-member__form">
                <fieldset>
                    <legend>한국과학기술연구원 특성분석센터 비밀번호 찾기</legend>
                    <h2 class="form-member__tit">비밀번호 찾기</h2>
                    <div class="form-box">
                        <input type="text" class="form-member__input" id="pw-id" placeholder="아이디 입력" title="아이디 입력란" />
                        <input type="text" class="form-member__input" id="pw-name" placeholder="이름 입력" title="이름 입력란" />
                        <input type="password" class="form-member__input" id="pw-email" placeholder="이메일 입력" title="이메일 입력란" />
                    </div>
                    <button type="button" class="form-member__btn-signin"><span>비밀번호 찾기</span></button>
                </fieldset>
            </form>
        </div>
    </div>
</div>