<%
    page = "member"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="agree-article">
    <p class="agree-article__tit">개인정보 수집 동의</p>
    <div class="agree-article__box">
        <div class="agree-article__inner">
            <p>특성분석센터 개인정보 보호 정책</p>
            <p>※ 총 칙</p>
            <p>1. 특성분석센터는 ‘정보통신망이용촉진및정보보호등에관한법률’상의 개인정보보호 규정과 정보통신부가 제정한 ‘개인정보보호지침’ 및 ‘개인정보의 기술적/관리적 보호조치 기준’을 준수하고 있습니다.<br>
                또한 특성분석센터는 ‘개인정보보호정책’을 제정하여 회원들의 개인정보 보호를 위해 최선을 다하겠음을 선언합니다.</p>
            <p>2. 특성분석센터의 ‘개인정보보호정책’은 관련 법률 및 정부 지침의 변경과 특성분석센터의 내부 방침 변경에 의해 변경될 수 있습니다.<br>
                특성분석센터이의 ‘개인정보보호방침’이 변경될 경우 변경사항은 특성분석센터 홈페이지의 공지사항에 최소 7일간 게시됩니다.</p>
        </div>
    </div>
    <label class="agree-checkbox-v1 agree-checkbox-v1__right">
        <input type="checkbox" name="chk" id="chk" class="agree-checkbox-v1__input"><i class="agree-checkbox-v1__ico"></i> 개인정보 수집에 동의합니다
    </label>
</div><!-- //agree-article -->

<div class="sign-up">
    <div class="table-row-v1-header">
        <p class="para-v1 para-v1_fl-right"><span class="color-red">*</span> 필수입력항목</p>
        <h3 class="table-row-v1-header__tit">기본정보</h3>
    </div>
    <table class="table-row-v1 join-table" summary="">
        <colgroup>
            <col class="join-table__th">
            <col class="join-table__td">
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">아이디<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <span class="input-v1__btn-set input-v1__btn-set_w455">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="아이디(필수)">
                    <a href="#" class="btn-v4 btn-v4_w150 btn-v4_m-w87 input-v1__btn"><span>중복확인</span></a>
                </span>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">비밀번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="password" name="" class="input-v1 input-v1_w295" title="비밀번호(필수)">
                    <span class="form-info-v1">영문+숫자+특수문자 조합 8자이상</span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">비밀번호 확인<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="password" name="" class="input-v1 input-v1_w295" title="비밀번호 확인(필수)">
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이름<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="이름(필수)">
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">구분<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="select-set-v1 select-set-v1_w295 select-set-v1_m-full">
                        <select name="" id="" class="select-set-v1__select" title="사업자 또는 개인(계산서 미발급)선택">
                            <option value="">사업자</option>
                            <option value="">개인(계산서 미발급)</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <!-- 구분:개인 선택시 숨김영역 start -->
        <tr>
            <th class="table-row-v1__th">소속기관<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <span class="input-v1__btn-set input-v1__btn-set_w405">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="소속기관(필수)" disabled>
                    <!--<button type="button" class="btn-v4 btn-v4_w100 btn-v4_m-w77 input-v1__btn" id="organ" data-target="organ-form">검색</button>-->
                    <button type="button" class="btn-v4 btn-v4_w100 btn-v4_m-w77 input-v1__btn" onclick="windowOpen('popup/find-organ.html','1257','800');">검색</button>
                </span>
                <span class="form-info-v1 form-info-v1--black">소속기관 검색을 해주세요.</span>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속기관 대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="소속기관 대표자(필수)" disabled><!--// 20180316-->
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속<br class="only-pc">(부서명or연구실명)<span class="required-v1">(필수)</span></th><!--// 20180316-->
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="소속(필수)" disabled>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">책임자<br class="only-pc">(부서팀장or<br class="only-pc">연구실 교수명)<span class="required-v1">(필수)</span></th><!--// 20180316-->
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="책임자(필수)" disabled>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">직위<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="직위(필수)">
                </div>
            </td>
        </tr>
        <!-- 구분:개인 선택시 숨김영역 end -->
        <tr>
            <th class="table-row-v1__th">주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box form-box__addr">
                    <div class="form-box__item form-box__item_addr form-box__item_addr_v2">
                        <div class="input-v1__btn-set">
                            <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호1(필수)" disabled>
                                </div>
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호2(필수)" disabled>
                                </div>
                            </div>
                            <a href="#" class="btn-v4 input-v1__btn btn-v4_m-w77"><span>우편번호</span></a>
                        </div>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" value="" title="주소1(필수)" disabled>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" value="" title="주소2(필수)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">전화번호</th>
            <td class="table-row-v1__td">
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(선택)">
                                <option value="">선택</option>
                                <option value="02">02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="033">033</option>
                                <option value="041">041</option>
                                <option value="042">042</option>
                                <option value="043">043</option>
                                <option value="051">051</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                                <option value="061">061</option>
                                <option value="062">062</option>
                                <option value="063">063</option>
                                <option value="064">064</option>
                                <option value="070">070</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" title="전화번호(선택)"></div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" title="전화번호(선택)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">휴대폰<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="휴대폰번호(필수)">
                                <option value="">선택</option>
                                <option value="02">010</option>
                                <option value="031">011</option>
                                <option value="032">016</option>
                                <option value="033">017</option>
                                <option value="041">018</option>
                                <option value="042">019</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" title="휴대폰번호(필수)"></div>
                    <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v1" title="휴대폰번호(필수)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295" title="이메일(필수)">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="board-btn-wrap board-btn-wrap_next">
        <a href="#" class="btn-v3 btn-v3_w210"><span>등록</span></a>
        <a href="#" class="btn-v5"><span>취소</span></a>
    </div>
</div>

<!--
 레이어팝업::기관검색
<div id="organ-form" class="modal organ">
    <div class="modal__header modal__header_fixed">
        <a class="modal__close">닫기</a>
        <h1 class="modal__title">기관검색</h1>
    </div>
    <div class="modal__content">
        <table class="table-row-v1 organ-table">
            <colgroup>
                <col class="organ-table__th">
                <col>
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v1__th">사업자등록번호</th>
                <td class="table-row-v1__td">
                    <div class="input-set-v1">
                        <div class="input-set-v1__item">
                            <input type="text" name="" class="input-v1" placeholder="숫자만 입력" title="사업자등록번호">
                        </div>
                        <div class="input-set-v1__item">
                            <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>검색</span></a>
                        </div>
                        <div class="input-set-v1__item">
                            <a href="#" class="btn-v4 btn-v4_w85"><span>기관추가</span></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">검색결과</h3>
        </div>
        <table class="table-col-v4 organ-list-table">
            <colgroup>
                <col class="organ-list-table__col1">
                <col class="organ-list-table__col2">
                <col class="organ-list-table__col3">
                <col class="organ-list-table__col4">
                <col class="organ-list-table__col5">
            </colgroup>
            <thead>
            <tr>
                <th class="table-col-v4__th">기관명(법인명)</th>
                <th class="table-col-v4__th">사업자등록번호</th>
                <th class="table-col-v4__th">대표자</th>
                <th class="table-col-v4__th">소속</th>
                <th class="table-col-v4__th">책임자</th>
            </tr>
            </thead>
        </table>&lt;!&ndash; //table-col-v4 &ndash;&gt;
        <div class="scroll-body-wrap">
            <table class="table-col-v4 organ-list-table table-col-v4_scroll-tbody">
                <colgroup>
                    <col class="organ-list-table__col1">
                    <col class="organ-list-table__col2">
                    <col class="organ-list-table__col3">
                    <col class="organ-list-table__col4">
                    <col class="organ-list-table__col5">
                </colgroup>
                <tbody>
                <% for(var i=0; i<2; i++){ %>
                <tr>
                    <td class="table-col-v4__td"></td>
                    <td class="table-col-v4__td"></td>
                    <td class="table-col-v4__td"></td>
                    <td class="table-col-v4__td"></td>
                    <td class="table-col-v4__td"></td>
                </tr>
                <% } %>
                </tbody>
            </table>&lt;!&ndash; //table-col-v4 &ndash;&gt;
        </div>&lt;!&ndash; //scroll-body-wrap &ndash;&gt;

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">검색 상세결과</h3>
        </div>
        <table class="table-row-v2 organ-table">
            <colgroup>
                <col class="organ-table__th">
                <col class="organ-table__td">
                <col class="organ-table__th">
                <col class="organ-table__td">
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v2__th">기관분류<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="기관분류(필수)" disabled>
                    </div>
                </td>
                <th class="table-row-v2__th">기관명(법인명)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="기관명(법인명)(필수)" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록번호<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="tel-set-v1">
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" disabled></div>
                    </div>
                </td>
                <th class="table-row-v2__th">대표자<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="대표자(필수)" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자주소<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td" colspan="3">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="사업자주소(필수)" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">업태</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="업태(선택)" disabled>
                    </div>
                </td>
                <th class="table-row-v2__th">종목</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="종목(선택)" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록증</th>
                <td class="table-row-v2__td" colspan="3">
                    <div class="form-box">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal__footer">
        <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>선택</span></a>
    </div>
</div>
<link rel="stylesheet" href="../../css/modal.css">
<script src="../../js/libs/TweenLite.js"></script>
<script src="../../js/libs/modal.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function () {
        Modal.init(document.getElementById('organ-form'),{
            startY : 50,
            endY : 0
        });
    });
</script>-->
