<%
    page = "member"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="form-member">
    <form action="" class="form-member__form">
        <fieldset>
            <legend>한국과학기술연구원 특성분석센터 로그인</legend>
            <div class="form-box">
                <input type="text" class="form-member__input" id="login-id" placeholder="아이디 입력" title="아이디 입력란" />
                <input type="password" class="form-member__input" id="login-pw" placeholder="비밀번호 입력" title="비밀번호 입력란" />
            </div>
            <button type="button" class="form-member__btn-signin"><span>로그인</span></button>

            <div class="form-member__btns">
                <a href="" class="form-member__btn">회원가입하기</a>
                <a href="" class="form-member__btn">아이디&#47;비밀번호 찾기</a>
            </div>
            <p class="para-v1">로그인하시면 특성분석센터 서비스를 이용 하실 수 있습니다.</p>
        </fieldset>
    </form>
</div>