<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no, address=no, email=no">
    <title>KIST 한국과학기술연구원 특성분석센터</title>

    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/popup.css">
    <link rel="stylesheet" href="../../../css/member.css">
    <meta name="description" content="KIST 한국과학기술연구원 특성분석센터">
</head>
<body>
<div id="organ-form" class="modal organ">
    <div class="popup__header popup__header_fixed">
        <a class="popup__close" onclick="self.close();">닫기</a>
        <h1 class="popup__title">기관검색</h1>
    </div>
    <div class="popup__content">
        <div class="table-col-v4-header">
            <h3 class="table-col-v4-header__tit">사업자등록번호 또는 기관명 검색</h3>
        </div>
        <table class="table-row-v1">
            <colgroup>
                <col style="width:300px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v1__th">사업자등록번호 or 기관명</th>
                <td class="table-row-v1__td">
                    <div class="input-set-v1">
                        <div class="input-set-v1__item input-set-v1__item_m-block">
                            <input type="text" name="" id="search-query" class="input-v1" value="123-45-17890" placeholder="사업자등록번호을(를) 입력해주세요" title="사업자등록번호" disabled>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">검색결과<span class="table-col-v4-header__info table-col-v4-header__info--m-full">기관명을 선택해 기관정보와 소속정보를 확인해 주세요.</span></h3>
        </div>
        <div class="board-scroll">
            <div class="board-scroll__fade only-mo"></div>
            <div class="board-scroll__x">
                <table class="table-col-v4 organ-list-table">
                    <colgroup>
                        <col class="organ-list-table__col1">
                        <col class="organ-list-table__col2">
                        <col class="organ-list-table__col3">
                        <col class="organ-list-table__col4">
                        <col class="organ-list-table__col5">
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="table-col-v4__th">기관명(법인명)</th>
                        <th class="table-col-v4__th">사업자등록번호</th>
                        <th class="table-col-v4__th">대표자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<5; i++){ %>
                    <tr>
                        <td class="table-col-v4__td"><a href="find-organ_2.html" class="table-col-v4__link">한국과학기술연구원</a></td>
                        <td class="table-col-v4__td">123-125646-1212</td>
                        <td class="table-col-v4__td">홍길동</td>
                        <% if(i===0){ %>
                        <!-- 결과 없을때 -->
                        <!--<td class="table-col-v4__td table-col-v4__td_text-center" colspan="3">조회된 결과가 없습니다.</td>-->
                        <!-- //결과 없을때 -->
                        <% } %>
                    </tr>
                    <% } %>
                    </tbody>
                </table><!-- //table-col-v4 -->
            </div>
            <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
        </div>
        <div class="btn-wrap center">
            <a href="find-organ_기관수정.html" class="btn-v4 btn-v4_w85"><span>기관수정</span></a>
        </div>

        <div class="table-col-v4-header table-col-v4-header_next">
            <h3 class="table-col-v4-header__tit">기관 정보</h3>
        </div>
        <table class="table-row-v2 organ-table">
            <colgroup>
                <col class="organ-table__col-1">
                <col class="organ-table__col-2">
            </colgroup>
            <tbody>
            <tr>
                <th class="table-row-v2__th">기관분류<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box form-box_m-justify">
                        <div class="form-box__item form-box__item_check-list">
                            <label class="radio-set-v1">
                                <input type="radio" name="aa"  class="radio-set-v1__input" title="벤처기업" checked><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">벤처기업</span>
                            </label>
                        </div>
                        <div class="form-box__item form-box__item_check-list">
                            <label class="radio-set-v1">
                                <input type="radio" name="aa"  class="radio-set-v1__input" title="중소기업/중견기업/연구소(민간)"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">중소기업/중견기업/연구소(민간)</span>
                            </label>
                        </div>
                        <div class="form-box__item form-box__item_check-list">
                            <label class="radio-set-v1">
                                <input type="radio" name="aa"  class="radio-set-v1__input" title="공공기관(출연연)"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">공공기관(출연연)</span>
                            </label>
                        </div>
                        <div class="form-box__item form-box__item_check-list">
                            <label class="radio-set-v1">
                                <input type="radio" name="aa"  class="radio-set-v1__input" title="교육기관"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">교육기관</span>
                            </label>
                        </div>
                        <div class="form-box__item form-box__item_check-list">
                            <label class="radio-set-v1">
                                <input type="radio" name="aa"  class="radio-set-v1__input" title="대기업"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">대기업</span>
                            </label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">기관명(법인명)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="기관명(법인명)(필수)" value="한국과학기술연구원" disabled>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록번호<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="tel-set-v1">
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="123" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="45" disabled></div>
                        <div class="tel-set-v1__item"><input type="text" class="tel-set-v1__input input-v3" title="사업자등록번호(필수)" value="17890" disabled></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">대표자<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="대표자(필수)" value="홍길동">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자주소<span class="required-v1">(필수)</span></th>
                <td class="table-row-v2__td">
                    <div class="form-box form-box__addr">
                        <div class="form-box__item form-box__item_addr form-box__item_addr_w100p">
                            <span class="input-v3__btn-set"><input type="text" name="" class="input-v3" title="우편번호(필수)" value="123456" disabled><a href="#" class="input-v3__btn btn-v4 btn-v4_h30"><span>우편번호</span></a></span>
                        </div>
                        <input type="text" name="" class="input-v3 input-v3_w295 input-v3_m-full" title="주소1(필수)" value="서울시 성북구 화랑로 14길 5" disabled>
                        <input type="text" name="" class="input-v3 input-v3_w295 input-v3_m-full" title="주소2(필수)" value="111-111">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">업태</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="업태(선택)" value="농업, 임업 및 어업">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">종목</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v3" title="종목(선택)" value="곡물및기타작물재배">
                    </div>
                </td>
            </tr>
            <tr>
                <th class="table-row-v2__th">사업자등록증</th>
                <td class="table-row-v2__td">
                    <div class="form-box">
                        <!-- 기존에 등록된 사업자등록증이 있을 경우 [보기] 버튼이 보여짐. -->
                        <span><a href="#" class="btn-v4 btn-v4_h30 btn-v4--mb-5"><span>보기</span></a></span>
                        <!-- 기존에 등록된 사업자등록증이 없을 경우 [보기] 버튼 숨김.
                            <span class="hidden"><a href="#" class="btn-v4 btn-v4_h30 btn-v4--mb-5"><span>보기</span></a></span>
                         -->
                        <span class="upload-set-v2 upload-set-v2_w100p">
                            <span class="upload-set-v2__wrap" data-value="찾아보기">
                              <input type="file" name=""  class="upload-set-v2__file upload-hidden" title="첨부파일">
                            </span>
                            <input type="text" name=""  class="input-v3 upload-set-v2__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)" disabled>
                        </span><!-- //upload-set-v1 -->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!--<div class="table-col-v4-header table-col-v4-header_next table-col-v4-header_btn-wrap table-col-v4-header_btn-wrap">
            <h3 class="table-col-v4-header__tit">소속추가</h3>
            <a href="#" class="btn-v4 btn-v4_w85"><span>소속추가</span></a>
        </div>

        <table class="table-row-v1 company-table">
            <colgroup>
                <col class="company-table__th">
                <col class="company-table__td">
                <col class="company-table__th">
                <col class="company-table__td">
            </colgroup>
            <tbody>
            <tr class="company-table__row">
                <th class="table-row-v1__th">소속(팀or실험실)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v1__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v1" title="소속(필수)">
                    </div>
                </td>
                <th class="table-row-v1__th">책임자(담당교수)<span class="required-v1">(필수)</span></th>
                <td class="table-row-v1__td">
                    <div class="form-box">
                        <input type="text" name="" class="input-v1" title="책임자(필수)">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>-->
    </div>
    <div class="popup__footer">
        <a href="#" class="btn-v4 btn-v4_w85 btn-v4_red"><span>저장</span></a>
        <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>취소</span></a>
    </div>
</div>
<script type="text/javascript" src="../../../js/libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#search-type').change(function() {

      $('#search-query').prop('placeholder',$(this).val()+'을(를) 입력해주세요');
    });
  })
  //input:file
  $(document).ready(function () {
    var fileTarget = $('.upload-hidden');
  
    fileTarget.on('change', function () {
      if (window.FileReader) {
        // 파일명 추출
        var filename = $(this)[0].files[0].name;
      } else {
        // Old IE 파일명 추출
        var filename = $(this).val().split('/').pop().split('\\').pop();
      }
      ;
  
      $(this).parent().siblings('.upload-name').val(filename);
    });
  
    //preview image
    var imgTarget = $('.upload-hidden');
  
    imgTarget.on('change', function () {
      var parent = $(this).parent().parent();
      parent.children('.upload-display').remove().end().removeClass('upload-set-v2_thumb');
  
      if (window.FileReader) {
        //image 파일만
        if (!$(this)[0].files[0].type.match(/image\//)) return;
  
        var reader = new FileReader();
        reader.onload = function (e) {
          var src = e.target.result;
          parent.prepend('<span class="upload-display"><img src="' + src + '" class="upload-thumb"></span>').addClass('upload-set-v2_thumb');
        }
        reader.readAsDataURL($(this)[0].files[0]);
      } else {
        //$(this)[0].select();
        //$(this)[0].blur();
        //var imgSrc = document.selection.createRange().text;
        //parent.prepend('<span class="upload-display"><img class="upload-thumb"></span>').addClass('upload-set-v2_thumb');
  
        //var img = $(this).parent().siblings('.upload-display').find('img');
        //img[0].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enable='true',sizingMethod='scale',src=\"" + imgSrc + "\")";
      }
    });
  
  });
</script>
</body>