<%
page = "privacy"
sub = 0
title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="privacy">
    <h2 class="privacy__desc">한국과학기술연구원은 개인정보보호법 등 관련법령에 따라 개인정보 보호 및 권익보호를 위해 개인정보 보호규정을 준수하며, 개인정보처리방침은 아래와 같습니다.</h2>
    <div class="privacy__section">
        <h3 class="privacy__tit">개인정보의 처리 목적, 개인정보의 처리 · 보유기간, 처리하는 개인정보의 항목</h3>
        <div class="board-scroll">
            <div class="board-scroll__fade only-mo"></div>
            <div class="board-scroll__x">
                <table class="table-col-v4">
                    <colgroup>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="table-col-v4__th">수집하는 개인정보 항목</th>
                        <th class="table-col-v4__th">개인정보 처리 목적</th>
                        <th class="table-col-v4__th">개인정보 처리, 보유기간</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="table-col-v4__td">이름, 주소, 소속, 전화번호, 팩스번호, 휴대폰번호, 이메일</td>
                        <td class="table-col-v4__td">분석내용 확인 및 결과 통보</td>
                        <td class="table-col-v4__td">회원탈퇴시까지</td>
                    </tr>
                    </tbody>
                </table><!-- //table-col-v4 -->
            </div>
            <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
        </div>
    </div>
    <div class="privacy__section">
        <h3 class="privacy__tit">개인정보의 제3자 제공</h3>
        <div class="privacy__txt-wrap">
            <p class="para-v1">한국과학기술연구원은 원칙적으로 정보주체의 개인정보를 수집 · 이용 목적으로 명시한 범위 내에서 처리하며, 다음의 경우를 제외하고는 정보주체의 사전 동의 없이는 본래의 목적 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다- 정보주체로부터 별도의 동의를 받는 경우</p>
            <p class="para-v1 para-v1_next">- 법률에 특별한 규정이 있는 경우</p>
            <p class="para-v1">- 정보주체 또는 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우</p>
            <p class="para-v1">- 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아 볼 수 없는 형태로 개인정보를 제공하는 경우</p>
            <p class="para-v1">- 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공하지 아니하면 다른 법률에서 정하 는 소관 업무를 수행할 수 없는 경우로서 보호위원회의 심의 · 의결을 거친 경우</p>
            <p class="para-v1">- 조약, 그 밖의 국제협정의 이행을 위하여 외국정보 또는 국제기구에 제공하기 위하여 필요한 경우</p>
            <p class="para-v1">- 법원의 재판업무 수행을 위하여 필요한 경우</p>
            <p class="para-v1">- 형 및 감호, 보호처분의 집행을 위하여 필요한 경우</p>
        </div>
    </div>
    <div class="privacy__section">
        <h3 class="privacy__tit">개인정보처리 위탁</h3>
        <div class="privacy__txt-wrap">
            <p class="para-v1">한국과학기술연구원은 개인정보의 처리업무를 위탁하는 경우 다음의 내용이 포함된 문서에 의하여 처리하고 있습니다.</p>
            <p class="para-v1 para-v1_next">1. 위탁업무 수행 목적 외 개인정보의 처리 금지에 관한 사항</p>
            <p class="para-v1">2. 개인정보의 관리적 · 기술적 보호조치에 관한 사항</p>
            <p class="para-v1">3. 개인정보의 안전관리에 관한 사항<br>위탁업무의 목적 및 범위, 재위탁 제한에 관한 사항, 개인정보 안전성 확보 조치에 관한 사항, 위탁업무와 관련하여 보유하고 있는 개인정보의 관리현황점검 등 감독에 관한 사항, 수탁자가 준수하여야할 의무를 위반한 경우의 손해배상책임에 관한 사항 또한, 위탁하는 업무의 내용과 개인정보 처리업무를 위탁받아 처리하는 자("수탁자")에 대하여 해당 홈페이지에 공개하고 있습니다</p>
        </div>
        <div class="board-scroll">
            <div class="board-scroll__fade only-mo"></div>
            <div class="board-scroll__x">
                <table class="table-col-v4">
            <colgroup>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th class="table-col-v4__th">담당부서</th>
                <th class="table-col-v4__th">위탁대상자(수탁업체)</th>
                <th class="table-col-v4__th">업무내용</th>
                <th class="table-col-v4__th">위탁정보</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-col-v4__td">특성분석센터</td>
                <td class="table-col-v4__td">한국기술벤처재단</td>
                <td class="table-col-v4__td">분석내용 확인 및 결과 통보</td>
                <td class="table-col-v4__td">분석내용 확인 및 결과 통보</td>
            </tr>
            </tbody>
        </table><!-- //table-col-v4 -->
            </div>
            <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">정보주체 권리 · 의무 및 그 행사방법</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1">개인정보주체는 다음과 같은 권리를 행사 할 수 있으며, 만14세 미만 아동의 법정대리인은 그 아동의 개인정보에 대한 열람, 정정 · 삭제, 처리정지를 요구 할 수 있습니다.또한, 개인정보주체가 개인정보 열람, 정정 · 삭제, 처리정지를 요구한 경우 처리요구를 받은 날로부터 10일 이내에 그 결과를 알려야 하며, 처리요구가 완료되기 전까지는 개인정보의 이용 및 제공을 제한하고 있습니다.개인정보 열람 요구한국과학기술연구원에서 보유하고 있는 개인정보파일은 「개인정보보호법」제35조(개인정보의 열람)에 따라 자신의 개인정보에 대한 열람을 요구할 수 있습니다. 다만, 아래에 해당 하는 경우에는 법 제35조 5항에 의하여 열람을 제한할 수 있습니다.</p>
                <p class="para-v1 para-v1_next">가. 법률에 따라 열람이 금지되거나 제한되는 경우</p>
                <p class="para-v1">나. 다른 사람의 생명 · 신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해 할 우려가 있는 경우</p>
                <p class="para-v1">다. 공공기관이 다음 각 목의 어느 하나에 해당하는 업무를 수행할 때 중대한 지장을 초래하는 경우</p>
                <div class="privacy__txt-indent">
                    <p class="para-v1">1) 조세의 부과 · 징수 또는 환급에 관한 업무</p>
                    <p class="para-v1">2) 「초 · 중등교육법」및「고등교육법」에 따른 각급 학교,「평생교육법」에 따른 평생교육시설, 그 밖의 다른 법률에 따라 설치 된 고등교육기관에서의 성적 평가 또는 입학자 선발에 관한 업무</p>
                    <p class="para-v1">3) 학력 · 기능 및 채용에 관한 시험, 자격 심사에 관한 업무</p>
                    <p class="para-v1">4) 보상금 · 급부금 산정 등에 대하여 진행 중인 평가 또는 판단에 관한 업무</p>
                    <p class="para-v1">5) 다른 법률에 따라 진행 중인 감사 및 조사에 관한 업무</p>
                </div>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1">개인정보 정정 · 삭제 요구한국과학기술연구원이 보유하고 있는 개인정보파일은 「개인정보보호법」제36조(개인정보의 정정 · 삭제)에 따라 정정 · 삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.개인정보 처리정지 요구한국과학기술연구원이 보유하고 있는 개인정보파일은 「개인정보보호법」 제37조(개인정보의 처리정지 등)에 따라 처리정지를 요구할 수 있습니다. 다만, 아래에 해당하는 경우에는 법 제37조 2항에 의하여 처리정지 요구가 거절 될 수 있습니다.</p>
                <p class="para-v1 para-v1_next">1. 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우</p>
                <p class="para-v1">2. 다른 사람의 생명 · 신체를 해할 우려가 있거나 다른 사람의 재산과 그 밖의 이익을 부당하게 침해 할 우려가 있는 경우</p>
                <p class="para-v1">3. 공공기관이 개인정보를 처리하지 아니하면 다른 법률에서 정하는 소관 업무를 수행할 수 없는 경우</p>
                <p class="para-v1">4. 개인정보를 처리하지 아니하면 정보주체와 약정한 서비스를 제공하지 못하는 등 계약의 이행이 곤 란한 경우로서 정보주체가 그 계약의 해지 의사를 명확하게 밝히지 아니한 경우</p>
            </div>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">개인정보 파기절차 및 방법</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1">한국과학기술연구원은 원칙적으로 개인정보의 이용 목적이 만료되면 지체없이 파기합니다.</p>
                <p class="para-v1 para-v1_next para-v1_fc-black">파기절차</p>
                <p class="para-v1">개인정보는 목적 달성 후 즉시 또는 별도의 공간에 옮겨져 내부방침 및 기타 관련법령에 따라 일정기간 저장된 후 파기됩니다. 별도의 공간으로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
                <p class="para-v1 para-v1_next para-v1_fc-black">파기방법</p>
                <p class="para-v1">보유기간이 만료되었거나 개인정보의 처리목적달성, 해당 업무의 폐지 등 그 개인정보가 불필요하게 되었을 때에는 지체없이 파기합니다. 전자적 파일형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
            </div>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">개인정보의 안전성 확보 조치</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보 취급직원의 최소화 및 교육</p>
                <p class="para-v1">개인정보를 취급하는 직원은 반드시 필요한 인원에 한하여 지정 · 관리하고 있으며 취급직원을 대상으로 안전한 관리를 위한 교육을 실시하고 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보에 대한 접근 제한</p>
                <p class="para-v1">개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여 · 변경 · 말소를 통하여 개인정보에 대한 접근통제를 위한 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">접속기록의 보관</p>
                <p class="para-v1">개인정보처리시스템에 접속한 기록(웹 로그, 요약정보 등)을 최소 6개월 이상 보관 · 관리하고 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보의 암호화</p>
                <p class="para-v1">개인정보는 암호화 등을 통해 안전하게 저장 및 관리되고 있습니다. 또한 중요한 데이터는 저장 및 전송 시 암호화하여 사용하는 등의 별도 보안기능을 사용하고 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">보안프로그램 설치 및 주기적 점검 · 갱신</p>
                <p class="para-v1">해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적으로 갱신 · 점검하고 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">비인가자에 대한 출입 통제</p>
                <p class="para-v1">개인정보를 보관하고 있는 개인정보시스템의 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.</p>
            </div>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">권익침해 구제방법</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1">개인정보주체는 개인정보침해로 인한 피해를 구제 받기 위하여 개인정보 분쟁조정위원회, 한국인터넷진흥원 개인정보 침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다.</p>
            </div>
            <div class="privacy__txt-wrap">
                <ul class="privacy__list">
                    <li class="privacy__item">
                        <p class="para-v1 para-v1_fc-black">개인정보 분쟁조정위원회</p>
                        <p class="para-v1">(국번없이) <a href="tel:118" class="privacy__link">118</a> (<a href="privacy.kisa.or.kr" target="_blank" class="privacy__link">privacy.kisa.or.kr</a>)</p>
                    </li>
                    <li class="privacy__item">
                        <p class="para-v1 para-v1_fc-black">개인정보 침해신고센터</p>
                        <p class="para-v1">(국번없이) <a href="tel:118" class="privacy__link">118</a> (<a href="privacy.kisa.or.kr" target="_blank" class="privacy__link">privacy.kisa.or.kr</a>)</p>
                    </li>
                    <li class="privacy__item">
                        <p class="para-v1 para-v1_fc-black">대검찰청 사이버범죄수사단</p>
                        <p class="para-v1"><a href="tel:02-3480-3571" class="privacy__link">02-3480-3571</a> (<a href="mailto:cybercid@spo.go.kr" class="privacy__link">cybercid@spo.go.kr</a>)</p>
                    </li>
                    <li class="privacy__item">
                        <p class="para-v1 para-v1_fc-black">경찰청 사이버테러대응센터</p>
                        <p class="para-v1"><a href="tel:1566-0112" class="privacy__link">1566-0112</a> (<a href="www.netan.go.kr" target="_blank" class="privacy__link">www.netan.go.kr</a>)</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">개인정보보호 책임자 및 담당자 연락처</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보 보호책임자 : <span class="para-v1_fc-gray">경영관리실장 남동우</span></p>
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보 보호담당자 : <span class="para-v1_fc-gray">인사경영팀장 방성욱</span></p>
                <p class="para-v1 para-v1_next para-v1_fc-black">개인정보취급자</p>
                <p class="para-v1">
                    부서명 : 특성분석센터<br>
                    담당자 : 차주환<br>
                    연락처 : <a href="tel:02-958-5959" class="privacy__link">1566-0112</a> / <a href="mailto:jhcha@kist.re.kr" class="privacy__link">jhcha@kist.re.kr</a> / Fax.02-958-5969
                </p>
            </div>
        </div>
        <div class="privacy__section">
            <h3 class="privacy__tit">개인정보처리방침의 변경</h3>
            <div class="privacy__txt-wrap">
                <p class="para-v1">이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 가능한 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.단, 분야별로 관리되는 개인정보파일 수량 및 개인정보 보호책임자 변경 시는 고지를 생략합니다.</p>
            </div>
        </div>
    </div>
</div>



















