<%
    page = "educate"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1" data-tab="true">
    <ul class="tab-v1__list">
        <li class="tab-v1__item is-active"><a href="#tab1" class="tab-v1__link" data-title="정기교육">정기교육</a></li>
        <li class="tab-v1__item"><a href="#tab2" class="tab-v1__link" data-title="세미나">세미나&amp;워크샵</a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="board-top-v1">
    <div class="board-top-v1__aligner board-top-v1__aligner_left">
        <p class="board-top-v1__item">총 <span class="board-top-v1__cnt">56</span>건</p>
    </div>
    <div class="board-top-v1__aligner board-top-v1__aligner_right">
        <a href="educate_01_view.html" class="btn-v3 btn-v3_icon"><span>교육일정표</span><i class="btn-v3__download-gray"></i></a>
    </div>
</div>
<div class="educate-board">
    <div class="educate-board__thead educate-board__m-hide">
        <div class="educate-board__row">
            <div class="educate-board__th educate-board__th_nth1">접수상태</div>
            <div class="educate-board__th educate-board__th_nth2">교육명</div>
            <div class="educate-board__th educate-board__th_nth3">교육일자</div>
            <div class="educate-board__th educate-board__th_nth4">접수기간</div>
            <div class="educate-board__th educate-board__th_nth5">정원</div>
        </div>
    </div>
    <div class="educate-board__tbody">
        <div class="educate-board__row">
            <div class="educate-board__td educate-board__td_m-inline"><span class="type-v1 type-v1__ing"><em>접수중</em></span></div>
            <div class="educate-board__td educate-board__td_m-inline educate-board__tit"><a href="educate_01_view.html" class="educate-board__link">무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation</a></div>
            <div class="educate-board__td educate-board__date">2017.12.13</div>
            <div class="educate-board__td educate-board__td_m-hide">2017.11.27 ~ 2017.12.17</div>
            <div class="educate-board__td educate-board__td_m-hide">10</div>
        </div>
        <div class="educate-board__row">
            <div class="educate-board__td educate-board__td_m-inline"><span class="type-v1 type-v1__wait"><em>접수대기</em></span></div>
            <div class="educate-board__td educate-board__td_m-inline educate-board__tit"><a href="educate_01_view.html" class="educate-board__link">무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation</a></div>
            <div class="educate-board__td educate-board__date">2017.12.13</div>
            <div class="educate-board__td educate-board__td_m-hide">2017.11.27 ~ 2017.12.17</div>
            <div class="educate-board__td educate-board__td_m-hide">10</div>
        </div>
        <div class="educate-board__row">
            <div class="educate-board__td educate-board__td_m-inline"><span class="type-v1 type-v1__complete"><em>접수완료</em></span></div>
            <div class="educate-board__td educate-board__td_m-inline educate-board__tit"><a href="educate_01_view.html" class="educate-board__link">무기원소 분석의 이론 및 실습 ICP-QMS</a></div>
            <div class="educate-board__td educate-board__date">2017.12.13</div>
            <div class="educate-board__td educate-board__td_m-hide">2017.11.27 ~ 2017.12.17</div>
            <div class="educate-board__td educate-board__td_m-hide">10</div>
        </div>
        <div class="educate-board__row">
            <div class="educate-board__td educate-board__td_m-inline"><span class="type-v1 type-v1__end"><em>접수마감</em></span></div>
            <div class="educate-board__td educate-board__td_m-inline educate-board__tit"><a href="educate_01_view.html" class="educate-board__link">무기원소 분석의 이론 및 실습 ICP-QMS, AAS, ICP-OES, fs Laser Ablation</a></div>
            <div class="educate-board__td educate-board__date">2017.12.13</div>
            <div class="educate-board__td educate-board__td_m-hide">2017.11.27 ~ 2017.12.17</div>
            <div class="educate-board__td educate-board__td_m-hide">10</div>
        </div>
    </div>
</div><!-- educate-board -->
<% include ../_inc/_pagination1 %>