<%
    page = "educate"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<table class="table-row-v1" summary="">
    <colgroup>
        <col class="table-row-v1__col">
        <col>
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">제목</th>
        <td class="table-row-v1__td table-row-v1__m-row view-tag" colspan="3">
            <div class="table-row-v1__m-cell">
                <span class="type-v1 type-v1__ing"><em>접수중</em></span><span class="next-tit">무기원소 분석의 이론 및 실습ICP-QMS, AAS, ICP-OES, fs Laser Ablation</span>
            </div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">작성자</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">관리자</div>
        </td>
        <th class="table-row-v1__th">정원</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">10</div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">교육일자</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">
                <span class="date">2017.12.13</span><span class="time"><i class="icon-time"></i>14:00 ~ 18:00</span>
            </div>
        </td>
        <th class="table-row-v1__th">접수기간</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">
                <span class="set-date"><span class="set-date__start">2017.11.27</span><span class="set-date__end">2017.12.17</span></span>
                <span class="time"><i class="icon-time"></i>14:00 ~ 18:00</span>
            </div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">교육장소</th>
        <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
            <div class="table-row-v1__m-cell">L4421호</div>
        </td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->
<div class="board-view-v1">
    <div class="board-view-v1__body">
        <div class="board-article">
            <p>안녕하십니까. 특성분석센터 무기분석실입니다.</p>
            <p>아래와 같이 무기분석 교육을 실시합니다. 관심 있으신 분들의 많은 참여 부탁드리겠습니다.</p><br>
            <p>1. 일시 : 2016년 12월 09일 금요일 09:30 - 15:00</p><br>
            <p>2. 장소 : L4421호, L2336-2338호, L2347-2349호</p><br>
            <p>3. 신청방법 : 참석 원하시는 분들은 성명, 소속, 연락처를 담당자에게 이메일 또는 유선으로 연락 해 주시기 바랍니다.</p>
            <p>* 담당자 : 최성화 - shchoi5968@kist.re.kr</p>
            <p>* 연락처 : 원내전화 5968</p>
        </div><!-- //board-article -->
    </div>
    <!--<div class="download-box">
        <div class="download-box__tit">신청안내</div>
        <div class="download-box__body">
            <div class="download-box__desc">신청을 완료하시려면<br>사용자 교육신청서를 다운로드 후 작성하여 이메일로 보내주세요</div>
            <div class="download-box__email"><i class="download-box__email-icon">(E-mail)</i><a href="mailto:JHM0712@KIST.RE.KR" class="download-box__email-addr">JHM0712@KIST.RE.KR (조혜미)</a></div>
            <div class="download-box__btn-wrap">
                <a href="#" class="btn-v3 btn-v3_red btn-v3_icon btn-v3_m-full"><span>신청서 다운로드</span><i class="btn-v3__download"></i></a>
            </div>
        </div>
    </div>--><!-- //download-box -->
</div>
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="educate_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
    <a href="educate_01_apply.html" class="btn-v3 btn-v3_w210 btn-v3_red"><span>신청하기</span></a>
</div>
<div class="board-preview">
    <div class="board-preview__item board-preview__prev">
        <div class="board-preview__head">이전글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
    <div class="board-preview__item board-preview__next">
        <div class="board-preview__head">다음글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
</div>













