<%
    page = "educate"
    sub = 0
    title = (jsonData.pages[page].children) ? '교육 및 세미나 접수' : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="agree-article">
    <p class="agree-article__sum">본 분석 의뢰서를 접수해 주시면 상세상담을 진행하게 됩니다. 상세상담 후 분석의뢰 절차에 따라 시료를 보내주시면 됩니다.</p>
    <div class="agree-article__box">
        <div class="agree-article__inner">
            <p>특성분석센터 개인정보 보호 정책</p>
            <p>※ 총 칙</p>
            <p>1. 특성분석센터는 ‘정보통신망이용촉진및정보보호등에관한법률’상의 개인정보보호 규정과 정보통신부가 제정한 ‘개인정보보호지침’ 및 ‘개인정보의 기술적/관리적 보호조치 기준’을 준수하고 있습니다.<br>
                또한 특성분석센터는 ‘개인정보보호정책’을 제정하여 회원들의 개인정보 보호를 위해 최선을 다하겠음을 선언합니다.</p>
            <p>2. 특성분석센터의 ‘개인정보보호정책’은 관련 법률 및 정부 지침의 변경과 특성분석센터의 내부 방침 변경에 의해 변경될 수 있습니다.<br>
                특성분석센터이의 ‘개인정보보호방침’이 변경될 경우 변경사항은 특성분석센터 홈페이지의 공지사항에 최소 7일간 게시됩니다.</p>
        </div>
    </div>
    <label class="agree-checkbox-v1 agree-checkbox-v1__right">
        <input type="checkbox" name="chk" id="chk" class="agree-checkbox-v1__input"><i class="agree-checkbox-v1__ico"></i> 개인정보 수집에 동의합니다
    </label>
</div><!-- //agree-article -->

<div class="receipt">
    <p class="para-v1 para-v1_text-right"><span class="color-red">*</span> 필수입력항목</p>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">신청기관<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="신청기관(필수항목)"></div>
            </td>
            <th class="table-row-v1__th">대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="대표자(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">구분<span class="required-v1">(필수)</span><span class="table-row-v1__m-info">(개인 선택시 계산서 발행 없음)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_info-edit">
                    <div class="form-box__item">
                        <label class="radio-set-v1">
                            <input type="radio" name="tt"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt radio-set-v1__txt_ml5">사업자</span>
                        </label>
                    </div>
                    <div class="form-box__item">
                        <label class="radio-set-v1">
                            <input type="radio" name="tt"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt radio-set-v1__txt_ml5">개인<span class="only-pc">(개인 선택시 계산서 발행 없음)</span></span>
                        </label>
                    </div>
                    <div class="form-box__item text-right">
                        <a href="#" class="btn-v4 btn-v4_w150 btn-v4_m-w77"><span>정보수정</span></a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box__addr">
                    <div class="form-box__item form-box__item_addr form-box__item_addr_v2">
                        <div class="input-v1__btn-set">
                            <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호1(필수)">
                                </div>
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호2(필수)">
                                </div>
                            </div>
                            <a href="#" class="btn-v4 input-v1__btn btn-v4_m-w77"><span>우편번호</span></a>
                        </div>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="주소1(필수항목)" disabled>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="주소2(필수항목)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">신청자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="신청자(필수항목)"></div>
            </td>
            <th class="table-row-v1__th">신청자 직위<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="신청자 직위(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속<br class="only-pc">(부서명 or 연구실명)</th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="소속(부서명 or 연구실명)"></div>
            </td>
            <th class="table-row-v1__th">책임자<br class="only-pc">(부서팀장 or <br class="only-pc">연구실 교수명)</th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="책임자(부서팀장 or 연구실 교수명)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">전화번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <!-- <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="전화번호(필수항목)"></div> -->
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(필수항목">
                                <option value="">선택</option>
                                <option value="02">02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="033">033</option>
                                <option value="041">041</option>
                                <option value="042">042</option>
                                <option value="043">043</option>
                                <option value="051">051</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                                <option value="061">061</option>
                                <option value="062">062</option>
                                <option value="063">063</option>
                                <option value="064">064</option>
                                <option value="070">070</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                </div>
            </td>
            <th class="table-row-v1__th">휴대폰번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <!-- <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="휴대폰번호(필수항목)"></div> -->
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(필수항목)">
                                <option value="">선택</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="이메일(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">신청일자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">2018-08-20</td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">교육/세미나명<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">X-ray Open Lab ; TOPAS Workshop</td>
        </tr>
        <tr>
            <th class="table-row-v1__th">분석장비<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">X-Ray 교육</td>
        </tr>
        <tr>
            <th class="table-row-v1__th">기타 요청사항</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box"><textarea name=""  cols="30" rows="10" class="textarea-v1 textarea-v1_w100p cscenter-table__textarea" title="시험 요청사항"></textarea></div>
                <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 800자 이내로</span> <span class="inline-block">입력하여 주시기 바랍니다.</span></p></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">첨부파일</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                  <span class="upload-set-v1 upload-set-v1_w100p">
                    <span class="upload-set-v1__wrap" data-value="찾아보기">
                      <input type="file" name=""  class="upload-set-v1__file upload-hidden" title="첨부파일">
                    </span>
                    <input type="text" name=""  class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
                  </span><!-- //upload-set-v1 -->
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">결제 방법<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_m-justify">
                    <div class="form-box__item form-box__item_check-list">
                        <label class="radio-set-v1">
                            <input type="radio" name="aa"  class="radio-set-v1__input" title="카드결제"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">카드결제</span>
                        </label>
                    </div>
                    <div class="form-box__item form-box__item_check-list">
                        <label class="radio-set-v1">
                            <input type="radio" name="aa"  class="radio-set-v1__input" title="가상계좌"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">가상계좌</span>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">계산서발급<span class="table-row-v1-header__info">※ 계산서발급은 사업자 가상계좌 결제일 경우만 가능합니다</span></h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">담당자(법인명)<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="담당자(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">전화번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="전화번호(필수항목)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="이메일(필수항목)"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">사업자 등록증 정보</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">등록번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="등록번호(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">상호(법인명)<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="상호(법인명)(필수항목)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="대표자(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">업태·종목<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <!-- <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="업태·종목(필수항목)"></div>
                </div> -->
                <div class="form-box form-box_v2 form-box-set">
                    <span class="form-box-set__input form-box-set_v2__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="업태(필수항목)">
                    </span>
                    <span class="form-box-set__input form-box-set_v2__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="종목(필수항목)">
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">사업장주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w100p" maxlength="" title="사업장주소(필수항목)"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">자동등록방지 문자 입력</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">자동등록방지<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item form-box__item_recaptcha">
                        <span class="input-v1__btn-set input-v1__btn-set_v2"><input type="text" name="" class="input-v1" title="자동등록방지(필수항목)" disabled><a href="#" class="btn-v4 input-v1__btn"><span>새로고침</span></a></span>
                    </div>
                    <div class="form-box__item form-box__item_follow">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="자동등록방지 입력">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="board-btn-wrap board-btn-wrap_next">
        <a href="educate_01_view.html" class="btn-v3 btn-v3_w210 btn-cancle">
            <span>취소</span>
        </a>
        <a href="educate_01_list.html" class="btn-v3 btn-v3_w210 btn-v3_red btn-confirm">
            <span>확인</span>
        </a>
    </div>
</div>













