<%
    page = "main"
	var data = jsonData
%>
<% layout('../_layout/_layout') -%>
<div class="main-view">
	<div class="main-view__visual" style="background-image: url('http://i.imgur.com/bMYdulf.jpg');"><!--Mobile 비주얼 이미지 영역-->
		<img src="https://i.imgur.com/9QwROdu.jpg" alt="" class="main-view__visual-desktop"><!--PC 비주얼 이미지 영역-->
		<div class="main-view__wrap">
			<div class="main-view__box">
				<div class="main-view__txt">
					<img src="http://i.imgur.com/b9GpolL.png" alt="" class="main-view__txt-img only-pc"><!--PC 텍스트 이미지 영역-->
					<img src="http://i.imgur.com/jfQIyrB.png" alt="" class="main-view__txt-img main-view__txt-img--mobile"><!--Mobile  텍스트 이미지 영역-->
				</div>
			</div>
		</div>
	</div>
	<!--검색창-->
	<div class="main-view__search">
		<form action="../machine/machine_01_list.html" class="main-view__search-form">
			<fieldset class="fieldset">
				<legend class="hidden">보유장비 검색</legend>
				<select name="" id="" class="select-search js-selectbox">
					<option data-display="분석장비" value="분석장비 검색">분석장비 검색</option>
					<option value="연구원">연구원 검색</option>
				</select>
				<input type="text" name="" value="" title="검색어를 입력해주세요." placeholder="찾으시는 분석장비를 입력해주세요.">
				<input type="image" src="../../images/icon/icon-search3-w.png" alt="검색" class="main-view__search-submit">
			</fieldset>
		</form>
	</div>
</div>
<div class="main-content">
	<!-- 특성분석센터 주요업무 -->
	<div class="main-content__section main-content__section--section1">
		<div class="main-content__aligner">
			<h3 class="main-content__tit">특성분석센터 <strong>주요업무</strong></h3>
			<div class="main-content__list-aligner">
				<ul class="main-content__list">
					<li class="nth-1"><a href="../work/work_01.html">분석의뢰안내</a></li>
					<li class="nth-2"><a href="../work/work_04_01.html">이용수수료</a></li>
					<li class="nth-3"><a href="../work/work_03.html">분석시료발송</a></li>
					<li class="nth-4"><a href="../work/work_02.html">분석의뢰접수</a></li>
					<li class="nth-5"><a href="../mypage/mypage_04_list.html">분석진행확인</a></li>
					<li class="nth-6"><a href="../notice/qa_01_list.html">Q &amp; A</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 특성분석센터 팀소개 -->
	<div class="main-content__section main-content__section--section2">
		<div class="main-content__aligner">
			<h3 class="main-content__tit">특성분석센터 <strong>팀소개</strong></h3>
			<div class="main-content__flex-container">
				<div class="main-content__flex-slide flex-slide1 js-flex-on">
					<div class="main-content__flex-inner">
						<span class="main-content__flex-num">01</span>
						<h4 class="main-content__flex-tit">가속기팀</h4>
						<p class="main-content__flex-tit__en">Accelerator Laboratory</p>
						<ul class="main-content__flex-desc">
							<li class="main-content__flex-desc__item">가속기 질량분석</li>
							<li class="main-content__flex-desc__item">이온빔 분석</li>
							<li class="main-content__flex-desc__item">이온빔 주입·조사</li>
						</ul>
						<a href="../about/about_02_01.html" class="main-content__flex-btn">더 알아보기</a>
					</div>
				</div>
				<div class="main-content__flex-slide flex-slide2">
					<div class="main-content__flex-inner">
						<span class="main-content__flex-num">02</span>
						<h4 class="main-content__flex-tit">화학분석팀</h4>
						<p class="main-content__flex-tit__en">Chemical analysis Laboratory</p>
						<ul class="main-content__flex-desc">
							<li class="main-content__flex-desc__item">가유기화학분석</li>
							<li class="main-content__flex-desc__item">무기화학분석</li>
							<li class="main-content__flex-desc__item">NMR 분석</li>
							<li class="main-content__flex-desc__item">LC, IC 분석</li>
						</ul>
						<a href="../about/about_02_02.html" class="main-content__flex-btn">더 알아보기</a>
					</div>
				</div>
				<div class="main-content__flex-slide flex-slide3">
					<div class="main-content__flex-inner">
						<span class="main-content__flex-num">03</span>
						<h4 class="main-content__flex-tit">구조/표면 분석팀</h4>
						<p class="main-content__flex-tit__en">Structure and Surface Analysis Laboratory</p>
						<ul class="main-content__flex-desc">
							<li class="main-content__flex-desc__item">구조분석</li>
							<li class="main-content__flex-desc__item">표면분석</li>
						</ul>
						<a href="../about/about_02_03.html" class="main-content__flex-btn">더 알아보기</a>
					</div>
				</div>
				<div class="main-content__flex-slide flex-slide4">
					<div class="main-content__flex-inner main-content__flex-inner--font-0">
						<span class="main-content__flex-num">04</span>
						<h4 class="main-content__flex-tit">전자현미경팀</h4>
						<p class="main-content__flex-tit__en">Electron microscope Laboratory</p>
						<ul class="main-content__flex-desc main-content__flex-desc--w50p main-content__flex-desc--m-w-full">
							<li class="main-content__flex-desc__item">Scanning Electron Microscopy (SEM)</li>
							<li class="main-content__flex-desc__item">Focused Ion Beam (FIB)</li>
							<li class="main-content__flex-desc__item">Transmission Electron Microscopy (TEM)</li>
						</ul>
						<ul class="main-content__flex-desc main-content__flex-desc--w50p main-content__flex-desc--m-w-full main-content__flex-desc--m-mt0">
							<li class="main-content__flex-desc__item">Atom Probe Tomography (APT)</li>
							<li class="main-content__flex-desc__item">Raman Spectroscopy</li>
							<li class="main-content__flex-desc__item">Advanced specialized multiple analysis</li>
						</ul>
						<a href="../about/about_02_04.html" class="main-content__flex-btn main-content__flex-btn--m-static">더 알아보기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 특성분석센터 알림공간 -->
	<div class="main-content__section main-content__section--section3">
		<div class="main-content__aligner">
			<h3 class="main-content__tit">특성분석센터 <strong>알림공간</strong></h3>
			<div class="main-content__flex-container">
				<!-- 홍보뉴스 -->
				<div class="flex-box news">
					<h4 class="flex-box__tit">홍보뉴스 <a href="../notice/news_01_list.html" class="flex-box__btn-more">더보기</a></h4>
					<!--<div class="flex-box__list-container">
						<div class="flex-box__item">
							<a href="../notice/news_01_view.html" class="flex-box__item-link">
								<span class="flex-box__item-img"><img src="http://i.imgur.com/5xgEfUS.jpg" alt="연구장비 공동활용 지원사업안내 대표이미지"></span>
								<div class="flex-box__item-txt">
									<h5 class="flex-box__item-tit js-ellipsis">한국과학기술연구원 특성분석센터- 연구장비 공동활용사업 지정기관 선정 한국과학기술연구원 특성분석센터- 연구장비 공동활용사업 지정기관 선정 한국과학기술연구원 특성분석센터- 연구장비 공동활용사업 지정기관 선정</h5>
									<span class="flex-box__item-date">2017.11.09</span>
								</div>
							</a>
						</div>
						<div class="flex-box__item">
							<a href="" class="flex-box__item-link">
								<span class="flex-box__item-img"><img src="http://i.imgur.com/bihdghy.jpg" alt="콜라스 배너"></span>
							</a>
						</div>
					</div>-->
					<div class="flex-box__list-container">
						<ul class="flex-box__list">
							<li class="flex-box__item js-flex-on">
								<a href="../notice/news_01_view.html" class="flex-box__item-link">
									<span class="flex-box__item-img"><img src="https://aac.kist.re.kr/upload/img/785f0ff47c184d108284583b99ead39d.jpg" alt="연구장비 공동활용사업 지정기관 선정 대표이미지"></span>
									<h5 class="flex-box__item-tit">연구장비 공동활용사업 지정기관 선정연구장비 공동활용사업 지정기관 선정연구장비 공동활용사업 지정기관 선정연구장비 공동활용사업 지정기관 선정</h5>
									<div class="flex-box__item-txt">
										<span class="flex-box__item-date">2017.11.09</span>
										<p class="flex-box__item-desc js-ellipsis">특성분석센터가  연구장비 공동활용사업의 지정기관으로 참여하여 선정됨으로서, 앞으로 중소기업이 고가장비를 더욱 더 자유롭게 이용하여 R&D 연구, 기술개발특성분석센터가  연구장비 공동활용사업의 지정기관으로 참여하여 선정됨으로서, 앞으로 중소기업이 고가장비를 더욱 더 자유롭게 이용하여 R&D 연구, 기술개발</p>
									</div>
								</a>
							</li>
							<li class="flex-box__item">
								<a href="../notice/news_01_view.html" class="flex-box__item-link">
									<span class="flex-box__item-img"><img src="https://aac.kist.re.kr/upload/img/0d5807dfaea14fd2a99c13abb928609d.JPG" alt="연구장비 엔지니어 사업 소개(서울경제신문) 대표이미지"></span>
									<h5 class="flex-box__item-tit">연구장비 엔지니어 사업 소개(서울경제신문)</h5>
									<div class="flex-box__item-txt">
										<span class="flex-box__item-date">2017.11.09</span>
										<p class="flex-box__item-desc js-ellipsis">특성분석센터가  연구장비 공동활용사업의 지정기관으로 참여하여 선정됨으로서, 앞으로 중소기업이 고가장비를 더욱 더 자유롭게 이용하여 R&D 연구, 기술개발</p>
									</div>
								</a>
							</li>
							<li class="flex-box__item">
								<a href="../notice/news_01_view.html" class="flex-box__item-link">
									<span class="flex-box__item-img"><img src="https://aac.kist.re.kr/upload/img/785f0ff47c184d108284583b99ead39d.jpg" alt="제3기 엔지니어양성사업 교육생 수료식개최 대표이미지"></span>
									<h5 class="flex-box__item-tit">제3기 엔지니어양성사업 교육생 수료식개최</h5>
									<div class="flex-box__item-txt">
										<span class="flex-box__item-date">2017.11.09</span>
										<p class="flex-box__item-desc js-ellipsis">특성분석센터가  연구장비 공동활용사업의 지정기관으로 참여하여 선정됨으로서, 앞으로 중소기업이 고가장비를 더욱 더 자유롭게 이용하여 R&D 연구, 기술개발</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- 공지사항 -->
				<div class="flex-box info">
					<div class="flex-box__notice icon-new">
						<h4 class="flex-box__tit">공지사항 <a href="../notice/notice_01_list.html" class="flex-box__btn-more">더보기</a></h4>
						<ul class="flex-box__notice__list">
							<li class="flex-box__notice__item">
								<a href="../notice/notice_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item">
								<a href="../notice/notice_01_view.html">특성분석센터 무기분석 교육 안내 11.22 (수)</a>
								<span class="date">2017.11.15</span>
							</li>
							<li class="flex-box__notice__item">
								<a href="../notice/notice_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item">
								<a href="../notice/notice_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item">
								<a href="../notice/notice_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
						</ul>
					</div>
					<div class="flex-box__info-slider">
						<img src="../../images/common/img-resizer.png" alt="" class="flex-box__info-slider__img-resizer only-mo">
						<div class="slide-banner">
							<div class="slide-banner__item" style="background-image: url(http://i.imgur.com/67YmGmu.jpg);">
								<a href="../about/about_06.html"><img src="http://i.imgur.com/2y1VSKH.jpg" alt="" class="only-pc"></a>
							</div>
						</div>
					</div>
				</div>
				<!-- 교육안내 -->
				<div class="flex-box info">
					<div class="flex-box__notice icon-new">
						<h4 class="flex-box__tit">교육안내 <a href="../educate/educate_01_list.html" class="flex-box__btn-more">더보기</a></h4>
						<ul class="flex-box__notice__list">
							<li class="flex-box__notice__item pre-tag pre-tag__v1"><!-- pre-tag__v1: 정시교육 -->
								<a href="../educate/educate_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item pre-tag pre-tag__v3"><!-- pre-tag__v3: 세미나 -->
								<a href="../educate/educate_01_view.html">특성분석센터 무기분석 교육 안내 11.22 (수)</a>
								<span class="date">2017.11.15</span>
							</li>
							<li class="flex-box__notice__item pre-tag pre-tag__v1">
								<a href="../educate/educate_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item pre-tag pre-tag__v1">
								<a href="../educate/educate_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
							<li class="flex-box__notice__item pre-tag pre-tag__v2"><!-- pre-tag__v2: 상시교육 -->
								<a href="../educate/educate_01_view.html">제1회 현미경을 이용한 전기계측 워크숍 안내</a>
								<span class="date">2017.11.09</span>
							</li>
						</ul>
					</div>
					<div class="flex-box__notice news-letter">
						<h4 class="flex-box__tit">뉴스레터<a href="../notice/news_02_list.html" class="flex-box__btn-more">더보기</a></h4>
						<div class="news-letter__box">
							<div class="book-wrap">
								<span class="book-wrap__date">2017 .11</span>
								<span class="book-wrap__vol"><i class="vol-tit">Vol.</i><strong>27</strong></span>
							</div>
							<div class="news-letter__box__txt">
								<p class="news-letter__box__tit">KIST 특성분석센터 뉴스레터를 만나보세요!</p>
								<a href="../notice/news_02_view.html" class="btn-v1 btn-v1_bp20"><span>이번호 보기</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 특성분석센터 보유장비 -->
	<div class="main-content__section main-content__section--section4">
		<div class="main-content__aligner">
			<h3 class="main-content__tit">특성분석센터 <strong>보유장비</strong></h3>
			<div class="acc-list__wrap">
				<ul class="acc-list">
					<%
						for (var depth1 in data.acc) {
						var i = Object.keys(data.acc).indexOf(depth1);
					%>
					<li class="acc-list__item nth-<%= i+1 %>">
						<h4 class="acc-list__tit"><%= data.acc[depth1].title %></h4>
						<% if (data.acc[depth1].children) {%>
						<ul class="acc-list__inner-list <%= depth1 %>">
							<% data.acc[depth1].children.forEach(function(depth2,idx) { %>
							<% if(idx%2 == 0){ %>
							<li class="acc-list__inner-item nth-<%= idx+1 %>">
								<div class="acc-list__img-wrap">
									<a href="<%= depth2.links %>" class="acc-list__link">
										<img src="../../images/machine/img-machine.jpg" alt="<%= depth2.name %> 사진" class="acc-list__img">
									</a>
								</div>
								<div class="acc-list__txt-wrap">
									<p class="acc-list__name"><%= depth2.name %></p>
									<span class="acc-list__tel"><a href="tel:<%= depth2.tel[1] %>">TEL <%= depth2.tel[0] %></a></span>
								</div>
							</li>
							<% } else { %>
							<li class="acc-list__inner-item nth-<%= idx+1 %>">
								<div class="acc-list__img-wrap">
									<a href="<%= depth2.links %>" class="acc-list__link">
										<img src="../../images/sample/img-news-820x380.jpg" alt="<%= depth2.name %> 사진" class="acc-list__img">
									</a>
								</div>
								<div class="acc-list__txt-wrap">
									<p class="acc-list__name">
										<%= depth2.name %>
									</p>
									<span class="acc-list__tel">
										<a href="tel:<%= depth2.tel[1] %>">TEL
											<%= depth2.tel[0] %>
										</a>
									</span>
								</div>
							</li>
							<% }; %>
							<% }); %>
						</ul>
						<% } %>
					</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="../../js/libs/dotdotdot/dotdotdot.js"></script>
<script src="../../js/main.js"></script>
