<ul class="board-list-v1">
    <li class="board-list-v1__row only-pc">
        <div class="board-list-v1__th">직급</div>
        <div class="board-list-v1__th">이름</div>
        <div class="board-list-v1__th">전화번호</div>
        <div class="board-list-v1__th">주요연구분야</div>
        <div class="board-list-v1__th"></div>
    </li>
    <% for (var i=0; i<10; i++) { %>
    <li class="board-list-v1__row board-list-v1__m-block">
        <div class="board-list-v1__td board-list-v1__m-th">책임연구원</div>
        <div class="board-list-v1__td board-list-v1__m-th">홍길동</div>
        <div class="board-list-v1__td board-list-v1__m-th">02.958.5000</div>
        <div class="board-list-v1__td board-list-v1__td_align-left board-list-v1__m-td">중성자 산란 측정 장치 개발, 시료환경장치 개발, Hard matter, soft matter, 분리막, 기공 구조,  방사선 (중성자/양성자) 응용분야 개발, USANS, SANS, SAXS</div>
        <div class="board-list-v1__td board-list-v1__td_align-right board-list-v1__m-td"><a href="" class="btn-v1 btn-v1_red"><span>연구성과보기</span></a></div>
    </li>
    <% } %>
</ul><!-- //board-magazine-v1 -->
