<ul class="board-magazine-v1">
    <% for (var i=0; i<10; i++) { %>
    <li class="board-magazine-v1__item">
        <a href="<%= jsonData.pages[page].children[sub].links[1] %>" class="board-magazine-v1__link">
            <div class="board-magazine-v1__img-wrap">
                <img src="http://www.samsung.com/sec/consumer/images/pdp-wow/kitchen-appliances/refrigerators/fsr/RF90J9072XL/images/02_1280/02_00_kv_1280.jpg" alt="" class="board-magazine-v1__img">
            </div>
            <div class="board-magazine-v1__txt-wrap">
                <div class="board-magazine-v1__tit">세계 최초 항체 바이오시밀러 허가 획득</div>
                <div class="board-magazine-v1__edge">2015.08.08</div>
                <div class="board-magazine-v1__summary">
                    국내 대표 바이오기업인 셀트리온은 금일 식품의약품안전청(KFDA)으로부터 자가면역질환 항체치료제 ‘램시마(Remsima)’의 제품 허가를 받았다. 이는 글로벌 임상결과를 근거로 국가별 의약품 규제기관으로부터 제품 허가를 획득한 세계 최초의 항체 바이오시밀러다. 이번 제품 허가는 항체 바이오시밀러 시장의 개막을 알리는 신호탄이며, 셀트리온이 ... 바이오시밀러 ....선도기업으로 성장할 수 있는 기반이 될 것으로 평가되고 있다. [출처] 셀트리온, 세계 최초 항체 바이오시밀러 허가 획득|작성자 hopyeong6200... ... 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한... 성황리에 진행됐다.
                </div>
            </div>
        </a>
    </li>
    <% } %>
</ul><!-- //board-magazine-v1 -->
