<div class="board-filter-v1">
    <form action="">
        <fieldset class="fieldset">
            <legend class="hidden">Board Filter</legend>
            <label class="checkbox-set-v2"><input type="checkbox" name="filter" class="checkbox-set-v2__input"><i class="checkbox-set-v2__ico"></i>전체</label>
            <label class="checkbox-set-v2"><input type="checkbox" name="filter" class="checkbox-set-v2__input"><i class="checkbox-set-v2__ico"></i>연구원</label>
            <label class="checkbox-set-v2"><input type="checkbox" name="filter" class="checkbox-set-v2__input"><i class="checkbox-set-v2__ico"></i>포닥 연구원</label>
            <label class="checkbox-set-v2"><input type="checkbox" name="filter" class="checkbox-set-v2__input"><i class="checkbox-set-v2__ico"></i>학생</label>
            <label class="checkbox-set-v2"><input type="checkbox" name="filter" class="checkbox-set-v2__input"><i class="checkbox-set-v2__ico"></i>기타</label>
        </fieldset>
    </form>
</div><!-- //board-search-v1 -->
