<div class="board-top-v2__aligner board-top-v2__aligner_left">
    <p class="board-top-v2__item">총 <span class="board-top-v2__cnt">16</span>건</p>
</div>
<div class="board-top-v2__aligner board-top-v2__aligner_right">
    <div class="board-search-v2">
        <form action="">
            <fieldset class="fieldset">
                <legend class="hidden">게시판 검색</legend>
                <select name="" id="" class="board-search-v2__select">
                    <option value="전체" selected>전체</option>
                    <option value="제목">제목</option>
                    <option value="작성자">작성자</option>
                    <option value="내용">내용</option>
                </select>
                <input type="text" name="" class="board-search-v2__input" title="검색어를 입력해주세요." placeholder="검색어 입력">
                <input type="image" src="../../images/icon/icon-search-borad-v2.png" alt="검색" class="board-search-v2__submit">
            </fieldset>
        </form>
    </div>
</div>