<div class="footer">
    <div class="sitemap">
        <div class="sitemap__inner">
            <h2 class="sitemap__tit"><span>전체메뉴</span></h2>
            <ul class="sitemap__depth1-list">
            <%
            for (var depth1 in data.pages) {
                var i = Object.keys(data.pages).indexOf(depth1);
            %>
            <% if(i < 6){ %>
            <li class="sitemap__depth1-item nth-<%= i+1 %>" data-title-ko="<%= data.pages[depth1].title.kor %>">
                <a href="<%= data.pages[depth1].links[0] %>" class="sitemap__depth1-link"><%= data.pages[depth1].title.kor %></a>
                <% if (data.pages[depth1].children) {%>
                <ul class="sitemap__depth2-list <%= depth1 %>">
                    <% data.pages[depth1].children.forEach(function(depth2,idx) { %>
                    <li class="sitemap__depth2-item nth-<%= idx+1 %>"><a href="<%= depth2.links[0] %>" class="sitemap__depth2-link"><%= depth2.title %></a></li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% } %>
            <% } %>
        </ul>
        </div>
    </div><!-- // 전체메뉴 -->

    <div class="footer__wrap">
        <div class="footer__inner">
            <!--<div class="footer-family" id="familySite">
                <h2 class="footer-family__tit">관련 사이트</h2>
                <ul class="footer-family__list">
                    <% data.family.forEach(function(item,idx) { %>
                    <li class="footer-family__item <%= siteOn = (idx == 1) ? 'on':'' %>"><a href="<%= item.link %>" class="footer-family__link" data-title="<%= item.title %>"><%= item.title %></a></li>
                    <% }) %>
                </ul>
            </div>--><!-- //footer-family -->

            <div class="footer-top">
                <div class="footer-menu">
                    <h2 class="footer-menu__tit">하단메뉴</h2>
                    <ul class="footer-menu__list">
                        <li class="footer-menu__item"><a href="<%= data.site.agreement[0].link %>" class="footer-menu__link color-red"><%= data.site.agreement[0].title %></a></li>
                        <li class="footer-menu__item"><a href="<%= data.pages.about.children[3].links %>" class="footer-menu__link">찾아오시는 길</a></li>
                    </ul>
                </div><!-- //footer-menu -->
            </div>

            <div class="footer-bottom">
                <div class="footer-info">
                    <p>
                        <span class="footer-info__item">한국과학기술연구원</span>
                        <span class="footer-info__item">대표자 : 이병권</span><br class="only-mo" />
                        <span class="footer-info__item">사업자등록번호 : 209-82-03522</span>
                        <span class="footer-info__item"><%= data.site.address %></span>
                    </p>
                    <p>
                        <span class="footer-info__item"><strong>분석상담센터.</strong> 02.958.5959 (평일9~18시, 점심12~13시)</span><br class="only-mo" />
                        <span class="footer-info__item"><strong>팩스.</strong> 02.958.5969</span>
                        <span class="footer-info__item"><strong>분석료 납부 문의.</strong> 02.958.6971</span>
                    </p>
                    <p class="footer-info__copyright">
                        <span class="inline-block"><%= data.site.copyright[0] %></span>
                        <span class="inline-block"><%= data.site.copyright[1] %></span>
                    </p>
                </div>
                <div class="footer-logo"></div><!-- //footer-logo -->
            </div>
        </div>
    </div>
</div>