<div class="header">
	<h1 class="top-logo">
		<a href="../main/main.html" class="top-logo__link"><%= data.site.name %></a>
	</h1><!-- //top-logo -->
	<div class="util-bar">
		<!-- <p class="util-bar__tit only-mo">지금 로그인해 주세요.</p>
		<div class="util-bar__inner">
			<div class="member">
				<div class="member__box">
					<p class="member__item">
						<a href="../member/sign-in.html" class="member__link">로그인</a>
					</p>
					<p class="member__item">
						<a href="../member/sign-up.html" class="member__link">회원가입</a>
					</p>
				</div>
			</div>
			<div class="global-site">
				<div class="global-site__box type-global">
					<p class="global-site__item">
						<a href="#" class="global-site__link type-eng">ENG</a>
					</p>
					<p class="global-site__item">
						<a href="#" class="global-site__link type-eng">KIST홈</a>
					</p>
				</div>
			</div>
		</div> -->
		<p class="util-bar__tit only-mo"><span class="util-bar__name">박진숙</span>님, 어서오세요.</p>
		<div class="util-bar__inner util-bar__inner_sign-in">
			<div class="member">
				<div class="member__box">
					<p class="member__item">
						<a href="../mypage/mypage_01.html" class="member__link">정보수정</a>
					</p>
					<p class="member__item">
						<a href="#" class="member__link">로그아웃</a>
					</p>
					<p class="member__item">
						<a href="#" class="member__link">관리</a>
					</p>
				</div>
			</div>
			<div class="global-site">
				<div class="global-site__box type-global">
					<p class="global-site__item">
						<a href="#" class="global-site__link type-eng">ENG</a>
					</p>
					<p class="global-site__item">
						<a href="../main/main.html" class="global-site__link type-eng">KIST홈</a>
					</p>
				</div>
			</div>
		</div>
	</div><!-- //util-bar -->
	<div class="gnb" id="gnb">
		<h2 class="gnb__tit"><span>주메뉴</span></h2>
		<ul class="gnb__depth1-list">
			<%
				for (var depth1 in data.pages) {
					var i = Object.keys(data.pages).indexOf(depth1);
			%>
			<% if(i < 5){ %>
			<li class="gnb__depth1-item nth-<%= i+1 %>" data-title-ko="<%= data.pages[depth1].title.kor %>" data-collapsed="true">
				<a href="#none" class="gnb__depth1-link"><%= data.pages[depth1].title.kor %></a>
				<% if (data.pages[depth1].children) {%>
				<ul class="gnb__depth2-list <%= depth1 %>">
					<% data.pages[depth1].children.forEach(function(depth2,idx) { %>
					<li class="gnb__depth2-item nth-<%= idx+1 %>"><a href="<%= depth2.links[0] %>" class="gnb__depth2-link"><%= depth2.title %></a></li>
					<% }) %>
				</ul>
				<% } %>
			</li>
			<% } %>
			<% } %>
		</ul>
		<div class="gnb__sitemap-btn" id="sitemap-btn"><span>전체메뉴 보기</span></div>
		<div class="gnb__search-btn" id="gnb-search-btn">
			<a href="#none" class="gnb__search-btn-link"><i></i>검색</a>
		</div>
		<div class="gnb__search">
			<div class="gnb__search-box">
				<span class="gnb__search-tit only-pc">보유장비 검색</span>
				<form action="../machine/machine_01_list.html">
					<fieldset class="fieldset">
						<legend class="hidden">보유장비 검색</legend>
						<select name="" id="" class="select-search js-selectbox">
							<option data-display="분석장비" value="분석장비">분석장비 검색</option>
							<option value="연구원">연구원 검색</option>
						</select>
						<input type="text" name="" value="" title="검색어를 입력해주세요." placeholder="찾으시는 분석장비를 입력해주세요.">
						<input type="image" src="../../images/icon/icon-search2-r.png" alt="검색" class="gnb__search-submit">
					</fieldset>
				</form>
				<span class="gnb__search-close"><a href="#"><i></i><span class="only-pc">Close</span></a></span>
			</div>
		</div>
	</div><!-- //gnb -->
	<div class="sitemap only-pc" id="sitemap">
		<h2 class="sitemap__tit"><span>전체메뉴</span></h2>
		<ul class="sitemap__depth1-list">
            <%
			for (var depth1 in data.pages) {
				var i = Object.keys(data.pages).indexOf(depth1);
            %>
            <% if(i < 6){ %>
			<li class="sitemap__depth1-item nth-<%= i+1 %>" data-title-ko="<%= data.pages[depth1].title.kor %>">
				<a href="<%= data.pages[depth1].links[0] %>" class="sitemap__depth1-link"><%= data.pages[depth1].title.kor %></a>
                <% if (data.pages[depth1].children) {%>
				<ul class="sitemap__depth2-list <%= depth1 %>">
                    <% data.pages[depth1].children.forEach(function(depth2,idx) { %>
					<li class="sitemap__depth2-item nth-<%= idx+1 %>"><a href="<%= depth2.links[0] %>" class="sitemap__depth2-link"><%= depth2.title %></a></li>
                    <% }) %>
				</ul>
                <% } %>
			</li>
            <% } %>
            <% } %>
		</ul>
	</div><!-- // 전체메뉴 -->
</div><!-- //header -->
