<div class="pagination-v1">
    <div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
    <span class="pagination-v1__group pagination-v1__group_prev">
        <!--<a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
        <a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>-->
        <a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
    </span>
    <span class="pagination-v1__group">
        <a href="#" class="pagination-v1__item">1</a>
        <a href="#" class="pagination-v1__item">2</a>
        <a href="#" class="pagination-v1__item on">3</a>
        <a href="#" class="pagination-v1__item">4</a>
        <a href="#" class="pagination-v1__item">5</a>
        <!--<a href="#" class="pagination-v1__item">6</a>
        <a href="#" class="pagination-v1__item">7</a>
        <a href="#" class="pagination-v1__item">8</a>
        <a href="#" class="pagination-v1__item">9</a>
        <a href="#" class="pagination-v1__item">10</a>-->
    </span>
    <span class="pagination-v1__group pagination-v1__group_next">
        <a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
        <!--<a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
        <a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>-->
    </span>
</div><!-- //pagination-v1 -->
