<%
    page = "notice"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<table class="table-row-v1 notice-view-table" summary="">
    <colgroup>
        <col class="notice-view-table__th">
        <col class="notice-view-table__td">
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">제목</th>
        <td class="table-row-v1__td table-row-v1__m-row view-tag" colspan="5">
            <div class="table-row-v1__m-cell">
                <span class="type-v1 type-v1__ing"><em>진행중</em></span>
                <span class="next-tit">X-선 분석 장비 운영자 모집</span>
            </div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">작성자</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">관리자</div>
        </td>
        <th class="table-row-v1__th">등록일</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">2017.12.01</div>
        </td>
        <th class="table-row-v1__th">조회수</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">120</div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">첨부파일</th>
        <td class="table-row-v1__td table-row-v1__m-row" colspan="5">
            <div class="table-row-v1__m-cell table-row-v1__data"><span class="icon icon_file icon_prev">첨부파일</span><a href="" class="link">지원서(연구직).doc</a></div>
        </td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->
<div class="board-view-v1">
    <div class="board-view-v1__body">
        <div class="board-article">
            <p>한국과학기술연구원 (KIST) 특성분석센터에서는 X-선 관련 장비를 운영하고 분석을 지원할 창의적이고 진취적인 인재를 아래와 같이 모시고자 합니다.<br><br>                    
                1. 응모자격<br>
                ◦ 국가공무원법 제 33조의 결격사유가 없는 자<br>
                ◦ 해외여행에 결격사유가 없는 자<br>
                ◦ 남자의 경우 병역을 필한 자 (군면제 포함)
            </p>
        </div><!-- //board-article -->
    </div>
</div><!-- //board-view-v1 -->
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="notice_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
</div>
<div class="board-preview">
    <div class="board-preview__item board-preview__prev">
        <div class="board-preview__head">이전글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
    <div class="board-preview__item board-preview__next">
        <div class="board-preview__head">다음글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
</div>













