<%
    page = "notice"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <% include ../_inc/_board_search %>
</div>
<ul class="board-notice board-career">
    <li class="board-notice__list board-notice_m-hide">
        <div class="board-notice__row">
            <div class="board-notice__th board-career__th_nth1">번호</div>
            <div class="board-notice__th board-career__th_nth2">제목</div>
            <div class="board-notice__th board-career__th_nth3">작성자</div>
            <div class="board-notice__th board-career__th_nth4">등록일</div>
            <div class="board-notice__th board-career__th_nth5">마감일</div>
            <div class="board-notice__th board-career__th_nth6">조회</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-notice__list <% if(i > 7 && i <= 10){ %>icon-link<% } %>">
        <div class="board-notice__row">
            <div class="board-notice__td board-notice_m-hide"><%= i %></div>
            <div class="board-notice__td board-notice__td_wrap board-notice__td_align-left">
                <% if(i > 7 && i <= 10){ %>
                <span class="type-v1 type-v1_prev type-v1__ing"><em>진행중</em></span>
                <% } else { %>
                <span class="type-v1 type-v1_prev type-v1__end"><em>종료</em></span>
                <% } %>
                <a href="careers_01_view.html" class="board-notice__link">X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집X-선 분석 장비 운영자 모집</a>
            </div>
            <div class="board-notice__td board-notice_m-hide">관리자</div>
            <div class="board-notice__td board-notice__date board-notice_m-hide">2017.12.13</div>
            <div class="board-notice__td board-notice__date board-notice_m-block">2017.12.13</div>
            <div class="board-notice__td board-notice_m-hide">136</div>
        </div>
    </li>
    <% } %>
</ul><!-- board-notice -->
<% include ../_inc/_pagination1 %>