<%
    page = "notice"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <div class="board-top-v2__aligner board-top-v2__aligner_left">
        <p class="board-top-v2__item">총 <span class="board-top-v2__cnt">16</span>건</p>
    </div>
    <div class="board-top-v2__aligner board-top-v2__aligner_right">
        <div class="board-search-v2">
            <form action="">
                <fieldset class="fieldset">
                    <legend class="hidden">게시판 검색</legend>
                    <input type="text" name="" class="board-search-v2__input" title="검색어를 입력해주세요." placeholder="검색어 입력">
                    <input type="image" src="../../images/icon/icon-search-borad-v2.png" alt="검색" class="board-search-v2__submit">
                </fieldset>
            </form>
        </div>
    </div>
</div>
<ul class="board-gallery-v1">
    <li class="board-gallery-v1__item">
        <a href="news_01_view.html" class="board-gallery-v1__link">
            <div class="board-gallery-v1__img-wrap">
                <img src="../../images/sample/banner-news-398x248.jpg" alt="" class="board-gallery-v1__img">
            </div>
            <div class="board-gallery-v1__txt-wrap">
                한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관
            </div>
        </a>
    </li>
    <li class="board-gallery-v1__item">
        <a href="news_01_view.html" class="board-gallery-v1__link">
            <div class="board-gallery-v1__img-wrap">
                <img src="../../images/sample/banner-news-398x248.jpg" alt="" class="board-gallery-v1__img">
            </div>
            <div class="board-gallery-v1__txt-wrap">
                한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관 한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관
            </div>
        </a>
    </li>
    <li class="board-gallery-v1__item">
        <a href="news_01_view.html" class="board-gallery-v1__link">
            <div class="board-gallery-v1__img-wrap">
                <img src="../../images/sample/banner-news-398x248.jpg" alt="" class="board-gallery-v1__img">
            </div>
            <div class="board-gallery-v1__txt-wrap">
                한국과학기술 연구원 특성분석센터 – 연구장비 공동활용사업 지정기관
            </div>
        </a>
    </li>
</ul><!-- //board-gallery-v1 -->
<% include ../_inc/_pagination1 %>