<%
page = "notice"
sub = 3
title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-headline">
    <div class="board-headline__cell">
        <h2 class="board-headline__cate">한국과학기술연구원 특성분석센터</h2>
        <span class="board-headline__cate-en">NEWS LETTER</span>
    </div>
    <div class="board-headline__cell board-headline__cell_text-right">
        <span class="board-headline__date"><span class="board-headline__year">2017</span><span class="board-headline__month">November</span></span>
        <span class="board-headline__vol">Vol.<span class="board-headline__vol-num">26</span></span>
    </div>
</div>
<div class="board-newsletter-view">
    <div class="board-newsletter-view__header">
        <h3 class="board-newsletter-view__tit"><span class="board-newsletter-view__tit-num">1</span>. 대사체학(4): Biomarker검출</h3>
        <div class="board-newsletter-view__btn-wrap">
            <a href="#" class="btn-v3 btn-v3_icon board-newsletter-view__btn"><span>PDF다운</span><i class="btn-v3__download"></i></a>
        </div>
    </div>
    <div class="board-newsletter-view__body">
        <div class="board-article">
            <div style="text-align: center;"><img src="../../images/sample/img-news-820x380.jpg" alt=""></div><br>
            Biomarker란 질병의 형태학적/생화학적/분자생물학적인 특징적 변화를 측정하는 지표로 질병 진단을 목적으로 하거나 신약을 개발하는데 사용되며, NMR, GC/MS, LC/MS, QTOF/MS 등의 분석기기로 검출된다.<br>
            TEM에서 strain 분석 시에는 기준 영역에 대한 상대적인 면간거리 차이를 비교하는데, Topspin(PED)은 가장 정밀하게 볼 수 있는 기법이고 GPA(HR-image)는 가장 높은 해상도로 볼 수 있는 기법으로, 둘 다 2D mapping의 형태로 표현되므로 시각적인 효과도 뛰어나다.  SEM 내에서 이미지를 보면서 원하는 부분에서 표준 압자인 Vickers 압자를 사용하여, 기재에 코팅된 막의 경도 등 각종 기계적 물성을 표면으로부터 내부까지 단계적으로 계측하는 장비이다…
        </div><!-- //board-article -->
    </div>
</div><!-- //board-newsletter-view -->
<div class="board-newsletter-view">
    <div class="board-newsletter-view__header">
        <h3 class="board-newsletter-view__tit"><span class="board-newsletter-view__tit-num">2</span>. 400kV 가속기의 이온주입장치</h3>
        <div class="board-newsletter-view__btn-wrap">
            <a href="#" class="btn-v3 btn-v3_icon board-newsletter-view__btn"><span>PDF다운</span><i class="btn-v3__download"></i></a>
        </div>
    </div>
    <div class="board-newsletter-view__body">
        <div class="board-article">
            Biomarker란 질병의 형태학적/생화학적/분자생물학적인 특징적 변화를 측정하는 지표로 질병 진단을 목적으로 하거나 신약을 개발하는데 사용되며, NMR, GC/MS, LC/MS, QTOF/MS 등의 분석기기로 검출된다.<br>
            TEM에서 strain 분석 시에는 기준 영역에 대한 상대적인 면간거리 차이를 비교하는데, Topspin(PED)은 가장 정밀하게 볼 수 있는 기법이고 GPA(HR-image)는 가장 높은 해상도로 볼 수 있는 기법으로, 둘 다 2D mapping의 형태로 표현되므로 시각적인 효과도 뛰어나다.  SEM 내에서 이미지를 보면서 원하는 부분에서 표준 압자인 Vickers 압자를 사용하여, 기재에 코팅된 막의 경도 등 각종 기계적 물성을 표면으로부터 내부까지 단계적으로 계측하는 장비<br>
            Biomarker란 질병의 형태학적/생화학적/분자생물학적인 특징적 변화를 측정하는 지표로 질병 진단을 목적으로 하거나 신약을 개발하는데 사용되며, NMR, GC/MS, LC/MS, QTOF/MS 등의 분석기기로 검출된다.<br>
            TEM에서 strain 분석 시에는 기준 영역에 대한 상대적인 면간거리 차이를 비교하는데, Topspin(PED)은 가장 정밀하게 볼 수 있는 기법이고 GPA(HR-image)는 가장 높은 해상도로 볼 수 있는 기법으로, 둘 다 2D mapping의 형태로 표현되므로 시각적인 효과도 뛰어나다.  SEM 내에서 이미지를 보면서 원하는 부분에서 표준 압자인 Vickers 압자를 사용하여, 기재에 코팅된 막의 경도 등 각종 기계적 물성을 표면으로부터 내부까지 단계적으로 계측하는 장비이다…
        </div><!-- //board-article -->
    </div>
</div><!-- //board-newsletter-view -->
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="" class="preview-btn preview-btn_prev">이전글</a>
    <a href="notice_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
    <a href="" class="preview-btn preview-btn_next">다음글</a>
</div>