<%
    page = "notice"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<ul class="board-newsletter">
    <% for(var i=0; i<6; i++){ %>
    <li class="board-newsletter__item">
        <div class="board-newsletter__aligner">
            <div class="board-newsletter__book-wrap">
                <div class="board-newsletter__date">
                    <span class="board-newsletter__year">2017</span>
                    .<span class="board-newsletter__month">11</span>
                </div>
                <div class="board-newsletter__vol">
                    Vol.<strong class="board-newsletter__num">27</strong>
                </div>
            </div>
            <div class="board-newsletter__txt-wrap">
                <a href="news_02_view.html" class="board-newsletter__link">
                    <p class="board-newsletter__tit"><span class="board-newsletter__year">2017</span>년 <span class="board-newsletter__month">11</span>월호</p>
                    <ul class="board-newsletter__chapter">
                        <li class="board-newsletter__chapter-item">TEM의 strain 맵핑</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                        <li class="board-newsletter__chapter-item">Nano-indenter 분석법</li>
                    </ul>
                </a>
                <!-- <div class="board-newsletter__btn-wrap">
                    <a href="#" class="btn-v3 btn-v3_icon board-newsletter__btn"><span>PDF 다운</span><i class="btn-v3__download"></i></a>
                </div> -->
            </div>
        </div>
    </li>
    <% } %>
</ul>
<% include ../_inc/_pagination1 %>