<%
page = "notice"
sub = 2
title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-view-v2">
    <div class="board-view-v2__header">
        <h2 class="board-view-v2__tit">한국과학기술연구원 특성분석센터 – 연구장비 공동 활용사업 지정기관 선정</h2>
        <div class="board-view-v2__date">2017.06.24</div>
        <!--<div class="board-view-v1__wrap">
            <div class="board-view-v1__data">출처 : <a href="http://www.huffingtonpost.kr/2016/08/07/story_n_11371708.html" class="link" target="_blank">http://www.huffingtonpost.kr/2016/08/07/story_n_11371708.html</a></div>
            <div class="board-view-v1__data">첨부파일 : <a href="" class="link">2015 실적보고서_문서자료.pdf</a></div>
        </div>-->
    </div>
    <div class="board-view-v2__body">
        <div class="board-article">
            <p style="text-align: center;"><img src="../../images/sample/img-news-820x550.jpg" alt=""></p><br>
            FIB에 대한 기초 이론과 다양한 응용 분야에 대한 소개와 Atom Probe Tomography (APT)의 이론 및 응용 사례에 대한  이론 교육 및 실습 교육을 실시하오니 관심 있으신 분들의 많은 참석을 부탁드립니다. 미 구글 지주회사인 알파벳 계열의 영국 딥마인드사 연구원들은 '알파고 제로'를 개량한 최신 버전이 백지상태에서 시행착오를 거치면서 독학으로 몇 시간 만에 장기와 체스에서도 세계 최강 소프트웨어를 능가하는 데 성공했다는 논문을 5일 자 온라인 과학지에 발표했다. 인공지능이 불과 몇 시간 만에 독학으로 장기·체스·바둑에서 모두 세계 최강자가 되는 3관왕이 된 것이다.<br><br>

            일시 : 2016년 12월 8일 (목)<br>
            장소 : L5223호실 (이론), L5115호실 (실습)<br>
            등록비 : 이론교육 (10만원), 실습교육 (20만원), 이론 및 실습교육 (30만원)<br>
            신청 및 문의 : 이지영 (02-958-4946), leejy@kist.re.kr
        </div><!-- //board-article -->
    </div>
</div><!-- //board-view-v2 -->
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="" class="preview-btn preview-btn_prev">이전글</a>
    <a href="notice_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
    <a href="" class="preview-btn preview-btn_next">다음글</a>
</div>