<%
    page = "notice"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <% include ../_inc/_board_search %>
</div>
<ul class="board-notice">
    <li class="board-notice__list board-notice_m-hide">
        <div class="board-notice__row">
            <div class="board-notice__th board-notice__th_nth1">번호</div>
            <div class="board-notice__th board-notice__th_nth2">제목</div>
            <div class="board-notice__th board-notice__th_nth3">작성자</div>
            <div class="board-notice__th board-notice__th_nth4">등록일</div>
            <div class="board-notice__th board-notice__th_nth5">조회</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-notice__list <% if(i===10){ %>icon-new<% } %>">
        <div class="board-notice__row">
            <div class="board-notice__td board-notice_m-hide"><%= i %></div>
            <div class="board-notice__td board-notice__td_wrap board-notice__td_align-left">
                <a href="notice_01_view.html" class="board-notice__link">
                    <% if(i===10){ %><span class="board-notice__pre">[공지]</span><% } %> 제1회 현미경을 이용한 전기계측 워크숍 안내제1회 현미경을 이용한 전기계측 워크숍 안내제1회 현미경을 이용한 전기계측 워크숍 안내제1회 현미경을 이용한 전기계측 워크숍 안내제1회 현미경을 이용한 전기계측 워크숍 안내제1회 현미경을 이용한 전기계측 워크숍 안내
                </a>
            </div>
            <div class="board-notice__td board-notice_m-hide">관리자</div>
            <div class="board-notice__td board-notice__date board-notice_m-block">2017.12.13</div>
            <div class="board-notice__td board-notice_m-hide">136</div>
        </div>
    </li>
    <% } %>
</ul><!-- board-notice -->
<% include ../_inc/_pagination1 %>