<%
page = "notice"
sub = 5
title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <% include ../_inc/_board_search %>
</div>
<ul class="board-notice board-qa">
    <li class="board-notice__list board-notice_m-hide">
        <div class="board-notice__row">
            <div class="board-notice__th board-qa__th_nth1">번호</div>
            <div class="board-notice__th board-qa__th_nth2">제목</div>
            <div class="board-notice__th board-qa__th_nth3">작성자</div>
            <div class="board-notice__th board-qa__th_nth4">등록일</div>
            <div class="board-notice__th board-qa__th_nth5">조회</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-notice__list <% if(i > 7 && i <= 10){ %>icon-link<% } %>">
        <div class="board-notice__row board-qa__row">
            <div class="board-notice__td board-notice_m-hide"><%= i %></div>
            <div class="board-notice__td board-notice__td_wrap board-notice__td_align-left">
                <% if(i > 7 && i <= 10){ %>
                <span class="type-v1 type-v1_prev type-v1__ing"><em>답변완료</em></span>
                <% } else { %>
                <span class="type-v1 type-v1_prev type-v1__end"><em>답변대기</em></span>
                <% } %>
                <a href="qa_01_view.html" class="board-notice__link">유기물 분석 (전분석) 의뢰에 관한 상담입니다.유기물 분석 (전분석) 의뢰에 관한 상담입니다.유기물 분석 (전분석) 의뢰에 관한 상담입니다.유기물 분석 (전분석) 의뢰에 관한 상담입니다.유기물 분석 (전분석) 의뢰에 관한 상담입니다.</a>
            </div>
            <div class="board-notice__td board-qa__m-item">관리자</div>
            <div class="board-notice__td board-notice__date board-qa__m-item">2017.12.13</div>
            <div class="board-notice__td board-notice_m-hide">136</div>
        </div>
    </li>
    <% } %>
</ul><!-- board-notice -->
<% include ../_inc/_pagination1 %>

<div class="btn-wrap btn-wrap_next-paging">
    <a href="qa_01_write.html" class="btn-v5"><span>글쓰기</span></a>
</div>