<%
    page = "notice"
    sub = 5
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<table class="table-row-v1 notice-view-table" summary="">
    <colgroup>
        <col class="notice-view-table__th">
        <col class="notice-view-table__td">
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">제목</th>
        <td class="table-row-v1__td table-row-v1__m-row view-tag" colspan="5">
            <div class="table-row-v1__m-cell">
                <span class="type-v1 type-v1__ing"><em>답변완료</em></span>
                <span class="next-tit">유기물 분석 (전분석) 의뢰에 관한 상담입니다.</span>
            </div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">작성자</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">홍*동</div>
        </td>
        <th class="table-row-v1__th">등록일</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">2017.12.01</div>
        </td>
        <th class="table-row-v1__th">조회수</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">120</div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">전화번호</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">010-1234-5678</div>
        </td>
        <th class="table-row-v1__th">이메일</th>
        <td class="table-row-v1__td table-row-v1__m-row" colspan="3">
            <div class="table-row-v1__m-cell">gildong@naver.com</div>
        </td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->
<div class="board-view-v1">
    <div class="board-view-v1__body">
        <div class="board-article">
            <p>
                안녕하세요?<br>
                주식회사 엔게인 서재원 연구원입니다.<br>
                분석하고자 하는 샘플의 유기물 분석을 의뢰하고자 합니다.<br>
                해당 샘플에 대하여 <br><br>
                1. GC/MS <br>
                2. NMR (400 or 500 MHz)<br>
                3. FT-IR<br>
                4. GPC
            </p>
        </div><!-- //board-article -->
    </div>
</div><!-- //board-view-v1 -->
<div class="board-reply-v1">
    <div class="board-reply-v1__head">
        <h3 class="board-reply-v1__tit">답변</h3>
        <span class="board-reply-v1__date">2017.12.01</span>
    </div>
    <div class="board-reply-v1__body">
        <div class="board-article">
            <p>
                안녕하세요?<br>
                홈페이지 관리자입니다. 국외 타대생의 경우 개설되는 교과목을 수강하기 위해서는 청강신청이 있습니다.<br>
                신청기한 : 개강 15일전까지<br>
                청강료 : 학부교과목 - 학점당 25만원, 대학원교과목 - 학점당 50만원<br>
                청강신청서(소정양식)에 교과목 담당교수님의 서명을 받아야하며, 추천서(소정양식)에 현소속 대학의 대표자 추천직인을 받고, 최종학위증명서를 첨부하여 제출해야 합니다.<br>
                청강신청서 와 추천서 양식은  홈페이지-교육-학적양식모음-청강원서에서 다운 받으실수 있습니다.<br><br>
                감사합니다.
            </p>
        </div><!-- //board-article -->
    </div>
</div><!-- //board-reply-v1 -->
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="#" class="btn-v5 btn-v5_al-left"><span>수정</span></a>
    <a href="qa_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
    <a href="#" class="btn-v5 btn-v5_al-right"><span>삭제</span></a>
</div>
<div class="board-preview">
    <div class="board-preview__item board-preview__prev">
        <div class="board-preview__head">이전글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
    <div class="board-preview__item board-preview__next">
        <div class="board-preview__head">다음글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
</div>













