<%
    page = "notice"
    sub = 5
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<table class="table-row-v1 notice-view-table" summary="">
    <colgroup>
        <col class="notice-view-table__th">
        <col class="notice-view-table__td">
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">제목</th>
        <td class="table-row-v1__td" colspan="3">
            <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w100p" title="제목" value="유기물 분석 (전분석) 의뢰에 관한 상담입니다."></div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">작성자</th>
        <td class="table-row-v1__td">홍*동</td>
        <th class="table-row-v1__th">등록일</th>
        <td class="table-row-v1__td">2017.12.01</td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">전화번호</th>
        <td class="table-row-v1__td">010-1234-5678</td>
        <th class="table-row-v1__th">이메일</th>
        <td class="table-row-v1__td">gildong@naver.com</td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->
<div class="board-editor">
    <p>Editor 영역</p>
</div>
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="qa_01_list.html" class="btn-v3 btn-v3_w210"><span>등록</span></a>
    <a href="#" class="btn-v5"><span>취소</span></a>
</div>













