<%
    page = "notice"
    sub = 4
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<table class="table-row-v1 notice-view-table" summary="">
    <colgroup>
        <col class="notice-view-table__th">
        <col class="notice-view-table__td">
    </colgroup>
    <tbody class="table-row-v1__tbody">
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">제목</th>
        <td class="table-row-v1__td table-row-v1__m-row view-tag" colspan="5">
            <div class="table-row-v1__m-cell">표면분석 장비의 통합비교(AES, SIMS, XPS and XRD)</div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">작성자</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">관리자</div>
        </td>
        <th class="table-row-v1__th">등록일</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">2017.12.01</div>
        </td>
        <th class="table-row-v1__th">조회수</th>
        <td class="table-row-v1__td table-row-v1__m-row">
            <div class="table-row-v1__m-cell">120</div>
        </td>
    </tr>
    <tr class="table-row-v1__row">
        <th class="table-row-v1__th">첨부파일</th>
        <td class="table-row-v1__td table-row-v1__m-row" colspan="5">
            <div class="table-row-v1__m-cell table-row-v1__data"><span class="icon icon_file icon_prev">첨부파일</span><a href="" class="link">sims_aes_aa.pdf</a></div>
        </td>
    </tr>
    </tbody>
</table><!-- //table-row-v1 -->
<div class="board-view-v1">
    <div class="board-view-v1__body">
        <div class="board-article">
            <p>표면분석장비들(SIMS, XPS and AES)을 이용하여 아래의 분야에 적용한 분석사례들입니다.<br>
                1. Semiconductor<br>
                2. Magnetic Media<br>
                3. Materials Research<br>
                4. Polymers<br>
                5. Thin Films and Coating<br>
                6. Biomedical<br>
                7. Pharmaceutical
            </p>
        </div><!-- //board-article -->
    </div>
</div><!-- //board-view-v1 -->
<div class="board-btn-wrap board-btn-wrap_next">
    <a href="notice_01_list.html" class="btn-v3 btn-v3_w210"><span>목록</span></a>
</div>
<div class="board-preview">
    <div class="board-preview__item board-preview__prev">
        <div class="board-preview__head">이전글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용 FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
    <div class="board-preview__item board-preview__next">
        <div class="board-preview__head">다음글</div>
        <div class="board-preview__tit"><a href="#" class="link">FIB에 대한 기초 이론과 다양한 응용</a></div>
    </div>
</div>













