<%
    page = "notice"
    sub = 4
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="board-top-v2">
    <% include ../_inc/_board_search %>
</div>
<ul class="board-notice">
    <li class="board-notice__list board-notice_m-hide">
        <div class="board-notice__row">
            <div class="board-notice__th board-notice__th_nth1">번호</div>
            <div class="board-notice__th board-notice__th_nth2">제목</div>
            <div class="board-notice__th board-notice__th_nth3">작성자</div>
            <div class="board-notice__th board-notice__th_nth4">등록일</div>
            <div class="board-notice__th board-notice__th_nth5">조회</div>
        </div>
    </li>
    <% for (var i=10; i>0; i--) { %>
    <li class="board-notice__list <% if(i > 7 && i <= 10){ %>icon-link<% } %>">
        <div class="board-notice__row">
            <div class="board-notice__td board-notice_m-hide"><%= i %></div>
            <div class="board-notice__td board-notice__td_wrap board-notice__td_align-left">
                <a href="refer_01_view.html" class="board-notice__link">표면분석 장비의 통합비교(AES, SIMS, XPS and XRD)</a>
            </div>
            <div class="board-notice__td board-notice_m-hide">관리자</div>
            <div class="board-notice__td board-notice__date board-notice_m-block">2017.12.13</div>
            <div class="board-notice__td board-notice_m-hide">300</div>
        </div>
    </li>
    <% } %>
</ul><!-- board-notice -->
<% include ../_inc/_pagination1 %>