<%
page = "work"
sub = 1
title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
%>
<% layout('../_layout/_layout') -%>

<div class="center-box">
    <p class="summary-v1 summary-v1_al-center">분석의뢰 신청 완료되었습니다.</p>
    <div class="center-box__btns">
        <a href="../main/main.html" class="center-box__btn btn-v3 btn-v3_w210 btn-v3_m-w-auto btn-v3_line"><span>메인으로</span></a>
        <a href="../work/work_03.html" class="center-box__btn btn-v3 btn-v3_w210 btn-v3_m-w-auto btn-v3_red"><span>분석시료 발송안내</span></a>
    </div>
</div>













