<%
    page = "work"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="work_04_01.html" class="tab-v1__link">가속기 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_02.html" class="tab-v1__link">화학 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_03.html" class="tab-v1__link">구조/표면 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_04.html" class="tab-v1__link">전자현미경 분석</a></li>
        <li class="tab-v1__item is-active"><a href="work_04_05.html" class="tab-v1__link">NMR 분석</a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="fees-section">
    <p class="tit-v3">기준: <span class="color-red">2018.01</span> (단위: 원)</p>
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="20%">
                    <col class="fees_table__th2" width="20%">
                    <col class="fees_table__th3" width="20%">
                    <col class="fees_table__th4" width="20%">
                    <col class="fees_table__th5" width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th">시험항목</th>
                    <th class="table-col-v2__th">기본요금(1시간 내)</th>
                    <th class="table-col-v2__th">측정요금(추가시간)</th>
                    <th class="table-col-v2__th">전처리비</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td">600MHz NMR</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">40,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">10,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">400MHz NMR</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">400MHz NMR(Solid)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">40,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">40,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">20,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td" rowspan="3">800MHz NMR</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">일반 : 110,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">일반 : 110,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">45,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">공기업/중소기업 : 88,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">공기업/중소기업 : 88,000</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">대학 : 55,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">대학 : 55,000</td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>





























