<%
    page = "work"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="work_04_01.html" class="tab-v1__link">가속기 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_02.html" class="tab-v1__link">화학 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_03.html" class="tab-v1__link">구조/표면 분석</a></li>
        <li class="tab-v1__item is-active"><a href="work_04_04.html" class="tab-v1__link">전자현미경 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_05.html" class="tab-v1__link">NMR 분석</a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="fees-section">
    <p class="tit-v3">기준: <span class="color-red">2018.01</span> (단위: 원)</p>
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="10%">
                    <col class="fees_table__th2" width="15%">
                    <col class="fees_table__th3" width="20%">
                    <col class="fees_table__th4" width="20%">
                    <col class="fees_table__th5" width="20%">
                    <col class="fees_table__th5" width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th" colspan="2">시험항목</th>
                    <th class="table-col-v2__th">기본요금</th>
                    <th class="table-col-v2__th">특수분석요금</th>
                    <th class="table-col-v2__th">판독요금</th>
                    <th class="table-col-v2__th">야간 및 주말<br>유저 직접 사용</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="11">SEM</td>
                    <td class="table-col-v2__td">Nova-SEM</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">FE-SEM</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 20,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">E-SEM(저진공)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">130,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Inspect F</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 20,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Inspect F50</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 20,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">TeneoVS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">VS:기본료 250,000/<br>시료 + 150,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">EBIC</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Cooled stage/CL</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">160,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Heating stage/저온CL</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">190,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">3D-SEM</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">EPMA</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">130,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">정량:40,000/시간<br> Mapping:20,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center">Raman</td>
                    <td class="table-col-v2__td">Raman</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">110,000/시간</td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="13">TEM</td>
                    <td class="table-col-v2__td" rowspan="2">Titan</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 30,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">150,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EELS:70,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td" rowspan="2">Tecnai</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">250,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 30,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">120,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EELS:50,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">CryoTEM</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EELS:50,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Talos</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">250,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">EDS: 70,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">125,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">구조분석(SADP/HREM)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">250,000/건(내부)<br>450,000/건(외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">화학분석(EDS/EELS)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">250,000/건(내부)<br>450,000/건(외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">3D 토모그래피</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의(내,외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Heating/Cryo holder</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">ASTAR/Top-spin</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의(내,외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Lorentz</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의(내,외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">in-situ mechanical holder</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="8">FIB</td>
                    <td class="table-col-v2__td">FIB-TEM 시편제작</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">550,000/시편</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Nova-FIB</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">140,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Helios-FIB<br> (부가기능 : EDS, EBSD)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">140,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Quanta 3D<br>(부가기능 : EDS)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">별도 요금</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">IV measure/<br>Tensile,Bending</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Cryo-FIB sampling</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">900,000/시편</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Cryo-FIB imaging</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Amira (slice &amp; view)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="10">시료준비</td>
                    <td class="table-col-v2__td">PIPS-TEM 시편제작</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">550,000/시편</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">PIPS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">30,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">30,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Embedding/Trimming</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Ultramicrotome</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Cryo-ultramicrotome</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">550,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">고분자 시편준비</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">생물 시편 준비</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">HPF/AFS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">기본료: 500,000 <br>120,000/shut</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">HPF</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">기본료: 20,000 <br>80,000/shut</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Vitrobot</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/<br>시료 2개 grid</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">AP</td>
                    <td class="table-col-v2__td">LEAP 측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">IVAS 분석</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/건</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시간(내부)<br> 70,000/시간(외부)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/건</td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
            <p class="table-col-v2__info">유저 직접 사용의 경우 특수 분석에 대한 별도 사용료 부과는 없음. 단 소모품은 별도 준비</p>
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>





























