<%
    page = "work"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item"><a href="work_04_01.html" class="tab-v1__link">가속기 분석</a></li>
        <li class="tab-v1__item is-active"><a href="work_04_02.html" class="tab-v1__link">화학 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_03.html" class="tab-v1__link">구조/표면 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_04.html" class="tab-v1__link">전자현미경 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_05.html" class="tab-v1__link">NMR 분석</a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="fees-section">
    <p class="tit-v3">기준: <span class="color-red">2018.01</span> (단위: 원)</p>
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="auto">
                    <col class="fees_table__th2" width="13.3%">
                    <col class="fees_table__th3" width="13.3%">
                    <col class="fees_table__th4" width="13.3%">
                    <col class="fees_table__th5" width="13.3%">
                    <col class="fees_table__th6" width="13.3%">
                    <col class="fees_table__th7" width="13.3%">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th" colspan="2" rowspan="2">시험항목</th>
                    <th class="table-col-v2__th" colspan="3">전처리</th>
                    <th class="table-col-v2__th" colspan="3">측정요금</th>
                </tr>
                <tr>
                    <th class="table-col-v2__th">기본요금</th>
                    <th class="table-col-v2__th">전처리내용</th>
                    <th class="table-col-v2__th">전처리비용</th>
                    <th class="table-col-v2__th">원소기본료</th>
                    <th class="table-col-v2__th">내용</th>
                    <th class="table-col-v2__th">측정요금</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="19">무기물 분석</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">ICP-OES, AAS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">100,000/건</td>
                    <td class="table-col-v2__td">단순전처리</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">80,000/원소</td>
                    <td class="table-col-v2__td" rowspan="2">단순염</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">40,000/시료(동일원소 측정시 적용)</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">알칼리,황산,MW</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">80,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">불산,과염소산</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시료</td>
                    <td class="table-col-v2__td">특정원소 과량염많음</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시료 (동일원소 측정시 적용)</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">Silica(Si)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">225,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/원소</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">ICP-QMS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">100,000/건</td>
                    <td class="table-col-v2__td">단순전처리</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">90,000/원소</td>
                    <td class="table-col-v2__td" rowspan="3">원소측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">60,000/시료(동일원소 측정시 적용)</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">알칼리,황산,MW</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">80,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">불산,과염소산</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">ICP-QMS (total quant)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시료</td>
                </tr>
                <!--<tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">ICP-HRMS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/5개</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/원소</td>
                </tr>-->
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">LA-ICP-MS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000/원소</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">fs-LA</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/원소</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">fs-LA (total quant)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/원소</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">fsLA system imaging</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">fsLA system 분석연구</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시간</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">상압하 fsLA 가공</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">문의</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">UV/Vis/NIR</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/횟수</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">DMA(Hg)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">85,000/시료</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">무기비소(4종)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">2,500,000/30ea</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">500,000/10ea</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">무기비소(6종)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">3,500,000/50ea</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">500,000/10ea</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">pH meter</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">30,000/시료</td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>
<div class="fees-section">
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="5%">
                    <col class="fees_table__th2" width="18%">
                    <col class="fees_table__th3" width="16%">
                    <col class="fees_table__th4" width="17%">
                    <col class="fees_table__th5" width="30%">
                    <col class="fees_table__th6" width="auto">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th" colspan="2">시험항목</th>
                    <th class="table-col-v2__th">항목</th>
                    <th class="table-col-v2__th">기본요금</th>
                    <th class="table-col-v2__th">측정요금</th>
                    <th class="table-col-v2__th">전처리비</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="40">유기물<br>분석</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="4">GC/MS</td>
                    <td class="table-col-v2__td">기본</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">short(단순추출)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">long</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000~</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">유도체</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">정성</td>
                    <td class="table-col-v2__td">10 &lt; x &lt; 20</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">5개 추가시마다</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">정량분석</td>
                    <td class="table-col-v2__td">분석성분 &lt; 5</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">분석성분 5 &lt; X &lt; 10</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">&gt; 10</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">LC/HRMS</td>
                    <td class="table-col-v2__td">기본</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">direct HRMS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">전처리</td>
                    <td class="table-col-v2__td">short(단순추출)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">long</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000~</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="4">MS recording</td>
                    <td class="table-col-v2__td">10 &lt; x &lt; 20</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">&gt; 30</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">elemental<br> composition<br> 10 &lt; X &lt; 20</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">elemental<br> composition &gt; 10</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">MS/MS recording</td>
                    <td class="table-col-v2__td">10 &lt; x &lt; 20</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">70,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">&gt; 20</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">120,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">정량분석</td>
                    <td class="table-col-v2__td">분석성분 &lt; 5</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">분석성분 &gt; 5</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">FT-IR</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">Microsscope-IR</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">60,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">SDT</td>
                    <td class="table-col-v2__td" rowspan="2">TG/DSC(STD)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">40,000/시간(~1000℃)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000/시간(~1500℃)</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">DSC</td>
                    <td class="table-col-v2__td">DSC</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">40,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="3">EA</td>
                    <td class="table-col-v2__td">C,H,N</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">80,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">C,H,N,S</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">O(Oxygen)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">80,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">LC/IC</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">-</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">80,000/시간</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">RBS</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">ERD</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="4">비임상 PK</td>
                    <td class="table-col-v2__td">Plasma stability<br>(n=3)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">250,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Rat PK (IV+PO)<br>(n=3)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">2,400,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Pat PK (IV or PO)<br>(n=3)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">1,400,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Mouse PK<br>(n=3)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">1,100,000</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="4">metabolomics<br>(Q-TOF LC/MS)</td>
                    <td class="table-col-v2__td">측정+align</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">&gt; 200개: 70,000/시료<br>&lt; 200개: 100,000/시료</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Library Auto Listup</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/200물질</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Library Search ID</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">400,000/100물질</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Exact ID</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000/물질</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center"></td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>





























