<%
    page = "work"
    sub = 3
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>
<div class="tab-v1">
    <ul class="tab-v1__list">
        <li class="tab-v1__item is-active"><a href="work_04_01.html" class="tab-v1__link">가속기 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_02.html" class="tab-v1__link">화학 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_03.html" class="tab-v1__link">구조/표면 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_04.html" class="tab-v1__link">전자현미경 분석</a></li>
        <li class="tab-v1__item"><a href="work_04_05.html" class="tab-v1__link">NMR 분석</a></li>
    </ul>
</div><!-- //tab-v1 -->

<div class="fees-section">
    <p class="tit-v3">기준: <span class="color-red">2018.01</span> (단위: 원)</p>
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="15%">
                    <col class="fees_table__th2" width="8.5%">
                    <col class="fees_table__th3" width="15.5%">
                    <col class="fees_table__th4" width="18.5%">
                    <col class="fees_table__th5" width="13%">
                    <col class="fees_table__th6">
                    <col class="fees_table__th7" width="6%">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th" rowspan="2">분석종류</th>
                    <th class="table-col-v2__th" rowspan="2">시료 전처리</th>
                    <th class="table-col-v2__th" colspan="2">전처리방법</th>
                    <th class="table-col-v2__th" rowspan="2">분석료(개당)</th>
                    <th class="table-col-v2__th" rowspan="2">검출한계</th>
                    <th class="table-col-v2__th" rowspan="2">비고</th>
                </tr>
                <tr>
                    <th class="table-col-v2__th">시료</th>
                    <th class="table-col-v2__th">전처리</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="9">탄소연대 측정(C-14)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="6">포함</td>
                    <td class="table-col-v2__td" rowspan="2">나무</td>
                    <td class="table-col-v2__td">AAA</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000</td>
                    <td class="table-col-v2__td" rowspan="9"><sup class="sup">14</sup>C/<sup class="sup">12</sup>C = 1×10<sup class="sup">-15</sup>,<br class="only-mo" />100년 - 55,000년</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">Holo-Cellulose</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">400,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">숯</td>
                    <td class="table-col-v2__td">AAA</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">토양</td>
                    <td class="table-col-v2__td">Humic Acid (AAA)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">450,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td" rowspan="2">조개류</td>
                    <td class="table-col-v2__td">EA 연소</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">400,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">산처리</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">450,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">미포함</td>
                    <td class="table-col-v2__td">표적</td>
                    <td class="table-col-v2__td">측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">100,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">흑연</td>
                    <td class="table-col-v2__td">표적제작 및 측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">흑연화</td>
                    <td class="table-col-v2__td">건조유기물</td>
                    <td class="table-col-v2__td">흑연화, 표적제작 및 측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">250,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center" rowspan="2">생체시료*(C-14)</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">포함</td>
                    <td class="table-col-v2__td">건조 유기물</td>
                    <td class="table-col-v2__td">산화, 흑연화</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">300,000</td>
                    <td class="table-col-v2__td" rowspan="2">0.1 - 100Mod</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td table-col-v2__td_text-center">미포함</td>
                    <td class="table-col-v2__td">표적</td>
                    <td class="table-col-v2__td">측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">150,000</td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr class="table-col-v2__line-b">
                    <td class="table-col-v2__td table-col-v2__td_text-center">Be-10</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">미포함</td>
                    <td class="table-col-v2__td">표적</td>
                    <td class="table-col-v2__td">측정</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000</td>
                    <td class="table-col-v2__td"><sup class="sup">10</sup>Be/<sup class="sup">9</sup>Be = 1×10-<sup class="sup">14</sup></td>
                    <td class="table-col-v2__td"></td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
            <p class="fees-info"><span class="color-red">*</span> 생체 시료의 경우 14C의 농도가 100Mod 이상인 경우 가속기의 오염 문제로 100Mod 이하로 묽혀서 제공해야 함.</p>
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>
<div class="fees-section">
    <p class="tit-v3">기준: <span class="color-red">2018.01</span> (단위: 원)</p>
    <div class="board-scroll">
        <div class="board-scroll__fade only-mo"></div>
        <div class="board-scroll__x">
            <table class="table-col-v2 fees_table">
                <colgroup>
                    <col class="fees_table__th1" width="20%">
                    <col class="fees_table__th2" width="20%">
                    <col class="fees_table__th3" width="20%">
                    <col class="fees_table__th4" width="20%">
                    <col class="fees_table__th5" width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th class="table-col-v2__th">시험항목</th>
                    <th class="table-col-v2__th">기본요금</th>
                    <th class="table-col-v2__th">측정요금</th>
                    <th class="table-col-v2__th">전처리비</th>
                    <th class="table-col-v2__th">판독요금</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="table-col-v2__td">RBS</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000&#47;의뢰</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">200,000&#47;시료</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td"></td>
                </tr>
                <tr>
                    <td class="table-col-v2__td">ERD</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">50,000&#47;의뢰</td>
                    <td class="table-col-v2__td table-col-v2__td_text-center">350,000&#47;시료</td>
                    <td class="table-col-v2__td"></td>
                    <td class="table-col-v2__td"></td>
                </tr>
                </tbody>
            </table><!-- //table-col-v2 -->
            <p class="fees-info"><span class="color-red">*</span> 생체 시료의 경우 14C의 농도가 100Mod 이상인 경우 가속기의 오염 문제로 100Mod 이하로 묽혀서 제공해야 함.</p>
        </div>
        <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
    </div>
</div>
<div class="fees-section">
    <div class="fees-tip">
        <h2 class="fees-section__tit">장비 사용료 및 시료 크기</h2>
        <p class="para-v4">Implantation 비용 = 기본료 + 장비 사용료</p>
        <ol class="fees-tip__list">
            <li class="fees-tip__item">
                <div class="fees-tip__row">
                    <div class="fees-tip__cell">
                        <h3 class="fees-tip__tit"><span class="fees-tip__number">1</span><span class="fees-tip__tit-txt">기본료 : 50만원 (단, 수소 등의 Gas Source는 30 만원)</span></h3>
                        <p class="para-v4">기본료는 장비이용을 위해 부과되는 금액임. ( 1 Day 기준으로 부과 )</p>
                    </div>
                </div>
            </li>
            <li class="fees-tip__item">
                <div class="fees-tip__row">
                    <div class="fees-tip__cell">
                        <h3 class="fees-tip__tit"><span class="fees-tip__number">2</span><span class="fees-tip__tit-txt">Dose 시간 : 40 만원 &#47; 시간</span></h3>
                        <p class="para-v4 para-v4_dot">H+ 를 기준으로 Dose량 2.0E+14 ions &#47; cm2 (H+ ion) 기준할 경우 40 만원/시간으로 Imax 값 및 Dose량에 따라 산정함.</p>
                        <p class="para-v4 para-v4_dot">수소, 아르곤 외의 산정값은 Imax 값을 고려하여 dose 량에 따라 별도로 산정됨. (He, Be, N, Si, In, Ag, Zn, Sn, 등)</p>
                        <p class="para-v4 para-v4_dot">준비 시간을 제외한 Dose 시간은 1 시간 단위를 기본으로 장비 사용료를 Charge 함.</p>
                    </div>
                </div>
            </li>
            <li class="fees-tip__item">
                <div class="fees-tip__row">
                    <div class="fees-tip__cell">
                        <h3 class="fees-tip__tit fees-tip__tit_type2"><span class="fees-tip__number">3</span><span class="fees-tip__tit-txt">수소, 헬륨, 질소, 그리고 알곤 등을 제외한 원소의 implantation에 대해선 시약 값이 추가로 발생됨.</span></h3>
                    </div>
                </div>
            </li>
            <li class="fees-tip__item">
                <div class="fees-tip__row">
                    <div class="fees-tip__cell">
                        <h3 class="fees-tip__tit"><span class="fees-tip__number">4</span><span class="fees-tip__tit-txt">장비 사용료 정의</span></h3>
                        <p class="para-v4 para-v4_dot">준비 시간 ( 1시간 ) + Dose 시간 ( = 40 만원 /시간 )</p>
                        <p class="para-v4 para-v4_dot">단, 4" wafer 기준 4개 이상의 시료인 경우엔 시편 탈착시간 ( 1시간 )이 추가로 부과됨.</p>
                    </div>
                </div>
            </li>
            <li class="fees-tip__item">
                <div class="fees-tip__row">
                    <div class="fees-tip__cell">
                        <h3 class="fees-tip__tit fees-tip__tit_type2"><span class="fees-tip__number">5</span><span class="fees-tip__tit-txt">시편 크기 : 4" wafer 크기를 기준하여 작은 크기로 자유롭게 제작가능.</span></h3>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>





























