<%
    page = "work"
    sub = 2
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="send-tip">
    <ul class="send-tip__list">
        <li class="send-tip__item">
            <h3 class="send-tip__tit">발송 유의사항</h3>
            <div class="send-tip__table">
                <div class="send-tip__cell">
                    <ul class="send-tip__para-list">
                        <li class="send-tip__para-item"><p class="para-v3 para-v3_dot">영문시험 성적서 발급을 원하실 경우에는 영문의뢰서를 작성하셔야 합니다.</p></li>
                        <li class="send-tip__para-item"><p class="para-v3 para-v3_dot">시료는 택배 또는 우편등기 소포를 이용하여 보내주시기 바랍니다.</p></li>
                        <li class="send-tip__para-item"><p class="para-v3 para-v3_dot">발송 주소가 정확하지 않을 경우에는 시료접수가 늦어질 수 있으므로 아래 주소 작성 예시를 확인하여 주십시오.</p></li>
                    </ul>
                </div>
                <!--<div class="send-tip__cell send-tip__cell_bottom">
                    <div class="send-tip__download">
                        <a href="#" class="btn-v3 btn-v3_gray btn-v3_icon"><span>분석의뢰서(MS word)</span><i class="btn-v3__download"></i></a>
                        <a href="#" class="btn-v3 btn-v3_red btn-v3_icon"><span>분석의뢰서(HWP 한글)</span><i class="btn-v3__download"></i></a>
                    </div>
                </div>-->
            </div>
        </li>
        <li class="send-tip__item">
            <h3 class="send-tip__tit">계산서 발행 안내</h3>
            <div class="send-tip__table">
                <div class="send-tip__cell">
                    <ul class="send-tip__para-list">
                        <li class="send-tip__para-item"><p class="para-v3 para-v3_dot">분석이 완료되면 자동으로 계산서가 발행됩니다.<br>신규기관이나 사업자등록증 변경이  있을시 사업자등록증 사본을 첨부해주시기 바랍니다.</p></li>
                        <li class="send-tip__para-item"><p class="para-v3 para-v3_dot">계산서 문의 : <a href="tel:02-958-6971" class="send-tip__link">02-958-6971</a></p></li>
                    </ul>
                </div>
                <div class="send-tip__cell">
                    <div class="send-tip__download">
                        <a href="../../data/BusinessLicense2013.pdf" class="btn-v3 btn-v3_gray btn-v3_icon" download="BusinessLicense2013.pdf"><span>사업자등록증 다운받기</span><i class="btn-v3__download"></i></a>
                    </div>
                </div>
            </div>
        </li>
        <li class="send-tip__item">
            <div class="send-tip__table">
                <div class="send-tip__cell">
                    <h3 class="send-tip__tit">분석료 입금계좌번호 안내</h3>
                    <p class="para-v3">저희기관은 접수번호당(접수건) 일회용가상계좌를 발행해드리며<br>세금계산서상의 금액과 계좌번호를 정확히 입력해주셔야 입금이 가능합니다.</p>
                    <p class="para-v3 para-v3_bold para-v3_orange">다른 계좌의 입금시 반환 조치되오니 확인부탁드립니다.</p>
                </div>
                <div class="send-tip__cell">
                    <div class="send-tip__bank">
                        <dl class="bank">
                            <dt class="bank__tit">우리은행</dt>
                            <dd class="bank__info">
                                <span class="bank__num">254-014998-01-079</span>
                                <span class="bank__name">예금주: 한국과학기술연구원</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </li>
        <li class="send-tip__item">
            <div class="send-tip__table">
                <div class="send-tip__block">
                    <h3 class="send-tip__tit">발송주소 예시</h3>
                    <p class="para-v3"><strong class="para-v3_regular">서울시 성북구 화랑로 14길 5 특성분석센터 (우편번호 02792) + [장비별 상세주소], [분석기기명], [담당자 연락처]</strong>를 기재해 주십시오.</p>
                </div>
                <div class="send-tip__block">
                    <p class="para-v3 para-v3_regular">받는사람 주소 작성예시</p>
                    <div class="example">
                        <div class="example__aligner">
                            <div class="example__content">
                                <div class="example__item">서울시 성북구 화랑로 14길5 특성분석센터</div>
                                <div class="example__item example__item_m-center">
                                    <div class="example__marker nth-1" data-title="장비별 상세주소"><span class="example__marker-txt">L1134,</span></div>
                                    <div class="example__marker nth-2" data-title="분석기기명"><span class="example__marker-txt">XRF</span></div> 담당자 앞
                                </div>
                                <div class="example__item">전화번호: <div class="example__marker nth-3" data-title="각 장비별 담당자 연락처"><span class="example__marker-txt">02-958-5958</span></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="send-tip__item">
            <div class="send-tip__table">
                <div class="send-tip__block">
                    <h3 class="send-tip__tit">장비별 상세주소, 담당자 연락처 안내</h3>
                </div>
            </div>
            <div class="send-tip__table">
                <table class="equipment-table">
                    <thead class="equipment-table__thead">
                        <tr class="equipment-table__row">
                            <th class="equipment-table__th">분석분야</th>
                            <th class="equipment-table__th">분석장비명</th>
                            <th class="equipment-table__th">장비별 상세주소</th>
                            <th class="equipment-table__th">담당자 연락처</th>
                        </tr>
                    </thead>
                    <tbody class="equipment-table__tbody">
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">APT (Atom Probe Tomography)</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">APT</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :">L5115C</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :">02-958-4946</td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">RAMAN</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">RAMAN</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :">L5145</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :">02-958-4944</td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">EPMA</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">EPMA</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :">L5145</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :">02-958-5540</td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">SEM</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FE-SEM(Nova-SEM)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5972</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FE-SEM(Inspect F50)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5973</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FE-SEM(Inspect F)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-4944</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FE-SEM(Teneo VS)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5540</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FE-SEM(Hitachi)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5973</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">ESEM</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__inner-td_m-block" data-title="장비별 상세주소 :">L5145</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5972</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">FIB</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">Nova NanoLab 600</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">5115A</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5985</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">Helios NanoLab 600</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5115F</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5539</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">Quanta 3D FEG</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5117D</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-6973</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">TEM</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TEM (TITAN)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">5117D</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5986</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TEM (Talos)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5117A</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-4940</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TEM (Tecnai)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5117E</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5983</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TEM (Cryo)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5117B</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5970</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">TEM Sampling</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TEM Sampling-재료 (금속,세라믹)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5144</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-6972</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">EM Sampling Prep (생체, 고분자)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5113C</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5987</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">Cryo Sampling</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L5147B</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5987</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">FTIR & CHNS Analyzer</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">FTR</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2334</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-9564</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">Microscope IR</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2334</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">-</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">EA</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2334</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5998</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">DSC</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2334</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-6830</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TG-DTA</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2334</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">-</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">HPLC, IC & GC-FID</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">HPLC</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2325</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5963</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">IC</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2325</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5963</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">GC-FID</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_empty equipment-table__m-block" data-title="장비별 상세주소 :">L2325</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5998</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">ICP-OES, -MS</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">ICP-OES</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">ICP-MS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">HPLC-ICP/MS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">AAS, DMA, UV/VIS-NIR Spectrometer</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">AAS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">DMA</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">UV-VIS/NIR Spectrometer</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">Femtosecond Laser Ablation</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">fsLA</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">fsLA-ICP/MS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">LIBS(ns,fs)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2336</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5967,5968</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">NMR</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">800 MHz</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5143</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5996</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">600 MHz(liquid)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2133</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5965</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">400 MHz(solid)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2133</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5982</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">MS(MS/MS), 비임상 PK</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">LC-HRMS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2330</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-6830</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">LC/MS/MS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2330</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5920</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">GC-TOFMS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2330</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5964</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">GC-MS/MS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2330</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5964</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">비임상 PK</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L2330</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5920</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">XPS</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">XPS/UPS</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :">L5113</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :">02-958-5975</td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">XRD,XAFS&SAXS</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(고출력 분말-P1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5427</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(2D-D1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5958</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(박막-T1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5958</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRR(D2)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5958</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(분말-D3)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5427</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(고온/저온 –HT2)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5427</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XRD(고분해능-HR1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5958</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">XAFS(A1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5962</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">SAXS(S1)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L1134</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5427</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">XRF</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">XRF</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :">L1134</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :">02-958-5427</td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">AES&SIMS</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__wrap" colspan="3">
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">AES(OJ)</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5113E</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5974</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">TOF-SIMS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5113D</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5977</div>
                                    </div>
                                </div>
                                <div class="equipment-table__inner-table">
                                    <div class="equipment-table__inner-row">
                                        <div class="equipment-table__inner-td equipment-table__inner-td_left" data-title="분석장비명 :">D-SIMS</div>
                                        <div class="equipment-table__inner-td equipment-table__inner-td_rowspan" data-title="장비별 상세주소 :">L5113F</div>
                                        <div class="equipment-table__inner-td" data-title="담당자 연락처 :">02-958-5984</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="equipment-table__row" data-collapsed="true">
                            <td class="equipment-table__td equipment-table__m-th">AFM&nano-indenter</td>
                            <td class="equipment-table__td equipment-table__m-td" data-title="분석장비명 :">AFM</td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left" data-title="장비별 상세주소 :"></td>
                            <td class="equipment-table__td equipment-table__m-td equipment-table__td_center equipment-table__td_m-left equipment-table__td_last" data-title="담당자 연락처 :"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript" src="../../js/transition.height.js"></script>
<script type="text/javascript">
$(window).on('load', function () {
    toggleAnimation('.equipment-table__m-th', 40);
    $(window).on('resize', function () {
        var isMobile = $('body').attr('data-mobile') === 'true';
        if(!isMobile){
            $('tr[data-collapsed]').each(function () {
                $(this).css('height','').attr('data-collapsed', true);
            });
        }
    })
    $('.equipment-table__tbody tr:eq(0)').find('.equipment-table__m-th').trigger('click');
});
</script>