<%
    page = "work"
    sub = 1
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="agree-article">
    <p class="agree-article__sum">본 분석 의뢰서를 접수해 주시면 상세상담을 진행하게 됩니다. 상세상담 후 분석의뢰 절차에 따라 시료를 보내주시면 됩니다.</p>
    <div class="agree-article__box">
        <div class="agree-article__inner">
            <p>특성분석센터 개인정보 보호 정책</p>
            <p>※ 총 칙</p>
            <p>1. 특성분석센터는 ‘정보통신망이용촉진및정보보호등에관한법률’상의 개인정보보호 규정과 정보통신부가 제정한 ‘개인정보보호지침’ 및 ‘개인정보의 기술적/관리적 보호조치 기준’을 준수하고 있습니다.<br>
                또한 특성분석센터는 ‘개인정보보호정책’을 제정하여 회원들의 개인정보 보호를 위해 최선을 다하겠음을 선언합니다.</p>
            <p>2. 특성분석센터의 ‘개인정보보호정책’은 관련 법률 및 정부 지침의 변경과 특성분석센터의 내부 방침 변경에 의해 변경될 수 있습니다.<br>
                특성분석센터이의 ‘개인정보보호방침’이 변경될 경우 변경사항은 특성분석센터 홈페이지의 공지사항에 최소 7일간 게시됩니다.</p>
        </div>
    </div>
    <label class="agree-checkbox-v1 agree-checkbox-v1__right">
        <input type="checkbox" name="chk" id="chk" class="agree-checkbox-v1__input"><i class="agree-checkbox-v1__ico"></i> 개인정보 수집에 동의합니다
    </label>
</div><!-- //agree-article -->

<div class="receipt">
    <p class="para-v1 para-v1_text-right"><span class="color-red">*</span> 필수입력항목</p>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">의뢰기관<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="의뢰기관(필수항목)"></div>
            </td>
            <th class="table-row-v1__th">대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="대표자(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">구분<span class="required-v1">(필수)</span><span class="table-row-v1__m-info">(개인 선택시 계산서 발행 없음)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_info-edit">
                    <div class="form-box__item">
                        <label class="radio-set-v1">
                            <input type="radio" name="tt"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt radio-set-v1__txt_ml5">사업자</span>
                        </label>
                    </div>
                    <div class="form-box__item">
                        <label class="radio-set-v1">
                            <input type="radio" name="tt"  class="radio-set-v1__input"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt radio-set-v1__txt_ml5">개인<span class="only-pc">(개인 선택시 계산서 발행 없음)</span></span>
                        </label>
                    </div>
                    <div class="form-box__item text-right">
                        <a href="#" class="btn-v4 btn-v4_w150 btn-v4_m-w77"><span>정보수정</span></a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box__addr">
                    <div class="form-box__item form-box__item_addr form-box__item_addr_v2">
                        <div class="input-v1__btn-set">
                            <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호1(필수)">
                                </div>
                                <div class="tel-set-v1__item">
                                    <input type="text" class="tel-set-v1__input input-v1" title="우편번호2(필수)">
                                </div>
                            </div>
                            <a href="#" class="btn-v4 input-v1__btn btn-v4_m-w77"><span>우편번호</span></a>
                        </div>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="주소1(필수항목)" disabled>
                    </div>
                    <div class="form-box__item form-box__item_addr">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="주소2(필수항목)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">의뢰자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="의뢰자(필수항목)"></div>
            </td>
            <th class="table-row-v1__th">의뢰자 직위<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="의뢰자 직위(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">소속<br class="only-pc">(부서명 or 연구실명)</th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="소속(부서명 or 연구실명)"></div>
            </td>
            <th class="table-row-v1__th">책임자<br class="only-pc">(부서팀장 or <br class="only-pc">연구실 교수명)</th>
            <td class="table-row-v1__td">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="책임자(부서팀장 or 연구실 교수명)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">전화번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <!-- <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="전화번호(필수항목)"></div> -->
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(필수항목">
                                <option value="">선택</option>
                                <option value="02">02</option>
                                <option value="031">031</option>
                                <option value="032">032</option>
                                <option value="033">033</option>
                                <option value="041">041</option>
                                <option value="042">042</option>
                                <option value="043">043</option>
                                <option value="051">051</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                                <option value="061">061</option>
                                <option value="062">062</option>
                                <option value="063">063</option>
                                <option value="064">064</option>
                                <option value="070">070</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                </div>
            </td>
            <th class="table-row-v1__th">휴대폰번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <!-- <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="휴대폰번호(필수항목)"></div> -->
                <div class="form-box tel-set-v1 tel-set-v1_w315 tel-set-v1_m-full">
                    <div class="tel-set-v1__item">
                        <div class="select-set-v1">
                            <select name="" id="" class="select-set-v1__select" title="전화번호(필수항목)">
                                <option value="">선택</option>
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                        </div>
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                    <div class="tel-set-v1__item">
                        <input type="text" class="tel-set-v1__input input-v1" title="전화번호(필수항목)">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" title="이메일(필수항목)"></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">의뢰일자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">2018-08-20</td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">시험 요청사항</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box"><textarea name=""  cols="30" rows="10" class="textarea-v1 textarea-v1_w100p cscenter-table__textarea" title="시험 요청사항"></textarea></div>
                <div class="form-box form-box_next"><p class="para-v2"><span class="inline-block">* 800자 이내로</span> <span class="inline-block">입력하여 주시기 바랍니다.</span></p></div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">성적서 발급</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_m-justify">
                    <div class="form-box__item form-box__item_check-list form-box__item--m-w-full">
                        <label class="checkbox-set-v1">
                            <input type="checkbox" name=""  class="checkbox-set-v1__input" title="KIST 일반성적서"><i class="checkbox-set-v1__ico"></i><span class="checkbox-set-v1__txt">KIST 일반성적서</span>
                        </label>
                        <div class="help-box">
                            <button type="button" class="help-box__button js-help-button">?</button>
                            <span class="help-box__content">범부처 연구과제,<br>R&D용 성적서 대응 가능</span>
                        </div>
                    </div>
                    <div class="form-box__item form-box__item_check-list form-box__item--m-w-full form-box__item--m-mt-5">
                        <label class="checkbox-set-v1">
                            <input type="checkbox" name="" class="checkbox-set-v1__input" data-popup="#layer-popup-a" title="KOLAS 공인성적서(별도의 추가요금 있음)"><i class="checkbox-set-v1__ico"></i><span class="checkbox-set-v1__txt">KOLAS 공인성적서(별도의 추가요금 있음)</span>
                        </label>
                        <div class="help-box">
                            <button type="button" class="help-box__button js-help-button">?</button>
                            <span class="help-box__content">수출용 및 해외 성적서 대응<br>문의처 : <a href="tel:02-958-4949" class="help-box__link">02-958-4949</a></span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">분석장비</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item form-box__item_btn-set">
                        <div class="select-set-v1 select-set-v1_w295 select-set-v1_pr110 select-set-v1_m-full">
                            <select name="" id="" class="select-set-v1__select" title="장비선택">
                                <option value="">장비선택</option>
                                <option value="">1</option>
                                <option value="">2</option>
                            </select>
                        </div>
                        <a href="#" class="btn-v4 input-v1__btn" onclick="windowOpen('popup/reserve.html','1240','875');">
                            <span>장비예약</span>
                        </a>
                    </div>
                </div>
                <p class="para-v2 is-next">※ 장비예약 현황을 보시려면 장비예약버튼을 클릭하세요.</p>
            </td>
        </tr>
        <!--<tr>
            <th class="table-row-v1__th">예약일자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="예약일자(필수항목)">
                </div>
            </td>
            <th class="table-row-v1__th">시간<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box form-box-set">
                    <span class="form-box-set__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="시(필수항목)">
                    </span>
                    <span class="form-box-set__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="분(필수항목)">
                    </span>
                </div>
            </td>
        </tr>-->
        <tr>
            <th class="table-row-v1__th">성적서 신청</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_m-justify">
                    <div class="form-box__item form-box__item_check-list">
                        <label class="checkbox-set-v1">
                            <input type="checkbox" name=""  class="checkbox-set-v1__input" title="국문"><i class="checkbox-set-v1__ico"></i><span class="checkbox-set-v1__txt">국문</span>
                        </label>
                        <span class="input-v2__txt">(</span><input type="text" class="input-v2 input-v2_w40" value="0"><span class="input-v2__txt">)매</span>
                    </div>
                    <div class="form-box__item form-box__item_check-list">
                        <label class="checkbox-set-v1">
                            <input type="checkbox" name=""  class="checkbox-set-v1__input" title="영문"><i class="checkbox-set-v1__ico"></i><span class="checkbox-set-v1__txt">영문</span>
                        </label>
                        <span class="input-v2__txt">(</span><input type="text" class="input-v2 input-v2_w40" value="0"><span class="input-v2__txt">)매</span>
                    </div>
                    <div class="form-box__item form-box__item_check-list">
                        <label class="checkbox-set-v1">
                            <input type="checkbox" name=""  class="checkbox-set-v1__input" title="필요없음"><i class="checkbox-set-v1__ico"></i><span class="checkbox-set-v1__txt">필요없음</span>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">보존기간</th>
            <td class="table-row-v1__td" colspan="3">분석 완료 후 1개월 후 폐기</td>
        </tr>
        <tr>
            <th class="table-row-v1__th">첨부파일</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                  <span class="upload-set-v1 upload-set-v1_w100p">
                    <span class="upload-set-v1__wrap" data-value="찾아보기">
                      <input type="file" name=""  class="upload-set-v1__file upload-hidden" title="첨부파일">
                    </span>
                    <input type="text" name=""  class="input-v1 upload-set-v1__input upload-name" readonly="readonly" title="첨부파일이름(읽기전용)">
                  </span><!-- //upload-set-v1 -->
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">시료명<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="시료명(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">시료수<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="시료수(필수항목)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시료양</th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="시료양"></div>
                </div>
            </td>
            <th class="table-row-v1__th">분석결과단위</th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="분석결과단위"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">시료설명</th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w100p" maxlength="" title="시료설명"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">결제 방법<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box form-box_m-justify">
                    <!--<div class="form-box__item form-box__item_check-list">
                        <label class="radio-set-v1">
                            <input type="radio" name="aa"  class="radio-set-v1__input" title="전자계산서(부가세없음)" checked><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">전자계산서(부가세없음)</span>
                        </label>
                    </div>-->
                    <div class="form-box__item form-box__item_check-list">
                        <label class="radio-set-v1">
                            <input type="radio" name="aa"  class="radio-set-v1__input" title="카드결제"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">카드결제</span>
                        </label>
                    </div>
                    <div class="form-box__item form-box__item_check-list">
                        <label class="radio-set-v1">
                            <input type="radio" name="aa"  class="radio-set-v1__input" title="가상계좌"><i class="radio-set-v1__ico"></i><span class="radio-set-v1__txt">가상계좌</span>
                        </label>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">계산서발급<span class="table-row-v1-header__info">※ 계산서발급은 사업자 가상계좌 결제일 경우만 가능합니다</span></h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">담당자(법인명)<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="담당자(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">전화번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="전화번호(필수항목)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">이메일<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="이메일(필수항목)"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">사업자 등록증 정보</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col class="receipt-table__td">
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">등록번호<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="등록번호(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">상호(법인명)<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="상호(법인명)(필수항목)"></div>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">대표자<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w295 input-v1_m-full" maxlength="" title="대표자(필수항목)"></div>
                </div>
            </td>
            <th class="table-row-v1__th">업태·종목</th>
            <td class="table-row-v1__td">
                <div class="form-box form-box_v2 form-box-set">
                    <span class="form-box-set__input form-box-set_v2__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="업태">
                    </span>
                    <span class="form-box-set__input form-box-set_v2__input">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="종목">
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="table-row-v1__th">사업장주소<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item"><input type="text" name=""  class="input-v1 input-v1_w100p" maxlength="" title="사업장주소(필수항목)"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="table-row-v1-header">
        <h3 class="table-row-v1-header__tit">자동등록방지 문자 입력</h3>
    </div>
    <table class="table-row-v1 receipt-table" summary="">
        <colgroup>
            <col class="receipt-table__th">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="table-row-v1__th">자동등록방지<span class="required-v1">(필수)</span></th>
            <td class="table-row-v1__td" colspan="3">
                <div class="form-box">
                    <div class="form-box__item form-box__item_recaptcha">
                        <span class="input-v1__btn-set input-v1__btn-set_v2"><input type="text" name="" class="input-v1" title="자동등록방지(필수항목)" disabled><a href="#" class="btn-v4 input-v1__btn"><span>새로고침</span></a></span>
                    </div>
                    <div class="form-box__item form-box__item_follow">
                        <input type="text" name="" class="input-v1 input-v1_w295 input-v1_m-full" title="자동등록방지 입력">
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table><!-- //table-row-v1 -->

    <div class="board-btn-wrap board-btn-wrap_next">
        <a href="" class="btn-v3 btn-v3_w210 btn-cancle">
            <span>취소</span>
        </a>
        <a href="" class="btn-v3 btn-v3_w210 btn-v3_red btn-confirm">
            <span>확인</span>
        </a>
    </div>
</div>

<div class="layer-popup" id="layer-popup-a">
    <div class="layer-popup__wrap">
        <div class="popup">
            <div class="popup__header popup__header_fixed">
                <a class="popup__close" href="#none" data-popup-close="#layer-popup-a">닫기</a>
                <h1 class="popup__title">KOLAS 인정항목</h1>
            </div>
            <div class="popup__content">
                <div class="board-scroll">
                    <div class="board-scroll__fade only-mo"></div>
                    <div class="board-scroll__x">
                        <table class="table-col-v4 kolas-table">
                            <colgroup>
                                <col class="kolas-table__col1">
                                <col class="kolas-table__col2">
                                <col class="kolas-table__col3">
                                <col class="kolas-table__col4">
                                <col class="kolas-table__col5">
                                <col class="kolas-table__col6">
                            </colgroup>
                            <thead>
                            <tr>
                                <th class="table-col-v4__th">인정분야</th>
                                <th class="table-col-v4__th">선택</th>
                                <th class="table-col-v4__th">시험 규격번호</th>
                                <th class="table-col-v4__th">시험규격명</th>
                                <th class="table-col-v4__th">시험범위</th>
                                <th class="table-col-v4__th">담당자/연락처</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="table-col-v4__td" rowspan="3">01.001 금속 및 관련제품</td>
                                <td class="table-col-v4__td">
                                    <label class="checkbox-set-v1"><input type="checkbox" name=""  class="checkbox-set-v1__input"><i class="checkbox-set-v1__ico"></i></label>
                                </td>
                                <td class="table-col-v4__td">KS D ISO 9220:2009</td>
                                <td class="table-col-v4__td">금속피막-피막의 두께측정-주사전자현미경에 의한 방법</td>
                                <td class="table-col-v4__td">두께(SEM) 180nm~1mm</td>
                                <td class="table-col-v4__td"><span class="inline-block">정영우/</span><span class="inline-block">02-958-6972</span></td>
                            </tr>
                            <tr>
                                <td class="table-col-v4__td">
                                    <label class="checkbox-set-v1"><input type="checkbox" name=""  class="checkbox-set-v1__input"><i class="checkbox-set-v1__ico"></i></label>
                                </td>
                                <td class="table-col-v4__td">ISO 9220:1988</td>
                                <td class="table-col-v4__td">Metallic coatings<br>-Measurement of coating thickness<br>-Scanning electron microscope method</td>
                                <td class="table-col-v4__td">두께(SEM) 180nm~1mm</td>
                                <td class="table-col-v4__td"><span class="inline-block">정영우/</span><span class="inline-block">02-958-6972</span></td>
                            </tr>
                            <tr>
                                <td class="table-col-v4__td">
                                    <label class="checkbox-set-v1"><input type="checkbox" name=""  class="checkbox-set-v1__input"><i class="checkbox-set-v1__ico"></i></label>
                                </td>
                                <td class="table-col-v4__td">KS D 8544:2016</td>
                                <td class="table-col-v4__td">금속피막-피막의 두께측정-투과전자현미경에 의한 방법</td>
                                <td class="table-col-v4__td">두께(TEM) 10nm~2㎛</td>
                                <td class="table-col-v4__td"><span class="inline-block">조민경/</span><span class="inline-block">02-958-5986</span></td>
                            </tr>
                            </tbody>
                        </table><!-- //table-col-v4 -->
                    </div>
                    <p class="board-scroll__info only-mo"><i class="icon"></i>좌우로 스크롤하여 내용을 확인 해 주세요.</p>
                </div>
            </div>
            <!--<div class="popup__footer">
                <a href="#" class="btn-v4 btn-v4_w85 btn-v4_line"><span>선택</span></a>
            </div>-->
        </div>
    </div>
</div>
<div class="dimmed"></div>
<script src="../../js/work.js"></script>