<%
    page = "work"
    sub = 0
    title = (jsonData.pages[page].children) ? jsonData.pages[page].children[sub].title : jsonData.pages[page].title.eng
    pageSlide = 1
%>
<% layout('../_layout/_layout') -%>

<div class="rail">
    <ul class="rail__list">
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">1</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">분석상담</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">2</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">의뢰서 작성</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">3</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">분석료 청구</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">4</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">시료 접수</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">5</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">분석</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">6</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">분석료 납부</span>
        </li>
        <li class="rail__item">
            <div class="rail__circle">
                <span class="rail__num">7</span>
                <span class="rail__txt">step</span>
            </div>
            <span class="rail__tit">결과보고서</span>
        </li>
    </ul>
</div>
<div class="step">
    <div class="step__detail">
        <ul class="step__list">
            <li class="step__item" data-num="1">
                <div class="step__item-tit nth-1">
                    <span class="step__num">STEP1</span>
                    <span class="step__tit">분석상담</span>
                </div>
                <div class="step__desc">온라인으로 접수하신 의뢰서를 토대로 상세 상담을 진행합니다.<br />궁금하신 사항은 대표번호 <a href="tel:02-958-5959" class="step__tel">02.958.5959</a>, <a href="tel:02-958-4949" class="step__tel">02.958.4949</a>로 전화주십시오.</div>
            </li>
            <li class="step__item" data-num="2">
                <div class="step__item-tit nth-2">
                    <span class="step__num">STEP2</span>
                    <span class="step__tit">분석의뢰서 작성</span>
                </div>
                <div class="step__desc"><a href="work_02.html" class="step__link">[분석의뢰 작성하기]</a> 를 눌러 온라인으로 분석의뢰 하실 내용을 접수해 주십시오.</div>
                <div class="step__btn"><a href="work_02.html" class="btn-v3 btn-v3_gray btn-v3_icon"><span>분석의뢰서 작성하기</span><i class="btn-v3__arr-v1"></i></a></div>
            </li>
            <li class="step__item" data-num="3">
                <div class="step__item-tit nth-3">
                    <span class="step__num">STEP3</span>
                    <span class="step__tit">분석료 청구</span>
                </div>
                <div class="step__desc">세부상담을 통해 안내받으신 내용으로 분석료가 청구됩니다.</div>
                <div class="step__btn"><a href="work_04_01.html" class="btn-v3 btn-v3_gray btn-v3_icon"><span>이용수수료 보기</span><i class="btn-v3__arr-v1"></i></a></div>
            </li>
            <li class="step__item" data-num="4">
                <div class="step__item-tit nth-4">
                    <span class="step__num">STEP4</span>
                    <span class="step__tit">시료 접수</span>
                </div>
                <div class="step__desc">분석의뢰하실 시료를 택배, 등기, 직접 접수의 방법으로 저희 센터로 보내주십시오. 시료 발송 주소 및 상세한 방법은 <a href="../main/main.html" class="step__link">[시료접수 방법안내]</a> 를 눌러 참조해 주십시오.</div>
                <div class="step__btn"><a href="work_03.html" class="btn-v3 btn-v3_gray btn-v3_icon"><span>시료접수 방법안내</span><i class="btn-v3__arr-v1"></i></a></div>

            </li>
            <li class="step__item" data-num="5">
                <div class="step__item-tit nth-5">
                    <span class="step__num">STEP5</span>
                    <span class="step__tit">분석</span>
                </div>
                <div class="step__desc">보내주신 시료를 분석합니다.</div>
            </li>
            <li class="step__item" data-num="6">
                <div class="step__item-tit nth-6">
                    <span class="step__num">STEP6</span>
                    <span class="step__tit">분석료 납부</span>
                </div>
                <div class="step__desc">분석이 완료되면 분석료를 납부합니다.<br /><span class="para-v3 para-v3_dot">계산서 관련 문의 : 02.958.6971</span></div>
            </li>
            <li class="step__item" data-num="7">
                <div class="step__item-tit nth-7">
                    <span class="step__num">STEP7</span>
                    <span class="step__tit">결과보고서</span>
                </div>
                <div class="step__desc">분석료의 납부가 확인되면 시험성적서를 메일로 보내드립니다.<br />또한 요청하신 내용에 따라, 국문, 영문, 부본 성적서를 발송하여 드립니다.</div>
            </li>
        </ul>
    </div>
</div>

<div class="table-col-v1-header table-col-v1-header_next">
    <h3 class="table-col-v1-header__tit">분석가능 시료</h3>
</div>
<table class="table-col-v1 sample-table">
    <colgroup>
        <col class="sample-table__col1">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th class="table-col-v1__th">구분</th>
        <th class="table-col-v1__th">가능 시료</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="table-col-v1__th">금속재료</th>
        <td class="table-col-v1__td">
            철, 강 및 비철금속 분석<br />
            신소재 조성 분석, 극미량 불순물 또는 첨가물 분석<br />
            반도체 소재 분석
        </td>
    </tr>
    <tr>
        <th class="table-col-v1__th">세라믹스 및 지질 시료</th>
        <td class="table-col-v1__td">
            내화물, 단열재, 유리, 후릿트 등 분석<br />
            광물질, 암석, 토양, 모래 등의 분석
        </td>
    </tr>
    <tr>
        <th class="table-col-v1__th">화학 및 화공</th>
        <td class="table-col-v1__td">
            공업약품, 시약, 농약 등 분석<br />
            염료, 안료, 고무, 피혁, 사진재료, 촉매, 화약 등 분석<br />
            석유화학제품 및 플라스틱 재료 분석<br />
            벙커C유, 석탄 등의 화석 시료 분석

        </td>
    </tr>
    <tr>
        <th class="table-col-v1__th">식품 및 생물 시료</th>
        <td class="table-col-v1__td">
            중금속 및 인체 유해성분 분석<br />
            미네랄 및 인체 유효성분 분석<br />
            동물 조직, 기관, 체액 및 체모 분석<br />
            사료 첨가제 중 비타민류 및 무기물 분석
        </td>
    </tr>
    <tr>
        <th class="table-col-v1__th">수질 시료</th>
        <td class="table-col-v1__td">
            N(NH<sub class="sub">3</sub>), N(NO<sub class="sub">3</sub>), Cl-, SO<sub class="sub">4</sub><sup class="sup">2-</sup>, CN<sup class="sup">-</sup>, F<sup class="sup">-</sup>, HCO<sub class="sub">3</sub><sup class="sup">-</sup>, CO<sub class="sub">3</sub><sup class="sup">2-</sup>, CO<sub class="sub">2</sub>, pH, S<sup class="sup">2-</sup>, KMnO<sub class="sub">4</sub> 소비량, COD, n-hexane 추출물질, phenols, PCBs, ABS, total hardness, acidity, alkalinity, suspended solids, total dissolved solids, THM, 유기인, diazinon, parathion, malathion, fenitrothion, 증발잔유물, Cr<sup class="sup">6+</sup>, SiO<sub class="sub">2</sub>금속원소등의 분석
            약수, 광천수, 지하수, 수도수 등의 음용수 분석
        </td>
    </tr><tr>
        <th class="table-col-v1__th">환경 시료</th>
        <td class="table-col-v1__td">
            생활하수, 산업 폐수 분석<br />
            토양, 슬러지 및 산업 폐기물 분석<br />
            대기 및 분진 분석<br />
            농약의 잔류성분 분석<br />
            대기환경 오염물질의 분석, 구조결정 및 VOCs 분석
        </td>
    </tr>
    </tbody>
</table><!-- //table-col-v1 -->