@charset "utf-8";
@import "mixin";


// Board
//
// 게시판에 사용되는 style 정의 입니다.

// 게시판 목록

// board-headline-v1
.board-headline-v1 { overflow:hidden; margin-bottom:20px; line-height:1.5; color:$black-body; font-size:13px;
	&__item { }
	&__img-wrap { overflow:hidden; float:left; position:relative; width:320px; height:180px; border:1px solid #dedfde; margin-right:30px; }
	&__txt-wrap { overflow:hidden; height:180px; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { overflow:hidden; margin-bottom:5px; font-size:24px; color:$black-tit; font-weight:$bold; line-height:1.3; white-space:nowrap; text-overflow:ellipsis; }
	&__edge { color:#999; }
	&__summary { clear:both; overflow:hidden; height:8.25em; margin-top:20px; line-height:1.65; @include line-clamp(5,1.65); }
	@media only screen and (max-width:$tablet-size) {
		&__img-wrap { float:none; width:auto; height:0; margin-right:0; margin-bottom:10px; padding-bottom:56.2%; }
		&__txt-wrap { height:auto; }
		&__img { width:100%; }
		&__tit { font-size:15px; margin-bottom:10px; }
		&__summary { @include line-clamp(6,1.5); margin-top:10px; line-height:1.5; height:auto; max-height:9em; }
	}
}

// board-headline-v2
.board-headline-v2 { overflow:hidden; position:relative; color:$black-body; line-height:1.5; margin-bottom:50px;
	$this:&;
	&_another { }
	&__item { margin-left:-20px; }
	@include img-wrap();
	&__img-wrap { float:left; -webkit-box-sizing:border-box; box-sizing:border-box; width:66.66%; height:380px; margin-right:20px; padding-left:20px;
		#{$this}_another & { height:480px; }
	}
	&__wrap { position:relative;height:100%;
		iframe { position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height:100%; margin:auto; }
	}
	&__txt-wrap { overflow:auto; display:block; display:flex; flex-direction:column; height:380px;
		#{$this}_another & { height:480px; }
	}
	&__tit { font-size:20px; color:$black-tit; font-weight:$bold; }
	&__edge { margin-top:5px; color:#999; }
	&__summary { overflow:auto; margin-top:30px; text-align:justify; padding-right:0.5em; /*20161222 수정 */ }
	&__btn { display:block; color:$black-body; text-decoration:none; margin-top:40px;
		&>span { -webkit-box-sizing:border-box; box-sizing:border-box; display:table-cell; width:1%; height:40px; border:1px solid #ddd; text-align:center; vertical-align:middle; }
	}
	@media only screen and (max-width:$tablet-size) { margin-bottom:25px;
		&__item { margin-left:0; }
		&__img-wrap { float:none; width:auto; height:0; padding-bottom:57.62%; margin-right:0; padding-left:0;
			#{$this}_another & { height:0; padding-bottom:75%; }
		}
		&__txt-wrap { height:auto; margin-top:15px;
			#{$this}_another & { height:auto; }
		}
		&__wrap { position:static; }
		&__tit { font-size:13px; }
		&__summary { height:9em; margin-top:15px; }
		&__btn { margin-top:20px; }
	}
}

// board-list-v1
//
// 반응형 게시판 목록입니다.
.board-list-v1 { width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space:nowrap; line-height:1.5;
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:47px; padding:5px 10px; border-bottom:1px solid #e5eaf0; text-align:center; font-weight:$regular; font-size:16px; vertical-align: middle; }
	&__td { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; height:70px; padding:5px 10px; border-top:1px solid #e5eaf0; text-align:center; font-size:14px; text-overflow:ellipsis; color:$gray2;  vertical-align: middle;
		&_align-left { text-align:left; }
		&_wrap { white-space:normal;}
		&_break-all { word-break:break-all;}
	}
	&__link { display:inline-block; text-overflow:ellipsis; vertical-align:middle; height:1.5em; white-space:normal; overflow:hidden; color:inherit; text-decoration:none;
		&:hover,
		&:focus  { text-decoration:underline; }
	}
	&__fixed { table-layout: fixed; }
	@media only screen and (max-width:$tablet-size) {
		border-top-width:1px;
		//&__th { display:none; }
		&__th { height:auto; font-size:13px; padding:5px 10px; }
		&__td { height:auto; padding:5px 10px; font-size:12px;
			//&[data-title]:before {  content:attr(data-title); }
		}
		&__m-hide { display:none; }
		&__m-tit { float:left; width:100%; display:block; font-weight:$bold; font-size:13px; }
		&__m-left { float:left; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__m-right { float:right; display:block; margin-top:-3px; padding-top:0px; border:none; }
		&__link {
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; content:''; }
			&:hover,
			&:focus  { text-decoration:none; }
		}
	}
}
// board-list-v2
.board-list-v2 { display:table; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space: nowrap; line-height:1.5;
	&__row { display:table-row; width:100%; border-top:1px solid #e5eaf0; }
	&__th { display:table-cell; padding:0 10px; font-size:16px; font-weight: $regular; color:$black-body; text-align: center; vertical-align: middle; height:47px; }
	&__td { display:table-cell; padding:0 10px; font-size:14px; font-weight: $light; color:#767676; text-align: center; vertical-align: middle; height:80px;
		&_align-left { text-align: left; }
		&_align-right { text-align: right; }
		&_wrap { white-space:normal;}
	}
	@media only screen and (max-width:$tablet-size) {
		&__row { padding-bottom:10px; }
		&__row:first-child + li { border-top:0; }
		&__td { height:auto; font-size:12px; line-height: 16px;
			&_wrap { min-height:32px; margin-bottom:5px; padding:10px 10px 5px !important; vertical-align:middle; overflow:hidden; /*@include line-clamp(2,1.4); height:2.8em;*/ line-height:1.4; }
		}
		&__m-th { position:relative; width:1%; padding:7px 0; border-bottom:1px solid #e5eaf0;
			&:after { display:table-cell; width:1px; height:10px; background-color:#c6d0da; position:absolute; left:0; top:0; bottom:0; margin:auto; content:' '; }
			&:first-child {
				&:after { display:none; }
			}
		}
		&__m-td { display:block; padding:0 10px; margin-bottom:0; box-sizing: border-box; overflow:hidden; }
		&__m-left { float:left; }
		&__m-align-left { text-align:left; }
		&__m-align-right { text-align:right; }
		&__m-block { display:block; width:100%; }
	}
}
// board-list-v3
.board-list-v3 { display:table; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space: nowrap; line-height:1.5;
	&__row { display:table-row; width:100%; border-top:1px solid #e5eaf0; }
	&__th { display:table-cell; padding:0 10px; font-size:16px; font-weight: $regular; color:$black-body; text-align: center; vertical-align: middle; height:47px; }
	&__td { display:table-cell; padding:0 10px; font-size:14px; font-weight: $light; color:#767676; text-align: center; vertical-align: middle; height:80px;
		&_align-left { text-align: left; }
		&_wrap { white-space:normal; }
	}
	&__img { display:inline-block; vertical-align: middle; }
	&__link { text-decoration: none; color:inherit; }
	@media only screen and (max-width:$tablet-size) {
		&__row { padding-bottom:10px; }
		&__row:first-child + li { border-top:0; }
		&__td { height:auto; font-size:12px; line-height: 16px;
			&_wrap { min-height:32px; margin-bottom:5px; padding:0; vertical-align:middle; overflow:hidden; @include line-clamp(2,1.4); height:2.8em; line-height:1.4; }
		}
		&__img { padding-right:11px; width:90px; height:62px;
			& img { width:100%; height:100%; }
		}
		&__m-th { position:relative; width:1%; padding:7px 0; }
		&__m-td { display:block; padding:0; margin-bottom:0; box-sizing: border-box; overflow:hidden; }
		&__m-left { float:left; }
		&__m-align-left { text-align:left; }
		&__m-align-right { text-align:right; }
		&__m-block { display:block; width:100%; }
		&__m-hide { display:none; }
	}
}

// board-scroll
@media only screen and (max-width:$tablet-size){
	.board-scroll { width:100%; display:table; table-layout: fixed; position:relative;
		&+& {  }
		&__fade { position: absolute; right: 0; width: 15px; height: 100%; background-image: linear-gradient(0deg, rgba(255,255,255,.5), #fff); }
		&__x { overflow-x:auto; overflow-y:hidden; width:100%; padding-bottom:10px;
			&::-webkit-scrollbar { appearance:none; width:2px; height:8px; }
			&::-webkit-scrollbar-thumb { border-radius: 5px; border:2px solid #fff; background-color:#e3eaf0; }
		}
		& table { min-width: 700px; }
		&__info { font-size:11px; margin-top:9px; position:relative; padding-left:27px; text-align: left;
			& .icon { display:table-cell; width:21px; height:15px; position:absolute; top:0; left:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-scroll-hand.png); background-size: 21px 15px; }
		}
	}
}

// board-notice
// 공지사항 게시판 폼
.board-notice { display:table; table-layout: fixed; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space: nowrap; line-height:1.5;
	&__list { display:table-row-group; width:100%; border-top:1px solid #e5eaf0; }
	&__row { display:table-row; width:100%; }
	&__m-cell { display:table-cell; }
	&__th { display:table-cell; padding:0 10px; font-size:16px; font-weight: $regular; color:$black-body; text-align: center; vertical-align: middle; height:48px; }
	&__td { display:table-cell; padding:0 20px; font-size:14px; font-weight: $light; color:#767676; text-align: center; vertical-align: middle; height:60px;
		&_align-left { text-align: left; }
		&_wrap { overflow: hidden; text-overflow: ellipsis; }
	}
	&__img { display:inline-block; vertical-align: middle; }
	&__link { text-decoration: none; color:inherit;
		.icon-new &:after { display:inline-block; width:20px; height:20px; margin-left:6px; content: ''; vertical-align:top; background-image: url("../images/icon/icon-new2-circle.png");  }
		.icon-link &:after { display:inline-block; width:14px; height:17px; margin-left:6px; content: ''; vertical-align:middle; background-image: url("../images/icon/icon-link.png"); }
	}
	&__pre { font-weight: $regular; }
	@media only screen and (max-width:$tablet-size) {
		&__list { display:block; }
		&__list:first-child + li { border-top:0; }
		&__row { display:table-cell; height:70px; padding:8px 0 6px; box-sizing: border-box; vertical-align: middle; width:1%; }
		&__td { height:auto; font-size:13px; line-height: 20px; padding:0;
			&_wrap { max-width:100%; max-height:40px; vertical-align:middle; overflow:hidden; @include line-clamp(2,1.5); height:3em; line-height:1.5; }
		}
		&__pre { color:$red; }
		&__date { margin-top:2px; text-align: left; font-size:11px; }
		&__link {
			.icon-new & {
				&:after { width:13px; height:13px; margin-left:2px; vertical-align: middle; background-size:13px 13px; }
			}
		}
	}
	@media only screen and (max-width:$tablet-size) {
		&_m-hide { display:none; }
		&_m-block { display:block; }
	}
}

// board-magazine-v1
//
// 매거진형 게시판 목록입니다.
//
// Markup:
// <ul class="board-magazine-v1">
//     <li class="board-magazine-v1__item">
//         <a href="" class="board-magazine-v1__link">
//             <div class="board-magazine-v1__img-wrap">
//                 <img src="http://www.samsung.com/sec/consumer/images/pdp-wow/kitchen-appliances/refrigerators/fsr/RF90J9072XL/images/02_1280/02_00_kv_1280.jpg" alt="" class="board-magazine-v1__img">
//             </div>
//             <div class="board-magazine-v1__txt-wrap">
//                 <div class="board-magazine-v1__tit">세계 최초 항체 바이오시밀러 허가 획득</div>
//                 <div class="board-magazine-v1__edge">2015.08.08</div>
//                 <div class="board-magazine-v1__summary">
//                     국내 대표 바이오기업인 셀트리온은 금일 식품의약품안전청(KFDA)으로부터 자가면역질환 항체치료제 ‘램시마(Remsima)’의 제품 허가를 받았다. 이는 글로벌 임상결과를 근거로 국가별 의약품 규제기관으로부터 제품 허가를 획득한 세계 최초의 항체 바이오시밀러다. 이번 제품 허가는 항체 바이오시밀러 시장의 개막을 알리는 신호탄이며, 셀트리온이 ... 바이오시밀러 ....선도기업으로 성장할 수 있는 기반이 될 것으로 평가되고 있다. [출처] 셀트리온, 세계 최초 항체 바이오시밀러 허가 획득|작성자 hopyeong6200... ... 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한... 성황리에 진행됐다.
//                 </div>
//             </div>
//         </a>
//     </li>
//     <li class="board-magazine-v1__item">
//         <a href="" class="board-magazine-v1__link">
//             <div class="board-magazine-v1__img-wrap">
//                 <img src="http://food.chosun.com/site/data/img_dir/2013/11/20/2013112002224_1.jpg" alt="" class="board-magazine-v1__img">
//             </div>
//             <div class="board-magazine-v1__txt-wrap">
//                 <div class="board-magazine-v1__tit">세계 최초 항체 바이오시밀러 허가 획득</div>
//                 <div class="board-magazine-v1__edge">2015.08.08</div>
//                 <div class="board-magazine-v1__summary">
//                     국내 대표 바이오기업인 셀트리온은 금일 식품의약품안전청(KFDA)으로부터 자가면역질환 항체치료제 ‘램시마(Remsima)’의 제품 허가를 받았다. 이는 글로벌 임상결과를 근거로 국가별 의약품 규제기관으로부터 제품 허가를 획득한 세계 최초의 항체 바이오시밀러다. 이번 제품 허가는 항체 바이오시밀러 시장의 개막을 알리는 신호탄이며, 셀트리온이 ... 바이오시밀러 ....선도기업으로 성장할 수 있는 기반이 될 것으로 평가되고 있다. [출처] 셀트리온, 세계 최초 항체 바이오시밀러 허가 획득|작성자 hopyeong6200... ... 셀트리온의 홍승서 박사가 각각 맡아 진행했으며, 150여 명의 국내 류마티스내과 전문의들이 참여한... 성황리에 진행됐다.
//                 </div>
//             </div>
//         </a>
//     </li>
// </ul><!-- //board-magazine-v1 -->
//
// Styleguide 5.1.5

.board-magazine-v1 { margin:0; padding:0; list-style:none; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c; line-height:1.5;
	&__item { border-top:1px solid #dedfde;
		&:first-child { border-top:none; }
	}
	&__link { overflow:hidden; display:block; padding:20px 0; color:$black-body; text-decoration:none;
		&:hover {

		}
	}
	&__img-wrap { overflow:hidden;float:left; position:relative; width:200px; height:100px; border:1px solid #dedfde; margin-right:35px; }
	&__txt-wrap { overflow:hidden; position:relative; height:100px; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
	&__tit { display:table-cell; padding-bottom:15px; font-size:16px; color:$black-tit; font-weight:$bold; }
	&__edge { display:table-cell; width:1%; padding-left:10px; color:#999; text-align:right; }
	&__summary { clear:both; overflow:hidden; max-height:4.5em; text-align:justify; @include line-clamp(3,1.5); position:static; }
	@media only screen and (max-width:$tablet-size) { line-height:1.3;
		&__link { padding-top:15px; padding-bottom:15px; }
		&__img-wrap { width:100px; height:50px; margin-right:10px; }
		&__txt-wrap { height:50px;
			&:after { display:none; }
		}
		&__tit { overflow:hidden; display:block; position:relative; height:2.6em; padding-bottom:0; font-size:13px; @include line-clamp(2,1.3); }
		&__edge { display:block; position:absolute; bottom:0; left:0; width:auto; padding-left:0; font-size:12px; }
		&__summary { display:none; }
	}
}

// board-gallery-v1
//
// 갤러리형 게시판 입니다.
//
// 모바일 화면 전환시 두줄 형태로 변형됩니다.
.board-gallery-v1 { overflow:hidden; position:relative; margin:0 0 0 -20px; padding:0 0 40px; list-style:none; color:$black-body; line-height:1.3; border-bottom:1px solid #e4eaf0;
	$thumbSize:(248px/400px)*100%;
	&:before { display:block; margin-left:20px; border-top:2px solid #4a4a4a; content:'' }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; width:33.33333%; margin-top:30px; padding-left:20px; }
	&__link { display:block; text-decoration:none; color:inherit; border:1px solid #ccc; }
	&__img-wrap { -webkit-box-sizing:border-box; box-sizing:border-box; height:0; padding-bottom:#{$thumbSize}; }
	@include img-wrap;
	&__txt-wrap { padding:0 20px; margin:12px 0; overflow:hidden; @include line-clamp(2,1.375em); height: 2.75em; line-height: 1.375em; font-size:16px; }
	@media only screen and (max-width:$tablet-size) { margin:0 0 0 -10px; padding-bottom:20px;
		&:before { margin-left:10px; padding-top:5px; }
		&__item { width:50%; margin-top:10px; padding:0 0 0 10px; }
		&__img-wrap { height:88px; padding-bottom:0; }
		&__txt-wrap { padding:0 10px; margin:7px 0; overflow:hidden; font-size:13px; @include line-clamp(4,5.232); min-height:5.232em; height:5.232em; line-height:1.308; }
	}
}


// Pagination
//
// Styleguide 5.2

// pagination-v1
//
// 공통으로 사용되는 반응형 페이징입니다.<br>
// 기본 `margin-top:40px`이 적용되어 있습니다.
//
// Markup:
// <div class="pagination-v1">
//     <div class="pagination-v1__info"><span class="pagination-v1__location">1</span>/10</div>
//     <span class="pagination-v1__group pagination-v1__group_prev">
//         <a href="#" class="pagination-v1__item pagination-v1__item_home">처음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_prev">10페이지 이전</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_before">이전</a>
//     </span>
//     <span class="pagination-v1__group">
//         <a href="#" class="pagination-v1__item">1</a>
//         <a href="#" class="pagination-v1__item">2</a>
//         <a href="#" class="pagination-v1__item on">3</a>
//         <a href="#" class="pagination-v1__item">4</a>
//         <a href="#" class="pagination-v1__item">5</a>
//         <a href="#" class="pagination-v1__item">6</a>
//         <a href="#" class="pagination-v1__item">7</a>
//         <a href="#" class="pagination-v1__item">8</a>
//         <a href="#" class="pagination-v1__item">9</a>
//         <a href="#" class="pagination-v1__item">10</a>
//     </span>
//     <span class="pagination-v1__group pagination-v1__group_next">
//         <a href="#" class="pagination-v1__item pagination-v1__item_after">다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_next">10페이지 다음</a>
//         <a href="#" class="pagination-v1__item pagination-v1__item_end">마지막</a>
//     </span>
// </div><!-- //pagination-v1 -->
//
// Styleguide 5.2.1

.pagination-v1 { overflow:hidden; position:relative; margin-top:40px; text-align:center; font-size:0;
	&__info { display:none; line-height:34px; color:#999; font-size:13px; }
	&__location { color:$black-tit;}
	&__group { display:inline-block; text-align:center; vertical-align:middle; }
	&__item { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; min-width:34px; height:34px; margin:0 2px; border:1px solid #e6e6e6; font-size:14px; color:#959595; text-decoration:none; line-height:32px;
		&.on { border-color:$red; background-color:$red; color:#fff; }
		@mixin ico ($position) { overflow:hidden; position:relative; width:34px; text-indent:-1000em; border:0;
			&:before { position:absolute; top:0; left:0; right:0; bottom:0; width:11px; height:9px; margin:auto; @include background-image-retina('../images/icon/pagination-v1-ico','png',22px,18px); background-repeat:no-repeat; background-position:$position; content:''; }
		}
		&_home { @include ico(0 0) }
		&_end { @include ico(100% 100%) }
		&_before { @include ico(100% 0) }
		&_after { @include ico(0 100%) }
		&_prev { @include ico(100% 0) }
		&_next { @include ico(0 100%) }
	}
	@media only screen and (max-width:$tablet-size) {
		margin-top:20px;
		&__info { display:none; position:absolute; top:0; left:0; right:0; }
		&__item { font-size:12px; min-width:30px; height:30px; line-height: 28px;

		}
	}
}

// 게시판 상세
// board-view-v1
.board-view-v1 { display:table; width:100%; position: relative; line-height: 1.3; color:$black-body; table-layout:fixed;
	&__header { border-bottom:1px solid #dedfde; @include block; }
	&__body { border-bottom:1px solid #e4eaf0; padding:54px 50px; font-size:16px; line-height: 32px;
		&+.social-group { margin-top:0; }
	}
	&__footer { border-top:1px solid #8c8a8c;
		.social-group+& { margin-top:30px; }
	}
	&__prev,
	&__next { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; height:50px; padding:17px 10px 17px 50px; white-space:nowrap; text-overflow:ellipsis;
		&:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; @include background-image-retina('../images/board/board-view-v1-ico','png',12px,14px); background-repeat:no-repeat; content:''; }
	}
	&__prev { border-top:1px solid #dedfde;
		&:before { background-position:0 -7px; }
	}

	@media only screen and (max-width:$tablet-size) {
		&__body { padding:25px 10px; font-size:13px; line-height: 20px; }
		&__prev,
		&__next { height:30px; padding:6px 10px 6px 30px;
			&:before { left:10px; }
		}
	}
}
// board-view-v2
.board-view-v2 { position: relative; border-top: 2px solid #4a4a4a; border-bottom: 1px solid #c6d0db; line-height: 1.3; color:$gray2;
	&__header { border-bottom:1px solid #e4eaf0; @include block; }
	&__body { padding:50px 100px; font-size:16px; text-align:justify; line-height:2;
		&+.social-group { margin-top:0; }
	}
	&__footer { border-top:1px solid #8c8a8c;
		.social-group+& { margin-top:30px; }
	}
	&__tit { display:table-cell; float:left; padding:24px 20px; font-size:16px; color:$gray2; font-weight: $regular; }
	&__date { float: right; margin-left: 10px; font-size:14px; padding: 25px 20px; }
	&__wrap { padding: 17px 10px; }
	&__data { word-break: break-all;
		&+& { margin-top:10px; }
	}
	&__prev,
	&__next { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:relative; height:50px; padding:17px 10px 17px 50px; white-space:nowrap; text-overflow:ellipsis;
		&:before { position:absolute; top:0; bottom:0; left:20px; width:12px; height:7px; margin:auto; @include background-image-retina('../images/board/board-view-v1-ico','png',12px,14px); background-repeat:no-repeat; content:''; }
	}
	&__prev { border-top:1px solid #dedfde;
		&:before { background-position:0 -7px; }
	}

	@media only screen and (max-width:$tablet-size) {
		&__body { padding:25px 10px; font-size:13px; line-height: 1.5 }
		&__header { padding:10px 10px; }
		&__tit { display:block; float:none; font-size:15px; padding:0; line-height:1.3; }
		&__date { display:block; float:none; margin-left:0; padding:0; margin-top:7px; font-size: 11px; }
		&__wrap { padding: 7px 0; font-size: 12px; }
		&__prev,
		&__next { height:30px; padding:6px 10px 6px 30px;
			&:before { left:10px; }
		}
	}
}
// 게시판 상세내용 영역
.board-article { word-break: break-all; word-wrap: break-word;
	img { max-width:100%;
		@media only screen and (max-width:$tablet-size) { width:100%\9; } /*ie9 img max-width*/
	}
	object,embed { max-width:100%; }
	p { margin:0; font-size:inherit; }
}

// 이전글, 다음글
.board-preview { display:table; width:100%; margin-top:40px; border-bottom:1px solid #c6d0db; border-top:1px solid #c6d0db;
	$this: &;
	&__item { display:table-row;
		&+& {
			#{$this}__head { border-top:1px solid #cdd6e0; }
			#{$this}__tit { border-top:1px solid #d1d9e2; }
		}
	}
	&__head { display:table-cell; box-sizing: border-box; vertical-align: middle; text-align: center; width:190px; height:70px; padding:10px; font-size:16px; font-weight: $regular; color:$black-body; background-color: #eaf0f2; }
	&__tit { display:table-cell; box-sizing: border-box; vertical-align: middle; font-size:16px; height:70px; padding:10px 40px; font-weight: $light; color:$gray2;
		& .link { display:inline-block; }
	}
	@media only screen and (max-width:$tablet-size) { margin-top:20px;
		&__head { width:75px; padding:11px 10px 9px; font-size:13px; height:40px; }
		&__tit { font-size:13px; height:40px; padding:11px 10px 9px;
			& .link { overflow: hidden; @include line-clamp(1,1.5); }
		}
	}
}

// 게시판 버튼
// board-btn-wrap
.board-btn-wrap { text-align:center; @include block(); position:relative;
	&_next { margin-top:40px; }
	.preview-btn { font-size:0; line-height: 0; width:10px; height:10px; border-color:$gray2; border-style:solid; position:absolute; top:0; bottom:0; margin:auto;
		&_prev { float:left; border-width:2px 0 0 2px; transform:rotate(-45deg); left:2px; }
		&_next { float:right; border-width:2px 2px 0 0; transform:rotate(45deg); right:2px; }
	}
	@media only screen and (max-width:$tablet-size) {
		&_next { margin-top:20px; }
		.preview-btn { width:6px; height:6px;
			&_prev { border-width:1px 0 0 1px; }
			&_next { border-width:1px 1px 0 0; }
		}
	}
}

// 게시판 검색
//.board-top-v1
.board-top-v1{ @include block(); margin-bottom:15px;
	&__aligner { display:table-cell; height:50px;
		&_left { float:left; }
		&_right { float:right; }
	}
	&__item { display:table-cell; height:inherit; vertical-align: bottom; font-size:18px; line-height: 25px; color:$black-body; }
	&__cnt { color:$red; font-weight: $regular; }
	@media only screen and (max-width:$tablet-size) { margin-bottom:10px;
		&__aligner { height:32px; }
		&__item { font-size:14px; line-height: 1;  }
	}
}
// board-search-v1
.board-search-v1 { position:relative; max-width:820px; margin:0 auto 48px; border:1px solid $red; transition:max-width .5s; padding-left:160px; padding-right:62px; box-sizing: border-box;
	& .fieldset { position:static; }
	& .bar { display:table-cell; width:1px; height:28px; background-color:#c6d0db; position:absolute; top:0; bottom:0; left:160px; margin:auto;  }
	&__select { position:absolute; left:0; top:0; bottom:0; margin:auto; height:100%; appearance:none; border:0; width:160px; box-sizing:border-box; padding:0 24px; font-size:16px;
		background-image: url(../images/icon/icon-select.png); background-repeat: no-repeat; background-position: 84% 50%;
		&::-ms-expand { display: none; }
	}
	&__input { width:100%; -webkit-transition:width .5s; transition:width .5s;
		-webkit-box-sizing:border-box; box-sizing:border-box; height:58px; padding:12px 20px; border:0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	}
	&__submit { display:table-cell; position:absolute; right:0; top:0; bottom:0; margin:auto; width:34px; height:34px; padding:12px 20px; }
	@media only screen and (max-width:$tablet-size) { max-width:100%; margin:0 auto 12px; padding-left:80px; padding-right:30px;
		& .bar { height:16px; left:80px; }
		&__select { width:80px; font-size:11px; padding:0 12px; background-image: url(../images/icon/icon-select-m.png); background-size: 8px 5px; }
		&__input { height: 35px; padding:12px 10px; }
		&__submit { width:17px; height:17px; padding:9px 13px; }
	}
}
//.board-top-v2
.board-top-v2{ @include block(); margin-bottom:15px;
	&__aligner { display:table-cell; height:40px;
		&_left { float:left; }
		&_right { float:right; }
	}
	&__item { display:table-cell; height:inherit; vertical-align: bottom; font-size:18px; line-height: 25px; color:$black-body; }
	&__cnt { color:$red; font-weight: $regular; }
	@media only screen and (max-width:$tablet-size) { margin-bottom:10px;
		&__aligner { height:30px; }
		&__item { font-size:14px; line-height: 1; vertical-align: middle;  }
	}
}
// board-search-v2
.board-search-v2 { height:40px; @include block();
	&__select { float:left; width:120px; height:40px; appearance:none; box-sizing:border-box; padding:0 13px 0 16px; font-size:14px; border:1px solid #c6d0db;
		background-image: url(../images/icon/icon-select.png); background-repeat: no-repeat; background-position: 87% 50%;
		&::-ms-expand { display: none; }
	}
	&__input { float:left; width:200px; margin-left:-1px; margin-right:-1px; -webkit-transition:width .5s; transition:width .5s; font-size:14px; border:1px solid #c6d0db; background-color: #f3f8fa;
		-webkit-box-sizing:border-box; box-sizing:border-box; height:40px; padding:11px 20px; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	}
	&__submit { float:left; display: table-cell; padding:12px 11px 11px 12px; background-color: $gray2;}
	@media only screen and (max-width:$tablet-size) { height:30px; margin-bottom:10px;
		&__select { width:65px; height:30px; font-size:12px; padding:0 8px 0 7px; background-image: url(../images/icon/icon-select-m.png); background-size: auto 5px; }
		&__input { width:130px; height:30px; font-size:12px; padding:6px 7px 4px; }
		&__submit { padding:7px 6px 6px 7px; }
	}
}

// 게시판 필터링
.board-filter-v1 { margin-bottom:15px; margin-left:10px; text-align:left;
	@media only screen and (max-width:$mobile-size) { margin-bottom:2px;
		.fieldset { text-align: justify; line-height: 0;
			&:before { content: ''; display: block; width: 100%; }
			&:after { content: ''; display: inline-block; width: 100%; }
		}
	}
}

// 게시판 답변
// board-reply-v1
.board-reply-v1 {
	&__head { display:table; position:relative; width:100%; height:70px; background-color: #eaf0f2; border-bottom:1px solid #c6d0db; padding:0 50px; box-sizing: border-box;
		&:before { display:block; height:0; position:absolute; left:0; top:-1px; right:0; border-top:1px solid #c6d0db; content:''; }
	}
	&__tit { display:table-cell; vertical-align: middle; font-size:18px; font-weight: $medium; color:$black-tit; }
	&__date { display:table-cell; vertical-align: middle; width:1%; font-size:16px; font-weight: $light; letter-spacing: 0; }
	&__body { padding:54px 50px; border-bottom:1px solid #e4eaf0; font-size:16px; line-height: 32px; }
	@media only screen and (max-width:$tablet-size) {
		&__head { height:35px; padding:0 10px; }
		&__tit { font-size:13px; }
		&__date { font-size:13px; }
		&__body { padding:25px 10px; font-size:13px; line-height: 20px; }
	}
}

// 상태
.view-tag { line-height: 28px;
	& .type-v1 { margin-right:5px; }
	& .next-tit { display:inline-block; vertical-align: middle; }
	@media only screen and (max-width:$tablet-size) {
		line-height: 1.5;
		& .type-v1 { margin-top:-2px; }
		& .next-tit { display:inline; }
	}
}
.type-v1 { box-sizing:border-box; display:inline-block; width:80px; height:30px; margin:0; border:1px solid $gray; border-radius: 5px; background-color:$gray; color:#fff; font-size:14px; font-weight:$light; vertical-align:middle; text-align:center;
	&>em { display: table-cell; width:80px; height:28px; vertical-align: middle; font-style: normal; letter-spacing: -0.05em; }
	&__red { border:1px solid $red; background-color: $red; }
	&_prev { margin-right:20px; }
	@media only screen and (max-width:$tablet-size) { font-size: 11px; width:50px; height:20px; border-radius: 3px;
		&>em { width:50px; height:20px; }
		&_prev { margin-right:7px; }
	}
}
//접수중(&__ing),접수대기(&__wait),접수마감(&__end),접수완료(&__complete)
.type-v1 {
	&__ing { border:1px solid $red; background-color: $red; }
	&__wait { border:1px solid #428ce9; background-color: #428ce9; }
	&__end { border:1px solid #4a4a4a; background-color: #4a4a4a; }
	&__complete { border:1px solid #009999; background-color: #009999; }
}

// 에디터영역 (임시)
.board-editor { display:table; width:100%; height:400px; background-color: #eee; border-bottom:1px solid #c6d0db;
	p { display:table-cell; height:16px; vertical-align: middle; text-align: center; }
}