@charset "utf-8";
@import "mixin";

// Button
.btn-wrap { margin-top:40px;
	&.center { text-align: center; }
	&_next-paging { float:right; margin-top:0; position:relative; z-index:100; top:-44px;
		@media only screen and (max-width:$tablet-size){
			top:0; margin-top:15px;
		}
	}
}

// btn-v1
.btn-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; height:40px; padding:0 10px; margin:0; border:1px solid #fff; background-color:transparent; color:#fff; font-size:14px; font-weight:$light; cursor:pointer; vertical-align:middle; text-align:center;
	&+& { margin-left:6px; }
	&_bp20 { padding:0 20px; }
	&_w110 { width:110px; }
	&_w180 { width:180px; }
	&_w200 { width:200px; }
	&_negative { border:1px solid #e7e3e7; background-color:#f9f9f9; }
	&_red { background-color: $red; border:1px solid $red; }
	&_line { border:1px solid $black-body; color:$black-body;
		&.gray { border:1px solid $gray; color:$gray; }
	}
	@media only screen and (max-width:$mobile-size) {
		height:28px; font-size:11px;
		&_w110 { width:70px; }
		&_w180 { width:90px; }
		&_w200 { width:100px; }
		&_m-full { width:100%;
			&>span { width:1%; }
		}
	}
}
a.btn-v1 { text-decoration:none;
	&>span { display:table-cell; vertical-align:middle; height:38px; }
	&[class*='btn-v1_w']>span { width:1%; }
	@media only screen and (max-width:$mobile-size) {
		&>span { height:26px; }
	}
}
button.btn-v1{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
	&:disabled { border:1px solid #d6d6d6; cursor: default;
		&>span { color:#d6d6d6; }
	}
}

// btn-v2
.btn-v2 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:16px 63px; border:1px solid $gray2; background-color:#fff;  font-size:14px; color:$gray2; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$light; vertical-align:middle; cursor:pointer;
	@media only screen and (max-width:$mobile-size) { font-size:12px; }
}
a.btn-v2 {
	& + & { margin-left:15px; }
	&>span { display:table-cell; vertical-align:middle; }
	&[class*='btn-v1_w']>span { width:1%; }
	&_red { border:1px solid $orange; background-color: $orange; color:#fff; }
}
button.btn-v2{
	&:active>span,
	&:focus>span { position:relative; left:0; top:0; }
}

// btn-v3
// font-size:16px
.btn-v3 { display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:14px 20px; border:1px solid $gray2; background-color:#fff;  font-size:16px; color:$gray2; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$light; vertical-align:middle; cursor:pointer;
	$this: &;
	& + & { margin-left:5px; }
	&>span { width:1%; text-align:center; display:table-cell; vertical-align:middle; }
	&_w150 { width:150px; }
	&_w210 { width:210px; }
	&_red { background-color: $red; border:1px solid $red; color:#fff; }
	&_gray { background-color: $gray2; border:1px solid $gray2; color:#fff; }
	&_gray2 { background-color: #707686; border:1px solid #707686; color:#fff; }
	&:disabled { background-color:#b7b7b7; }

	//아이콘
	&_icon { width:210px; height:50px; position:relative;
		&>span { width:auto; }
	}
	&__arr-v1 { display:inline-block; width:6px; height:9px; background-image: url(../images/icon/icon-arr5-r-w.png); background-repeat: no-repeat; position:absolute; right:20px; top:0; bottom:0; margin:auto;
		&_gray { background-image: url(../images/icon/icon-arr5-r.png); }
	}
	&__download { display:inline-block; width:15px; height:15px; background-image: url(../images/icon/icon-download.png); background-repeat: no-repeat; position:absolute; right:20px; top:0; bottom:0; margin:auto; }
	&__download-gray { display:inline-block; width:15px; height:15px; background-image: url(../images/icon/icon-download-gray.png); background-repeat: no-repeat; position:absolute; right:20px; top:0; bottom:0; margin:auto; }
	@media only screen and (max-width:$tablet-size) { font-size:13px; padding:6px 10px 4px; line-height: normal;
		& + & { margin-left:3px; }
		&_w210,
		&_m-w105 { width:105px; }
		&_m-w-auto { width:auto; }
		&_m-w70 { width:70px; }
		&_icon { width:152px; height:auto; }
		&__arr-v1 { width:4px; height:7px; right:10px;	 background-image: url(../images/icon/icon-arr5-r-w-m.png); background-size: 4px auto;
			&_gray { background-image: url(../images/icon/icon-arr5-r.png); }
		}
		&__download { width:12px; height:12px; background-image: url(../images/icon/icon-download-m.png); background-size:12px 12px; }
		&__download-gray { width:13px; height:12px; right:10px; background-image: url(../images/icon/icon-download-gray-m.png); background-size:auto 12px; }
		&_m-full { width:100%; text-align: center;
			&>span { display:inline-block; }
			#{$this}__download { display:inline-block; position:static; vertical-align: middle; margin-left:5px; }
		}
	}
}
// btn-v4
// font-size:16px
.btn-v4 { display:inline-block; box-sizing:border-box; margin:0; padding:9px 20px; border:1px solid #707686; background-color:#707686; font-size:16px; color:#fff; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$light; vertical-align:middle; cursor:pointer;
	& + & { margin-left:15px; }
	&>span { width:1%; text-align:center; display:table-cell; vertical-align:middle; }
	&_red { background-color: $red; border:1px solid $red; }
	&_w85 { width:85px; padding:9px 10px; }
	&_w100 { width:100px; }
	&_w150 { width:150px; }
	&_h30 { height:30px; padding:4px 20px; }
	&_line { border:1px solid $gray; background-color: #fff; color:$gray; }
	&_fl-right { float:right; }
	&--mb-5 { margin-bottom:5px; }
	@media only screen and (max-width:$tablet-size) {
		font-size:13px; padding:7px 10px 5px;
		& + & { margin-left:5px; }
		&_w85 { width:75px; }
		&_m-w77 { width:77px; }
		&_m-w87 { width:87px; }
	}
}

// btn-v5
// 게시판 글쓰기
// height:50
.btn-v5 { display:inline-block; box-sizing:border-box; margin:0; padding:0 30px; min-width:85px; border:1px solid $gray2; background-color:$gray2;  font-size:16px; color:#fff; text-transform:uppercase; text-decoration:none; line-height:1.3; font-weight:$light; vertical-align:middle; cursor:pointer;
	.btn-v3 + & { margin-left:5px; }
	&>span { width:1%; height:48px; text-align:center; display:table-cell; vertical-align:middle; }
	&_al-left { float:left; }
	&_al-right { float:right; }
	@media only screen and (max-width:$tablet-size) { font-size:13px; padding:0 15px; height:30px;
		&>span { height:28px; line-height: normal; }
	}
}

// X 버튼 모음
.btn-close-v1 { display:inline-block; box-sizing: border-box; margin:0; padding:10px; font-size:0; line-height: 0; vertical-align: middle;
	&>span { display:table-cell;
		&:after { display:block; width:17px; height:17px; background-image: url(../images/icon/icon-btn-close-v1.png); background-repeat: no-repeat; content: ''; }
	}
	&_position-l { position:absolute; left:0; top:0; bottom:0; margin:auto; }
}






















