@charset "utf-8";
@import "mixin";

.form-box {display:table; width:100%;
	&_next { margin-top:6px; }
	&__item { display:table-cell;
		&_date { width:100%; max-width:295px; }
		&_addr { display:inline-block; width:33%; max-width: 315px; padding-right:20px; box-sizing: border-box;
			&_w100p { width:100%; max-width:100%; margin-bottom:10px; }
			& .input-v1 { max-width:295px; width:100%; }
		}
		&_time { display:inline-block; width:110px;
			&+& { padding-left:35px; position:relative;
				&:before { display:block; width: 15px; height:1px; background-color: #e4eaf0; position:absolute; left:10px; top:0; bottom:0; margin:auto; content:' '; }
			}
		}
		&_check-list { display:inline-block;
			&+& { margin-left:30px; }
			& input { text-align: center; }
		}
		&_recaptcha { display:inline-block; max-width:390px; width:100%; }
		&_follow { display:inline-block; width:295px; margin-left:30px; }
		&_btn-set { display:inline-block; position:relative; width:100%; max-width: 390px; box-sizing:border-box; padding-right:110px; }
	}
	&__addr { max-width:925px; width:100%; }
	&__item_addr_v2 { vertical-align: top; line-height: 0;
		.input-v1__btn-set { padding-right:90px; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__item { vertical-align: middle;
			&_date { max-width:100%; position:relative;
				&:after { display:block; width:14px; height:100%; position:absolute; right:5px; top:0; bottom:0; margin:auto; background-image: url("../images/icon/icon-datepicker-m.png"); background-position: 0 50%; background-size: 14px auto; content: ' '; background-repeat: no-repeat; }
			}
			&_addr { display:block; width:100%; max-width: 100%; margin-top:5px; padding-right:0;
				&:first-child { margin-top:0; }
				&_w100p { margin-bottom:5px; }
				& .input-v1 { max-width:100%; }
			}
			&_time { display:table-cell; box-sizing: border-box; width:50%; padding:0 15px 0 0;
				&+& { padding:0 0 0 15px; position:relative;
					&:before { display:block; width: 10px; height:1px; background-color: #e4eaf0; position:absolute; left:-5px; top:0; bottom:0; margin:auto; content:' '; }
				}
			}
			&_recaptcha { display:block; max-width:195px; }
			&_follow { display:block; width:100%; margin-left:0; margin-top:10px; }
			&_btn-set { max-width:100%; padding-right:82px; }
			&--m-w-full { width:100%; }
			&--m-mt-5 { margin-top:5px; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		.input-v1__btn-set { padding-right:75px; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__item_t-block { display:block; }
		&_m-justify { display:block; text-align:justify; margin-bottom:-1.616em;
			&:after { display:inline-block; width:100%; content:''; }
		}
		&_m-justify &__item { display:inline-block; margin-left:0; margin-bottom:5px; }
	}
}

.input-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:40px; padding:7px 10px; font-size:14px; border:1px solid #e4eaf0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none; color:inherit;
	&+& { margin-left:10px; }
	&+.btn-v4 { margin-left:10px; vertical-align: bottom; }
	&:focus { border-color:#3f3f3f; outline:none; }
	&_w100p { width:100%; }
	&_w200 { width:200px; }
	&_w295 { max-width:295px; }
	&_time { text-align: center; }
	&_year { width:295px; }
	&_month { width:3em; }
	&_date { width:3em; }
	&_age { width:3em; }
	&:disabled { background-color: #f1f4f7; color:$gray2;-webkit-text-fill-color:$gray2; opacity:1; }

	&__btn-set { display:inline-block; position:relative; padding-right:110px; box-sizing: border-box; max-width: 295px; width:100%;
		&_w455 { max-width:455px; }
		&_w405 { max-width:405px; }
	}
	&__btn-set_v2 { display:inline-block; position:relative; padding-right:110px; box-sizing: border-box; max-width: 390px; width:100%; }
	&__btn { position:absolute; right:0; top:0; }
	@media only screen and (max-width:$tablet-size) { height:30px; font-size:13px; line-height: normal; padding:7px 10px 5px 10px;
		&_m-full { width:100%;
			&+& { margin-left:0; margin-top:5px; }
		}
		&_w200.input-v1_m-half { width:100px; }

		&__btn-set { padding-right:82px; max-width: 100%;
			&_w455 { padding-right:92px; }
		}
		&_w295 { max-width:100%; }
	}

}
.input-v2 { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:25px; padding:0 10px; font-size:14px; border:1px solid #e4eaf0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&:focus { border-color:#3f3f3f; outline:none; }
	&_w100p { width:100%; }
	&_w40 { width:40px; }
	&:disabled { background-color: #f1f4f7; opacity:1; }
	@media only screen and (max-width:$tablet-size) { height:25px; font-size:13px; padding:3px 5px;
		&_m-full { width:100%; }
		&__txt { font-size:13px; }
	}
}
.input-v3 { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:30px; padding:7px 10px; font-size:14px; border:1px solid #e4eaf0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&:focus { border-color:#3f3f3f; outline:none; }
	&:disabled { background-color: #f1f4f7; opacity:1; }
	&+& { margin-left:10px; }
	&_w100p { width:100%; }
	&_w295 { max-width:295px; }
	&__btn-set { display:inline-block; position:relative; padding-right:110px; box-sizing: border-box; max-width: 295px; width:100%; }
	&__btn { position:absolute; right:0; top:0; }
	@media only screen and (max-width:$tablet-size) { font-size:13px;
		&_m-full { width:100%;
			&+& { margin-left:0; margin-top:5px; }
		}
		&_w295 { max-width:100%; }
		&__btn-set { padding-right:82px; max-width: 100%; }
	}
}

// 전화번호 []-[]-[] 형태 form
.tel-set-v1 { margin:0 -10px;
	&_w315 { max-width:315px; }
	&__item { display:table-cell; box-sizing:border-box; width:33.3333%; padding:0 10px; vertical-align: top; position:relative;
		&+&:before { display:table-cell; content:''; width:4px; height:0; border-top:1px solid #4a4a4a; position:absolute; left:-2px; top:0; bottom:0; margin:auto; }
	}
	&__input { font-size:16px;
		#organ-form & { font-size:inherit; }
	}
	@media only screen and (max-width:$tablet-size) { margin:0 -8px;
		&_m-full { max-width:100%; }
		&__item { padding:0 8px; }
		&__input { font-size:13px; }
	}
}

.textarea-v1 { overflow:auto; -webkit-box-sizing:border-box; box-sizing:border-box; padding:7px 10px; border:1px solid #e4eaf0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
	&:focus { border-color:#3f3f3f; outline:none; }
	&_w100p { width:100%; }
}

.checkbox-set-v1 { display:inline-block;
	&+& { margin-left:10px; }
	&__input { margin-top:-2px; }
	@media only screen {
		line-height:18px; font-size:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-1px; display:inline-block; width:16px; height:16px; border:1px solid #e4eaf0; background-color:#fff; vertical-align:middle; cursor:pointer; }
		&__txt { margin-left:5px; }
		&__input:focus+&__ico { border-color:#e4eaf0; }
		&__input:checked+&__ico:after { position:absolute; top:-6px; left:3px; bottom:0; width:6px; height:9px; margin:auto; content:''; border-right: 3px solid $black-body; border-bottom: 3px solid $black-body; transform: rotate(45deg); }
		&__input:checked+&__ico:after { border-color:$black-body; }
	}
	@media only screen and (max-width:$tablet-size) {
		line-height:12px; font-size:13px;
		&__ico { width:12px; height:12px; }
		&__txt { margin-left:2px; }
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { top:-3px; left:2px; width:4px; height:7px; }
	}
}

.checkbox-set-v2 { display:inline-block; font-size:14px;
	&+& { margin-left:19px; }
	&__input { margin-top:-2px; }
	@media only screen {
		line-height:20px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-2px; left:-7px; display:inline-block; width:2px; height:2px; background-color:#c4c4c4; vertical-align:middle; cursor:pointer; }
		//&__input:focus+&__ico,
		&__input:checked+&__ico { background-color: transparent; }
		&__input:checked+&__ico:after { position:absolute; top:-3px; left:0; bottom:0; width:7px; height:7px; margin:auto; content:''; background-image: url(../images/icon/icon-check-o.png); }
		&__input:checked+&__ico+&__txt { color:$red; }
	}
	@media only screen and (max-width:$tablet-size) { font-size:11px;
		line-height:24px;
		&__ico { top:-1px; }
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { width:6px; height:5px; top:0; background-image: url(../images/icon/icon-check-o-m.png); background-size:6px 5px; }
	}
}

.radio-set-v1 { display:inline-block; cursor: pointer;
	&+& { margin-left:10px;
		&_ml30 { margin-left:30px; }
	}
	&__input { margin-top:-2px; }
	@media only screen {
		line-height:16px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-1px; display:inline-block; width:15px; height:15px; border:1px solid #c6d0db; border-radius:50%; background-color:#fff; vertical-align:middle; cursor:pointer; }
		&__input:focus+&__ico { border-color:#c6d0db; }
		&__input:checked+&__ico:after { position:absolute; top:3px; left:3px; width:7px; height:7px; margin:auto; border-radius:50%; background-color:#4a4a4a; content:''; }
		&__input:disabled+&__ico { background-color:#f1f1f1; }
		&__input:disabled+&__ico+&__txt { color:$gray; }
		&__txt { font-size:16px;
			&_ml5 { margin-left:5px; }
		}
	}
	@media only screen and (max-width:$tablet-size) {
		line-height:11px;
		&+& { margin-left:6px; }
		&__ico { width:11px; height:11px; }
		&__input:hover+&__ico:before,
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { left:2px; top:2px; width:5px; height:5px; }
		&__txt { font-size:13px; }
	}
}
.radio-set-v2 { display:inline-block; font-size:14px; cursor: pointer;
	&+& { margin-left:19px; }
	&__input { margin-top:-2px; }
	&_next { margin-right:10px; }
	@media only screen {
		line-height:20px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-2px; left:-7px; display:inline-block; width:2px; height:2px; background-color:#c4c4c4; vertical-align:middle; cursor:pointer; }
		&__input:checked+&__ico { background-color: transparent; }
		&__input:checked+&__ico:after { position:absolute; top:-3px; left:0; bottom:0; width:7px; height:7px; margin:auto; content:''; background-image: url(../images/icon/icon-check-o.png); }
		&__input:checked+&__ico+&__txt { color:$red; }
	}
	@media only screen and (max-width:$tablet-size) { font-size:11px;
		line-height:24px;
		&+& { margin-left:9px; }
		&__ico { top:-1px; left:-3px; }
		&__input:focus+&__ico:before,
		&__input:checked+&__ico:after { width:6px; height:5px; top:0; left:-5px; background-image: url(../images/icon/icon-check-o-m.png); background-size:6px 5px; }
	}
}

.select-set-v1 { display:inline-block; box-sizing: border-box; width:100%; overflow: hidden; border:1px solid #e4eaf0; height:40px; position:relative;
	&:after { display:inline-block; width:9px; height:6px; background-image: url(../images/icon/icon-select.png); background-repeat: no-repeat; position:absolute; right:9px; top:0; bottom:0; margin:auto; content: ' '; }
	:root &__select { width:130% \0/IE9; }
	&__select { width:100%; height:100%; border:0; font-family: inherit; font-size:inherit; color:$black-body; appearance:none; padding:8px 0 8px 10px; box-sizing: border-box;
		&::-ms-expand { display:none; }
	}
	&_w295 { max-width:295px; }
	&_f14 { font-size:14px; }
	@media only screen and (max-width:$tablet-size){
		height:30px;
		&:after { display:inline-block; width:8px; height:5px; background-image: url(../images/icon/icon-select-m.png); background-size: 8px 5px; right:10px; }
		&__select { padding:6px 0 4px 10px; font-size:13px; }
		&_m-full { max-width:100%; }
	}
}

.input-set-v1 { display:table; width:100%;
	&__item { display:table-cell; width:100%; vertical-align: top; box-sizing: border-box; padding-left:10px;
		&:first-child { padding-left:0; }
		&--w-30p { width:30%; }
	}
	@media only screen and (max-width:$tablet-size) {
		&__item { padding-left:0; width: 100%;
			&_m-block { display:block; }
			&_m-mb5 { margin-bottom:5px; }
			&_m-fl-right { float:right; width:auto; }
		}
	}
}

.upload-set-v1 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; height:40px; padding-right:110px;
	&_w100p { width:100%; }
	&_thumb { padding-left:39px; }
	&__input { width:100%; padding-right:150px;
		&:focus { border-color:#dedfde; }
	}
	&__wrap { display:inline-block; overflow:hidden; position:absolute; top:0; right:0; width:100px; height:40px; vertical-align:middle; background-color:#707686;
		&:before { content:attr(data-value); -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; left:0; top:0; right:0; bottom:0; height:1.25em; margin:auto;  color:#fff; font-weight:$light; text-align:center; font-size:16px; line-height:normal; }
	}
	&__file { position:absolute; top:0; right:0; height:100%; font-size:45px; opacity:0;  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) { padding-right:82px; height:30px;
		&__input { padding-right:10px; }
		&__wrap { width:69px; height:30px;
			&:before { font-size:13px; }
		}
	}
	.upload-display { width:40px; height:40px; }
}
.upload-set-v2 { -webkit-box-sizing:border-box; box-sizing:border-box; display:inline-block; position:relative; height:30px; padding-right:110px;
	&_w100p { width:100%; }
	&_thumb { padding-left:30px; }
	&__input { width:100%;
		&:focus { border-color:#dedfde; }
	}
	&__wrap { display:inline-block; overflow:hidden; position:absolute; top:0; right:0; width:100px; height:30px; vertical-align:middle; background-color:#707686;
		&:before { content:attr(data-value); -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; left:0; top:0; right:0; bottom:0; height:1.25em; margin:auto;  color:#fff; font-weight:$light; text-align:center; font-size:16px; line-height:normal; }
	}
	&__file { position:absolute; top:0; right:0; width:100%; height:100%; font-size:1em; opacity:0;  filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0; cursor:pointer; }
	@media only screen and (max-width:$tablet-size) { padding-right:82px; height:30px;
		&__input { padding-right:10px; }
		&__wrap { width:69px; height:30px;
			&:before { font-size:13px; }
		}
	}
	.upload-display { width:30px; height:30px; }
}

.upload-display { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:0; left:0; width:32px; height:32px; border:1px solid #dedfde; }
.upload-thumb { position:absolute; top:0; left:0; bottom:0; right:0; margin:auto; max-width:100%; }


.required-v1 { display:inline-block; position:relative; left:0; width:0; text-indent:-999em;
	&:before { position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;  content:'*'; color:$red; font-weight:$regular; font-size:11px; text-indent:0; }
}

.form-info-v1 { display:inline-block; font-size:14px; color:$red; margin-left:10px; vertical-align: middle;
	&--black { color:$black-body; }
	@media only screen and (max-width:$tablet-size) { font-size:12px; margin-left:0; margin-top:8px; }
}

//datepicekr
.date-picker { padding-right:32px; position:relative; background-image: url("../images/icon/icon-datepicker.png"); background-repeat: no-repeat; background-position: 96% 50%;
	@media only screen and (max-width:$tablet-size) { background-image: none; padding-right:24px; }
}