@charset "utf-8";
@import "mixin";

// Icon
//
// Styleguide 2.1

// ico-set
//
// 이미지 스프라이트 기법으로 작성된 class입니다.
//
// .ico-set_arr-r1    - 오른쪽 방향 1
// .ico-set_arr-r2    - 오른쪽 방향 2
//
// Markup:
// More <i class="ico-set {$modifiers}"></i>
//
// Styleguide 2.1.1

.ico-set {
	&:before { display:inline-block; @include background-image-retina('../images/common/ico-set','png',100px,50px); vertical-align:middle; content:''; }
	&_arr-r1 {
		&:before { width:6px; height:10px; background-position:0 -10px; margin-top:-2px; }
	}
	&_arr-r2 {
		&:before { width:6px; height:5px; }
	}
	&_download-v1 {
		&:before { width:17px; height:14px; background-position:-10px 0; margin-top:-2px; }
	}
}

.icon-mail { display:inline-block; text-decoration: none; color:inherit; position:relative; padding-left:22px; min-height:.7em;
	& .icon { display:table-cell; position:absolute; top:0; left:0; bottom:0; margin:auto; width:16px; height:14px; background-image: url(../images/icon/icon-mail.png); }
	&_arr-r1 { padding-left:0; padding-right:22px;
		& .icon { left:auto; right:0; }
	}
	@media only screen and (max-width:$tablet-size){
		padding-left:0; padding-right:18px;
		& .icon { left:auto; right:0; width:13px; height:10px; background-image: url(../images/icon/icon-mail-m.png); background-size: 13px 10px; }
	}
}
