@charset "utf-8";
@import "mixin";

//html,body { height:100%; }
body { min-width:1240px;
  @media only screen and (max-width:$tablet-size) { min-width: 100%; }
}
.skip { position:absolute; top:-1000px; left:0; right:0; }

/* dimmed */
.dimmed { position:fixed; left:0; right:0; top:0; bottom:0; width:100%; z-index:300;
  &.opa50 { background-color: rgba(0,0,0,0.5); }
}

/* top 배너 */
.band-banner { height:70px; background-position: 50% 0; background-repeat:  no-repeat; z-index:500; overflow: hidden;
  $this: &;
  &__inner { position:relative; height:inherit; max-width:1240px; margin:0 auto;
    & .bx-wrapper,
    & .bx-viewport,
    & .js-band-slider { height:inherit !important; }
    & .js-band-slider > div { height:inherit; }
    & .bx-controls { position:absolute; right:190px; top:0; bottom:0; padding:17px 0;
      & .bx-controls-direction { height:100%; position:relative; }
      & a { display:block; z-index:500; position:absolute; width:9px; height:5px; font-size: 0; text-indent: -999em; color:transparent; }
      & a.bx-prev { top:0; background-image: url(../images/icon/icon-slide-prev2.png); }
      & a.bx-next { bottom:0; background-image: url(../images/icon/icon-slide-next2.png); }
      @media only screen and (max-width:$tablet-size) { display:none; }
    }
    & span.close { display:table-cell; position:absolute; right:0; top:0; bottom:0; vertical-align: middle; margin:auto; width:30px; height:30px; cursor: pointer; background: url(../images/icon/icon-close1-w.png) no-repeat 0 50%; font-size:0; color:transparent; text-indent: -999em;}
    @media only screen and (max-width:$tablet-size) {
      & .bx-wrapper,
      & .bx-viewport { height:60px !important; }
    }
  }
  &__item { height:inherit; background-position:50% 0; background-size:auto 100%; }
  &__link { display:block; overflow: hidden; max-width: $site-width; height:inherit; margin:0 auto; }
  &__btn { position:absolute; right:55px; top:0; bottom:0; height:inherit; margin:auto;
    form { height:inherit; float:right; }
    & span { display:table-cell; height:inherit; vertical-align: middle; }
    & span label { position:relative; padding-left:19px; font-size:12px; color:#fff; background: url(../images/icon/icon-checkbox1-normal.gif) no-repeat 0 50%; }
    & span label input[type=checkbox] { position:absolute; left:0; top:0; width:1px; height:1px; opacity: 0; overflow: hidden; }
  }


  @media only screen and (max-width:$tablet-size) { position:fixed; bottom:0; top:auto; width:100%; height:60px; opacity:0; visibility: hidden; z-index:2000;
    &.js-open-m { opacity:1; visibility: visible; transition-delay: .3s; transition: opacity .3s ease-in-out; }
    &__inner {
      img { width:auto; height:100%; margin:0 auto; }
      & span.close { width:15px; height:15px; right:0; padding:15px; background-size: 15px 15px; background-position:50% 50%; }
    }
    &__item { background-image: none !important; }
  }
}

.wrapper { position:relative; overflow:hidden; display:table; table-layout: fixed; width:100%; height:100%;
  &__row { display:table-row; width:100%;
    &:before,
    &:after { display:table-cell; width:20px; content:''; }
    &.type-full-height { height:100%; }
  }
  @media only screen and (max-width:$tablet-size) {
    &__row { display:table-row; width:100%;
      &:before,
      &:after { display:none; }
    }
  }
}

/* header */
.header { position:relative; width:100%; max-width:$site-width; margin:0 auto; z-index:900;
  @media only screen and (max-width:$site-width) { width:100%; }
  @media only screen and (max-width:$tablet-size) {
    position:fixed; top:0; left:0; right:0; width:auto;
    &.js-fixed { top: 0; }
  }
}
.top-logo { z-index:1000; position:absolute; top:56px; left:0; width:201px; height:48px; overflow:hidden;
  &__link { display:block; height:inherit; font-size:0; text-indent: -999em; color: transparent; background-image: url(../images/common/top-logo.png); background-repeat:no-repeat; /*transition:background; transition-delay: 0.3s;*/ }
  &.js-open-d &__link { background-image: url(../images/common/top-logo-b.png); /*transition:background .3s;*/ }
  @media only screen and (max-width:$tablet-size) {
    left:50%; top:6px; margin-left:-67px; width:134px; height:32px;
    &__link { background-image: url(../images/common/top-logo-m.png); background-size: 134px 32px; transition:background-image .3s;
      .js-fixed & { background-image: url(../images/common/top-logo-m-b.png); }
    }
  }
}

/* util */
.util-bar { @include block; position:relative; z-index:400; height:39px; color:#eaf0f2;
  &:after { position:absolute; z-index:-1; top:0; left:-1000px; right:-1000px; height:100%; border-width:0 0 1px 0; border-style:solid; border-color:rgba(255,255,255,0.2);  background: rgba(0,0,0,0.1); }
  &__inner { float:right; height:inherit; }
  &__tit { color:inherit; text-align: center; padding-top:15px; }

  .member { float:left; height:inherit;
    &__box { height:inherit; }
    &__item { display:table; float:left; position:relative; height:inherit; white-space: nowrap; }
    &__link { display:table-cell; color:inherit; text-decoration: none; vertical-align: middle; }
  }
  .global-site { float:left; height:inherit;
    &__box { position:relative; height:inherit; color: #eaf0f2; }
    &__item { display:table; float:left; position:relative; height:inherit; white-space: nowrap; }
    &__link { display:table-cell; color:inherit; text-decoration: none; vertical-align: middle; }
  }
  .member__item, .global-site__item { padding:0 14px; position:relative; }
  .member__item:before, .global-site__item:before { display:inline-block; position:absolute; top:0; bottom:0; left:0; height:10px; margin:auto; border-right:1px solid #eaf0f2; vertical-align: middle; content: ' '; opacity:0.5; }
  .member__item:first-child:before { display:none; }
  @media only screen and (max-width:$tablet-size) {
    & {width:100%; height:75px; color:#fff; transform:translateX(0); transition:transform ease-out 0.3s; position:absolute; z-index:2000; left:-100%; background:$red;}
    &:after { display:none; }
    &__inner { float:none; display:flex; height:auto; padding-top:16px;
      .member, .global-site { float:none; box-sizing: border-box; width:1%; flex-grow: 1; display:table-cell; text-align: right;
        &__box { display:inline-block; }
      }
      &_sign-in { display:flex;
        // &:after { display:inline-block; width:100%; height:0; line-height: 0; content:' '; }
        .member, .global-site { display:inline-block; width:auto; flex-grow: 1;
            &__box { display:flex; }
            &__item { display:inline-block; flex-grow: 1; width:auto; float:none; }
            &__link { display:inline-block; width:100%; text-align: center; }
        }
      }
    }
    .global-site { text-align: left; }
    &.js-open-m { transform:translateX(100%);}
    &.js-fixed { top: 43px; }
  }
}

/* gnb */
.gnb { position:absolute; left:0; right:0; z-index:400; height:79px;
  $this:&;
  &:before { z-index:-1; position:absolute; top:0; left:-1000px; right:-1000px; height:100%; content:''; border-width:0 0 1px 0; border-style: solid; border-color:rgba(255,255,255,0.3); /*transition-delay: .2s;*/ }
  &.js-open-d:before { background:#fff; border-bottom:1px solid #fff; transition:none; transition:background .2s ease-in-out; }
  &__tit { overflow:hidden; box-sizing: border-box; position: absolute; z-index: -1; left:-1000px; right:-1000px; top: 80px; height: 0; background-color: #fff; text-indent: -999em;
    .js-open-d & { height: 150px;transition: height .3s ease-in-out; }
  }
  &__depth1-list { max-width:$site-width; height:inherit; margin:0 auto; padding:0; list-style:none; font-size:0; text-align:center;
    &:after { box-sizing: border-box; position: absolute; z-index: -1; left: 0; right: 0; top: 80px; height: 0; content: ''; background-color: #fff; }
  }
  &__depth1-item { display:inline-block; height:inherit; margin-left:70px; color:#fff; font-size:16px; vertical-align:top; text-align:center;
    &.js-open-d #{$this}__depth2-list { /* display:block;  */ }
    &.js-open-d #{$this}__depth2-item { margin-top: 0; }
    &.js-open-d.js-first #{$this}__depth2-item { transition: margin-top .3s ease-in-out; transition-delay: .3s; }
    .js-open-d & #{$this}__depth2-item { transition: none; }
    &.js-open-d #{$this}__depth1-link { color: $red;
      &:before { display: block; content: ''; position: absolute; left: 0; top: 80px; right: 0; width: 100%; height: 0; margin: -3px auto 0; border:3px solid $red; }
    }
    &.js-open-d #{$this}__depth1-link:not(.zcxv):before { transition: all 0.3s ease-in-out; }
    &.js-first #{$this}__depth1-link:before { transition-delay: 0.3s; }

    //@media only screen and (max-width:$site-width){
    //  margin-left:35px;
    //}
  }
  &.js-open-d &__depth1-item { color:$black-tit; }
  &__depth1-link { position:relative; display:table-cell; height:inherit; padding:0 10px; color:inherit; text-decoration:none; vertical-align:middle; font-family:$font-ko; text-transform:uppercase; font-weight:500;
    &:not(.zcxv) { overflow: hidden; }
    &:not(.zcxv):before { display: block; content: ''; position: absolute; top:80px; left: 0; right: 0; width: 0; height: 0; border:3px solid $red }
    &:before { display: none; }
    //#{$this}__depth1-item:hover & { color: $red; }
  }

  /* 2depth */
  &__depth2-list { overflow: hidden; width:auto; position: absolute; left:0; padding-top: 29px; margin:0 -10px; text-align: left; font-size: 0; white-space: nowrap; z-index:20; }
  &__depth2-item { display: inline-block; float:left; margin:-170px 0 35px; padding:0 10px; width: 190px; overflow: hidden; color:#959595; vertical-align: top; font-weight:$light; font-size: 14px; }
  &__depth2-link { display:block; color:inherit; text-decoration:none;
    &:before { display:block; width:100%; height:66px; margin-bottom:13px; background:url(../images/common/gnb-icon.png) no-repeat; content:''; }
    @for $i from 1 through 5 {
      @for $j from 1 through 6 {
        #{$this}__depth1-item.nth-#{$i} #{$this}__depth2-item.nth-#{$j} & {
          &:before { background-position:(-190px * $j)+190 (-66px * $i)+66; }
        }
      }
    }
    &:hover { color:$red; }
  }
  @media only screen and (max-width:$tablet-size) {
    height:44px;
    &.js-open-m { z-index:2000;
      &:before { display:none; }
    }
    .js-fixed & {
      &:before { background-color: #fff; }
    }
    &.js-open-map:after { display:none; }
    &__depth1-list { display:block; overflow-x:hidden; overflow-y:auto; transform:translateX(0); position:fixed; left:-100%; top:75px; bottom:0; z-index:2000; width:100%; height:auto; margin:0; background-color:#fff; transition:transform ease-out 0.3s;
      .js-open-m & { transform:translateX(100%);}
      .js-fixed & { top: 75px; padding-bottom:100px; }
    }
    &__depth1-item { display:block; overflow: hidden; height:55px; position:relative; margin-left:0; color:$black-tit; text-align:left; transition:height ease-in 0.15s;
      &[data-collapsed=false] #{$this}__depth1-link {
        &:after { top:26px; right:15px; transform:rotate(0); }
      }
    }
    &__depth1-link { z-index:90; height:54px; width:1%; padding:0 27px 0 15px; transition:color ease-in-out 0.25s; font-weight: $light; border-bottom:1px solid #c6d0db;
      &:after { position:absolute; top:25px; right:14px; width:12px; height:2px; border-top:2px solid #363636; content:''; transform:rotate(-90deg); transition:transform .3s; }
      &:not(.zcxv):before { position:absolute; left:auto; top:26px; right:15px; width:12px; height:2px; border:0; border-top:2px solid #363636; content:'';}
    }
    &__depth2-list { display:block; width:auto; /*overflow:hidden; max-height:0;*/ position:static; padding-top:0; font-size:inherit; text-align:inherit; white-space:inherit; background-color: #f1f1f1; }
    &__depth2-item { display: block; width: auto; float:none; margin:0; color:#767676; font-weight: inherit; font-size: 0.9em; transition: none; vertical-align: baseline;
      &:after { display:block; border-bottom:1px solid #d0d0d0; content:''; }
      &:last-child:after { display:none; }
    }
    &__depth2-link { display:table-cell; width:1%; height:40px; padding:0 12px 0 23px; vertical-align:middle;
      &:before { display:none; }
    }
  }

  &.js-open-map:after { position:fixed; z-index:600; top:0; right:0; bottom:0; left:0; background-color: rgba(0,0,0,0.8); content:' '; }
  &__sitemap-btn { position: absolute; z-index: 2000; top: 0; left: auto; bottom: 0; right: 80px; width: 80px; min-height: 17px; margin: auto; text-indent: -999em; transition: none; cursor: pointer;
    &:not(.zxcv):before,
    &:not(.zxcv):after,
    >span:before,
    >span:after { position:absolute;top:0;bottom:0;left:0;right:0;width:17px;height:0;border-top:2px solid #fff; margin:auto; transform:rotate(0deg);transition: .3s; content:''; opacity:1; }
    &:not(.zxcv):before { top:14px; width:9px; left:-8px;}
    &:not(.zxcv):after { bottom:14px;}
    &.js-open-d {
      &:before {width:0; transform:translateX(-50%);}
      &:after {width:0; transform:translateX(50%);}
      >span:before {transform:rotate(-45deg);}
      >span:after {transform:rotate(45deg);}
    }
    @media only screen and (max-width:$tablet-size) {
      &.js-open-m {
        &:before {width:0; transform:translateX(-50%);}
        &:after {width:0; transform:translateX(50%);}
        >span:before {transform:rotate(-45deg);}
        >span:after {transform:rotate(45deg);}
      }
      .js-fixed & {
        &:not(.zxcv):before,
        &:not(.zxcv):after,
        >span:before,
        >span:after {border-top:2px solid $black-tit;}
      }
      & { left:0; right:auto; width:44px; }
    }
  }
  &.js-open-d &__sitemap-btn {
    &:before,
    &:after,
    &>span:before,
    &>span:after { border-top:2px solid $black-tit; }
  }

  // 검색
  &__search-btn { box-sizing: border-box; z-index:500; position:absolute; right:0; top:0; bottom:0; width:80px; height:inherit; cursor: pointer; opacity:1; visibility: visible; transition: opacity .3s ease-in-out;
    @media only screen and (max-width:$tablet-size) {
      & { width:44px; }
      .js-open-m &,
      .js-open-search & { opacity:0; visibility: hidden; }
    }
  }
  &__search-btn-link { display:block; width:100%; height:inherit; cursor: inherit; text-indent: -999em; margin:auto;
    i { display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:19px; height:17px; margin:auto; box-sizing: border-box; background: url(../images/icon/icon-search1-w.png) no-repeat center;
      @media only screen and (max-width:$tablet-size) { transition:background-image .3s;
        & { width:15px; height:13px; background: url(../images/icon/icon-search1-w-m.png) no-repeat center; background-size: 15px 13px; }
        .js-fixed & { background-image: url(../images/icon/icon-search1-b-m.png); }
      }
    }
  }
  &.js-open-d &__search-btn-link i { background: url(../images/icon/icon-search1-b.png) no-repeat center;  }
  &__search { position:absolute; z-index:400; left:0; right:0; height:100px; max-width: 1240px; max-height:0; overflow: hidden; margin:0 auto; text-align: center;
    &:before { position:absolute; z-index:-1; top:0; right:-1000px; left:-1000px; height:100%; content: ' '; background-color:#485671; }
    #{$this}.js-open-search & { max-height:100px; overflow: visible; transition:max-height .3s ease-in-out; }
    @media only screen and (max-width:$tablet-size) {
      & { top:44px; }
      #{$this}.js-open-search & { max-height:105px; }
    }
  }
  &__search-tit { font-size:30px; color:#fff; font-weight: $regular; vertical-align: middle; margin-right:20px; }
  &__search-box { display:table-cell; width:1%; vertical-align: middle; height:inherit; opacity:0;
    #{$this}.js-open-search & { opacity:1; transition-delay: .3s; transition:opacity .3s ease-in-out; }
    form { position:relative; display:inline-block; width:760px;
      .fieldset { font-size:0; }
      .select-search { width:23%; border-radius: 4px 0 0 4px; background-color: #fff; color:#888; border-color:#c6d0db;
        &:after { border-color:#000; }
        &.open { border-radius: 4px 0 0; }
        & .list { margin-top:0; left:0; border-radius: 0 0 4px 4px; }
        & .option { background-color: #fff; color:#707686;
          &.focus { background-color: darken(#fff,30%); color:#fff; }
          &:hover { background-color: $red; color:#fff; }
          //&.selected { background-color: $red; color:#fff; }
        }
      }
      input[type=text] { vertical-align: middle; width:77%; height:60px; padding:0 45px 0 19px; font-size:16px; box-sizing: border-box; border-width:0; border-radius: 0 4px 4px 0; background: #fff; color:#888;
        &::placeholder { color:#888; }
      }
    }
    @media only screen and (max-width:$tablet-size) {
      & { padding-left:15px; padding-right:15px; }
      form { /*width:88%; width:calc(100% - 32px);*/ width:100%; float:left;
        .select-search { width:100%; height:40px; line-height: normal; padding:12px 25px 11px 15px; font-size:12px; border-radius: 4px; border-right:0;
          &:after { right:15px; }
          &.open { border-radius: 4px; }
          & .list { margin-top:1px; left:0; border-radius: 4px; }
          & .option { height:40px; line-height: 40px; padding-left:15px; padding-right:25px; background-color: #222; color:#fff;
            &.focus { background-color: $red; }
          }
        }
        input[type=text] { width:100%; height:40px; margin-top:5px; padding:12px 28px 11px 15px; line-height: normal; border-radius: 4px; font-size:12px; }
      }
    }
  }
  &__search-submit { display:table-cell; position:absolute; right:0; top:0; bottom:0; margin:auto; width:25px; height:25px; padding:19px;
    @media only screen and (max-width:$tablet-size) { display:block; top:auto; margin:0; width:13px; height:13px; padding:13px; }
  }
  &__search-close { display:inline-block; color:#fff; font-size:14px; margin-left:20px; vertical-align: middle;
    a { font-size:inherit; color:inherit; text-decoration: none; display:inline-block; vertical-align: inherit; height:17px;
      i { display:inline-block; vertical-align: inherit; width:17px; height:17px; background:url(../images/icon/icon-close2-g.png) no-repeat 0 0; }
      span { display:inline-block; vertical-align: inherit; padding-left:10px; }
    }
    @media only screen and (max-width:$tablet-size) {
      & { z-index:9999; margin:0; width:44px; height:44px; position:absolute; right:0; top:-44px; background-color: #485671;
        a { width:100%; height:100%;
          i { width:100%; height:100%; background:url(../images/icon/icon-close2-g-m.png) no-repeat 50%; background-size: 9px 9px; }
        }
      }
    }
  }
}

/* 전체메뉴 */
.sitemap { display:block; width:100%; position:absolute; z-index:2000; top:119px; left:0; right:0; height:0; visibility: hidden;
  $this:&;
  &__tit { overflow:hidden; height:0; box-sizing: border-box; position:absolute; z-index:-1; top:0; right:-1000px; left:-1000px; background-color: #fff; text-indent: -999em; transition:height 0.3s ease-in-out; }
  &.js-open-d { visibility: visible; }
  #{$this}.js-open-d &__tit { height:703px; }

  &__depth1-list { opacity:0; visibility: hidden; max-width:1240px; list-style: none; margin:40px auto 0;
    #{$this} &:after { display:block; content:' '; width:100%; height:0; clear:both; }
    #{$this}.js-open-d & { opacity:1; transition-delay: .3s; transition:opacity .3s; visibility: visible; }
  }
  &__depth1-item { float:left; width:33.3%; width:calc(100% / 3); min-height:314px; box-sizing: border-box; }
  &__depth1-link { display:inline-block; font-size:24px; text-decoration: none; color:#363636; font-weight: $light; margin-bottom:14px; }

  &__depth2-list { max-width:190px; padding-top:19px; border-top:1px solid #707686; }
  &__depth2-item {
    & + & { margin-top:20px; }
  }
  &__depth2-link { font-size:16px; text-decoration: none; color:#767676; font-weight: $light; }
}

/* footer */
.footer { position:relative; box-sizing:border-box; width:100%; font-family: 'notokr', sans-serif;
  &:before { position:absolute; top:0; left:-1000px; right:-1000px; content:''; border-top:1px solid #e2e7ed; }
  &__wrap { position:relative; box-sizing:border-box; margin:0 auto; max-width:$site-width;
    &:before { position:absolute; top:0; left:-1000px; right:-1000px; height:100%; content:'';  background: #485671; }
  }
  @media only screen and (max-width:$tablet-size) {
    width:auto; border-top:0;
    &__wrap { padding:0 15px 27px; }
  }
  & .sitemap { position:static; height:auto; background: #fff; padding-top:38px;
    $this: sitemap;
    &__inner { max-width: 1240px; margin:0 auto; }
    &__depth1-list { visibility: visible; opacity: 1; margin:0 -10px; }
    &__depth1-item { width:(100%/6); box-sizing: border-box; padding:0 10px; }
    &__depth1-link { font-size: 16px; font-weight: $medium; color:$black-tit; }
    &__depth2-list { border-top: 0; padding-top:0; }
    &__depth2-item { line-height: 20px; margin-top:14px; padding-left: 8px; position:relative;
      &:before { display:block; width:2px; height: 2px; content: ' '; position:absolute; left:0; top:9px; background: url(../images/icon/icon-sqdot1-g.gif) no-repeat 0 0; }
    }
    &__depth2-link { font-size: 14px; }
    @media only screen and (max-width:$tablet-size) { padding-top:0; margin-top:45px;
      &:before,
      &:after { display:none; }
      &__depth1-list { margin:0 0; }
      &__depth1-item { position:relative; float:none; width:100%; min-height: 100%; margin:0 0; padding:0 15px;
        & + li:after { display:block; content:' '; position:absolute; left:0; right:0; top:-1px; border-top:1px solid #e2e7ed; }
        &.js-open-m .#{$this}__depth2-list:after { display:block; }
      }
      &__depth1-link { width:1%; position:relative; font-size:14px; margin-bottom:0; height:35px; display:table-cell; vertical-align: middle;
        &:after { position:absolute; top:15px; right:-1px; width:12px; height:2px; border-top:2px solid #363636; content:''; transform:rotate(-90deg); transition:transform .3s; }
        &:before { position:absolute; left:auto; top:16px; right:0; width:12px; height:2px; border:0; border-top:2px solid #363636; content:'';}
      }
      &__depth2-list { max-height:0; overflow:hidden; transition:max-height .3s;
        &:after { display:none; content:' '; position:absolute; left:0; right:0; top:34px; border-top:1px solid #e2e7ed; }
      }
      &__depth2-item { line-height: 34px; margin-top:0;
        &:before { top:15px; }
      }
      &__depth2-link { font-size:12px; }

      .js-open-m .#{$this}__depth2-list { max-height:1000px; }
    }
  }
}
.footer-family { z-index:50; position:absolute; right:0; top:0; width:190px; height:49px; color:#eaf0f2; font-size:13px;
  $this:&;
  &__tit { position:relative; display:inline-block; line-height:49px; vertical-align: middle; width:inherit; height:inherit; font-weight: $light; cursor: pointer; box-sizing: border-box; padding:0 15px;
    &:after { display:table-cell; content: ' '; width:14px; height:14px; position:absolute; right:15px; top:0; bottom:0; margin:auto; background-image:url(../images/icon/icon-plus2-w.png); }
    .js-open-d &,
    .js-open-m & { background-color: #374257; }
  }
  &__list { position:absolute; left:0; right:0; bottom:100%; max-height:0; overflow: hidden; transition:max-height .3s ease-in-out;
    .js-open-d &,
    .js-open-m & { max-height:600px; }
  }
  &__item { width:100%; height:50px; background-color: #374257; color:#eaf0f2; box-sizing: border-box; padding:0 15px; border-bottom:1px solid rgba(198,208,219,0.3); }
  &__link { display:table-cell; height:inherit; vertical-align:middle; color:inherit; text-decoration: none; }
  @media only screen and (max-width:$tablet-size){
    width:auto; left:15px; right:15px; top:55px; height:35px; font-size:11px;
    &__tit { width:100%; padding:0 14px; border:1px solid rgba(222,227,235,0.3); line-height:33px;
      &:after { width:10px; height:10px; background-image:url(../images/icon/icon-plus2-w-m.png); background-size: 10px 10px; }
      .js-open-m & { border:0; }
    }
    &__item { height:35px; }
  }
}
.footer-top { position:relative; height:50px; color:#eaf0f2;
  &:after { position:absolute; bottom:0; left:-1000px; right:-1000px; content:''; border-bottom:1px solid rgba(222,227,235,0.3); }
  & .footer-menu { display:table-cell; height:inherit; vertical-align: middle;
    &__tit { @include hidden; }
    &__list { display:block; overflow:hidden; font-size:0; line-height:1.3; }
    &__item { display:inline-block; position:relative; padding:0 8px; font-weight:$light; font-size:13px; color:inherit;
      &:first-child { font-weight: $medium; }
      & + li:before { position:absolute; top:0; bottom:0; left:0; height:10px; margin:auto; border-left:1px  solid rgba(196,196,196,0.5);; content:''; }
    }
    &__link { color:inherit; text-decoration:none;
      &:hover,
      &:focus { text-decoration:underline; }
    }
  }

  @media only screen and (max-width:$tablet-size) { height:40px;
    & .footer-menu {
      &__item { font-size:11px;
        & + li:before { height:9px; }
      }
    }
  }
}
.footer-bottom { position:relative; height:110px;
  & .footer-info { display:table-cell; height:inherit; vertical-align: middle; color:#ccc;
    & p + p { margin-top:10px; }
    &__copyright { color:$red; margin-top:7px; }
    &__item {
      & + span { margin-left:20px; }
      & strong { font-weight: $medium; }
    }
  }
  & .footer-logo { position:absolute; display:block; top:0; bottom:0; right:0; width:168px; height:41px; margin:auto; background:url(../images/common/foot-logo.png) no-repeat;
    @media only screen and (max-width:$tablet-size) {
      display:none;
    }
  }

  @media only screen and (max-width:$tablet-size) {
    padding-top:64px; height:auto;
    & .footer-info {
      &__item { font-size:11px; }
    }
  }
}
/*.site-info { color:#aaa; line-height:1.5; font-size:12px;
  &__address { display:inline-block; }
  &__tel { display:inline-block; margin-left:20px; }
  &__copyright { float:right; margin-left:20px;}
  @media only screen and (max-width:$tablet-size) {
    &__address { display:block; }
    &__tel { display:block; margin-left:0; }
    &__copyright { float:none; margin-top:10px; margin-left:0px;}
  }
}*/

.content { @include block; max-width:$site-width; width:100%; margin:0 auto 100px; /*border-bottom:1px solid #e2e7ed;*/
  &__header { @include block; display:table; width:100%; padding-top:301px; }
  &__tit { color:$black-tit; font-size:(36/13)+em; font-weight:$medium; line-height:1; padding-top:80px; text-align: center; }
  &__body { @include block; padding-top:70px; }
  @media only screen and (max-width:$tablet-size) {
    width:auto; margin-bottom:50px;
    &__header { display:block; width:auto; padding-top:170px; /*padding-top:((340px/640px)*100%);*/ }
    &__tit { padding-top:40px; font-size:23px; }
    &__body { width:auto; margin:0 15px; padding-top:35px; }
  }
}

/*.breadcrumb { display:table-cell; text-align:right; vertical-align:bottom; line-height:1.1; color:#666;
  &__item { box-sizing:border-box; padding-bottom:1px; display:inline-block; position:relative; margin-left:22px; color:inherit; text-decoration:none;
    &:hover,
    &:focus { padding-bottom:0; border-bottom:1px solid #666; }
    &:before,
    &:after { position:absolute; top:0.25em; left:-14px; width:0; height:0; border-style:solid; border-color:transparent;  content:''; }
    &:before { border-width:4px 0 4px 4px; border-left-color:#000; }
    &:after { border-width:4px 0 4px 4px; border-left-color:#fff; margin-left:-1px; }
    &:not(.zxcv):after { margin-left:0; }
    &.type-located { color:$green; font-weight:$bold;
      &:hover,
      &:focus { border-bottom:none;}
    }
    &:first-child { margin-left:0;
      &:before,
      &:after { display:none; }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    position:absolute; width:0; height:0; overflow:hidden;
  }
}*/

/* 이미지 높이 ÷ 이미지 가로 × 100 % */
.page-visual { position:absolute; left:0; right:0; top:0; height:340px; background:$gray;
  &__tit { display:table-cell; position:absolute; top:120px; left:0; bottom:0; right:0; height:96px; margin:auto; text-align: center;
    &-sub { text-align: center; color:#fff; font-weight:$light; font-family:$font-ko; line-height:1; font-size:(54/13)+em; letter-spacing: -0.05em;
      &:after { display:inline-block; content:attr(data-page); font-size:inherit;}
    }
    &-common { display:inline-block; margin-top:5px; font-family: $font-en; font-size:(28/13)+em; color:#fff;
      & strong { font-weight: $bold; color:rgba(255,255,255,0.5); }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    height:170px; /*padding-top:((340px/640px)*100%);*/
    &:after { right:12px; bottom:14px; margin-right:0; font-size:30px; }
    &__tit { top:45px; height:49px;
      &-sub { font-size:27px; }
      &-common { font-size:15px; }
    }
  }
  //&__img-resizer { display:block; width:100%; height:340px; }
  &__img-resizer { display:none; }
  & .bx-wrapper { position:absolute; left:0; right:0; top:0; bottom:0; height:100%;
    .bx-controls { font-size:0; line-height: 0; }
    .bx-controls-direction { vertical-align: middle;
      & a { z-index:10; display:table-cell; width:50px; height:50px; position:absolute; top:120px; bottom:0; margin:auto; vertical-align: middle;
        &.bx-prev { left:20px; background-image: url(../images/icon/icon-slide-prev1.png); background-repeat: no-repeat; background-position: 0 0; }
        &.bx-next { right:20px; background-image: url(../images/icon/icon-slide-next1.png); background-repeat: no-repeat; background-position: 0 0; }
      }
      @media only screen and (max-width:$tablet-size) {
        & a { width:25px; height:25px; background-size:25px 25px; top:45px; }
      }
    }
  }
  & .bx-viewport { height:100% !important; }
  &__slider { height:340px;
    @media only screen and (max-width:$tablet-size){ height:100%; }
  }
  &__slide-item { height:340px;
    &:before { position:absolute; top:0; bottom:0; left:0; right:0; background-repeat:no-repeat; background-position:center bottom; content:''; }
    @media only screen and (max-width:$tablet-size) { height:100%;
      &:before {  background-position: center bottom; background-size: cover; }
    }
  }
}

.location-nav { display:table; position:relative; color:#888;
  &__item { display:table-cell; position:relative; line-height: 0; vertical-align: top;
    &:before { position:absolute; z-index:-1; top:0; right:-1000px; left:-1000px; height:100%; border-width:0 0 1px 0; border-style:solid; border-color:#e2e2e2; content:' '; }
  }
  &__link { display:inline-block; box-sizing: border-box; min-width:240px; height:45px; color:inherit; line-height: 43px; text-decoration: none; font-size:14px; font-weight: $light; padding:0 19px; border-width:0 1px 0 1px; border-style:solid; border-color:#e2e2e2;
    &:after { display:table-cell; width:11px; height:7px; position:absolute; top:0; bottom:0; right:19px; margin:auto; background-image: url(../images/icon/icon-arr3-down-g.png); background-repeat: no-repeat; background-position: 0 0; content:' '; }
    .home & { position:relative; overflow: hidden; min-width:45px; width:45px; text-indent: -1000em; background-color:$red; border-width:0 1px 0 0;
      &:after { display:none; }
      &:before { position:absolute; top:0; right:0; bottom:0; left:0; width:16px; height:14px; margin:auto; background-image: url(../images/icon/icon-home-w.png); background-repeat: no-repeat; background-position: 100% 0; content: ' '; }
    }
    .depth1 & { border-width:0 1px 0 0; padding-right:38px; }
    .depth2 & { margin-left:-1px; max-width:100px; }
    .depth1 &,
    .depth2 & { width:100%; white-space: nowrap; padding-right:38px; overflow:hidden; text-overflow:ellipsis; }
  }

  &__depth1-list,
  &__depth2-list { position:absolute; left:0; right:0; top:100%; z-index:10; box-sizing: border-box; overflow: hidden; max-height: 0; line-height: 43px; border-width:0 1px 1px 1px; border-style: solid; border-color:#e2e2e2; background-color:#fff; transition:max-height .3s;
    &.js-open { max-height:500px; }
  }
  &__depth1-list { left:-1px; }
  &__depth2-list { left:-1px; }
  &__depth1-item,
  &__depth2-item { display:table; width:100%; height:43px; border-top:1px solid #e2e2e2; }
  &__depth1-link,
  &__depth2-link { display:table-cell; box-sizing: border-box; vertical-align:middle; width:100%; padding:0 13px; line-height: 1.3; text-decoration: none; color:#767676; font-size:14px;
    &:hover,
    &:active { background-color:#707686; color:#fff; }
  }

  @media only screen and (max-width:$tablet-size) {
    &__item {
      &.depth1,&.depth2 { width:1000px; }
      &.home { display:inline-block; }
    }
    &__link { min-width: 100%; font-size:11px; height:35px; line-height: 36px; padding:0 19px 0 19px;/*left:-1px;*/
      &:after { width:9px; height:(9/2)+px; background-image: url(../images/icon/icon-arr3-down-g-m.png); background-size:9px auto; }
      .home & { min-width:35px; width:35px; height:35px; }
      &:before { width:14px; height:12px; background-image: url(../images/icon/icon-home-w-m.png); background-size:14px 12px; }
      .depth2 & { border-width:0 0 0 1px; }
    }

    &__depth1-list,
    &__depth2-list { line-height: 33px; }
    &__depth1-link,
    &__depth2-link { font-size:11px; }
    &__depth1-item,
    &__depth2-item { height:34px; }
  }
}

// nice scroll
.nice-select { vertical-align: top;box-sizing: border-box;cursor: pointer;display: inline-block;font-family: inherit;font-size: 16px;font-weight: inherit;height: 60px;line-height: 60px;padding-left: 25px;padding-right: 30px;position: relative;text-align: left;user-select: none;white-space: nowrap;color:#fff;background-color: rgba(54,54,54,.2); border-right:1px solid rgba(255,255,255,0.25); outline: none;
  &:after { content:''; display:block; width:5px; height:5px; margin-top:-4px; pointer-events: none; position:absolute; top:50%; right:30px; border-width:0 1px 1px 0; border-style:solid; border-color:rgba(255,255,255,.5);transform: rotate(45deg); }
  &.open:after { transform: rotate(-135deg); margin-top:-2px; }
  & .list { box-sizing: border-box;margin-top: 5px;opacity: 0;overflow: hidden;padding: 0;position: absolute;top: 100%;left: -5px;right:0;z-index: 9; visibility: hidden; }
  &.open .list { opacity:1;pointer-events: auto;visibility: visible; }
  & .option { cursor: pointer;line-height: 60px;min-width: 60px;width:100%;padding-left: 18px;padding-right: 29px;text-align: left;background-color: #363636; box-sizing: border-box;
    &:not([data-display])+.option { border-top:1px solid #707686; }
    &.focus { background-color: lighten(#363636,2%); }
    &:hover { background-color: $red; }
    //&.selected { background-color: $red; }
    //&[data-display] { display:none; }
  }
  @media only screen and (max-width:$tablet-size){
    & .option { background-color: #222;
      &.focus { background-color: $red; }
    }
  }
}