@charset "utf-8";
@import "mixin-font";

//var
$mobile-size:750px;
$tablet-size:1023px;
$site-width:1240px;

$black-tit:#292929;
$black-body:#363636;
$gray:#959595;
$gray2:#767676;
$green:#50b947;
$purple:#61409b;
$red:#e54125;
$orange:#f21900;


$light:300;
$normal:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;

$font-en:'rajdhani',sans-serif;
$font-ko:'notokr', sans-serif;

//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
	@supports (-webkit-line-clamp: $lines) {
		height:auto;
		&:after { content:none}
	}
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; width:100%; }
}

@mixin calc($prop, $value) {
	#{$prop} : -moz-calc(#{$value}); #{$prop} : -webkit-calc(#{$value}); #{$prop} : -o-calc(#{$value}); #{$prop} : calc(#{$value});
}
