@charset "utf-8";
@import "mixin";

// Module
//
// 전역으로 사용되는 모듈형식의 style 정의 입니다.
//
// Styleguide 2.



// Title
//
// Styleguide 2.2

// tit-v1
//
// 소제목에 해당되는 class 입니다.
//
// Markup:
// <h2 class="tit-v1 {$modifiers}">경영원칙</h2>
//
// .tit-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 2.2.1

.tit-v1 { margin:0 0 15px 0; font-weight:$bold; font-size:30px; line-height:1.1; color:$black-body;
	&_next { margin-top:40px; }
	&__inner { color:$black-body; font-size:0.65em; font-family:$font-en; font-weight:$normal;}
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:1.25em;
		&_next { margin-top:20px; }
	}
}
.tit-v2 { margin:0 0 15px 0; font-weight:$semi-bold; font-size:18px; line-height:1.1; color:$gray2;
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:8px; font-size:12px;
	}
}

.tit-v3 { font-size:18px; line-height: 20px; margin-bottom:20px; font-weight: $light; color:$black-tit; letter-spacing: 0;
	@media only screen and (max-width:$mobile-size) { font-size:14px; line-height: 18px; margin-bottom:16px;

	}
}

.summary-v1 { color:$black-body; font-size:30px;
	&_al-center { text-align: center; }
	@media only screen and (max-width:$tablet-size) {
		font-size:1em;
	}
}

// Paragraph
//
// Styleguide 2.3

// para-v1
//
// 단락에 해당되는 class입니다.
//
// Markup:
// <p class="para-v1 {$modifiers}">의약품은 화학합성의약품과 바이오의약품으로 분류되며, 바이오의약품은 항체의약품, 생물학적제제, 단백질의약품(유전자재조합 또는 세포배양 이용), 세포치료제, 유전자치료제 등으로 분류됩니다. 항체의약품은 복잡한 분자구조 때문에 개발과 생산이 어렵지만, 질병 원인물질에만 반응하기 때문에 효과가 우수 합니다.</p>
//
// .para-v1_next    - 특정 요소 다음에 오는 경우
//
// Styleguide 2.3.1

.para-v1 { margin:0; line-height:1.5; color:$gray2; font-size:14px;
	&_text-right { text-align: right; }
	&_fl-right { float: right; }
	&.is-next { margin-top:14px; }
	&_dot{position:relative; display:inline-block; padding-left:1em;
		&:before{position: absolute; margin-left: -1em; content: '-';}
	}
	@media only screen and (max-width:$tablet-size) {
		font-size:12px;
		&.is-next { margin-top:15px; }
	}
}

.para-v2 { margin:0; line-height:32px; color:$gray2; font-size:16px;
	&_dot{position:relative; display:inline-block; padding-left:9px;
		&:before{position: absolute; margin-left: -9px; content: '•';}
	}
	@media only screen and (max-width:$tablet-size) { font-size:12px; line-height: 18px;
		&.is-next { margin-top:5px; }
	}
}

.para-v3 { margin:0; line-height:30px; color:$black-body; font-size:16px;
	&_dot{position:relative; display:inline-block; padding-left:9px;
		&:before{display:block; width:4px; height:4px; background-color: $red; position: absolute; top:13px;  margin-left:-9px; content: ' ';}
	}
	&_regular { font-weight: $regular; }
	&_bold { font-weight: $bold; }
	&_orange { color:$orange; }
	&_gray { color:$gray2; }
	@media only screen and (max-width:$tablet-size) { font-size:13px; line-height: 18px;
		&_dot {
			&:before { width:2px; height:2px; top:7px; }
		}
	}
}

.para-v4 { margin:0; line-height:1.75; color:$gray2; font-size:16px;
	&_dot{position:relative; display:inline-block; padding-left:9px;
		&+& { margin-top:0; }
		&:before{display:block; width:4px; height:4px; background-color: $red; position: absolute; top:0; bottom:0; margin:auto auto auto -9px; content: ' ';}
	}
	@media only screen and (max-width:$tablet-size) { font-size:13px;
		&_dot {
			&:before { width:2px; height:2px; bottom:auto; top:7px; }
		}
	}
}

// 안내 글
.txt-warn { position:relative; padding-left:20px; color:$red; font-size:16px; letter-spacing: -0.05em;
	&_f14 { font-size:14px; letter-spacing: -0.025em; }
	&__icon { display:table-cell; width:14px; height:14px; position:absolute; left:0; top:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-wran.png); }
	@media only screen and (max-width:$tablet-size) { font-size:12px;
		&__icon { background-image: url(../images/icon/icon-wran-m.png); background-size: 14px 14px; }
	}
}
.desc { font-size:14px; line-height: 1.4; color:$gray2;
	&_next { margin-top:10px; }
	@media only screen and (max-width:$tablet-size) { font-size:12px;
		&_next { margin-top:6px; }
	}
}
.help-box { display: inline-block; position: relative; top:1px;
	$this:&;
	&__button { cursor: pointer;display: inline-block;width: 20px;height: 20px;border-radius: 20px;text-align: center;color: #fff;background-color: #707686;font-weight: 400;font-family:'arial', sans-serif;font-size:12px;line-height:1.25; border:0; box-shadow: none; vertical-align: top; padding:0; outline: none; letter-spacing: 0;
		&:after { content:''; display:none; width:6px; height:6px; background-color: #fff; border-style:solid; border-width:1px 1px 0 0; border-color:#707686; z-index:11; transform: rotate(-45deg); position:absolute; bottom:-10px; left:0; right:0; margin:auto; }
		&:hover + #{$this}__content,
		&:focus + #{$this}__content{ display:inline-block; }
		&:hover:after,
		&:focus:after{ display:block; }

	}
	&__content { position: absolute;  display: none; z-index: 10;background-color: #fff;color: #767676;padding: 7px 10px 6px; min-width: 200px;left: 0;top: 100%;margin-left: -90px;margin-top:6px; font-size:14px; line-height:1.428; box-sizing: border-box;border-width:1px; border-style:solid; border-color:#707686; }
	&__link { text-decoration: none; color:inherit; }
	@media only screen and (max-width:$tablet-size) { top:-1px;
		&__button { width:14px; height:14px; font-size:11px;
			&:hover + #{$this}__content,
			&:focus + #{$this}__content,
			&:hover:after,
			&:focus:after{ display:none; }
			&.active + #{$this}__content{ display:inline-block; }
			&.active:after{ display:block; }
		}
		&__content { min-width: 100px; margin-left: 7px; padding-left:6px; padding-right:6px; font-size:10px; transform: translateX(-50%); white-space: nowrap; }
	}
}

.edge-box { margin-bottom:5px; text-align:right; }

// List
//
// Styleguide 3.6

// dl-v1
//
// 서식양식에 사용되는 정의형 목록입니다.
//
// Markup:
// <dl class="dl-v1">
//    <dt class="dl-v1__dt">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
//    <dt class="dl-v1__dt">질문 ㅇㅇㅇㅇ</dt>
//    <dd class="dl-v1__dd">답변 ㅇㅇㅇㅇㅇㅇ</dd>
//    <dt class="dl-v1__dt">질문 ㅁㅁ</dt>
//    <dd class="dl-v1__dd">답변 ㅁㅁ</dd>
//    <dt class="dl-v1__dt dl-v1__dt_fixed">질문</dt>
//    <dd class="dl-v1__dd">답변</dd>
// </dl><!-- //dl-v1 -->
//
// Styleguide 3.6.1

.dl-v1 { margin:0; border-top:2px solid #8c8a8c; border-bottom:1px solid #8c8a8c;
	&__dt { -webkit-box-sizing:border-box; box-sizing:border-box; float:left; clear:left; padding:9px 20px 0 20px; border-top:1px solid #e7e3e7; line-height:32px; color:$black-tit; font-weight:$bold;
		&_fixed { float:none; }

	}
	&__dd { overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; margin:0; padding:9px 20px; line-height:32px; border-top:1px solid #e7e3e7; color:$black-body; }
	&__dt:first-child,
	&__dt:first-child+&__dd,
	&__dd:first-child,
	&__dt_fixed+&__dd { border-top:none; }
	&__item { display:inline-block; vertical-align:top; }
	@media only screen and (max-width:$tablet-size) {
		&__dt { float:none; margin-right:0; padding:10px 0 0 0; border-top:1px solid #e7e3e7; line-height:1.3;
			&:first-child { border-top:none; }
		}
		&__dd { margin:5px 0; padding:0; border-top:none; }
		&__item { display:block;
			&+& { margin-top:5px; }
		}
	}
}

/* 약관동의 */
.agree-box { color:$black-tit; line-height:1.3;
	&__tit { margin:0 0 18px 0; font-size:18px; }
	&__body { border:1px solid #dedfde; background-color:#fafafa;
		textarea { box-sizing:border-box; width:100%; height:140px; padding:9px 14px; border:none; background-color:#fafafa; outline:none;}
	}
	&__footer {position:relative; margin-top:15px; padding-left:30px;}
}

.agree-article { overflow: hidden;
	&__tit { font-size:18px; font-weight: $regular; color:$black-body; margin-bottom:14px; }
	&__sum { color:$black-body; font-size:16px; margin-bottom:18px; }
	&__box { line-height:28px; color:$gray2; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0; padding:20px 24px; box-sizing: border-box; }
	&__inner { font-size:14px; max-height:155px; overflow-y: auto; box-sizing: border-box; }
	@media only screen and (max-width:$tablet-size) {
		&__tit { font-size:13px; margin-bottom:8px; }
		&__sum { font-size:13px; line-height: 16px; margin-bottom:12px; }
		&__box { line-height: 17px; padding:10px 0; border-top:1px solid #4c4c4c; }
		&__inner { font-size:12px; max-height:108px; overflow-y: auto; padding:0 10px; }
	}
}
.agree-checkbox-v1 { display:inline-block; font-size:16px; font-weight: $regular; margin-top:20px;
	&+& { margin-left:19px; }
	&__input { margin-top:-2px; }
	&__right { float:right; }
	@media only screen {
		line-height:20px;
		&__input { overflow: hidden; position:absolute; top:auto; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0); }
		&__ico { box-sizing:border-box; position:relative; top:-2px; left:0; display:inline-block; width:20px; height:20px; margin-right:4px; background-image: url(../images/icon/ipt-check-v2.png); vertical-align:middle; cursor:pointer; }
		//&__input:focus+&__ico,
		&__input:checked+&__ico { background-image: url(../images/icon/ipt-check-v2_checked.png);  }
	}
	@media only screen and (max-width:$tablet-size) { font-size:13px; margin-top:10px;
		line-height:15px;
		&__ico { top:-1px; width:15px; height:15px; margin-right:0; background-image: url(../images/icon/ipt-check-v2-m.png); background-size:15px 15px;  }
		&__input:checked+&__ico { background-image: url(../images/icon/ipt-check-v2_checked-m.png); background-size:15px 15px; }
	}
}

.email-signature { vertical-align:middle; }

// 아이콘
.icon { display:inline-block; box-sizing: border-box; font-size:0; line-height: 0; vertical-align: middle;
	&_file { width:16px; height:17px; background-image: url(../images/icon/icon-file.png); background-repeat: no-repeat; }
	&_prev { margin-right:9px; }
	@media only screen and (max-width:$tablet-size) {
		&_file { width:11px; height:12px; background-image: url(../images/icon/icon-file-m.png); background-size: 11px auto; }
		&_prev { margin-right:5px; }
	}
}