@charset "utf-8";
@import "mixin";

/* Table */
.table-row-v1 { width:100%; position:relative; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; border-collapse:collapse; color:$gray2; font-size:16px;
	&__th,
	&__td { height:70px; box-sizing: border-box; }
	&__th { padding:20px 28px; border-top:1px solid #c6d0db; background-color:#eaf0f2; color:$black-body; vertical-align:middle; text-align:center; font-weight:$regular; /* white-space:nowrap;  */}
	&__td { padding:13px 20px; border-top:1px solid #c6d0db; vertical-align: middle; }
	&__m-info { display:none; }
	@media only screen { border-top:1px solid #4a4a4a; border-bottom:none;
		&:before { display:block; position:absolute; top:0; left:0; right:0; width:100%; border-top: 2px solid #4a4a4a; content: '';}
		&:after { display:table;display:block; position:absolute; bottom:0; left:0; width:100%; border-bottom: 1px solid #c6d0db; content: '';}
		/*&__th,
		&__td { border-bottom:1px solid #c6d0db; }*//* for ie */
	}
	@media only screen and (max-width:$tablet-size) { width:100%;
		& colgroup { display:none; }
		& tbody { display:block; }
		&:before { top:-1px; }
		&__th { display:block; float:left; width:100%; padding:9px 10px 8px; height:auto; min-height:35px; margin-top:-1px; font-size:13px; text-align: left; }
		&__td { display:block; float:left; width:100%; padding:10px 10px; height:auto; margin-top:-1px; font-size:13px; }
		& tr { display:block; width:100%; }
		&__m-row { display:table-row; padding:0 10px; box-sizing: border-box; }
		&__m-cell { display:table-cell; vertical-align: middle; box-sizing: border-box; height:50px; padding:9px 0 10px; }
		&__m-info { display:inline-block; margin-left:5px; font-size:11px; color:$gray2; }
	}
}
.table-row-v1-header { position:relative; margin-bottom:16px; line-height:1.3;
	&_next { margin-top:56px; }
	&__tit { margin:0; font-size:18px; color:$black-tit; font-weight:$regular; }
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	&__info { display:inline-block; margin-left:10px; font-size:16px; color:$gray2; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:8px;
		&__tit { float:left; font-size:13px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
		&__info { float:right; font-size:12px; margin-top:2px; margin-left:5px; }
	}
}
.table-row-v1-wrap { overflow: hidden; margin-left:-20px;
	&__half { float:left; width:50%; box-sizing: border-box; padding-left:20px; }
	@media only screen and (max-width:$tablet-size){
		&_m-normal { margin-left:0; }
		&__half {
			&_m-w100p { float:none; width:100%; padding-left:0; }
		}
	}
}

.table-row-v2 { width:100%; position:relative; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; border-collapse:collapse; color:$black-body; font-size:14px;
	&__th,
	&__td { height:50px; box-sizing: border-box; }
	&__th { padding:10px 20px; border-top:1px solid #c6d0db; background-color:#eaf0f2; color:$black-body; vertical-align:middle; text-align:center; font-weight:$light; /* white-space:nowrap;  */}
	&__td { padding:10px 11px; border-top:1px solid #c6d0db; vertical-align: middle; line-height: 0; }
	@media only screen { border-top:1px solid #4a4a4a; border-bottom:none;
		&:before { display:block; position:absolute; top:0; left:0; right:0; width:100%; border-top: 2px solid #4a4a4a; content: '';}
		&:after { display:block; position:absolute; bottom:0; left:0; right:0; width:100%; border-bottom: 1px solid #c6d0db; content: '';}
	}
	@media only screen and (max-width:$tablet-size) {
		&:before { top:-1px; }
		&__th { display:block; float:left; width:100%; padding:9px 10px; height:35px; line-height: normal; margin-top:-1px; font-size:13px; text-align: left; }
		&__td { display:block; float:left; width:100%; padding:10px 10px; height:auto; margin-top:-1px; font-size:13px; line-height: 100%; }
		&__m-row { display:table-row; padding:0 10px; box-sizing: border-box; height:57px; }
		&__m-cell { display:table-cell; vertical-align: middle; box-sizing: border-box; height:55px; }
		&__m-info { display:inline-block; margin-left:5px; font-size:11px; color:$gray2; }
	}
}

.table-col-v1-wrap { overflow:auto; }
.table-col-v1 { width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #c7d1db; font-size:14px; line-height:24px; color:$black-body;
	thead {
		& th { font-size:16px; font-weight: $regular; color:$black-body;
			&+th { border-left:1px solid #c7d1db; }
		}
	}
	&__th { -webkit-box-sizing:border-box; box-sizing:border-box; height:50px; border-bottom:1px solid #c7d1db; text-align:center; font-weight:$light; color:$gray2; vertical-align: middle; }
	&__td { -webkit-box-sizing:border-box; box-sizing:border-box; border-top:1px solid #c7d1db; border-left:1px solid #c7d1db; text-align:left; vertical-align: middle; padding:25px 20px;
		&_text-right { padding-right:18px; text-align:right; }
	}
	@media only screen and (max-width:$tablet-size) {
		thead {
			& th { font-size:13px; }
		}
		&__th { height:32px; font-size:12px; line-height:16px; padding:12px 10px; }
		&__td { font-size:12px; line-height: 16px; padding:12px 10px; }
	}
}
.table-col-v1-header { position:relative; margin-bottom:16px; line-height:1.3;
	&_next { margin-top:56px; }
	&__tit { margin:0; font-size:20px; color:$black-tit; font-weight:$regular;
		&_f18 { font-size:18px; }
	}
	&__edge { position:absolute; right:0; bottom:-10px; font-size:12px; line-height:1.7; }
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:9px;
		&__tit { float:left; font-size:15px; }
		&__edge { float:right; position:static; bottom:0; line-height:1.4; }
	}
}
.table-col-v1-footer { margin-top:5px; font-size:12px; text-align:right; color:$black-body;
	&__para { margin:0; }
}

.table-col-v2 { position:relative; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; font-size:14px; color:$gray2;
	$this: &;
	&:before { display:block; width:0; position:absolute; left:0; top:-1px; bottom:0; border-left:1px solid #fff; content:''; }
	&__th,
	&__td { height:50px; border-left:1px solid #c6d0db; border-top:1px solid #c6d0db; font-weight:$regular; vertical-align: middle;
		//&:first-child { border-left:none; }
	}
	&__th { box-sizing:border-box; text-align:center; height:40px; background-color:#fff; font-weight:$regular; color:$black-body; padding:10px 20px; }
	&__td { box-sizing:border-box; line-height: 24px; padding:13px 20px; margin-left:-1px;
		&_text-center { text-align:center; }
		&_text-right { text-align: right; }
	}
	&__line-b { position:relative;
		#{$this}__td { border-top:1px solid $black-body; }
	}
	&__info { display:inline-block; padding-left:10px; position:relative; margin-top:5px; font-size:16px; font-weight: $regular;
    &:before { content:'*'; color:$red; position:absolute; left:0; top:0; display: inline-block; }
  }
	@media only screen and (max-width:$mobile-size) {
		&:before { left:-1px; top:-1px; bottom:-1px; border-left:2px solid #fff; }
		&__th { height:32px; font-size:13px; padding:6px 10px; }
		&__td { height:40px; font-size:12px; padding:10px 10px; }
		&__info { font-size:13px; }
	}
}

.table-col-v3 { width:100%; border-collapse:collapse; border-top:2px solid #8c8a8c; border-bottom:1px solid #666; color:$black-body;
	$this:&;
	&__th,
	&__td { height:50px; text-align:center; }
	&__th { font-weight:$bold; color:$black-tit; border-bottom:1px solid #8c8a8c; }
	&__td { border-top:1px solid #dedfde;
		#{$this} tbody tr:nth-child(odd) & { background-color:#f9f9f9; }
	}
	@media only screen and (max-width:$mobile-size) {
		&__th,
		&__td { height:40px; font-size:12px; }
	}
}

// modal
.table-col-v4 { width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; font-size:14px; color:$black-body;
	$this: &;
	&__th,
	&__td { box-sizing:border-box; height:50px;  font-weight:$light; vertical-align: middle;
		&:first-child { border-left:none; }
		&:first-child[rowspan] { border-right:1px solid #e4eaf0; }
	}
	&__th { font-weight:$regular; text-align:center; background-color:#eaf0f2; border-left:1px solid #c6d0db; border-bottom:1px solid #c6d0db; color:$black-body; padding:10px 20px; }
	&__td { width:1%; line-height: 24px; padding:13px 20px; margin-left:-1px; border-top:1px solid #e4eaf0; border-left:1px solid #e4eaf0;
		&_text-center { text-align:center; }
		&_scroll-wrap { margin:0; padding:0; }
	}
	&_scroll-tbody { border:0; width:102%;
		& tbody {
			& tr:first-child {
				& td { border-top:0; }
			}
		}
	}
	&__link { color:$gray2; }
	@media only screen and (max-width:$mobile-size) {
		&__th { height:32px; font-size:13px; padding:6px 10px; }
		&__td { height:40px; font-size:12px; padding:10px 10px; }
	}
}
.table-col-v4-header { overflow:hidden; position:relative; margin-bottom:13px; line-height:1.3;
	$this: &;
	&_next { margin-top:48px; }
	&__tit { margin:0; font-size:18px; color:$black-tit; font-weight:$regular; }
	&__info { display:inline-block; font-size:16px; color:$gray; font-weight: $regular; margin-left:5px;
		&--highlight { color:$orange; }
	}
	&_btn-wrap {
		#{$this}__tit { display:table-cell; width:100%; vertical-align: bottom; }
		.btn-v4 { display:table-cell; }
	}
	@media only screen and (max-width:$tablet-size) {
		overflow:hidden; margin-bottom:8px;
		&_next { margin-top:35px; }
		&__tit { float:left; font-size:13px; }
		&__info { font-size:12px;
      &:before { content:'- '; }
			&--m-full { width:100%; margin-left:0; margin-top:3px; }
		}
		&_btn-wrap { display:table;
			#{$this}__tit { padding-top:16px; }
			.btn-v4 { width:1%; }
		}
	}
}
.scroll-body-wrap { overflow-y:scroll; overflow-x:hidden; max-height:250px; border-bottom:1px solid #e4eaf0; }
