@charset "utf-8";
@import "mixin";

// Tab

// tab-v1
.tab-v1 { max-width:820px; margin:0 auto 65px; text-align: center;
	$this:&;
	$item:#{$this}__item;
	&__list { display:inline-flex; }
	&__item { box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; max-width:205px; height:60px; background-color:#fff; color:#959595; font-size:18px; text-align:center; vertical-align:middle; padding:0 10px;
		&.is-active {  }
	}
	&__link { position:relative; box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle; font-weight: $light;
		&:after { position:absolute; top:0; left:0; right:0; border-width:3px 0 0; border-style:solid; border-color: #e4eaf0; content:''; }
		#{$item}.is-active & { font-weight:$regular; color:$black-tit;
			&:after { border-color:$orange; }
		}
	}
	@media only screen and (max-width:$tablet-size) { margin:0 auto 23px;
		position:relative; height:47px;
		&__item { height:47px; font-size:12px; padding:0 5px; }
		&__link { font-weight: $regular; width:1%;
			&:after { border-width:2px 0 0; }
		}
	}
}

.tab-content {
	display:none;
	&.is-active { display:block; }
}

.tab-v2 { background-color: #fafafa; position:relative; margin-bottom:50px;
	&:before { z-index:10; position:absolute; top:0; left:0; right:0; border-top:2px solid $black-tit; content:''; }
	&:after { position:absolute; bottom:0; left:0; right:0; border-top:1px solid #e2e3e5; content:''; }
	$this:&;
	$item:#{$this}__item;
	&__list { display:flex; /*border-collapse:collapse;*/
		&_w380 { max-width:380px; }
	}
	&__item { position:relative; box-sizing:border-box; display:table-cell; flex-grow:1; height:50px; border:1px solid #e2e3e5; border-right-width:0; background-color:#fafafa; color:$gray2; font-size:16px; text-align:center; vertical-align:middle;
		&:first-child { border-left-width:0; }
		&.is-active { border-top-color:#fff; border-bottom-color:#fff; background-color:#fff; color:$black-body; }
		&+& {
			&.is-active { border-right-width:1px; }
		}
	}
	&__link { box-sizing:border-box; display:table-cell; width:1000px; height:inherit; color:inherit; text-decoration:none;  vertical-align:middle;
		#{$item}.is-active & {
			&:after { z-index:10; position:absolute; top:100%; bottom:1px; left:0; right:0; border-top:1px solid #fff; content:''; }
		}
	}
	@media only screen and (max-width:$tablet-size) { margin-bottom: 16px;
		&__list { display:block;
			&_m-list { max-width:100%; }
		}
		&__item { font-size:12px; height:35px; border-right-width:0;
			&+& {
				&.is-active { border-right-width:0; }
			}
		}
		&__link {
			#{$item}.is-active & {
				&:after { bottom:-1px; }
			}
		}
		//position:relative; height:40px;
		//&__list { display:block; overflow:hidden; position:absolute; z-index:500; width:100%; padding-top:40px; max-height:0;
		//	&:before { box-sizing:border-box; position:absolute; z-index:100; top:13px; right:15px; width:10px; height:10px; border-width:0 0 1px 1px; border-style:solid; border-color:transparent transparent #fff #fff; content:''; transform:rotate(-45deg); }
		//	//&:after { z-index:400; position:absolute; top:0; left:0; right:0; height:40px; content:''; }
		//	&.js-open-m { max-height: 1000px; }
		//}
		//&__item { display:block; width:auto; height:40px; border-top:1px solid #fff; background-color:#dcdcdc; font-size:16px; text-align:left;
		//	//&:first-child { border-top:none; }
		//	&.is-active { border-top:1px solid #fff; background-color:#dcdcdc; border-bottom-color:#d5d5d5; }
		//}
		//&__link { position:static; padding:10px;
		//	#{$item}.is-active & { border-top:none; padding:10px; font-weight:$bold;
		//		&:before { box-sizing:border-box; position:absolute; z-index:10; top:0; left:0; width:100%; line-height:40px; padding:0 12px; background-color:#000; content:attr(data-title); font-weight:$bold; color:#fff; }
		//		&:after { display:none; }
		//	}
		//}
	}
}

.tab-v3 { margin:90px auto 40px; max-width:590px;
	&__list { display:table; display:flex; line-height:1.1; font-size:18px; }
	&__item { box-sizing:border-box; display:table-cell; flex-grow:1; width:1%; border:1px solid $gray2; border-left-width:0; color:$gray2;
		&+& { border-right-width:1px; }
		&:first-child { border-left-width:1px; }
		&.is-active { position:relative; border-color:$red; background-color: $red; color:#fff;
			&:before { position:absolute; top:-1px; bottom:-1px; left:-1px; border-left:1px solid $red; content:''; }
		}
	}
	&__link { display:table-cell; width:1000px; height:58px; text-align:center; text-decoration:none; color:inherit; vertical-align:middle; }
	@media only screen and (max-width:$tablet-size) {
		margin-bottom:20px;
		&__list { font-size:13px }
		&__link { height:35px; }
	}
}
