@charset "utf-8";
@import "mixin";

// 특성분석센터 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/about/about-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/about/about-visual-slide#{$i}-m.png) }
      }
    }
  }
}

/* 인사말 */
.about-header { position:relative; width:100%; height:344px;  display:table; background-image: url(../images/about/about_01-img.jpg); background-repeat: no-repeat; background-position: 50% 0;
  &__txt-wrap { display:table-cell; text-align: center; vertical-align: middle; }
  &__tit { font-size:18px; color:$red; line-height: 30px; font-weight: $regular; letter-spacing: 0.58em; }
  &__desc { font-size:30px; color:#fff; line-height: 42px; font-weight: $bold; letter-spacing: -0.05em; max-width:440px; margin:22px auto 0; }
  @media only screen and (max-width:$tablet-size){ height:220px; margin:0 -15px; padding:0 15px; background-image: url(../images/about/about_01-img-m.png); background-size: cover;
    &__tit { font-size:11px; line-height: 15px; }
    &__desc { font-size:24px; line-height: 30px; margin-top:9px; }
  }
}
.about-greetings { overflow:hidden; margin-top:53px;
  &__item { box-sizing: border-box; float:left; width:50%; padding:0 20px;
    & .para-v1 { line-height: 1.85; }
  }
  @media only screen and (max-width:$tablet-size) { margin-top:27px;
    &__item { float:none; width:100%; padding:0 10px;
      & .para-v1 { line-height: 1.5; }
    }
  }
}
.about-footer { margin-top:130px; text-align: center;
  &__desc { display:inline-block; font-size:18px; line-height: 29px; letter-spacing: -0.05em; color:$gray2; margin-top:25px;
    & strong { font-weight: $medium; color:$black-body; }
  }
  @media only screen and (max-width:$tablet-size){ margin-top:54px;
    & .summary-v1 { font-size:18px; line-height: 23px; font-weight: $regular; }
    &__desc { font-size:14px; line-height: 19px; margin-top:15px;  }
  }
}

/* 팀소개 */
.about-header {
  &_team { height:420px; background-image: url(../images/about/about_02-1-img.jpg);
    &_nth2 { background-image: url(../images/about/about_02-2-img.jpg); }
    &_nth3 { background-image: url(../images/about/about_02-3-img.jpg); }
    &_nth4 { background-image: url(../images/about/about_02-4-img.jpg); }
  }
  &__tit-kr { margin-top:10px; font-size:42px; font-weight: $bold; color:#fff; letter-spacing: -0.05em; line-height: 1.2; }
  &__desc-v2 { max-width:600px; margin:50px auto 0; font-size:18px; font-weight: $light; line-height: 30px; letter-spacing: -0.05em; color:#fff; }
  @media only screen and (max-width:$tablet-size){
    &_team { height:275px; background-image: url(../images/about/about_02-1-img-m.png);
      &_nth2 { background-image: url(../images/about/about_02-2-img-m.png); }
      &_nth3 { background-image: url(../images/about/about_02-3-img-m.png); }
      &_nth4 { background-image: url(../images/about/about_02-4-img-m.png); }
    }
    &__tit-kr { margin-top:5px; font-size:24px; }
    &__desc-v2 { max-width:100%; margin-top:25px; font-size:14px; line-height: 20px; }
  }
}
.about-content { margin-top:56px;
  &__section {
    &+& { margin-top:60px; }
  }
  &__tit { margin-bottom:34px; font-size:26px; color:$black-tit; font-weight: $regular; text-align: center; }
  @media only screen and (max-width:$tablet-size){ margin-top:28px;
    &__section {
      &+& { margin-top:20px; }
    }
    &__tit { font-size:18px; margin-bottom:16px; }
  }
}
.table-box {
  &__head { width:1%; height:70px; padding:10px 5px; display:table-cell; text-align: center; vertical-align: middle; box-sizing: border-box; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; background-color: #eaf0f2; }
  &__body { display:table; table-layout: fixed; width:100%;
    &_table { display:table; width:100%; }
  }
  &__tit { font-size:20px; color:$black-body; font-weight: $regular;
    &--uppercase { text-transform: uppercase; }
  }
  @media only screen and (max-width:$tablet-size){
    &__head { height:43px; }
    &__tit { font-size: 15px; }
  }
}
.table-list { display:table; table-layout: fixed; overflow: hidden; width:50%; float:left;
  $this:&;
  &__item { display:table-cell; position:relative; width:25%; box-sizing: border-box; border-color:#c6d0db; border-style: solid; border-width:0 0 1px 1px;
    &.nth-1,
    &.nth-5 { border-width:0 0 1px 0; }
    &:after { display:inline-block; z-index:-1; height:107px; content: ' '; position:absolute; right:0; top:28px; background-image: url(../images/about/about-02-sp.png); background-repeat: no-repeat; background-size: 800px 800px; }
    &.nth-1:after { width:77px; background-position: 0 0; }
    &.nth-2:after { width:86px; background-position: -100px 0; }
    &.nth-3:after { width:76px; background-position: -200px 0; }
    &.nth-4:after { width:92px; background-position: -300px 0; }
    &.nth-5:after { width:86px; background-position: -400px 0; }
    &.nth-6:after { width:69px; background-position: -500px 0; }
    &.nth-7:after { width:65px; background-position: -600px 0; }
    &.nth-8:after { width:96px; background-position: -700px 0; }
    &_2 {
      &.nth-1:after { width:82px; background-position: 0 -107px; }
      &.nth-2:after { width:60px; background-position: -100px -107px; }
      &.nth-3:after { width:74px; background-position: -200px -107px; }
      &.nth-4:after { width:90px; background-position: -300px -107px; }
    }
    #{$this}__ssa & { border-width:0 0 0 1px;
      &.nth-1 { border-width:0; }
      &:after { background-size:auto; background-position: 0 0; }
      &.nth-1:after { width:78px; background-image: url(../images/about/about-02_ssa-icon1.png); }
      &.nth-2:after { width:78px; background-image: url(../images/about/about-02_ssa-icon2.png); }
      &.nth-3:after { width:80px; background-image: url(../images/about/about-02_ssa-icon3.png); }
      &.nth-4:after { width:78px; background-image: url(../images/about/about-02_ssa-icon4.png); }
    }
    #{$this}__structure & { border-width:0 0 0 1px;
      &.nth-1 { border-width:0; }
      &:after { background-size:auto; background-position: 0 0; }
      &.nth-1:after { width:78px; background-image: url(../images/about/about-02_structure-icon1.png); }
      &.nth-2:after { width:78px; background-image: url(../images/about/about-02_structure-icon2.png); }
      &.nth-3:after { width:80px; background-image: url(../images/about/about-02_structure-icon3.png); }
      &.nth-4:after { width:68px; background-image: url(../images/about/about-02_structure-icon4.png); }
    }
  }
  &__ssa,
  &__structure { width:100%; border-color:#c6d0db; border-style: solid; border-width:0 0 1px 0; }
  &__inner { box-sizing:border-box; height:250px; padding:30px 22px;
    #{$this}__ssa &,
    #{$this}__structure & { height:auto; }
  }
  &__tit { font-size:30px; font-weight: $light; letter-spacing: 0; }
  &__tit2 { font-size:26px; font-weight: $light; letter-spacing: 0; }
  &__wrap { margin-top:48px; }
  &__txt { position:relative; padding-left:10px; font-size:14px; line-height: 1.571; /*white-space: nowrap; max-width: 100%; overflow: hidden; text-overflow: ellipsis;*/ color:$gray2;
    &+& { margin-top:5px; }
    &:before { display:inline-block; width:3px; height: 3px; background-color: $red; position:absolute; left:0; top:10px; content: ' '; }
  }
  &__txt2 { margin-top:8px; font-size:26px; line-height: 1.385; /*overflow: hidden; @include line-clamp(4,5.54);*/}
  &__txt3 { padding-top:100px; font-size:18px; font-weight: $light; color:$gray2; /*overflow: hidden; @include line-clamp(1,1.3);*/ }
  @media only screen and (max-width:$tablet-size){ width:100%; float:none;
    $itemHeight:(262px/290px)*100%;
    &__item { width:50%;
      &.nth-1,
      &.nth-3,
      &.nth-5,
      &.nth-7 { border-width:0 0 1px 0; }
      &:after { top:15px; height:45px; background-size: 400px 400px; }
      &.nth-1:after { width:34px; background-position: 0 -150px; }
      &.nth-2:after { width:36px; background-position: -50px -150px; }
      &.nth-3:after { width:40px; background-position: -100px -150px; }
      &.nth-4:after { width:45px; background-position: -150px -150px; }
      &.nth-5:after { width:34px; background-position: -200px -150px; }
      &.nth-6:after { width:35px; background-position: -250px -150px; }
      &.nth-7:after { width:28px; background-position: -300px -150px; }
      &.nth-8:after { width:45px; background-position: -350px -150px; }
      &_2 {
        &.nth-1:after { width:40px; background-position: 0 -200px; }
        &.nth-2:after { width:25px; background-position: -50px -200px; }
        &.nth-3:after { width:40px; background-position: -100px -200px; }
        &.nth-4:after { width:45px; background-position: -150px -200px; }
      }
      #{$this}__ssa & { float:left;
        &.nth-1 { border-width:0 0 1px 0; }
        &.nth-2 { border-width:0 0 1px 1px; }
        &.nth-3 { border-width:0; }
        &.nth-4 { border-width:0 0 0 1px; }
        &:after { background-size:auto 100%; background-position: 0 0; }
        &.nth-1:after { width:43px; height:40px; background-image: url(../images/about/about-02_ssa-icon1-m.png); }
        &.nth-2:after { width:42px; height:40px; background-image: url(../images/about/about-02_ssa-icon2-m.png); }
        &.nth-3:after { width:39px; height:52px; background-image: url(../images/about/about-02_ssa-icon3-m.png); }
        &.nth-4:after { width:37px; height:52px; background-image: url(../images/about/about-02_ssa-icon4-m.png); }
      }
      #{$this}__structure & { float:left;
        &.nth-1 { border-width:0 0 1px 0; }
        &.nth-2 { border-width:0 0 1px 1px; }
        &.nth-3 { border-width:0; }
        &.nth-4 { border-width:0 0 0 1px; }
        &:after { background-size:auto 100%; background-position: 0 0; }
        &.nth-1:after { width:43px; height:40px; background-image: url(../images/about/about-02_structure-icon1-m.png); }
        &.nth-2:after { width:42px; height:40px; background-image: url(../images/about/about-02_structure-icon2-m.png); }
        &.nth-3:after { width:39px; height:52px; background-image: url(../images/about/about-02_structure-icon3-m.png); }
        &.nth-4:after { width:37px; height:52px; background-image: url(../images/about/about-02_structure-icon4-m.png); }
      }
    }
    &__inner { padding:14px 10px; height:auto; min-height: 120px;
      #{$this}__structure & { min-height:140px; }
    }
    &__tit { font-size:19px; }
    &__tit2 { font-size:13px; }
    &__wrap { margin-top:21px; }
    &__txt { font-size:12px; white-space: normal;
      &:before { top:7px; }
      &+& { margin-top:4px; }
    }
    &__txt2 { margin-top:4px; font-size:13px; }
    &__txt3 { padding-top:45px; font-size:12px; }
  }
}

.table-desc { padding:36px 20px 40px; box-sizing: border-box; border-bottom:1px solid #c6d0db;
  &_half { display:table-cell; width:1%; }
  &__tit { display:inline-block; margin-bottom:10px; font-size:20px; line-height: 28px; color: $black-body; font-weight: $regular;
    &_v2 { margin-bottom:0; }
    &_v3 { margin-top:20px; }
    &_next { margin-bottom:0; margin-top:10px; }
  }
  &__txt { font-size:14px; line-height: 26px; color:$gray2; counter-reset: table-desc__txt; }
  &__item { counter-increment: table-desc__txt;
    &:before { content:counter(table-desc__txt) ". "; }
  }
  .img-wrap { text-align: center; padding:50px 0 35px; box-sizing: border-box; border:1px solid #c6d0db;
    & img { max-width: 100%; }
  }
  &--table { display: table; width:100%; }
  &--table-fix { table-layout: fixed; }
  &__cell { display:table-cell; width:1%; }
  &__block { display:block; width:100%; }
  @media only screen and (max-width:$tablet-size){ padding:20px 10px;
    &_m-w100p { display:block; width:100%;
      &+& { padding-top:10px; }
    }
    &_m-bd-none { border-bottom:0; }
    &__tit { margin-bottom:4px; font-size:15px; line-height: 1.2;
      &_next { margin-top:5px; }
    }
    &__txt { font-size:12px; line-height: 1.5; }
  }
}
.table-img { width:100%; box-sizing: border-box; padding:50px 0; border-bottom:1px solid #c6d0db;
  &.center { text-align: center; }
  & img { display:inline-block; max-width:100%; }
  @media only screen and (max-width:$tablet-size){
    padding:32px 0;
  }
}

.analysis-sample { padding:34px 0 0; margin:0 -10px;
  $this: &;
  $imgSize:(230px/285px)*100%;
  &__list { @include block(); display:table; table-layout: fixed; width:100%; box-sizing: border-box;
    &+& { margin-top:35px; }
  }
  &__item { position:relative; display:table-cell; padding:0 10px; width:25%; float:left; height:230px; text-align: center; vertical-align: middle; box-sizing: border-box;
    &_w20p { width:20%; }
    &_w50p { width:50%; }
    &_w100p { width:100%; }
    &_h350 { height:350px; }
    &_next-desc { margin-bottom:25px; }
    &[data-desc]:after { display:inline-block; content:attr(data-desc); font-size:14px; color:$gray2; font-weight: $light; }
  }
  &__img-wrap { position:relative; display:inline-block; width:100%; overflow:hidden; height:inherit; box-sizing: border-box; border:1px solid #c6d0db;
    &_bg-black { background-color: #000; }
  }
  &__img { display:inline-block; max-width:100%; width:auto; max-height:100%; padding:10px; box-sizing: border-box; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; }
  &__desc { display:inline-block; margin-top:5px; width:100%; font-size:14px; text-align: center; color:$gray;
    &_center { margin-top:15px; }
    &_w50p { max-width:50%; }
    &_w75p { max-width:75%; }
  }
  @media only screen and (max-width:$tablet-size){ padding:13px 0 0;
    $imgSize:(217px/260px)*100%;
    $imgSizeL:(349px/505px)*100%;
    &__list { padding:0 5px; }
    &__item { display:inline-block; width:50%; height:auto; line-height: 0; padding:5px;
      &_h350 { height:auto;
        #{$this}__img-wrap { padding:#{$imgSizeL} 0 0; }
      }
      &_m-w100p { width:100%; }
      &_next-desc { margin-bottom:10px; }
    }
    &__img-wrap { height:0; padding:#{$imgSize} 0 0; }
    &__img { padding:5px; }
    &__desc { font-size:11px; line-height: 1.3;
      &_center { margin-top:5px; }
      &_m-w100p { max-width:100%; }
    }
  }
}
.img-sample { padding:40px 20px;
  $this: &;
  &--table { display: table; width:100%; }
  &--table-fix { table-layout: fixed; }
  &_next { padding:0; margin-top:27px; }
  &_pd-0 { padding:0; }
  &__list { overflow:hidden; margin:0 -10px; }
  &__item { padding:0 10px; float:left; width:50%; box-sizing: border-box; vertical-align: middle;
    &_next { margin-top:20px; }
    &_w100p { width:100%; }
  }
  &__tit { padding:12px 10px; margin-bottom:10px; text-align: center; box-sizing: border-box; font-size:20px; font-weight: $regular; color:$black-body; background-color: #eaf0f2; }
  &__box { position:relative; width:100%; padding:40px 46px; box-sizing: border-box; border:1px solid #c6d0db;
    $box: &__box;
    &_type2 { padding:35px 46px; }
    &_arrow {
      #{$this}__img-wrap { width:40%; }
      &:before { display:inline-block; width:18px; height:10px; content:' '; position:absolute; left:50%; top:-10px; bottom:0; margin-top:auto; margin-bottom:auto; margin-left:-9px; background-image: url(../images/icon/icon-arr6.png); }
    }
    &--table { display: table; }
    &--table-fix { table-layout: fixed; }
  }
  &__img-wrap { position:relative; display:inline-block; width:100%; text-align: center;
    &[data-desc]:after { display:inline-block; content:attr(data-desc); width:100%; font-size:14px; font-weight: $regular; margin-top:35px; }
    &_next { float:right; }
    &--cell { display:table-cell; width:auto; padding-left:20px; vertical-align: top; box-sizing: border-box; }
    &--cell:first-child { padding-left:0; }
    &--text-left { text-align: left; }
    &--next-block { margin-top:60px; }
  }
  &__img { display:inline-block; max-width:100%;
    &_box { border:1px solid #c6d0db }
  }
  &__desc { color: #767676; font-weight: $regular; font-size: 14px; line-height: 1.857; margin-top:35px; }
  @media only screen and (max-width:$tablet-size){ padding:20px 10px;
    &_next { padding:0; margin-top:10px; }
    &_pd-0 { padding:0; }
    &__list { margin:0; }
    &__item { width:100%; padding:0;
      &+& { margin-top:10px; }
    }
    &__tit { padding:8px 10px; margin-bottom:5px; font-size:15px; }
    &__box { padding:19px 15px;
      &_arrow {
        &:before { top:-7px; width:15px; height:7px; margin-left:-7px; background-image: url(../images/icon/icon-arr6-m.png); background-size: 15px 7px; }
      }
    }
    &__img-wrap {
      &:after{ font-size:11px; line-height: 15px; margin-top:17px; }
    }
    &__desc { font-size: 11px; margin-top:17px; }
  }
}
.exellency-box { position:relative; margin-top:50px; padding-bottom:50px; border-bottom: 1px solid #c6d0db;
  $this:&;
  $line:#{$this}__line;
  &:after { display:block; z-index:-1; width:480px; height:280px; content:''; position:absolute; top:60px; left:0; right:0; margin-left:auto; margin-right:auto;
    background-image: url(../images/about/exellency-line-bg.png); background-position:0 0; background-repeat: no-repeat; }
  &__tit { display:table; position:relative; width:200px; height:200px; box-sizing: border-box; padding:9px; margin:0 auto; text-align: center; font-size:24px; line-height: 1.5; font-weight: $bold; letter-spacing: 0;
    &[data-title]:after { display:table-cell; content:attr(data-title); vertical-align: middle; box-sizing: border-box; border:1px solid #e2e2e2; border-radius: 100px; }
    &:before { display:block; content:''; width:100%; height:100%; position:absolute; left:0; top:0; box-sizing: border-box; border:2px solid $red; border-radius: 100px; }
  }
  &__wrap { @include block(); max-width:540px; margin:0 auto; box-sizing: border-box; }
  &__line { position:relative; float:left; width:33.33%; text-align: center;
    &_nth1,
    &_nth3 { margin-top:-20px; }
    &_nth2 { padding-top:68px; }
  }
  &__item-circle { position:relative; display:inline-block; width:140px; height:140px; margin:0 auto; box-sizing: border-box; border:1px solid $red; background-color: $red; border-radius: 50%;
    &:before { display:block; width:34px; height:34px; position:absolute; top:-20px; content:''; background-image: url(../images/about/exellency-box-sp.png); }
    #{$line}_nth1 &:before { right:-20px; background-position:0 0; }
    #{$line}_nth2 &:before { width:10px; height:48px; top:-60px; left:0; right:0; margin-left:auto; margin-right:auto; background-position:-34px 0; }
    #{$line}_nth3 &:before { left:-20px; background-position:-44px 0; }
  }
  &__item-inner { display:table; width:100%; height:100%; }
  &__item-tit { display:table-cell; box-sizing: border-box; padding:0 20px; vertical-align: middle; font-size:20px; color:#fff; font-weight: $regular; line-height: 1.4;
    &[data-tit]:after { display:inline-block; width:100%; content:attr(data-tit); font-size:14px; color:inherit; font-weight: $light; }
    #{$this}__item-square & {color:$black-body;}
  }
  &__bridge { position:relative; top:-30px; text-align: left; font-size:12px;
    &_al-right { text-align:right; }
    &:after { display:block; position:absolute; top:10px; width:36px; height:36px; content:' '; background-image: url(../images/about/exellency-box-sp.png); }
    #{$line}_nth1 & { left:-100%;
      &:after { right:-35px; background-position: 0 -48px; }
    }
    #{$line}_nth2 & { left:50%; top:auto; padding:20px 0 20px 15px;
      &:after { width:10px; height:50px; left:0; background-position: -36px -48px; }
    }
    #{$line}_nth3 & { left:100%; padding-left:10px;
      &:after { left:-25px; background-position: -46px -48px; }
    }
  }
  &__item-square { width:250px; height:80px; border-style: dashed; border-color:#c6d0db; border-width:1px; border-radius: 50px;
    #{$line}_nth1 & { margin-left:-250px; }
    #{$line}_nth2 & { margin-left:-35px; }
    #{$line}_nth3 & { margin-left:180px; }
  }
  &__explan { width:250px; margin-top:17px;
    &_al-right { text-align: right; }
    #{$line}_nth1 & { margin-left:-250px; }
    #{$line}_nth2 & { margin-left:-35px; }
    #{$line}_nth3 & { position:relative; left:180px; }
  }
  @media only screen and (max-width:$tablet-size){ margin-top:25px; padding-bottom:25px;
    &:after { width:100%; height:150px;  top:30px; left:0; right:0; margin-left:auto; margin-right:auto;
      background-size:auto 100%; background-position: center bottom; }
    &__tit { width:107px; height:107px; padding:5px; font-size:15px; }
    &__wrap { max-width:300px; padding:0 17px; }
    &__line { float:left; width:33.33%; text-align: center;
      &_nth1,
      &_nth3 { margin-top:-5px; }
      &_nth2 { padding-top:35px; }
    }
    &__item-circle { width:80px; height:80px;
      &:before { width:17px; height:17px; top:-8px; background-size: 240px 240px; }
      #{$line}_nth1 &:before { right:-10px; background-position:0 0; }
      #{$line}_nth2 &:before { width:5px; height:24px; top:-30px; background-position:-17px 0; }
      #{$line}_nth3 &:before { left:-10px; background-position:-22px 0; }
    }
    &__item-tit { padding:0 10px; font-size:12px; line-height: 1.1;
      &[data-tit]:after { font-size:11px; }
    }
    &__bridge,
    &__item-square,
    &__explan { display:none; }
  }
}


/* 연구원소개 */
.table-row-v1 + .board-filter-v1 { margin-top:50px;
  @media only screen and (max-width:$tablet-size) { margin-top:25px; }
}

.btn-v1 {
  @media only screen and (max-width:$tablet-size) {
    &_m-full { width:100%;
      &>span { width:1%; }
    }
  }
}

/* 오시는 길 */
.directions {
  &__section {
    &+& { margin-top:60px; }
  }
  &__address { display:table; table-layout: fixed; width:100%; font-size:18px; font-weight: $regular; line-height: 1.556; border-bottom:1px solid #c6d0db; }
  &__addr-wrap { display:table-cell; box-sizing: border-box; padding:30px 18px;
    &.nth-1 { width:68%; }
  }
  &__addr-list {
    &_half { display:table-cell; width:1%; }
  }
  &__addr-txt { font-weight: $light; color:$gray2; }
  @media only screen and (max-width:$tablet-size){
    &__section {
      &+& { margin-top:30px; }
    }
    &__address { font-size:14px; line-height: 1.357; }
    &__addr-wrap { display:block; padding:15px 10px;
      &.nth-2 { padding-top:0; }
    }
  }
}

.map { width:100%; height:520px; background-color: $gray;
  $mapSize:(560px/580px)*100%;
  @media only screen and (max-width:$tablet-size){
    height:0; padding-top:#{$mapSize};
  }
}

.directions-table {
  $this:&;
  &+& { margin-top:110px; }
  &__top { display:table; width:100%; overflow: hidden; padding-bottom:15px; }
  &__bottom { display:table; width:100%; overflow: hidden; padding-top:10px;
    #{$this}__info { font-size:16px; font-weight: $regular; }
  }
  &__tit { display:table-cell; width:1%; font-size:20px; font-weight: $regular; color:$black-tit; }
  &__info { display:table-cell; width:1%; text-align: right; font-size:14px; font-weight: $light; letter-spacing: -0.05em;
    & i:before { display:inline-block; margin-right:2px; content:'*'; color:$red; font-style: normal; }
  }
  &__content { display:table; table-layout: fixed; width:100%; border-top:2px solid #4a4a4a; }
  &__row { display:table-row; }
  &__item { display:table-cell; position:relative; width:50%; height:175px; box-sizing: border-box; padding:35px 20px; vertical-align: top; letter-spacing: -0.05em; font-weight: $light; border-color:#c6d0db;
    border-style:solid; border-width:0 0 1px 0;
    &:after { z-index:-1; display:block; width:124px; height:100%; content:''; position:absolute; right:0; top:0; bottom:0; background-position: 50% 50%; background-repeat: no-repeat; }
    &.nth-1:after { background-image: url(../images/about/about-04_traffic-icon1.png); }
    &.nth-2:after { background-image: url(../images/about/about-04_traffic-icon2.png); }
    &.nth-3:after,
    &.nth-4:after { background-image: url(../images/about/about-04_traffic-icon3.png); }
    &.nth-2,
    &.nth-4 { border-width:0 0 1px 1px;  }
    &-tit { display:inline-block; margin-bottom:5px; font-size:18px; font-weight: $regular; }
    &-txt { font-size:14px; color:$gray2; line-height:1.857;
      &--is-next { margin-top:5px; }
      &--font-bold { font-weight: $regular; }
    }
  }
  @media only screen and (max-width:$tablet-size){
    &+& { margin-top:60px; }
    &__top { padding-bottom:0; }
    &__bottom { padding-top:5px;
      #{$this}__info { float:none; text-align: left; font-size:14px; }
    }
    &__tit { display:block; width:auto; float:left; font-size:15px; }
    &__info { display:block; width:auto; margin-top:4px; margin-bottom:4px; float:right; font-size:12px; }
    &__item { display:block; width:100%; height:auto; min-height: 110px; padding:22px 15px;
      &:after { width:62px; height:100%; content:''; position:absolute; right:0; top:0; bottom:0; background-position: 50% 25%; background-repeat: no-repeat; background-size: 100% auto; }
      &.nth-1:after { background-image: url(../images/about/about-04_traffic-icon1-m.png); }
      &.nth-2:after { background-image: url(../images/about/about-04_traffic-icon2-m.png); }
      &.nth-3:after,
      &.nth-4:after { background-image: url(../images/about/about-04_traffic-icon3-m.png); }
      &.nth-2,
      &.nth-4 { border-width:0 0 1px 0;  }
      &-tit { display:inline-block; margin-bottom:2px; font-size:14px; }
      &-txt { font-size:12px; line-height:1.5;  }
    }
  }
}
.sequence { overflow: hidden; line-height: 2;
  $this:&;
  &--round {
    #{$this}__item + #{$this}__item {
      &:before { left:3px; background-image: none; content:'↔'; color:#c6d0db; font-size:13px; height:100%; line-height: 36px; }
    }
  }
  &__item { display:inline-block; position:relative;
    &+& { padding-left:22px;
      &:before { display:block; width:10px; height:5px; position:absolute; left:5px; top:-5px; bottom:0; margin-top:auto; margin-bottom:auto; content:''; background-image: url(../images/icon/icon-arr6-v2.png); }
    }
  }
  .bus-table & { font-size:18px; font-weight: $light; color:$black-body;
    &__item {
      &+#{$this}__item { padding-left:24px; }
    }
  }
  @media only screen and (max-width:$tablet-size){
    &+& {
      &:before { width:9px; height:4px; background-image: url(../images/icon/icon-arr6.png); background-size: 9px 4px; }
    }
    &--round {
      #{$this}__item + #{$this}__item {
        &:before { line-height: 28px; }
      }
    }
    .bus-table & { font-size:14px;
      &__item {
        &+#{$this}__item { padding-left:22px; }
      }
    }
  }
}
.bus-table { position:relative; table-layout:fixed; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #c6d0db; font-size:14px; color:$gray2; word-break: break-all;
  $this: &;
  &:before { display: block; position: absolute; top: -1px; bottom: 0; left: 0; width: 0; height: 100%; border-left: 1px solid #fff; content: ''; }
  &__th,
  &__td { height:50px; box-sizing:border-box; border-left:1px solid #c6d0db; border-top:1px solid #c6d0db; font-weight:$regular; vertical-align: middle; text-align:center; background-color:#fff;
    //&:first-child { border-left:none; }
    &_tit { font-weight: $regular; color:$black-body; }
  }
  &__th { font-size:16px; color:$black-body; padding:10px 20px; }
  &__td { line-height: 1.4; padding:13px 20px; margin-left:-1px; }
  &__txt { display:inline-block; width:100%; margin-top:8px; }
  &__time { word-break: keep-all; }
  @media only screen and (max-width:$mobile-size) {
    &:before { bottom:-1px; left:-1px; height:auto; border-left:2px solid #fff; }
    &__th,
    &__td { height:32px; }
    &__th { font-size:13px; padding:6px 10px; }
    &__td { font-size:12px; padding:10px 5px; }
    &__txt { margin-top:6px; font-size:11px; }
  }
}

// Open Lab
.lab-section {
  &+& { margin-top:57px; }
  &__title { margin-bottom:1.38em; font-size:26px; line-height: 1.2; font-weight: $regular; text-align: center; }
  &__title2 { margin-bottom:.45em; font-size:20px; font-weight: $regular; line-height: 1.2; color:$black-tit; }
}

.lab-table { position:relative; display:table; table-layout: fixed; width:100%; padding-top:2px;
  $this:&;
  &:before { content:''; display:block; width:100%; border-top:2px solid #4a4a4a; position:absolute; top:0; left:0; right:0; }
  &--another { border-top:1px solid #f0f2f5; padding-top:0; margin-top:37px;
    &:before { border-top:1px solid #d5dde5; position:static; }
  }
  &__wrap { font-size:0; padding:40px 0; margin-top:-20px; border-bottom:1px solid #c6d0db;
    &:before { content:''; display:inline-block; margin-left:-20px; }
  }
  &__block { box-sizing: border-box;
    &--row { display:table-row; }
    &--width-50p { display:inline-block; width:50%; box-sizing: border-box; padding-left:20px; margin-top:20px; vertical-align: top; }
  }
  &__cell { display:table-cell; width:1%; padding:38px 0; box-sizing: border-box; border-bottom:1px solid #c6d0db; vertical-align: middle;
    &:first-child { padding-right:40px; }
    &--align-top { vertical-align: top; }
  }
  &__title { margin-bottom:.55em; font-size:18px; color:$black-body; line-height: 1.3; font-weight: $regular;
    &--next { margin-top: 2.77em }
  }
  &__desc-wrap {
    &--last { margin-bottom:-6px; }
  }
  &__link { text-decoration: none; color:inherit;
    &:hover { text-decoration: underline; }
  }
}

.lab-circle-list { font-size:0; display: inline-block;
  &__item { display:inline-block; position:relative; width:120px; height: 120px; padding:7px; font-size:16px; line-height: 1.3; color:$black-body; border-radius: 120px; border:1px solid #e2e2e2; box-sizing: border-box; vertical-align: top; margin:0 2.062em;
    &:before { content:''; width:90%; height:90%; box-sizing: border-box; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; border:2px solid $red; border-radius: 100%; }
    &:after { content:''; display:block; width:5px; height:5px; position:absolute; left:-2.375em; top:0; bottom:0; margin:auto; border-width:0 2px 2px 0; border-style:solid; border-color:#707686; transform: rotate(-45deg); }
    &:first-child:after { display:none; }
  }
  &__text { display:table-cell; height:105px; width:1%; vertical-align: middle; text-align: center; font-weight: $regular; }
}

.sem-table { position:relative; display:table; table-layout: fixed; width:100%; padding-top:2px; text-align: left; font-family: 'Open Sans', sans-serif;
  &:before { content:''; display:block; width:100%; border-top:2px solid #4a4a4a; position:absolute; top:0; left:0; right:0; }
  &__th, &__td { box-sizing: border-box; border-bottom:1px solid #d8dfe6; vertical-align: middle;
    &+& { border-left:1px solid #d8dfe6; }
  }
  &__th { padding:15px 10px; text-align: center; font-size:16px; color:$black-body; font-weight: $semi-bold; }
  &__td { padding:20px 20px; font-size:14px; color:$gray2; line-height: 1.857; letter-spacing: 0;
    &:first-child { font-family: $font-ko; }
  }
}

.x-ray-table { position:relative; display:table; table-layout: fixed; width:100%; padding-top:2px; text-align: center; letter-spacing: 0;
  &:before { content:''; display:block; width:100%; border-top:2px solid #4a4a4a; position:absolute; top:0; left:0; right:0; }
  &__th, &__td { box-sizing: border-box; border-bottom:1px solid #d8dfe6; vertical-align: middle;
    &+& { border-left:1px solid #d8dfe6; }
  }
  &__th { height:50px; padding:15px 10px; text-align: center; font-size:16px; color:$black-body; font-weight: $regular; }
  &__td { padding:17px 20px 18px; font-size:14px; color:$gray2; line-height: 1.857;
    &:first-child { font-family: $font-ko; }
  }
}

.lab-info { font-size:0; margin-top:17px;
  &__item { display:inline-block; vertical-align: top; font-size:16px; line-height: 1.3; color:$gray2;
    &--next { margin-left:30px; }
  }
  &__link { text-decoration: none; color:inherit; }
}
























