@charset "utf-8";
@import "mixin";

//교육 및 세미나 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/educate/educate-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/educate/educate-visual-slide#{$i}-m.png) }
      }
    }
  }
}

.educate-board { display:table; position:relative; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space:nowrap; line-height:1.5;
  &__thead { display:table-header-group; }
  &__tbody { display:table-row-group; }
  &__row { display:table-row; }
  &__th { display:table-cell; -webkit-box-sizing:border-box; box-sizing:border-box; height:47px; padding:5px 10px; border-bottom:1px solid #e5eaf0; text-align:center; font-weight:$regular; font-size:16px; vertical-align: middle;
    &_nth1 { width:10%; }
    &_nth2 { width:auto; }
    &_nth3 { width:10%; }
    &_nth4 { width:10%; }
    &_nth5 { width:10%; }
    &_nth6 { width:15%; }
  }
  &__td { display:table-cell; overflow:hidden; -webkit-box-sizing:border-box; box-sizing:border-box; height:70px; padding:5px 10px; border-top:1px solid #e5eaf0; text-align:center; font-size:14px; text-overflow:ellipsis; color:$gray2;  vertical-align: middle; }
  &__tit { text-align: left; white-space: normal; word-break: break-all; font-size:14px; font-weight: $light; }
  &__link { color:inherit; text-decoration:none; font-size:inherit;
    &:hover,
    &:focus  { text-decoration:underline; }
  }
  @media only screen and (max-width:$tablet-size) { display:block;
    &__tbody { display:block; }
    &__row { display:block; position:relative; overflow: hidden; padding:10px 0 8px 0; border-top:1px solid #e5eaf0;
      &:first-child { border-top:0; }
    }
    &__td { display:block; height:auto; float:left; clear:both; width:100%; text-align: left; border-top:0; padding:0; font-size:13px;
      &_m-hide { display:none; }
      &_m-inline { float:none; display:inline; }
    }
    &__m-hide { display:none; }
    &__tit { position:relative; top:2px; font-size:13px; font-weight: $regular; }
    &__link {
      &:before { position:absolute; top:0; left:0; right:0; bottom:0; content:''; }
      &:hover,
      &:focus  { text-decoration:none; }
    }
    &__date { font-size:12px; margin-top:3px; }
  }
}
//상세보기 신청안내
.download-box { position:relative; padding:35px 30px; margin-bottom: 40px; box-sizing: border-box; border:1px solid #e2e7ed; border-radius: 10px; background-color: #f4f7f8;
  &:before { display:block; content:''; border-top:1px solid #fff; position:absolute; top:-2px; left:0; right:0; }
  &:after { display:block; border-bottom:1px solid #e4eaf0; content: ''; position:absolute; bottom:-41px; left:0; right:0; width:100%; }
  &__tit { font-size:22px; line-height: 32px; font-weight: $regular; }
  &__body { display:table; width:100%; }
  &__desc { display:table-cell; width:42%; vertical-align: bottom; font-size:16px; line-height: 24px; letter-spacing: -0.05em; color:$gray2; }
  &__email { display:table-cell; width:39%; vertical-align: bottom;
    &-icon { display:inline-block; vertical-align: middle; width:35px; height:35px; font-size:0; text-indent: -999em; color:transparent; background-image: url("../images/icon/icon-mail-circle.png"); }
    &-addr { display:inline-block; font-size:18px; font-family: notokr,sans-serif; color:$black-body; text-decoration: none; }
  }
  &__btn-wrap { display:table-cell; text-align: right; }
  @media only screen and (max-width:$tablet-size) { padding:20px 20px; border-radius: 0; margin-bottom:20px;
    &:before { left:-1px; right:-1px; width:auto; }
    &:after { bottom:-21px; }
    &__tit { font-size:17px; line-height: 1; }
    &__body { display:block; margin-top:7px; }
    &__desc { display:block; width:100%; font-size:12px; line-height: 16px; }
    &__email { display:block; width:100%; margin-top:15px;
      &-icon { width:26px; height:26px; background-size:26px 26px; }
      &-addr { font-size:13px; line-height: 14px; }
    }
    &__btn-wrap { display:block; width:100%; margin-top:20px; }
  }
}

//교육 및 세미나 접수
.receipt { margin-top:32px; }
.receipt-table { table-layout:fixed; margin-top:10px; margin-bottom:30px;
  &__th { width:190px; }
  &__td { width:35.48%; }
}
.form-box-set { margin:0 -17px;
  &__input { display:inline-block; float:left; width:50%; padding:0 17px; box-sizing: border-box;
    &+& { position:relative;
      &:before { display:table-cell; width:15px; height:1px; background-color: #cad3dd; position:absolute; top:0; left:-7px; bottom:0; margin:auto; content:' '; }
    }
    //& input { display:inline-block; width:100%; height:40px; padding:5px; line-height: 40px; box-sizing: border-box; appreance:none; border:1px solid #cad3dd; text-align: center; }
    @media only screen and (max-width:$tablet-size) { padding:0 15px;
      &+&:before { width:10px; left:-5px; }
      //& input { height:35px; line-height: 35px; }
    }
  }
  &_v2 {
    &__input {
      &+& {
        &:before { transform: rotate(-80deg); }
      }
      @media only screen and (max-width:$tablet-size) {
        &+&:before { width:20px; left:-10px; }
      }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    width:auto;
    margin:0 -15px;
  }
}
.form-box {
  &__item_addr_v2 { vertical-align: top; line-break: 0;
    .input-v1__btn-set { padding-right:90px; }
    @media only screen and (max-width:$tablet-size) {
      .input-v1__btn-set { padding-right:75px; }
    }
  }
}