@charset "utf-8";
@import "mixin";

//ETC CSS
.etc {
  .wrapper { position:absolute; top:0; left:0; right:0; bottom:0;
    &__row {  }
  }
  .content { display: table-cell; vertical-align: middle;
    &__header { padding-top:0; }
    &__tit { padding-top:0; }
  }
}
// 회원가입 완료 페이지
.center-box { padding-top:100px; border-top:1px solid #707686;
  &__btns { padding-top:50px; text-align: center; }
  @media only screen and (max-width:$tablet-size) {
    padding-top:50px;
    &__btns { padding-top:25px; }
  }
}