@charset "utf-8";
@import "mixin";

// 보유장비 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/machine/machine-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/machine/machine-visual-slide#{$i}-m.png) }
      }
    }
  }
}

/* 보유장비 리스트 버튼 */
.board-list-v3 {
  &__td { white-space: normal; }
  @media only screen and (max-width:$tablet-size) {
    &__m-align-right  { height:40px; }
  }
  @media only screen and (max-width:$mobile-size) {
    &__m-align-right  { height:28px; }
  }
}
/* 보유장비 리스트 col width */
.border-col {
  &__1 { width:8%; }
  &__2 { width:15%; }
  &__3 { width:8%; }
  &__4 { width:auto; }
  &__5 { width:5%; }
  &__6 { width:8%; }
  &__7 { width:10%; }
  &__8 { width:10%; }
}
/* 보유장비 상세 */
.machine {
  &__intro { height:420px; letter-spacing: 0; position:relative; }
  &__img-wrap { width:420px; position:absolute; left:0; top:0; bottom:0; box-sizing: border-box;
    & img { display:block; width: 100%; }
  }
  &__info { width:100%; height:100%; box-sizing: border-box; padding-left:505px;
    &-name { font-size:30px; color:$black-body; line-height: 38px; margin-bottom:36px;
      & strong { font-weight: 700; }
      & span { font-size:24px;font-weight: $regular; }
    }
    &-list { @include block();
      &+dl { margin-top:17px; }
      & dt { width:110px; font-size:18px; font-weight: $bold; color:$black-body; float:left; }
      & dd { font-size:16px; color:$gray2; float:left; }
    }
  }
  &__btn-wrap { position:absolute; left:505px; bottom:0; }

  @media only screen and (max-width:$tablet-size) {
    &__intro { height:auto; }
    &__img-wrap { position:static; width:100%;
      & img { width:100%; }
    }
    &__info { padding-left:0; margin-top:14px;
      &-name { font-size:15px; line-height: 1.2; margin-bottom:20px;
        & span { font-size:14px; }
      }
      &-list {
        &+dl { margin-top:10px; }
        & dt { width:75px; font-size:12px; }
        & dd { font-size:12px; }
      }
    }
    &__btn-wrap { position:static; margin-top:22px; @include block(); margin:22px -5px;
      & .btn-v2 { float:left; @include calc('width','50% - 10px'); padding:9px 10px; margin:0 5px;
        &+.btn-v2 { margin-left:5px; }
        & span { display:inline-block; width:100%; text-align: center; font-size:13px; }
      }
    }
  }
}
.detail { margin-top:60px; padding-bottom:38px; border-bottom:1px solid #e5eaf0;
  &__section {
    &+& { margin-top:46px; }
    &-wrap { @include block();}
  }
  &__item { float:left; width:50%;
    &-list {
      & li + li {margin-top:4px;}
    }
  }
  @media only screen and (max-width:$tablet-size) {
    &__section {
      & + & { margin-top: 15px; }
    }
    &__item { float:none; width:100%;
      &+& { margin-top:17px; }
      &-list {
        & li + li {margin-top:2px;}
      }
    }
  }
}
.examples { @include block();
  &__box {
    &+& { margin-top:36px; }
    &-list { @include block(); margin:0 -10px; }
    &-item { float:left; max-width:33.33%; box-sizing: border-box; padding:0 10px;
      & span { display:block; }
    }
    &-img { display:block; max-width: 100%; }
    &-txt { display:inline-block; width:100%; font-size:14px; margin-top:12px; text-align: center; }
  }
  &__box_v2 { width:50%; float:left;
    &-item { max-width:50%; }
    &[data-txt]:after { display:inline-block; width:100%; max-width:500px; margin-top:12px; font-size:14px; text-align: center; content:attr(data-txt); }
  }
  @media only screen and (max-width:$tablet-size) {
    &__box {
      &+& { margin-top:0; }
      &-item { max-width: 50%; width:50%; }
      &-img { width:100%; }
      &-txt { font-size:11px; margin-top:5px; margin-bottom:17px; }
    }
    &__box_v2 { width:100%; float:none;
      &-item { max-width:50%; }
      &-txt { margin-bottom:0; }
      &[data-txt]:after { font-size:11px; max-width: 100%; margin-top:5px; margin-bottom:17px; }
    }
  }
}

//달력 fullCalendar.js
.tab-content { position:relative; }
.calendar { padding-right:390px;
  .fc-toolbar {
    .fc-center {
      & h2 { font-size:30px; color:#302e3b; letter-spacing: 0; font-weight: $regular; margin-left:10px; min-width:188px; }
      & button { border:0; background-color: #fff; background-image: none; box-shadow: none; padding:0;
        &.fc-button { width:29px; height:39px; position:relative;
          & .fc-icon { display:table-cell; height:17px; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; line-height: 0; font-size: 0;
            &-left-single-arrow:after { display:inline-block; top:0; content:' '; background-image: url("../images/icon/icon-arr4-left-g.png"); background-repeat: no-repeat; width:9px; height:inherit; }
            &-right-single-arrow:after { margin-left:0; display:inline-block; top:0; content:' '; background-image: url("../images/icon/icon-arr4-right-g.png"); background-repeat: no-repeat; width:9px; height:inherit; }
          }
        }
      }
    }
  }
  table {
    .fc-head {
      th { padding:10px 0; font-size:14px; color:$black-body; font-weight: $semi-bold; text-transform: uppercase; background-color: #f4f6f8; }
    }
    .fc-body {
      td.fc-today { background: #f5fbfd;  border-color:#c6d0db; }
      .fc-disabled,
      .fc-past { opacity: 0.5; cursor: default !important; }
      .fc-event { display:block; height:100%; background-color:transparent; border:0; color:$gray2; position:static; cursor: pointer; }
      .fc-event-container { vertical-align: middle; text-align: center; position:relative;
        .fc-content { position:static; height:100%; }
        .reserve-tag { display:inline-block; font-size:13px; background-color: #428ce9; border:1px solid #428ce9; border-radius: 15px; color:#fff; width:60px; height:24px; padding:0 6px; box-sizing: border-box; position:absolute; right:5px; bottom:5px;
          &_full { background-color:#4a4a4a; border-color:#4a4a4a; } /*예약불가*/
          &>strong,
          &>span{ display:table-cell; height:22px; vertical-align: middle; }
        }
        .fc-title { font-size:14px; }
      }
      .fc-day-number { display:inline-block; float:none !important; font-size:14px; font-weight: $light; color:$gray; padding:5px 10px; }
    }
  }
  .fc-row.fc-rigid .fc-content-skeleton { bottom:0; padding-bottom:0;
    & table { height:100%; }
  }

  @media only screen and (max-width:$tablet-size) { padding-right:0;
    .fc-basic-view .fc-body .fc-row { min-height:4em; }
    .fc-toolbar {
      .fc-center {
        & h2 { font-size:15px; margin-left:5px; min-width:128px; }
        & button {
          &.fc-button { width:14px; height:19px;
            & .fc-icon { height:8px;
              &-left-single-arrow:after { width:4px; height:inherit; background-size: 4px 8px; }
              &-right-single-arrow:after { width:4px; height:inherit; background-size: 4px 8px; }
            }
          }
        }
      }
    }
    table {
      .fc-head {
        th { padding:2px 0; font-size:11px; }
      }
      .fc-body {
        .fc-day-number { font-size:11px; padding:4px 8px;  }
        .fc-event-container {
          .reserve-tag { font-size:0; line-height: 0; width:5px; height:5px; padding:0; top:auto; bottom:5px;
            &_full { display: block; border-top: 5px solid transparent; border-right: 4px solid transparent; border-bottom: 5px solid #4a4a4a; border-left: 4px solid transparent; border-radius: 0; background-color: transparent; }
          }
        }
      }
    }
  }
}

.calendar-summary { display:none;
  @media only screen and (max-width:$tablet-size) { display:table; margin-top:10px; color:$black-body; font-weight: $medium;
    &__item { display:table-cell; position:relative; padding:0 10px;
      &:before { display:inline-block; width:5px; height:5px; position:absolute; top:0; bottom:0; left:0; margin:auto auto auto auto; box-sizing: border-box; content:''; border-radius: 5px; }
      &-reserve:before { border:1px solid #428ce9; background-color: #428ce9; }
      &-reserve-full:before { top:-5px; left:-1px; border-top: 5px solid transparent; border-right: 4px solid transparent; border-bottom: 5px solid #4a4a4a; border-left: 4px solid transparent; border-radius: 0; background-color: transparent; }
    }
  }
}

.calendar-detail { position:absolute; right:0; top:0; bottom:50px; width:370px; padding-top:55px;
  @media only screen and (max-width:$tablet-size) { position:static; width:100%; padding-top:20px; }
  &__item { padding:13px 0 11px 0; box-sizing: border-box;
    &:first-child { padding-top:0; }
    &+& { border-top:1px solid #c6d0db; }
  }
  &__box { border:1px solid #c6d0db; border-bottom:0; padding:13px 19px 50px 19px;  height:100%; box-sizing: border-box; position:relative; overflow-y: auto;
    @media only screen and (max-width:$tablet-size) { padding:12px 10px 32px 10px; }
  }
  &__tit { font-size:16px; font-weight: $medium; letter-spacing: -0.05em; margin-bottom:9px;
    &.reserve-full:after { content: attr(data-title); color:$red; display:inline-block; float:right; margin-top:2px; font-size:14px; font-weight: $light; }
    @media only screen and (max-width:$tablet-size) { font-size:12px;
      &.reserve-full:after { font-size:12px; margin-top:0; }
    }
  }
  &__name { font-size:14px; font-weight: $regular; letter-spacing: 0; color:$gray2; }
  &__list { overflow: hidden; font-size:14px; line-height:25px; color:$gray; /*max-height:200px; overflow-y:auto;*/
    //&:after { display:block; height:100%; content: ''; }
    &-booker { margin-left:5px; }
    &-reserve { font-weight: $regular;
      & .reserve { color:$black-tit; }
      & .reserve-full { color:$red; }
    }
    &-item { position:relative; width:50%; float:left;
      &:before { display:inline-block; content:'-'; }
      & em { font-style:normal; }
    }
    &-num { display:inline-block; line-height: 100%; width:14px; height:13px; text-align:center; font-size:11px; position:absolute; left:0; top:0; bottom:0; margin:auto;
      &:before { display:table-cell; position:absolute; left:0; top:0; width:14px; height:13px; border:1px solid $gray; box-sizing: border-box; border-radius: 50%; content:' '; }
    }
  }
  &__date { font-size:14px; letter-spacing: 0; color:$gray2; }
  &__tit-info { font-size:14px; color:$gray; display:inline-block; font-weight: $light; float:right; margin-top:2px;}
  &__time-wrap { @include block(); margin:12px -17px 0;
    @media only screen and (max-width:$tablet-size) { margin:6px -15px 0; }
  }
  /*&__input { display:inline-block; float:left; width:50%; padding:0 17px; box-sizing: border-box;
    &+& { position:relative;
      &:before { display:table-cell; width:15px; height:1px; background-color: #cad3dd; position:absolute; top:0; left:-7px; bottom:0; margin:auto; content:' '; }
    }
    & input { display:inline-block; width:100%; height:40px; padding:5px; line-height: 40px; box-sizing: border-box; appreance:none; border:1px solid #cad3dd; text-align: center; }
    @media only screen and (max-width:$tablet-size) { padding:0 15px;
      &+&:before { width:10px; left:-5px; }
      & input { height:35px; line-height: 35px; }
    }
  }*/
  &__select { display:inline-block; float:left; width:50%; padding:0 17px; box-sizing: border-box;
    &+& { position:relative;
      &:before { display:table-cell; width:15px; height:1px; background-color: #cad3dd; position:absolute; top:0; left:-7px; bottom:0; margin:auto; content:' '; }
    }
    & select { display:inline-block; width:100%; height:40px; padding:5px; line-height: 40px; box-sizing: border-box; appreance:none; border:1px solid #cad3dd; text-align: center; }
    @media only screen and (max-width:$tablet-size) { padding:0 15px;
      &+&:before { width:10px; left:-5px; }
      & select { height:35px; line-height: 35px; }
    }
  }
  & .desc { font-size:14px; line-height: 20px; color:$gray2; margin-top:3px; }
  & .btn-wrap { position:absolute; left:0; bottom:-50px; right:0;
    & button { width:100%; }
  }

  @media only screen and (max-width:$tablet-size) {
    &__name,
    &__list,
    &__date,
    &__tit-info,
    & .txt-warn,
    & .desc{ font-size:12px; }
    &__m-tit { display:inline-block; margin-bottom:0; }
    &__m-hide { display:none; }
    &__m-tit-info { float:none; margin-left:29px; margin-top:0 }
    &__name[data-title],
    &__date[data-title]{
      &:before { display:inline-block; content:attr(data-title); font-size:12px; font-weight: $medium; position:absolute; left:0; top:0; color:$black-body; }
    }
    &__name,
    &__date { position:relative; display:inline-block; padding-left:75px; }
    &__item { position:relative; padding:8px 0; }

    & .btn-wrap { position:absolute; left:0; bottom:0; right:0;
      & button { width:100%;
        &>span { width:100%; display:inline-block; }
      }
    }
  }
}




























