@charset "utf-8";
@import "mixin";
.main {
	.wrapper { position:relative; display:block; left:0; right:0; top:0; /*position:absolute; display:block; top:0; left:0; right:0; bottom:0; padding-bottom:120px;*/
		&__row { display:block; }
	}
	.header { position:absolute; left:0; right:0; margin:auto; }
	//.footer { position:absolute; left:0; right:0; bottom:0; }
	@media only screen and (max-width:$tablet-size) {
		.wrapper { position:static; display:table; padding-bottom:0;
			&__row {
				&.type-full-height { height:auto; }
			}
		}
		.header { position:fixed }
		.footer { position:relative;}
		.content { margin-bottom:0; }
	}
	.content { max-width: 100%; }
}
.main-view{box-sizing:border-box; position:relative;/*position:absolute;top:0;;left:0;right:0;*/text-align:center;height: 590px;
	&__img-resizer { display:block; width:100%; height:740px; }
	.bx-wrapper { height:100%; position:absolute; left:0; right:0; top:0; bottom:0;
		.bx-controls { font-size:0; line-height: 0; }
		.bx-controls-direction { vertical-align: middle;
			& a { display:table-cell; width:50px; height:50px; position:absolute; top:0; bottom:0; margin:auto; vertical-align: middle;
				&.bx-prev { left:45px; background-image: url(../images/icon/icon-slide-prev1.png); background-repeat: no-repeat; background-position: 0 0; }
				&.bx-next { right:45px; background-image: url(../images/icon/icon-slide-next1.png); background-repeat: no-repeat; background-position: 0 0; }
			}
			@media only screen and (max-width:$tablet-size) { display:none; }
		}
		.bx-pager { position:relative; margin-top:-150px; text-align: center;
			@media only screen and (max-width:$tablet-size) { margin-top:-130px; }
		}
		.bx-pager-item { display:inline-block; font-size:0; color:transparent; line-height: 0;
			& a { display:block; margin:5px; outline: 0; text-decoration: none; font-size:inherit; color: inherit; text-indent: -999em; width:10px; height:10px; border-radius: 5px; background-color: rgba(255,255,255,0.5);
				&.active { background-color: $red; }
				@media only screen and (max-width:$tablet-size) { width:7px; height:7px; }
			}
		}
	}
	.bx-viewport { height:100% !important; }
	@media only screen and (max-width:$tablet-size) { height:346px; }
	&__slide{position:relative;width:100%;height:100%;overflow:hidden;
		@media only screen and (max-width:$tablet-size) { position:absolute;top:0;bottom:0;left:0;right:0;}
		&.js-slide-none { position:absolute; left:0; right:0; top:0; bottom:0; }
	}
	&__visual{width:100%; height:100%; box-sizing: border-box; background-size: 0;
		@media only screen and (max-width:$tablet-size) { padding-top:44px; padding-bottom:105px; background-image: none; background-repeat:no-repeat; background-position: center top; background-size:cover; }
	}
	&__visual-desktop { z-index:-1; position:absolute; width:1920px; height:590px; top:0; left:50%; margin-left:-960px;
		@media only screen and (max-width:$tablet-size) { display:none; }
	}
	&__wrap{display:table; width:100%; max-width:1240px; margin:0 auto; height:100%; }
	&__box{display:table-cell; color:#fff; vertical-align: middle;}
	&__txt{font-family:$font-en; font-size:84px; font-weight:100; line-height:78px; letter-spacing: 0;
		@media only screen and (max-width:$tablet-size) {font-size:30px; line-height: 30px;}
	}
	&__txt-img {
		&--mobile { width:235px; height:auto; display:none; }
		@media only screen and (max-width:$tablet-size) {
			&--mobile { display:inline-block; }
		}
	}

	/* 검색창 */
	&__search { width:100%; max-width:820px; position:absolute; bottom:50px; left:0; right:0; margin:0 auto; box-sizing: border-box;
		@media only screen and (max-width:$tablet-size) { padding:0 15px; bottom:20px; }
	}
	&__search-submit { display:table-cell; position:absolute; right:0; top:0; bottom:0; margin:auto; width:34px; height:34px; padding:18px 22px;
		@media only screen and (max-width:$tablet-size) { display:block; top:auto; width:17px; height:17px; padding:11px; margin:0; }
	}
	&__search-form { width:100%; background-color: rgba(255,255,255,0.1);
		& .fieldset { position:relative; font-size:0; }
		& .select-search { width:23%; height:70px; box-sizing: border-box; border-width:5px 0 5px 5px; border-style: solid; border-color: $red;
			&:before { content:''; width:1px; height:auto; display:block; position: absolute; top:0; right:0; bottom:0; background-color: rgba(#fff, 0.25); }
		}
		& input[type=text] { width:77%; height:70px; padding:0 70px 0 25px; box-sizing: border-box; font-size:16px; color:#fff; border:0; background-color: transparent; border-width:5px 5px 5px 0; border-style: solid; border-color: $red; }
		& input[type=text]::placeholder { color:#fff; }
		@media only screen and (max-width:$tablet-size) {
			& .select-search { width:100%; height:40px; padding-top:10px; padding-left:10px; padding-right:15px; padding-bottom:7px; line-height: normal; font-size:13px; border-width:3px;
				&:before { display: none; }
				&:after { right:15px; }
				& .list { left:-3px; right:-3px; margin-top:3px; }
				& .option { line-height: 40px; padding-left:10px; padding-right:15px; }
			}
			& input[type=text] { width:100%; height:40px; line-height: normal; margin-top:5px; padding:10px 35px 7px 12px; font-size:13px; border-width:3px; }
		}
	}
}
.main-content { width:100%;
	$this: &;
	&__aligner { max-width:$site-width; margin:0 auto; text-align: center; }
	&__tit { margin-bottom:40px; font-size:20px; font-weight: $light; letter-spacing: -0.05em;
		strong { font-weight: $bold }
	}
	&__list-aligner { @include block; }
	&__list {
		& li { float:left; width:calc(100% / 6);width:16.6666%; }
		& a { display:block; text-decoration: none; }
	}
	@media only screen and (max-width:$tablet-size) {
		#{$this}__section { padding:40px 0 28px 0; }
		&__tit { font-size:15px; margin-bottom:18px; }
		&__list {
			& li { width:calc(100% / 3);width:33.3333%; }
		}
	}
	&__section { padding:60px 0 80px 0; background-color: #fff;
		&--section1 { background-color: #707686;
			#{$this}__tit { color:#fff; }
			#{$this}__list {
				& li {position:relative;
					& + li:before { display:inline-block; position:absolute; top:0; bottom:0; left:0; height:40px; border-width:0 1px 0 1px; border-style:solid; border-left-color:rgba(255,255,255,0.5); border-right-color:rgba(80,86,102,0.5); vertical-align: middle; content:' ';
						@media only screen and (max-width:$tablet-size) { height:23px; }
					}
					& a { padding-top:58px; font-weight:$medium; font-size:16px; color:#fff; }
				}
			}
			@for $i from 1 through 6 {
				#{$this}__list .nth-#{$i} {
					& a { background-image: url(../images/main/main-section1-icon#{$i}.png); background-repeat: no-repeat; background-position: 50% 0;
						@media only screen and (max-width:$tablet-size) { padding-top:31px; font-size:12px; font-weight:$light; background-image: url(../images/main/main-section1-icon#{$i}-m.png); background-size:auto 23px; }
					}
					@if $i >= 4{
						@media only screen and (max-width:$tablet-size) { margin-top:28px;
							&.nth-4:before { display:none; }
						}
					}
				}
			}
		}
		&--section2 {
			$slideOnSize: 610px*100%/1240px;
			$slideMinSize: 210px*100%/1240px;
			#{$this}__tit { color:#707686; }
			#{$this}__flex-container { @include block; width:100%; height:360px; display:table; }
			#{$this}__flex-slide { float:left; position:relative; width:100%; max-width:#{$slideMinSize}; height:inherit; background-repeat:no-repeat; background-position:50% 0; background-size:cover; transition:max-width .5s ease-in-out;
				&.js-flex-on { width:100%; max-width:#{$slideOnSize}; }
				&.flex-slide1 { background-image:url(../images/main/main-section2-img1-on.jpg); }
				&.flex-slide2 { background-image:url(../images/main/main-section2-img2-on.jpg); }
				&.flex-slide3 { background-image:url(../images/main/main-section2-img3-on.jpg); }
				&.flex-slide4 { background-image:url(../images/main/main-section2-img4-on.jpg); }
				@media only screen and (max-width:$mobile-size) {
					&.flex-slide1 { background-image:url(../images/main/main-section2-img1-on-m.jpg); }
					&.flex-slide2 { background-image:url(../images/main/main-section2-img2-on-m.jpg); }
					&.flex-slide3 { background-image:url(../images/main/main-section2-img3-on-m.jpg); }
					&.flex-slide4 { background-image:url(../images/main/main-section2-img4-on-m.jpg); }
				}
			}
			#{$this}__flex-inner { height:inherit; display:table-cell; width:1%; box-sizing: border-box; padding-left:30px; vertical-align: top; padding-top:32px; text-align: left; color: #fff;
				&--font-0 { font-size:0; }
			}
			#{$this}__flex-num { font-size:40px; font-weight: $semi-bold; letter-spacing: 0; line-height: 46px; display:inline-block; padding-bottom:14px; }
			#{$this}__flex-tit { font-size:18px; font-weight: $light; transition:all .1s ease-in-out;
				&__en { opacity: 0; font-size:16px; font-weight: $light; letter-spacing: 0; margin-top:2px; white-space: nowrap; }
			}
			#{$this}__flex-desc { opacity: 0; font-size:14px; font-weight: $light; line-height: 24px; margin-top:11px;
				&--w50p { display:inline-block; width:50%; vertical-align: top; }
				&__item { padding-left:10px; position:relative; white-space:nowrap;
					&:after { display:inline-block; width:2px; height:2px; position:absolute; left:0; top:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-sqdot1-w.gif); background-repeat: no-repeat; content:' '; }
				}
			}
			#{$this}__flex-btn { position:absolute; bottom:50px; left:30px; opacity: 0; visibility: hidden; font-size:14px; display:inline-block; border:1px solid #fff; padding:10px 38px; box-sizing: border-box; transition:opacity .5s; cursor: pointer; color:#fff; text-decoration: none; }

			.js-flex-on {
				#{$this}__flex-num { padding-bottom:0; }
				#{$this}__flex-tit { font-size:30px; font-weight: $medium; }
				#{$this}__flex-tit__en { opacity: 1; }
				#{$this}__flex-desc { opacity: 1; }
				#{$this}__flex-btn { opacity: 1; visibility: visible; transition-delay: .5s; }
			}

			@media only screen and (max-width:$tablet-size) { padding:40px 0 0 !important;
				#{$this}__flex-container { flex-direction: column; height:auto; }
				#{$this}__flex-slide { float:none; max-width:100%; position:relative; max-height:60px; overflow: hidden; background-position:50% 50%; transition:max-height .3s ease-in-out;
					&:after { display:table-cell; width:21px; height:21px; position:absolute; top:0; bottom:0; right:15px; margin:auto; opacity: 1; content: ' '; cursor: pointer; background-image: url(../images/icon/icon-cc-down-w.png); background-repeat: no-repeat; background-position: 0 0; background-size:21px 21px; }
					&.js-flex-on { flex-grow: 3; max-width:100%; max-height:300px;
						&:after { opacity:0; }
					}
				}
				#{$this}__flex-inner { display: table; width:auto; padding-left:15px; padding-top:15px; }
				#{$this}__flex-num { font-size:22px; line-height: 24px; }
				#{$this}__flex-tit { font-size:13px; display:inline-block; margin-left:9px; }
				#{$this}__flex-tit__en { font-size:12px; }
				#{$this}__flex-desc { font-size:11px; line-height: 20px; margin-top:7px;
					&--m-w-full { width:100%; }
					&--m-mt0 { margin-top:0; }
				}
				#{$this}__flex-btn { left:auto; right:15px; bottom:25px; font-size:11px; padding:7px 20px; margin-top:0;
          &--m-static { position:static; margin-top:15px; margin-right:15px; float:right; }
        }

				.js-flex-on {
					#{$this}__flex-inner { padding-bottom:25px; }
					#{$this}__flex-num {  }
					#{$this}__flex-tit { font-size:18px; }
				}
			}
		}
		&--section3 { background-color: #eaf0f2;
			@media only screen and (max-width:$tablet-size) { background-color: #fff; padding:40px 0 0 !important;
				#{$this}__tit { color:#707686; }
			}
			#{$this}__flex-container { @include block; height:auto; width:100%;
				& .flex-box	{ float:left; box-sizing: border-box; padding:37px 30px 0;
					$this: flex-box;
					&__tit { font-size:18px; font-weight: $medium;text-align: left;
						.#{$this}__btn-more { display:inline-block; float:right; font-size:0; line-height: 0; text-indent: -999em; color:transparent; width:12px; height:23px; background-repeat:no-repeat; background-position:50% 50%; }
					}

					$newsSize : 400px*100%/1240px;
					&.news { background-color:#485671; max-width:#{$newsSize}; width:100%; height:544px;
						.#{$this}__tit { color:#fff; }
						.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-w.png); }
					}
					&__list-container { margin-top:16px; }
					&__item { position:relative; text-align: left; max-height:49px; overflow: hidden; background-image: url(../images/icon/icon-arr1-up-g.png); background-repeat: no-repeat; background-position: 96% 50%; transition:max-height .3s;
						&:before { display:block; width:100%; height:49px; position:absolute; content:''; z-index:100; cursor: pointer; }
						& + .flex-box__item a { border-top:1px solid rgba(208,208,208,0.5); }
					}
					&__item-link { display:block; color:#fff; text-decoration: none; }
					&__item-img { display:none; position:relative; width:100%; height:212px; overflow: hidden; background-color: #f1f1f1;
						img { display:block; width: 100%; position:absolute; left:0; top:0; right:0; }
					}
					&__item-tit { display:inline-block; width:100%; box-sizing:border-box; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:14px; font-weight: $light; padding:15px 30px 16px 0; }
					&__item-date { display:inline-block; font-size:12px; }
					&__item-desc { font-size:14px; line-height: 1.571; height:4.713em; overflow: hidden; font-weight: $light; padding:7px 0 9px 0;
						&:hover { text-decoration: underline; }
					}

          .js-flex-on { max-height:365px; background-image: none;
            .#{$this}__item {
              &:before { display:none; }
            }
            .#{$this}__item-link { position:relative; z-index:10; }
            .#{$this}__item-img { display: block; }
            .#{$this}__item-tit { font-size:16px; font-weight: $medium; }
          }

					$infoSize : 840px*100%/1240px;
					&.info { @include block; background-color:#fff; max-width:#{$infoSize}; width:100%; height:(544px/2); padding:0;
						.#{$this}__tit { color:$black-tit; }
						.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-b.png); }

						& + .info .#{$this}__notice { border-top:1px solid #e2e7ed; }
					}
					$noticeSize : 525px*100%/840px;
					&__notice { text-align: left; max-width:#{$noticeSize}; width:100%; padding:37px 30px 19px; box-sizing: border-box; float:left;
						&.icon-new { position:relative;
							&:after { display:inline-block; width:27px; height:11px; position:absolute; left:48px; top:24px; background-image: url(../images/icon/icon-new1-r.png); background-repeat: no-repeat; content:' '; }
						}
						&__list { margin-top:18px; }
						&__item { position:relative; height:35px; padding-left:9px; box-sizing: border-box; display:table; width:100%;
							&:after { display:inline-block; width:2px; height:2px; position:absolute; left:0; top:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-sqdot1-g.gif); background-repeat: no-repeat; content:' '; }
							a { font-size:13px; font-weight: $light; text-decoration: none; color:#767676; display:table-cell; vertical-align: middle;
								&:hover { text-decoration: underline; }
							}
							.date { color:#888; display:table-cell; vertical-align: middle; text-align: right; }
						}
					}

					.pre-tag { padding-left:67px;
						&:before { z-index:2; display:table-cell; width:60px; height:20px; line-height:100%; padding:4px 0; border-width:1px 1px 1px 1px; border-style: solid; border-radius: 3px; background-color:#fff; text-align: center; font-family: 'Dotum',sans-serif;
							font-size:11px; position:absolute; left:0; top:0; bottom:0; margin: auto; box-sizing: border-box; }
						&__v1:before { content:'정시교육'; color:$red; border-color:$red; }
						&__v2:before { content:'상시교육'; color:#009999; border-color:#009999; }
						&__v3:before { content:'세미나'; color:#428ce9; border-color:#428ce9; }
					}

					$infoSliderSize : 315px*100%/840px;
					&__info-slider { float:left; width:100%; max-width: #{$infoSliderSize};
						& .bx-wrapper { position:relative; }
						& .bx-controls { position:absolute;left:20px;right:20px;bottom:15px; box-sizing: border-box;
							& .js-bx-counter { font-size:14px; color:#fff; text-align: right; padding-right:60px;
								& span { padding:0 4px; }
								& .current-idx { color:$red; }
							}
							& .bx-controls-direction { display:table; float:right;
								& a { display:table-cell; font-size:0; line-height: 0; width:5px; height:9px; background-repeat: no-repeat; position:absolute; top:0; bottom:0; margin:auto;
									&.bx-prev { background-image:url(../images/icon/icon-arr2-left-w.png); right:40px; }
									&.bx-next { background-image:url(../images/icon/icon-arr2-right-w.png); right:0; }
								}
							}
							& .bx-controls-auto { display:table; float:right;
								& .bx-controls-auto-item { position:absolute; right:15px; top:0; bottom:0; display:table-cell; height:19px; margin:auto;
									& a { display:table-cell; font-size:0; line-height: 0; width:5px; height:9px; padding:5px; background-repeat: no-repeat; background-position:50% 50%; vertical-align: top;
										&.bx-stop { background-image:url(../images/icon/icon-pause-w.png); }
										&.bx-start { background-image:none;
											&:before { content:''; display:block; margin-top:1px; width: 0; height:0; border-right:6px solid transparent; border-bottom:6px solid #fff; transform:rotate(225deg); }
										}
									}
								}
							}
						}
					}

					$newsBgColor:#24609f;
					.news-letter { max-width: #{$infoSliderSize}; height:inherit; background-color:$newsBgColor; background-image: url(../images/main/main-news-bg.png); background-repeat: no-repeat; border-top:1px solid $newsBgColor !important; color:#fff;
						.#{$this}__tit { color:inherit; }
						.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-w.png); }
						&__box { margin-top:17px; position:relative; height:168px;
							& .book-wrap { display:table-cell; box-sizing: border-box; padding: 50px 0 12px 16px; position:absolute; left:0; top:0; width:120px; height:inherit;
								span { display:inline-block; width:100%; font-size: 15px; font-weight: $bold; color: #485671; }
								&__vol { padding-top:65px;
									i { font-style: normal; font-weight: $light; font-size:14px; }
								}
							}
							&__txt { display:table-cell; padding-left:145px; width:120px*100%/255px; height:inherit; vertical-align: middle; }
							&__tit { font-size:14px; line-height: 18px; }
							& .btn-v1 { margin-top:29px;
								&>span { letter-spacing: -0.05em; }
							}
						}
					}
				}

				// flex-container
				@media only screen and (max-width:$tablet-size){
					& .flex-box { float:none; max-width: 100% !important; padding:17px 15px 10px;
						&__notice { float:none;max-width: 100% !important; padding:37px 15px 23px;
							&.icon-new {
								&:after { width:27px; height:12px; left:26px; top:23px; background-image: url(../images/icon/icon-new1-r-m.png);background-size: 27px 12px; }
							}
							&__list { margin-top:4px; }
							&__item { height:25px; padding-left:5px;
								a { font-size:12px; }
								& .date { font-size:11px; white-space: nowrap; }
							}
						}
						&.news { height:auto;
							.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-w-m.png); }
						}
						&__tit { font-size:14px; }

						&__list-container { margin-top:7px; }
						&__item { max-height: 43px; background-image: url(../images/icon/icon-arr1-up-g-m.png); background-size: 10px 5px;
							&:before { height:43px; }
						}
						&__item-tit { font-size:12px; padding:14px 30px 14px 0; }
						.js-flex-on { max-height:700px;
							$itemImgSize:(361px/580px)*100%;
							.#{$this}__item-img {  }
							.#{$this}__item-tit { font-size:13px; font-weight: $regular; }
						}
						&__item-date { font-size:11px; }
						&__item-desc { font-size:12px; line-height: 1.333; height:3.999em; padding:4px 0 9px; }

						&.info { height:auto;
							.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-b-m.png); }
							& + .info .#{$this}__notice { border-top:0; }
						}
						&__btn-more { height:18px !important; background-size: 12px 12px; }

						&__info-slider { max-width: 100%; max-height:100%; position:relative;
							$itemBannerSize:(320px/640px)*100%;
							&__img-resizer { height:0; display:block; width:100%; padding-top:#{$itemBannerSize}; }
							& .bx-wrapper { position:absolute; top:0; left:0; right:0; bottom:0; height:100%; }
							& .bx-viewport { height:100% !important; }
							& .bx-controls {
								& .js-bx-counter { font-size:11px; padding-right:80px;
									& span.current-idx { font-weight: $bold; }
								}
								& .bx-controls-direction {
									& a { width:5px; height:10px; padding:10px; background-size:5px auto; background-position: 50% 50%;
										&.bx-prev { background-image:url(../images/icon/icon-arr2-left-w-m.png); right:50px; }
										&.bx-next { background-image:url(../images/icon/icon-arr2-right-w-m.png); }
									}
								}
								& .bx-controls-auto {
									& .bx-controls-auto-item { right:30px; height:20px;
										& a { width:5px; height:10px; background-size:5px auto;
											&.bx-stop { background-image:url(../images/icon/icon-pause-w-m.png); }
											&.bx-start:before { border-width:8px; }
										}
									}
								}
							}
							& .slide-banner { position:absolute;top:0;left:0;right:0;bottom:0;height:100%;
								&__item { height:100%; background-size:100% auto;
									a {display:block; width:100%;height:100%;}
								}
							}
						}

						.pre-tag { padding-left:39px;
							&:before { width:32px; height:15px; line-height:13px; padding:1px 0 0; border-radius: 2px; font-size:10px; }
							&__v1:before { content:'정시'; }
							&__v2:before { content:'상시'; }
						}

						.news-letter { padding:17px 15px 31px; background-image: url(../images/main/main-news-bg-m.png); background-size: auto 100%;
							.#{$this}__btn-more { background-image: url(../images/icon/icon-plus1-w-m.png); }
							&__box { margin-top:12px; height:196px;
								& .book-wrap { padding: 84px 0 12px 15px; width:140px;
									span { font-size: 12px; color: #363636; }
									&__vol { font-size:13px !important;
										i { font-size:inherit; }
									}
								}
								&__txt { padding-left:155px; width:140px*100%/290px; }
								&__tit { font-size:13px; }
								& .btn-v1 { margin-top:29px;
									&>span { letter-spacing: -0.05em; }
								}
							}
						}
					}
				}
			}
		}
		&--section4 {
			& .acc-list__wrap { position:relative;
				&:before { z-index:2; position:absolute; left:0; top:-1px; right:0; border-width:2px 0 0; border-style:solid; border-color:#4a4a4a; content:''; }
			}
			& .acc-list { @include block;
				&__item { @include block; position:relative; width:33.3333%; float:left; box-sizing: border-box; padding:26px 0 11px 0; border-bottom:1px solid #c6d0db;
					//& .bx-wrapper{ margin:0 0 0 -10px; }
					//&>ul{ margin:10px 0 0 -10px; }
					&.border-none { border-bottom:0; }
					& .bx-controls { position:absolute; right:15px; top:29px; }
					& .js-bx-counter { display:table-cell; letter-spacing: 2px; padding-right:5px;
						& .current-idx { font-weight: $semi-bold; color:$red; }
					}
					& .bx-controls-direction { display:table-cell; vertical-align: middle;
						& a { display:table-cell; position:relative; font-size:0; line-height: 0; box-sizing: border-box; width:16px; height:15px; border:1px solid #e1e1e1;
							&:after { display:inline-block; width:4px; height:7px; content:''; position:absolute; left:0; top:3px; right:0; bottom:0; margin-left:auto;margin-right:auto; background-size: 100% auto; }
							&.bx-prev { border-right-width: 0;
								&:after { background-image: url(../images/icon/icon-arr4-left-g.png); }
							}
							&.bx-next {
								&:after { background-image: url(../images/icon/icon-arr4-right-g.png); }
							}
						}
					}
				}
				&__tit { font-size:16px; color:#363636; font-weight: $semi-bold; margin-bottom:10px; text-align: left; padding:0 15px; }

				&__inner-list { @include block; }
				$innerItemSize: 210px*100%/1260px;
				&__inner-item { width:50%; float:left; padding:0 0 15px; box-sizing: border-box;
					//&.nth-1 { margin-left:-10px; }
				}
				&__inner-img-wrap { width:100%; }
				&__img-wrap { width:130px; height:90px; margin-left:auto; margin-right:auto; overflow: hidden; position:relative; background: #f1f1f1; }
				&__link { display:block; width:100%; height:100%; position:absolute; }
				&__img { display:block; position:absolute; left:-100%; right:-100%; margin-left:auto; margin-right:auto; height:100%; }
				&__name,
				&__tel { max-width:100%; overflow: hidden; font-size:13px; color:#959595; font-family: $font-ko; line-height: 18px; margin-top:6px; white-space: nowrap; text-overflow: ellipsis;}
				&__tel { font-weight: $semi-bold;
					& a { text-decoration: none; color:inherit }
				}

				@media only screen and (max-width:$tablet-size){
					&__inner-item { width:50%; }
					&__img-wrap { width:auto; height:0; padding-bottom:69.23%; }
				}
			}

			@media only screen and (max-width:$tablet-size){ padding:40px 15px 0 !important;
				& .acc-list {
					&__tit { padding:0; font-size:12px; }
					&__item { width:100%; padding:11px 0;
						& .bx-wrapper { margin:0 -10px 0 0; }
						& .bx-controls { right:0; top:10px;
							& .bx-controls-direction { display:none; }
						}
					}
					&__inner-list { @include block; margin:0 -5px 0; }
					&__inner-item { padding:0 5px 0; }
					&__name,
					&__tel { font-size:11px; line-height: 15px; }
					&__tel { margin-top:4px; };
					// &__link {
					// 	img { width: 100%; }
					// }
				}
			}
		}
	}
}