@charset "utf-8";
@import "mixin";

fieldset {position:relative; border:0; background:none;}
legend, caption {position:absolute; top:-999em; left:-999em; display:none;}

// 회원관리 CSS
.page-visual {
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/member/member-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/member/member-visual-slide#{$i}-m.png) }
      }
    }
  }
}

// 로그인,아이디/비밀번호 찾기
.form-member { display:table; width:100%; padding:70px 0 64px; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0; box-sizing: border-box;
  $this: &;
  &__tit { margin-bottom:26px; font-size:20px; font-weight: $medium; }
  &__form { max-width:400px; margin:0 auto; box-sizing: border-box; }
  &__input { -webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:50px; padding:10px 20px; font-size:16px; color:$gray2; border:1px solid #e4eaf0; vertical-align:middle; border-radius:0; -webkit-appearance:none; appearance:none;
    &+& { margin-top:10px; }
    &:focus { border:1px solid $red; }
  }
  &__btn-signin { width:100%; margin:30px 0 0; display:inline-block; box-sizing:border-box; padding:20px; border:1px solid $red; background-color:$red;  font-size:22px; color:#fff; text-decoration:none; line-height:1.45; font-weight:$regular; vertical-align:middle; cursor:pointer;
    &:disabled { border:1px solid #d6d6d6; background-color: #d6d6d6; cursor: default;
      &>span { color:$gray; }
    }
    &_bottom { margin-top:90px; }
    @media only screen and (max-width:$mobile-size) { font-size:16px; }
  }
  &__btns { box-sizing: border-box; width:100%; height:54px; display:table; border-bottom:1px solid #e4eaf0; }
  &__btn { display:table-cell; padding:17px 20px; font-size:14px; text-align: left; vertical-align: middle; text-decoration: none; color:$gray2;
    &:hover,
    &:focus,
    &:active { text-decoration: underline; }
    &:first-child { text-align: right; position:relative; width:45%; padding-right:21px;
      &:after { display:block; width:0; height:13px; position:absolute; right:0; top:0; bottom:0; margin:auto; border-right:1px solid #e4eaf0; content:''; }
    }
  }
  & .para-v1 { margin-top:14px; text-align: center; }
  & .tab-v1 { display:none; }
  & .tab-content { display:block; }
  &__half-wrap { display:table-cell; width:50%;
    &+& { position:relative;
      &:before { display:inline-block; width:0; height:100%; position:absolute; top:0; bottom:0; left:0; border-left:1px solid #eaf0f2; content:''; }
    }
  }
  @media only screen and (max-width:$tablet-size) { display:block; padding:35px 10px 64px;
    &__tit { margin-bottom:12px; font-size:15px; }
    &__form { max-width:100%; }
    &__input { height:35px; padding:10px 10px 9px; font-size:13px; line-height: normal; }
    &__btn-signin { margin-top:15px; padding:11px; }
    &__btns { height:42px; }
    &__btn { font-size:12px; padding:13px 10px;
      &:first-child:after { height:11px; }
    }
    & .para-v1 { margin-top:11px; line-height: 1.5; }
    & .tab-v1 { display:block; }
    & .tab-content { display:none; }
    & .tab-content.is-active { display:block; }
    &__half-wrap { display:block; width:100%;
      &+& {
        &:before { display:none; }
      }
    }
  }
}
.find-tab { display:none;
  @media only screen and (max-width:$tablet-size) { display:block; padding:0 50px; }
}

// 회원가입
.sign-up { margin-top:50px;
  @media only screen and (max-width:$tablet-size){ margin-top:22px;
    .table-row-v1-header {
      .para-v1 { line-height: 16px }
    }
  }
}
.join-table {
  &__th { width:190px; }
  &__td { width:auto; }
}
// 회원가입 완료
.center-box { padding-top:100px; border-top:1px solid #707686;
  &__btns { padding-top:50px; text-align: center; }
  @media only screen and (max-width:$tablet-size) {
    padding-top:50px;
    &__btns { padding-top:25px; }
  }
}

// 기관검색
.organ-list-table {
  &__col1 { width:27.65%; }
  &__col2 { width:20.21%; }
  &__col3 { width:13.82%; }
  &__col4 { width:20.21%; }
  &__col5 { width:13.82%; }
  td { color:$gray2; }
}
.organ-table {
  &__col-1 { width:150px; }
  &__th { width:150px; }
  &__td { width:300px; }
  &__td-auto { width:auto; }
  td { color:$gray2; }
  @media only screen and (max-width:$tablet-size){
    &__th,
    &__td  { width:100%; }
  }
}
.company-table {
  $this: &;
  &__th { width:150px; }
  &__td { width:300px; }
  &__row {
    &+& {
      th,
      td { border-top:1px solid #4a4a4a; }
    }
    //td { color:inherit; }
  }
  @media only screen and (max-width:$tablet-size){
    &__row {
      &+& {
        th,
        td { border-top:0; }
        th:first-child { border-top:1px solid #4a4a4a; }
      }
    }
  }
}






























