@charset "utf-8";
@import "mixin";

#modal-shadow { position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; z-index:1000; background-color:#000; will-change: opacity; opacity: 0; }
.modal { display:none; position:fixed; top:100px; left:0; right:0; bottom:100px; margin:auto; max-height:100%; max-width:940px; will-change: transform; opacity: 0; z-index:1001; overflow: hidden;
  &__header { width:100%; position:absolute; top:0; left:0; right:0; background-color: $black-body; padding:19px 20px 18px; box-sizing: border-box; }
  &__title  { font-size:18px; font-weight: $regular; color:#fff; }
  &__close { position:absolute; right:0; top:0; width:60px; height:60px; cursor: pointer;
    &:before { position:absolute; top:30px; right:20px; bottom:0; width:23px; height:0; border-top:1px solid #c6d0db; content:''; transform:rotate(-45deg); }
    &:after { position:absolute; top:30px; right:20px; bottom:0; width:23px; height:0; border-top:1px solid #c6d0db; content:''; transform:rotate(45deg); }
  }
  &__content { position:absolute; top:60px; left:0; right:0; bottom:0; overflow-y: auto; padding:40px 20px 120px; background-color:#fff; }
  &__footer { position:absolute; left:0; right:0; bottom:0; overflow-y: auto; padding:40px 20px; background-color:#fff; text-align: center; }
}