@charset "utf-8";
@import "mixin";
@import "member";

// 마이페이지 CSS
.page-visual {
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/mypage/mypage-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/mypage/mypage-visual-slide#{$i}-m.png) }
      }
    }
  }
}

// col width
.board-history {
  &__th-nth1 {width:auto;}
  &__th-nth2 {width:18.5%;}
  &__th-nth3 {width:18.5%;}
  &__th-nth4 {width:8%;}
}

// 분석의뢰 신청내역
.receipt-table { margin-top:10px; margin-bottom:30px;
  &__th { width:190px; }
  &__td { width:35.48%; }
  &__info { color:$red; font-size:16px; margin-top:1.25em; }
  @media only screen and (max-width:$tablet-size) {
    &__info { font-size:13px; }
  }
}
.receipt-cnt { overflow:hidden; text-align: justify; white-space: nowrap;
  &__dt,
  &__dd { display:table-cell; }
  &__dt { padding-left:20px; position:relative;
    &:before { display:inline-block; width:0; height:14px; content:''; position:absolute; left:10px; top:0; bottom:0; margin:auto; border-left:1px solid #e4eaf0; vertical-align: middle; }
    &:first-child { padding-left:0;
      &:before { display:none; }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    &__dt { padding-left:10px;
      &:before { height:12px; left:5px; }
    }
  }
}

// 분석의뢰 신청내역
.board-request-history { display:table; table-layout: fixed; width:100%; border-collapse:collapse; border-top:2px solid #4a4a4a; border-bottom:1px solid #e5eaf0; white-space: normal; line-height:1.5;
  $this: &;
  &__th-nth2 { width:130px; }
  &__th-nth3 { width:12%; }
  &__th-nth11 { width:180px; }
  &_m-block,
  &_m-inline-block { display:none !important; }
  &__list { display:table-row-group; width:100%; border-bottom:1px solid #e5eaf0; }
  &__row { display:table-row; width:100%; }
  &__th { display:table-cell; box-sizing: border-box; padding:0 10px; font-size:16px; font-weight: $regular; color:$black-body; text-align: center; vertical-align: middle; height:48px; }
  &__td { display:table-cell; box-sizing: border-box; padding:10px 20px; font-size:14px; font-weight: $light; color:#767676; text-align: center; vertical-align: middle; height:60px;
    &_align-left { text-align: left; }
    &_wrap { overflow: hidden; text-overflow: ellipsis; }
    &_break-all { word-break: break-all; }
  }
  &__link { text-decoration: none; color:inherit; }
  &__qr-code { display:block; width:90px; height:90px; margin:0 auto; box-sizing: border-box; border:2px solid #e4eaf0; }
  &__img { display:block; max-width:100%; }
  // button
  &__btn-wrap { white-space: normal; line-height: 0; text-align: center; }
  &__btn-item { display:inline-block;
    &--next { margin-top:10px; }
  }
  &__btn { width:70px; height:29px; line-height: 27px; display:inline-block; box-sizing: border-box; text-align: center; border:1px solid $gray; background-color: #fff; text-decoration: none; color:$gray2;
    &>span { display:table-cell; vertical-align: middle; width:1%; }
    &[data-type=disabled]{ display:none; }
  }
  @media only screen and (max-width:$tablet-size) { white-space: nowrap; border-bottom:0;
    &__list { height:40px; display:block; overflow:hidden; transition:height .3s;
      &[data-collapsed=false] #{$this}__td_m-tit {
        &:after { top:5px; transform:rotate(-135deg); }
      }
    }
    &__row { display:block; padding:0 0 15px; position:relative;
      &[data-type]:before { content:attr(data-type); display:inline-block; width:50px; height:20px; position:absolute; top:10px; right:47px; line-height: 18px; box-sizing: border-box; font-size:11px; border-radius: 3px; border:1px solid $gray; background-color: $gray; color:#fff; text-align: center; }
      &[data-type=신청]:before { border-color:$red; background-color: $red; }
      &[data-type=입금의뢰]:before { border-color:#428ce9; background-color: #428ce9; }
      &[data-type=완료]:before { border-color:$black-body; background-color: $black-body; }
      &[data-type=분석완료]:before { border-color:#009999; background-color: #009999; }
    }
    &__td { display:block; height:auto; padding:15px 10px;
      &_m-tit { position:relative; text-align: left; padding:10px 100px 10px 10px; border-bottom:1px solid #e4eaf0; cursor:pointer; overflow: hidden; text-overflow:ellipsis;
        &[data-title]:before { content:attr(data-title); display:inline-block; margin-right:2px; font-weight: $regular; color:$black-body; }
        &:after { display:block; width:9px; height:9px; position:absolute; right:13px; top:-5px; bottom:0; margin:auto; border-width:0 1px 1px 0; border-style:solid; border-color:#707686; content:' '; transform:rotate(45deg); }
        & .type-v1 { line-height:18px; vertical-align: middle; float:right; margin-right:15px; }
      }
      &_m-item { text-align: left; font-size:12px; padding:15px 10px 0;
        &+& { padding-top:0; margin-top:4px; }
        &[data-title]:before { content:attr(data-title); }
      }
      &_m-btn-box { padding:10px 0 0; }
      &--break-word { white-space: normal; word-wrap: break-word; word-break: keep-all; }
    }
    &__link { vertical-align:top; white-space: normal; word-wrap: break-word; word-break: keep-all;/*display:inline-block; max-width:100px; overflow:hidden; text-overflow:ellipsis;*/
      &_full { max-width:100%; }
    }

    &__btn-wrap { @include block(); margin:0 -5px; }
    &__btn-item { float:left; width:50%; box-sizing: border-box; padding:0 5px;
      &--next { margin-top:0; }
    }
    &__btn { width:100%;
      &[data-type=disabled]{ display:inline-block; opacity: 0.3; }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    &_m-hide { display:none !important; }
    &_m-block { display:block !important; }
    &_m-inline-block { display:inline-block !important; }
    &_m-fl-right { float:right; }
  }
}
.btn-round-v1 { width:140px; height:30px; line-height: 28px; display:inline-block; box-sizing: border-box; text-align: center; border:1px solid $gray; background-color: $gray; text-decoration: none; color:#fff; border-radius: 5px;
  $this: &;
  &>span { display:table-cell; vertical-align: middle; width:1%; letter-spacing: -0.05em; }
  &_red { border:1px solid $red; background-color: $red; }

  @media only screen and (max-width:$tablet-size) {
    width:100%;
  }
}