@charset "utf-8";
@import "mixin";

// 업무안내 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/notice/notice-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/notice/notice-visual-slide#{$i}-m.png) }
      }
    }
  }
}

// col width
.board-notice,
.board-qa{
  &__th {
    &_nth1 { width:7%; }
    &_nth2 { width:53.5%; }
  }
}
.board-career {
  &__th {
    &_nth1 { width:7%; }
    &_nth2 { width:44%; }
  }
}

// 채용안내
.notice-view-table {
  &__th { width:190px; }
  &__td { width:30%; }
}

//뉴스레터
.board-newsletter { overflow:hidden; position:relative; margin:0 0 0 -20px; list-style:none; color:$black-body; line-height:1.3;
  &:before { display:block; margin-left:20px; border-top:2px solid #4a4a4a; content:' ' }
  &__item { position:relative; box-sizing: border-box; float:left; width:33.3333%; margin-top:40px; padding-left:20px;
    &:after { display:block; margin:40px -999em 0 0; border-top:1px solid #e4eaf0; content:' '; }
  }
  &__aligner { position:relative; width:100%; height:211px; }
  &__book-wrap { width:162px; height:211px; position:absolute; left:0; top:0; background-image: url(../images/notice/img-newsletter-book.jpg); }
  &__date { position:absolute; left:20px; top:69px; font-size:20px; font-weight: $bold; color:#4a4a4a; letter-spacing: 0; }
  &__vol { position:absolute; left:20px; top:140px; font-size:24px; font-weight:$light; color:#4a4a4a; letter-spacing: 0; }
  // &__txt-wrap { position:relative; height:100%; padding-left:190px; padding-top:11px; box-sizing: border-box; }
  &__txt-wrap { overflow:hidden; position:relative; height:100%; padding-left:190px; padding-top:11px; box-sizing: border-box; }
  // &__link { text-decoration: none; color:inherit; }
  &__link { display:block; text-decoration: none; color:inherit; }
  &__tit { font-size:16px; font-weight:$light; }
  // &__chapter { position:relative; max-height:120px; overflow:hidden; margin-top:8px; font-size:14px; color:$gray; line-height: 24px;
  &__chapter { position:relative; overflow:hidden; margin-top:8px; font-size:14px; color:$gray; line-height: 24px;
    &:after { display:block; width:100%; height:20px; position:absolute; bottom:0; background-image: url(../images/common/line-clamp-vertical.png); background-repeat: repeat-x; background-position:left bottom; background-size:auto 100%; content:' '; } //넘어가는 글자 blur처리
    &-item { position:relative; padding-left:9px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
      &:before { margin-left:2px; width:2px; height:2px; background-color: $gray; position:absolute; left:2px; top:11px; content:''; }
    }
  }
  &__btn-wrap { position:absolute; right:0; bottom:0; left:190px; }
  &__btn { width:100%; height:40px; padding:10px 20px; border-color:$red; background-color: $red; color:#fff;
    &>span { font-size:14px; }
  }
  @media only screen and (max-width:$tablet-size) { margin:0 0 0 -10px; padding-bottom:20px;
    &:before { margin-left:10px; }
    &__item { width:25%; margin-top:20px; padding:0 0 0 10px;
      &:after { margin-top:20px; }
    }
    &__aligner { height:auto; }
    &__book-wrap { position:static; width:95px; max-width:100%; height:125px; background-size: 95px 125px; margin:0 auto; }
    &__date { position:static; font-size:11px; padding:45px 0 0 10px; }
    &__vol { position:static; font-size:12px; padding:45px 0 0 10px; }
    &__txt-wrap { padding-left:0; padding-top:8px; text-align: center; }
    &__tit { font-size:13px;  }
    &__chapter { display:none; }
    &__btn-wrap { display:none; }
  }
  @media only screen and (max-width:$mobile-size) {
    &__item { width:50%; }
  }
}
.board-headline { display:table; width:100%; height:140px; border-top:2px solid #4a4a4a; border-bottom:1px solid #e4eaf0;
  &__cell { display:table-cell; height:100%; vertical-align: middle; box-sizing: border-box; padding:0 48px;
    &_text-right { text-align: right; }
  }
  &__cate { font-size:14px; font-weight: $light; color:$gray2; text-indent: 4px;
    &-en { display:inline-block; white-space: nowrap; line-height: 1.2; font-size:40px; font-weight: $semi-bold; color:$red; letter-spacing: 0; margin-top:10px; }
  }
  &__date { display:inline-block; width:100%; font-size:14px; color:#4a4a4a; letter-spacing: 0; }
  &__vol { display:inline-block; margin-top:13px; width:100%; font-size:32px; color:$black-body; font-weight: $light; letter-spacing: 0; }
  @media only screen and (max-width:$tablet-size) { height:74px;
    &__cell { padding:0 10px; }
    &__cate { font-size:11px; text-indent: 0;
      &-en { font-size:20px; margin-top:3px; }
    }
    &__date { font-size:11px; }
    &__vol { font-size:16px; margin-top:6px; }
  }
}
.board-newsletter-view { line-height: 1.3; color:$gray2;
  &+& { position:relative;
    &:before { display:block; border-top:1px solid #4a4a4a; content:''; position:absolute; left:0; top:-1px; right:0; }
  }
  &__header { border-bottom:1px solid #e4eaf0; }
  &__tit { display: table-cell; height:79px; vertical-align: middle; padding:0 48px; font-size:20px; color:$black-body; font-weight: $light; }
  &__btn-wrap { display: table-cell; height:79px; vertical-align: middle; width:1%; padding:0 48px; }
  &__btn { width:190px; height:40px; padding:10px 20px; border:1px solid #707686; background-color: #707686; color:#fff; }
  &__body { padding:50px 105px; font-size:16px; line-height: 1.75; border-bottom:1px solid #c6d0db; }
  @media only screen and (max-width:$tablet-size) {
    &__tit { height:46px; font-size:14px; padding:0 10px; }
    &__btn-wrap { height:46px; padding:0 10px; }
    &__btn { font-size:13px; width:97px; height:26px; padding:0 10px;
      &>i { right:10px; }
      &>span { height:24px; }
    }
    &__body { padding:25px 10px; font-size:13px; line-height: 1.462; }
  }
}

// QA
.board-qa {
  @media only screen and (max-width:$tablet-size) {
    &__row { height:76px; }
    &__m-item { display: inline-block; float:left; padding-right:5px; font-size: 11px; line-height: 15px; margin-top: 7px;
      &+& { padding-left:5px; padding-right:0; position:relative;
        &:before { display:block; width:0; height:9px; border-left:1px solid #c6d0db; position:absolute; left:0; top:0; bottom:0; margin:auto; content:''; }
      }
    }
  }
}