@charset "utf-8";
@import "mixin";

.popup { width:100%; margin:auto; max-height:100%; max-width:940px; overflow: hidden;
  &__header { position:relative; width:100%; background-color: $black-body; padding:19px 20px 18px; box-sizing: border-box; text-align: left; }
  &__title  { font-size:18px; font-weight: $regular; color:#fff; }
  &__close { position:absolute; right:0; top:0; width:60px; height:60px; cursor: pointer; font-size:0; color:transparent;
    &:before { position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:23px; height:0; border-width:2px 0 0; border-style: solid; border-color: #c6d0db; content:''; transform:rotate(-45deg); }
    &:after { position:absolute; top:0; right:0; bottom:0; left:0; margin:auto; width:23px; height:0; border-width:2px 0 0; border-style: solid; border-color: #c6d0db; content:''; transform:rotate(45deg); }
  }
  &__content { padding:40px 20px 30px; background-color:#fff; }
  &__inner { position:relative; }
  &__footer { padding:40px 20px; background-color:#fff; text-align: center; }
  @media only screen and (max-width:$tablet-size){
    &__header { padding:12px 14px 10px; }
    &__title  { font-size:14px; }
    &__close { width:40px; height:40px;
      &:before, &:after { width:19px; }
    }
    &__footer { padding:0 0 30px; }
  }
}

.dimmed { display:none; z-index:998; position:fixed; top:0; right:0; bottom:0; left:0; background-color: rgba(0,0,0,.5); }
.layer-popup { display:none; z-index:1000; position:fixed; top:0; left:0; right:0; height:100%; text-align: center; font-size:0; white-space: nowrap;/*  max-height:100%; */
  &:before,
  &:after { display:inline-block; height:100%; content:''; vertical-align: middle; }
  &__wrap { display:inline-block; max-height:100%; overflow-y: auto; vertical-align: middle; font-size:16px; background-color: #fff; color:$black-tit; white-space: normal; }
  @media only screen and (max-width:$tablet-size){ left:15px; right:15px;
    &:before,
    &:after { /* display:none; */ }
    &__wrap { max-width:100%; }
  }
}