@charset "utf-8";
@import "mixin";

//개인정보처리방침 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 1 {
      &.nth-#{$i}:before { background-image: url(../images/privacy/privacy-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/privacy/privacy-visual-slide#{$i}-m.png) }
      }
    }
  }
}

.privacy { color:$black-body; font-size:14px; line-height: 1.625;
  &__desc { font-size:16px; font-weight: $light; text-align: center; color:inherit; }
  &__tit { margin-bottom:9px; font-size:16px; font-weight: $regular; color:inherit; }
  &__section { padding-top:36px; }
  &__txt-wrap { /*margin-top:-8px;*/
    &+& { margin-top:10px; }
  }
  &__txt-indent { text-indent: 16px; }
  &__link { text-decoration: none; color:inherit; }
  &__list { overflow: hidden; }
  &__item { float:left; width:25%; position:relative; padding-left:20px; box-sizing: border-box;
    &:before { display:block; content:''; width:0; height:40px; position:absolute; left:0; top:0; bottom:0; margin-top:auto; margin-bottom:auto; border-left:4px solid #707686; }
  }
  @media only screen and (max-width:$tablet-size) { line-height: 1.3;
    &__desc { font-size:13px; }
    &__tit { font-size:13px; }
    &__item { float:none; width:100%; position:relative; padding-left:10px; box-sizing: border-box;
      &:before { display:block; content:''; width:0; height:25px; position:absolute; left:0; top:0; bottom:0; margin-top:auto; margin-bottom:auto; border-left:2px solid #707686; }
    }
  }
}
.table-col-v4 { margin-top:14px; text-align: center;
  &__td { color:#4a4a4a; }
  @media only screen and (max-width:$tablet-size) { margin-top:8px; }
}
.para-v1 {
  &_next { margin-top:10px; }
  &_fc-black { font-weight:$regular; color:$black-body; }
  &_fc-gray { font-weight:$light; color: $gray2; }
}