@charset "utf-8";
@import "mixin";

@import "popup";

// 업무안내 CSS
.page-visual {
  &__slider {}
  &__slide-item {
    @for $i from 1 through 3 {
      &.nth-#{$i}:before { background-image: url(../images/work/work-visual-slide#{$i}.jpg);
        @media only screen and (max-width:$tablet-size) { background-image: url(../images/work/work-visual-slide#{$i}-m.png) }
      }
    }
  }
}

//시험평가 분석의뢰절차
.rail { position:relative; text-align: center;
  @media only screen and (max-width:$tablet-size) { display:none; }
  &:before { z-index:1; display:table-cell; width:5px; height:5px; position:absolute; left:0; top:38px; margin:auto; content: ' '; background-image: url(../images/work/work-step-dot.png); background-repeat: no-repeat; }/*dot*/
  &:after { z-index:1; display:table-cell; width:5px; height:5px; position:absolute; right:0; top:38px; margin:auto; content: ' '; background-image: url(../images/work/work-step-dot.png); background-repeat: no-repeat; }/*dot*/
  &__list { overflow: hidden; max-width:995px; margin:0 auto;
    &:before { z-index:-1; display:table-cell; height:1px; border-style:solid; border-color:#e2e2e2; border-width:1px 0 0; position:absolute; left:0; right:0; top:40px; margin:auto; padding-bottom:33px; content: ' '; }/*line*/
  }
  &__item { display:table-cell; width:1%; }
  &__circle { box-sizing:border-box; padding-top:19px; width:80px; height:80px; margin:0 auto; background-image: url(../images/work/work-step-circle.png); background-repeat: no-repeat; background-position: 50% 0; }
  &__num { font-size: 24px; font-weight: $bold; display:inline-block; width:100%; line-height: 100%; }
  &__txt { margin-top:3px; font-size: 12px; display:inline-block; width:100%; color:#707686; text-transform: uppercase; }
  &__tit { display:inline-block; font-size:16px; line-height: 26px; margin-top:10px; }
}
.step {
  &__detail { margin-top:32px; position:relative; }
  &__item { display:table; width:100%; padding:35px 0; table-layout: fixed;
    &+& { border-top:1px solid #c6d0da; }
    &-tit { display:table-cell; width:32.26%; padding-left:83px; font-size:26px; color:$black-tit; background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 1 through 7 {
        &.nth-#{$i} { background-image: url(../images/work/icon-work-step#{$i}.png);}
      }
    }
    &-desc { display:table-cell; }
  }
  &__num { display:inline-block; line-height: 26px; width:100%; font-size:16px; font-weight: $bold; color:red; }
  &__tit { display:inline-block; line-height: 34px; font-size:26px; color:$black-tit; font-weight: $light; }
  &__desc { display:table-cell; font-size:16px; color:$gray2; line-height: 26px; font-weight: $light; vertical-align: middle; }
  &__btn { display:table-cell; width:23.39%; vertical-align: middle; text-align: right; }
  &__tel { color:$black-body; text-decoration: none; }
  &__link { display:inline-block; font-weight: $regular; text-decoration: none; color:$black-body;
    &+& { padding-left:20px; position:relative;
      &:after { display:block; width:6px; height:9px; position:absolute; left:5px; top:0; bottom:0; margin:auto; background-image: url(../images/icon/icon-arr5-r.png); background-repeat: no-repeat; content:' '; }
    }
  }
  @media only screen and (max-width:$tablet-size) { padding-left:17px; position:relative;
    &:before { display:block; width:1px; height:auto;  position:absolute; top:0; bottom:0; left:17px; content:' '; }/*레일 mobile*/
    &__detail { border-left:1px solid #e2e2e2; padding-left:24px; margin-top:0; padding-top:40px;
      &:before { display:block; width:5px; height:5px; position:absolute; top:0; left:-3px; background-image: url(../images/work/work-step-dot-m.png); background-size: 5px 5px; content:' '; }/*dot mobile*/
      &:after { display:block; width:5px; height:5px; position:absolute; bottom:0; left:-3px; background-image: url(../images/work/work-step-dot-m.png); background-size: 5px 5px; content:' '; }/*dot mobile*/
    }
    &__item { position:relative; padding:0;
      &+& { border-top:0; margin-top:32px; }
      &:before { display:block; width:35px; height:35px; position:absolute; left:-42px; top:0; text-align: center; line-height: 35px; font-size:16px; font-weight: $bold; background-image: url(../images/work/work-step-circle-m.png); background-size:35px 35px; content:attr(data-num);  }
      &-tit { display:block; padding-left:48px; line-height: 0; width:100%;
        @for $i from 0 through 6 {
          &.nth-#{$i+1} { background-image:none;
            &:before { width:35px; height:35px; position:absolute; left:0; top:0; background-image: url(../images/work/icon-work-step-m.png); background-position:-($i*35px) 0; background-size: 245px 35px; content:' '; }
          }
        }
      }
    }
    &__desc { display:block; font-size:13px; line-height: 17px; }
    &__num { font-size:11px; line-height: 100%; }
    &__tit { font-size:15px; line-height: 29px; }
    &__btn { display:block; width:100%; text-align: left; margin-top:12px; }
    &__link {
      &+& {
        &:after { display:block; width:6px; height:6px; position:absolute; left:3px; top:-1px; bottom:0; margin:auto; background-image: none; content:' '; border-top:1px solid $black-body; border-right:1px solid $black-body; transform: rotate(45deg); }
      }
    }
  }
}

.sample-table {
  &__col1 { width:23.79%; }
}

//분석의뢰서 접수
.receipt { margin-top:32px; }
.receipt-table { margin-top:10px; margin-bottom:30px; table-layout: fixed;
    &__th { width:190px; }
    &__td { width:35.48%; }
}
.reserve-list { font-size:14px; @include block();
  &__item { box-sizing: border-box; display:table-cell; padding:15px 10px 15px 17px; float:left; width:50%; position:relative;
    & em { font-style:normal; }
  }
  &__time { color:$gray; display:inline-block; margin-right:5px; }
  &__booker { display:inline-block; }
  &__num { display:inline-block; line-height: 100%; width:14px; height:13px; text-align:center; font-size:11px; position:absolute; left:0; top:0; bottom:0; margin:auto;
    &:before { display:table-cell; position:absolute; left:0; top:0; width:14px; height:13px; border:1px solid $gray; box-sizing: border-box; border-radius: 50%; content:' '; }
  }
  @media only screen and (max-width:$tablet-size) { font-size:12px;
    &__item { padding:7px 5px 7px 15px; }
    &__num { font-size:9px; width:13px; height:12px; line-height: 11px;
      &:before { width:13px; height:12px; }
    }
  }
}
.info-box { margin-top:20px;
  @media only screen and (max-width:$tablet-size){
    margin-top:9px;
  }
}
.form-box-set { margin:0 -17px;
  &__input { display:inline-block; float:left; width:50%; padding:0 17px; box-sizing: border-box;
    &+& { position:relative;
      &:before { display:table-cell; width:15px; height:1px; background-color: #cad3dd; position:absolute; top:0; left:-7px; bottom:0; margin:auto; content:' '; }
    }
    //& input { display:inline-block; width:100%; height:40px; padding:5px; line-height: 40px; box-sizing: border-box; appreance:none; border:1px solid #cad3dd; text-align: center; }
    @media only screen and (max-width:$tablet-size) { padding:0 15px;
      &+&:before { width:10px; left:-5px; }
      //& input { height:35px; line-height: 35px; }
    }
  }
  &_v2 { 
    &__input { 
      &+& { 
        &:before { transform: rotate(-80deg); }
      }
      @media only screen and (max-width:$tablet-size) { 
        &+&:before { width:20px; left:-10px; }
      }
    }
  }
  @media only screen and (max-width:$tablet-size) {
    width:auto;
    margin:0 -15px;
  }
}

// 분석의뢰서 접수 완료
.center-box { padding-top:100px; border-top:1px solid #707686;
  &__btns { padding-top:50px; text-align: center; }
  @media only screen and (max-width:$tablet-size) {
    padding-top:50px;
    &__btns { padding-top:25px; }
  }
}

//분석시료 발송안내
.send-tip {
  &__item { padding:40px 0;
    &:first-child { padding-top:0; }
    &+& { border-top:1px solid #c6d0db; }
  }
  &__tit { font-size:20px; color:$black-tit; font-weight: $regular; margin-bottom:8px; }
  &__table { display:table; width:100%; }
  &__cell { display:table-cell; vertical-align: top;
    &_bottom { vertical-align: bottom; }
  }
  &__block {
    &+& { margin-top:20px; }
  }
  &__download { width:245px; float:right;
    & .btn-v3_icon { width:100%;
      &+.btn-v3_icon { margin-left:0; margin-top:10px; }
    }
  }
  &__bank { @include block(); }
  &__link { color:#485671; }
  @media only screen and (max-width:$tablet-size){
    &__item { padding:20px 0; }
    &__tit { font-size:15px; margin-bottom:4px; }
    &__table { display:block; }
    &__cell { display:block;
      &+& { margin-top:18px; }
      &_bottom { vertical-align: top; }
    }
    &__block {
      &+& { margin-top:16px; }
    }
    &__download { width: 100%; float:none;
      & .btn-v3_icon {
        &+.btn-v3_icon { margin-top:5px; }
      }
    }
    &__para-item {
      &+& { margin-top:8px; }
    }
  }
}
.bank { float:right; max-width:300px; box-sizing: border-box; text-align: right; position:relative;
  &__tit { position:absolute; top:0; left:0; width:94px; height:30px; text-indent: -999em; font-size:0; color:transparent; background-image: url("../images/work/logo-woori-bank.jpg"); background-repeat: no-repeat; background-position: 0 50%; }
  &__info { padding-left:115px;
    &>span { display:inline-block; width:100%; line-height: 30px; }
  }
  &__num { font-size:20px; color:$black-body; letter-spacing: 0; font-weight: $regular; }
  &__name { font-size:16px; color:$gray2; }
  @media only screen and (max-width:$tablet-size){ max-width:211px;
    &__tit { width:65px; height:21px; background-image: url("../images/work/logo-woori-bank-m.png"); background-size: 65px 15px; }
    &__info { padding-left:65px;
      &>span { line-height: 1.4; }
    }
    &__num { font-size:15px; }
    &__name { font-size:13px; }
  }
}
.example { width:100%; height:227px; margin-top:10px; border:1px solid #c6d0db; display:table; background-color: #eaf0f2;
  &__aligner { display:table-cell; text-align: center; vertical-align: middle; }
  &__content { display:inline-block; text-align: left; font-size:20px; line-height: 40px; color:$gray; }
  &__item {  }
  &__marker { display:inline-block; position:relative;
    $this: &;
    &:before { display:block; height:26px; position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; background-color: $red; content: ' '; } /*marker 배경*/
    &:after { display:inline-block; content:attr(data-title); font-size:14px; font-weight: $regular; white-space: nowrap; color:$black-tit; position:absolute; left:0; top:0; }
    &.nth-1:after { left:auto; right:100%; padding-right:70px; }
    &.nth-2:after { left:100%; padding-left:125px; margin-top:-18px; }
    &.nth-3:after { left:100%; padding-left:105px; }
  }
  &__marker-txt { color:#fff; position:relative; z-index:2; padding:0 5px;
    &:before { display:block; border-color:#c6d0db; border-style:solid; content:' '; }
    &:after { display:block; width:5px; height:5px; margin-top:-3px; background-image: url("../images/work/work-step-dot.png"); position:absolute; content:' '; }
    .nth-1 &:before {  width:55px; height:0; border-width:1px 0 0; position:absolute; right:100%; top:0; bottom:0; margin:auto; }
    .nth-2 &:before { width:132px; height:5px; border-width:1px 0 0 1px; position:absolute; left:50%; top:-5px; }
    .nth-3 &:before { width:90px; height:0; border-width:1px 0 0; position:absolute; left:100%; top:50%; }
    .nth-1 &:after { left:-60px; top:50%; }
    .nth-2 &:after { right:-115px; top:-4px; }
    .nth-3 &:after { right:-95px; top:50%; margin-top:-2px; }
  } /*marker된 text*/
  @media only screen and (max-width:$tablet-size){
    margin-top:7px; height:142px;
    &__content { font-size:14px; line-height: 25px; }
    &__item {
      &_m-center { text-align: center; padding:5px 0 10px 0; }
    }
    &__marker {
      &:before { height:18px; }
      &:after { font-size:11px; white-space: normal; line-height: 1.4; }
      &.nth-1:after { padding-right:26px; }
      &.nth-2:after { padding-left:62px; margin-top:-9px; }
      &.nth-3:after { padding-left:27px; width:65px; }
    }
    &__marker-txt { padding:0 3px;
      &:after { width:3px; height:3px; background-image: url("../images/work/work-step-dot-m.png"); background-size: 3px 3px; }
      .nth-1 &:before {  width:17px; }
      .nth-2 &:before { width:70px; height:3px; top:-4px; }
      .nth-3 &:before { width:17px; height:0; }
      .nth-1 &:after { left:-20px; margin-top:-1px; }
      .nth-2 &:after { right:-60px; top:-2px; }
      .nth-3 &:after { right:-20px; top:50%; margin-top:-1px; }
    }
  }
}
.equipment-table { display:table; border-top:2px solid #4c4c4c; width:100%;
  $this: &;
  &__th { display:table-cell; font-size:16px; font-weight: $regular; color:$black-body; box-sizing: border-box; padding:15px 10px; height:50px; width:25%; text-align: center; border-bottom:1px solid #c6d0db;
    &+& { border-left:1px solid #c6d0db; }
  }
  &__td { display:table-cell; font-size:14px; font-weight: $light; color:$gray2; box-sizing: border-box; border-bottom:1px solid #d7dee6; height:60px; padding:20px 20px; vertical-align: middle;
    &+& { border-left:1px solid #d7dee6; }
    &_center { text-align: center; }
  }
  &__wrap { padding:0; position:relative; }
  &__inner-table { width:100%;
    &:first-child {
      #{$this}__inner-td { border-top:0; }
    }
  }
  &__inner-row { display:flex; }
  &__inner-td { display:table-cell; box-sizing:border-box; flex-grow:1; width:1%; height:60px; padding:20px 20px; text-align: center; border-top:1px solid #d7dee6;
    &+& { border-left:1px solid #d7dee6; }
    &_left { text-align: left; }
    //&_rowspan { position:absolute; top:0; bottom:0; height:auto; }
    //&_empty { font-size:0; border-top:0; }
  }
  @media only screen and (max-width:$tablet-size) { display:block;
    &__thead { display:none; }
    &__tbody { display:block; }
    &__row { display:block; box-sizing: border-box; border-bottom:1px solid #d7dee6; height:40px; overflow: hidden; transition:height 0.3s; }
    &__td { display:block; float:left; clear:both; width:100%;
      &+& { border-left:0; }
      &_m-left { text-align: left; }
      &_last { padding:0 0 13px 10px !important; }
    }
    &__m-th { font-size: 12px; height:40px; padding:12px 10px; position:relative; cursor: pointer;
      &+td { padding-top:13px; }
      &:after { display:block; width:9px; height:9px; border-color:#707686; border-style:solid; border-width:0 1px 1px 0; content:' '; position:absolute; top:-3px; bottom:0; right:13px; margin:auto; transform: rotate(45deg); }
      *[data-collapsed=false] &:after { top:3px; transform: rotate(-135deg); }
    }
    &__m-td { height:auto; padding:0 0 0 10px; border-bottom:0; font-size:12px;
      &+& { margin-top:5px; }
      &[data-title]:before { display:inline-block; color: $black-body; font-weight: $regular; content: attr(data-title); margin-right:4px; }
    }

    &__wrap { padding:13px 10px; }
    &__inner-table { display:block;
      &+& { padding-top:5px; margin-top:5px; border-top:1px solid #d7dee6; }
    }
    &__inner-row { display:block; }
    &__inner-td { display:block; width:auto; padding:0; height:auto; border-top:0;
      &+& { border-left:0; text-align: left; margin-top:5px; }
      &[data-title]:before { display:inline-block; color: $black-body; font-weight: $regular; content: attr(data-title); margin-right:4px; }
    }
  }
}

//이용수수료
.fees-section {
  &+& { margin-top:55px; }
  &__tit { margin-bottom:10px; font-size:20px; font-weight: $regular; color:$black-tit; }
  @media only screen and (max-width:$tablet-size){
    &+& { margin-top:28px; }
    &__tit { margin-bottom:5px; font-size:15px; }
  }
}
.fees-table {
  &__th1 { width:15%; }
  &__th2 { width:8.5%; }
  &__th3 { width:15.5%; }
  &__th4 { width:18.5%; }
  &__th5 { width:13%; }
  &__th6 { width:auto; }
  &__th7 { width:6%; }
}
.fees-info { font-size:14px; color:$gray2; margin-top:14px; line-height: 1.4;
  @media only screen and (max-width:$tablet-size){ font-size:12px; }
}

.fees-tip {
  $this:&;
  &__list { margin-top:24px; border-top:2px solid #4a4a4a;
    .para-v4 { padding-left:40px; width:100%;
      &_dot { padding-left:47px; }
    }
  }
  &__item { padding:34px 20px; box-sizing: border-box; border-bottom:1px solid #c6d0db; }
  &__tit { position:relative; display:table; font-size:18px; padding-left:40px; font-weight: $light; margin-bottom:8px;
    &_type2 { margin-bottom:0;
      #{$this}__tit-txt { height:40px; }
    }
  }
  &__number { display:table-cell; line-height: 100%; font-size:40px; position:absolute; left:0; top:-2px; }
  &__tit-txt { display:table-cell; vertical-align: middle; }
  @media only screen and (max-width:$tablet-size){
    &__list { margin-top:12px;
      .para-v4 { padding-left:0; width:100%;
        &_dot { padding-left:8px;
          &:before { top:10px; }
        }
      }
    }
    &__item { padding:15px 10px; }
    &__tit { min-height:38px; font-size:14px; padding-left:25px; margin-bottom:0;
      &:before { font-size:39px; top:-2px; }
      &_type2 { margin-bottom:0;
        #{$this}__tit-txt { height:40px; }
      }
    }
    &__number { font-size:38px; }
  }
}

// Kolas 인정항목 테이블
.kolas-table { table-layout: fixed;
  &__col1 { width:15%; }
  &__col2 { width:50px; }
  &__col3 { width:20%; }
  &__col4 { width:auto; }
  &__col5 { width:15%; }
  &__col6 { width:15%; }
  th { padding:10px 10px; }
  td { color:$gray2; padding:13px 10px; }
  @media only screen and (max-width:$tablet-size){
    &__col2 { width:40px; }
    th { padding:10px 5px; }
    td { padding:5px 5px; line-height: 1.3; }
  }
}

















